<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  
</head>
<body>
<script src="/static/www/js/jquery.min.js"></script>
<script src="/static/www/js/jquery.cookie.js"></script>
<script type="text/javascript">
    function getParam(paramName) { 
        paramValue = "", isFound = !1; 
        if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) { 
            arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&"), i = 0; 
            while (i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++ 
        } 
        return paramValue == "" && (paramValue = null), paramValue 
    }

    var code = getParam('code');
    var state = getParam('state');
    $.ajax({
       url: '/console/github/callback',
       type:'post',
       data:{
         code: code,
         state: state
       },
       headers:{
          Authorization: 'GRJWT '+ $.cookie('token')
       },
       complete: function(XMLHttpRequest, status) { //请求完成后最终执行参数　
          var team = $.cookie('team');
          var region_name = $.cookie('region_name')
          location.href="/#/team/"+team+"/region/"+region_name+"/create/code/github";
       }
    })

</script>
</body>

</html>
