{% extends 'www/raster.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load goodrain_extras %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/setbox.css" %}'/>
<link rel="stylesheet" href='{% static "www/css/groupShare-three.css" %}'/>
{% endblock %}

{% block main-content %}
<input type="hidden" id="tenant_name" value="{{tenant_name}}"/>
<input type="hidden" id="group_id" value="{{group_id}}"/>
<input type="hidden" id="share_id" value="{{share_id}}"/>
<section class="wrapper site-min-height">
     <section class="main-box">
        <div class="app-step clearfix three">
            <p><span>1</span><cite>设置应用组信息</cite></p>
            <p><span>2</span><cite>参数设置</cite></p>
            <p><span>3</span><cite>基本信息</cite></p>
            <p  class="sed"><span>4</span><cite>分享</cite></p>
        </div>
    </section>
    <!-- -->

    <h2 class="main-tit "></h2>
    <div class="content-tab" style="color:#333">
        <div class="row" style="text-align: left;padding:0 30px; font-size: 18px;">
            <div class="col-sm-8">
                <span class="glyphicon glyphicon-share text-success"></span>
                <span>应用名称：{{app_service_group.group_share_alias}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>分享状态：<span class="all-status">分享中</span></span>
            </div>
            <div class="col-sm-4 onCompete-show" style="display: none;text-align: right;">
                <a href="/apps/{{tenantName}}" style="margin-right:20px;">返回首页</a>
                <a href="{{app_domain}}/openapi/v1/market/app_publish?eid={{eid}}">去编辑发布</a>
            </div>
            <div class="col-sm-4 onFail-show" style="display: none;text-align: right;font-size: 16px;">
                <a href="javascript:;"  onclick="location.reload()">刷新重试</a>
            </div>
            
        </div>
        <div style="border:1px dotted #dcdcdc;margin:30px auto;"></div>
        <div style="text-align: center">
            <p style="font-size: 20px;">分享明细</p>
            <ul style="display: inline-block;width:400px; padding-top: 20px;" class="shareul">
                
                {% for service in need_published_service %}
                {% with app=service_id_app_map|mkey:service.service_id %}
                <li class="row share-status-ing " data-id="{{app.service_key}}"  style="border-radius: 4px;margin-bottom: 10px;padding:10px;">
                    <p style="margin-bottom: 0" class="col-sm-6 app_service text-left" data-app_key="{{app.service_key}}" data-app_version="{{app.app_version}}" >
                        <span style="margin-right: 10px;" class="ing glyphicon glyphicon-repeat roundloading"></span>
                        <span style="margin-right: 10px; display: none;" class="success  glyphicon glyphicon-ok"></span>
                        <span style="margin-right: 10px; display: none;" class="fail  glyphicon glyphicon-remove"></span>
                        {{app.app_alias}}
                    </p>
                    <p style="margin-bottom: 0" class="col-sm-6 text-right" id="{{app.service_key}}">分享中</p>
                </li>
                {% endwith %}
                {% endfor %}


                {% for service in no_need_published_service %}
                {% with app=service_id_app_map|mkey:service.service_id%}
                <li class="row">
                    <p class="tit-two">
                        {{app.app_alias}}</p>
                    <p class="tit-two">云市安装的应用，无需分享</p>
                </li>
                {% endwith %}
                {% endfor %}
            </ul>
        </div>
        
    </div>
</section>
{% endblock %}


{% block extrajs %}
<script src='{% static "www/js/jquery-1.8.3.min.js" %}'></script>
<script type="text/javascript" src='{% static "www/js/jquery.cookie.js" %}'></script>
<script type="text/javascript">
    $(function () {
        getServicesShareStatus()
    });

    function getServicesShareStatus() {
        var tenant_name = $("#tenant_name").val();
        var group_id = $("#group_id").val();
        var share_id = $("#share_id").val();
        var apps = getData();
        $.ajax({
            type: "post",
            url: "/apps/" + tenant_name + "/" + group_id + "/" + share_id + "/fourth/",
            dataType: "json",
            data: {
                "apps":JSON.stringify(apps)
            },
            cache: false,
            beforeSend: function (xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (result) {
                clearTimeout(timer);
                /*未发布成功*/
                if(!result.success){
                    return;
                }
                /* 全部发布成功调用方法向云市发送数据 */
                var data = result.data;
                var allSuccess = data.all_success;
                var appList = data.app_list;
                if (allSuccess){
                    shareliststatus(appList);
                    publish2Market(tenant_name,group_id,share_id);
                }else{
                    shareliststatus(appList);
                    var timer= setTimeout(function(){
                        getServicesShareStatus();
                    },3000);
                }

                /*更新页面的信息*/
                function shareliststatus(appList){
                    for (var i=0;i< appList.length; i++){
                        var app = appList[i];
                        var $dom = $('[data-id='+app.app_key+']');
                        if(app.status == "success"){
                            $dom.attr("class","row share-status-success");
                            $dom.find(".success").show();
                            $dom.find(".ing").hide();
                            $dom.find(".fail").hide();
                            $("#"+app.app_key).html("已完成");
                        }
                        if(app.status == "failure"){
                            $dom.attr("class","row share-status-fail");
                            $dom.find(".success").hide();
                            $dom.find(".ing").hide();
                            $dom.find(".fail").show();
                            $("#"+app.app_key).html("分享失败");
                        }
                        if(app.status == "pushing"){
                            $dom.attr("class","row share-status-ing")
                            $dom.find(".success").hide();
                            $dom.find(".ing").show();
                            $dom.find(".fail").hide();
                            $("#"+app.app_key).html("分享中");
                        }
                    }
                    //
                    for(var j=0; j<appList.length; j++){
                        var app = appList[j];
                        if(app.status == "failure"){
                            $('.all-status').html("分享失败").removeClass("text-success").addClass("text-danger");
                            $(".onFail-show").show();
                            break;
                        }
                    }
                    //
                }
                

            },
            error: function () {
                clearTimeout(timer);
                $('.all-status').html("分享失败").removeClass("text-success").addClass("text-danger");
                $(".onFail-show").show();
            }
        })
    }

    function getData() {

        var appsDom = $(".app_service");
        var apps = [];
        appsDom.each(
            function () {
                var app_key = $(this).data("app_key");
                var app_version = $(this).data("app_version");
                var appMap = {
                    "app_key": app_key,
                    "app_version": app_version
                }
                apps.push(appMap);
            }
        );
        return apps;
    }

    function publish2Market(tenant_name,group_id,share_id) {
        $.ajax({
            type: "post",
            url: "/apps/" + tenant_name + "/" + group_id + "/" + share_id + "/five/",
            dataType: "json",
            data: {
                "tenant_name":tenant_name
            },
            cache: false,
            beforeSend: function (xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                if(data.success){
                    $('.all-status').html("分享成功").addClass("text-success").removeClass("text-danger");
                    $('.onCompete-show').show()
                }else{
                    $('.all-status').html(data.msg).removeClass("text-success").addClass("text-danger");
                    $(".onFail-show").show();
                }
            },
            error: function () {
                swal("系统异常,请重试");
            }
        })
    }

</script>
{% endblock %}