{% extends 'www/raster.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load goodrain_extras %}
{% load static %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/groupShare-two.css" %}'/>
{% endblock %}

{% block main-content %}
<input type="hidden" id="tenant_name" value="{{tenant_name}}"/>
<input type="hidden" id="group_id" value="{{group_id}}"/>
<input type="hidden" id="share_id" value="{{share_id}}"/>

<section class="wrapper site-min-height">
    <section class="main-box">
        <div class="app-step clearfix three">
            <p><span>1</span><cite>设置应用组信息</cite></p>
            <p class="sed"><span>2</span><cite>参数设置</cite></p>
            <p><span>3</span><cite>基本信息</cite></p>
            <p><span>4</span><cite>分享</cite></p>
        </div>
        <div id="tab">
            {% for service in service_list %}
                <a href="javascript:;" {% if forloop.first %}style="color: #28cb75;"{% endif %}>{{service.service_cname}}</a>
            {% endfor %}
        </div>
        {% for service in service_list %}
            <section data-id="{{service.service_id}}" class="appShare" {% if forloop.first %}style="display: block;"{% endif %}>
                <section class="content-tab">
                    <h3 class="tit-two">应用端口</h3>
                    <table class="app_port">
                        <thead>
                        <tr>
                            <th>端口</th>
                            <th>访问方式</th>
                            <th>对外服务</th>
                            <th>外部访问</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% with service_port_list=port_map|mkey:service.service_id %}
                        {% for service_port in service_port_list %}
                            <tr>
                                <td>{{service_port.container_port}}</td>
                                <td>{{service_port.protocol}}</td>
                                <td>
                                    <input type="checkbox" {% if service_port.is_inner_service %}checked="checked"{% endif %} disabled="disabled">
                                </td>
                                <td>
                                    <input type="checkbox" {% if service_port.is_outer_service %}checked="checked"{% endif %} disabled="disabled">
                                </td>
                            </tr>
                        {% endfor %}
                        {% endwith %}
                        </tbody>
                    </table>
                </section>
            <!-- 应用端口 end -->
            <!-- 环境变量 start -->
                <section class="content-tab">
                    <h3 class="tit-two">环境变量</h3>
                    <p class="title">系统变量</p>
                    <table>
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>变量名</th>
                            <th>值</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% with nochange_list=env_nochange_map|mkey:service.service_id %}
                        {% for env in nochange_list %}
                        <tr>
                            <td>{{env.name}}</td>
                            <td>{{env.attr_name}}</td>
                            <td>{{env.attr_value}}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endwith %}
                        </tbody>
                    </table>
                    <p class="title">个人变量</p>
                    <table>
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>变量名</th>
                            <th>值</th>
                            <th>对内变量</th>
                            <th>对外变量</th>
                            <th>是否可修改</th>
                        </tr>
                        </thead>
                        <tbody class="variable">
                        {% with change_list=env_change_map|mkey:service.service_id %}
                        {% for env in change_list %}
                        <tr data-id="{{env.ID}}">
                            <td>{{env.name}}</td>
                            <td>{{env.attr_name}}</td>
                            <td>{{env.attr_value}}</td>
                            <td><input type="checkbox" {% if env.scope = "inner" or env.scope = "both" %}checked="checked"{% endif %} disabled="disabled"></td>
                            <td><input type="checkbox" {% if env.scope = "outer" or env.scope = "both" %}checked="checked"{% endif %} disabled="disabled"></td>
                            <td><input type="checkbox" class="yOn" {% if service.category != "application" %}{% if not service.language %}disabled="disabled"{% endif %}{% endif %}></td>
                        </tr>
                        {% endfor %}
                        {% endwith %}
                        </tbody>
                    </table>
                </section>
                <section class="content-tab">
                    <h3 class="tit-two">持久化目录</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>持久化目录</th>
                            <th>持久化名称</th>
                            <th>持久化类型</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% with volume_list=volume_map|mkey:service.service_id %}
                        {% for volume in volume_list %}
                        <tr>
                            <td>{{volume.volume_path}}</td>
                            <td>{{volume.volume_name}}</td>
                            <td>{{volume.volume_type}}</td>
                        </tr>
                        {% endfor %}
                        {% endwith %}
                        </tbody>
                    </table>
                </section>
                <section class="content-tab">
                    <h3 class="tit-two">依赖应用</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>应用名称</th>
                            <th>应用类型</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% with dep_service_list=relation_info_map|mkey:service.service_id %}
                        {% for dep_service in dep_service_list %}
                        <tr>
                            <td>{{dep_service.service_cname}}</td>
                            <td>{{dep_service.service_type}}</td>
                        </tr>
                        {% endfor %}
                        {% endwith %}
                        </tbody>
                    </table>
                </section>
                <section class="content-tab">
                    <h3 class="tit-two">计算资源</h3>
                    <div class="zybox">
                        <p>
                            <span>运行内存</span>
                            <span>{{service.min_memory}}</span>
                        </p>
                        <p>
                            <span>运行节点</span>
                            <span>{{service.min_node}}</span>
                        </p>
                    </div>
                </section>
            </section>
        {% endfor %}
        <div class="linkbox">
            <a href="javascript:;" id="nextstep" class="greenbtn">下一步</a>
        </div>
    </section>
</section>
{% endblock %}

{% block extrajs %}
<script src='{% static "www/js/jquery-1.8.3.min.js" %}'></script>
<script type="text/javascript" src='{% static "www/js/jquery.cookie.js" %}'></script>
<script src='{% static "www/js/groupShare-two.js" %}'></script>
{% endblock %}