{% extends 'www/raster2.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load goodrain_extras %}
{% load static %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/base.css" %}'/>
<link rel="stylesheet" href='{% static "www/css/newappstep.css" %}'/>
{% endblock %}

{% block main-content %}
<input type="hidden" id="tenant_name" value="{{tenant_name}}"/>
<input type="hidden" id="group_id" value="{{group_id}}"/>
<input type="hidden" id="is_enterprise_active" value="{{is_enterprise_active}}"/>
<input type="hidden" id="enterprise_id" value="{{enterprise_id}}"/>
<section class="wrapper site-min-height">
    <section class="main-box">
        <div class="app-step clearfix three">
            <p class="sed"><span>1</span><cite>设置组名</cite></p>
            <p><span>2</span><cite>参数设置</cite></p>
            <p><span>3</span><cite>基本信息</cite></p>
            <p><span>4</span><cite>分享</cite></p>
        </div>
        <div class="infor-fm-box">

            <div class="fm-input-text clearfix">
                <label for="create_name">应用组名</label>
                <input class="form-control"  type="text" id="create_name" name="create_name" value="{% if not app_service_group.group_share_alias %}{{service_group.group_name}}{% else %}{{app_service_group.group_share_alias}}{% endif %}" placeholder="给应用组取个名字，支持中英文。"/>
            </div>
            <p class="fm-tips" id="create_name_notice">请输入应用组名！</p>

            <div class="fm-input-text clearfix">
                <label for="version_no">版本号</label>
                <input class="form-control"  type="text" id="version_no" name="version_no" value="{% if app_service_group %}{{app_service_group.group_version}}{% endif %}" placeholder="应用组版本"/>
            </div>
            <p class="fm-tips" id="version_no_notice">请输入应用组版本号！</p>

            <div class="fm-input-textarea clearfix">
                <label for="desc">更新说明</label>
                <textarea class="form-control"  class="textarea"  id="desc" name="desc" maxlength="400" value="{% if app_service_group %}{{app_service_group.desc}}{% endif %}" ></textarea>
            </div>

            <div class="fm-input-radio clearfix">
                <label>分享范围</label>
                <select class="form-control" style="display: inline-block;width:150px" name="publish_dest">
                  <!--<option value ="company">本公司</option>-->
                  <option value="market">云市</option>
                </select>
            </div>

            <div class="fm-btn clearfix">
                <a class="greenbtn" id="nextstep" style="cursor: pointer;">下一步</a>
            </div>
        </div>
    </section>
</section>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src='{% static "www/js/jquery-1.8.3.min.js" %}'></script>
<script type="text/javascript" src='{% static "www/js/jquery.cookie.js" %}'></script>
<script type="text/javascript" src="/static/www/js/jquery.dcjqaccordion.2.7.js?v=2015122301"></script>
<script type="text/javascript" src="/static/www/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="/static/www/js/widget.js"></script>
<script type="text/javascript" src='{% static "www/js/groupShare-one.js" %}'></script>
{% endblock %}

