{% extends 'www/raster.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load goodrain_extras %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/setbox.css" %}' />
{% endblock %}

{% block main-content %}
<section class="wrapper site-min-height">
    <p><span style="font-size: 22px; font-weight: 200; line-height: 30px; color: #28cb75; padding-top: 15px;" id="appname">{{app_service_group.group_share_alias}}</span></p>
    <!-- -->
    
    <h2 class="main-tit ">编辑发布云框架</h2>
    <div class="content-tab">
        <p style="font-size: 18px;">您的云框架已分享成功</p>
        <p>
            您可以选择<a href="/apps/{{tenantName}}/myservice/?gid={{group_id}}">返回</a>应用概览页或到云市继续<a href="http://app.goodrain.com/console/{{tenantName}}/publish_group/?type=appframework">编辑</a>已发布云框架信息
        </p>
    </div>
    
</section>
{% endblock %}


{% block extrajs %}
<script type="text/javascript" src='{% static "www/js/jquery.cookie.js" %}'></script>
<script type="text/javascript">
    $(function () {

    });
</script>
{% endblock %}