{% extends 'www/raster.html' %}{% load i18n %}
{% load crispy_forms_tags %}

{% block main-content %}
<section class="wrapper site-min-height">
  <div class="row">
      <div class="col-lg-9 m-bot15">
        <!--div class="container"-->
          <form id="app_publish_form" class="form-public-app form-horizontal" enctype="multipart/form-data" action="" method="post">
            <h2 class="form-signin-heading"> 发布应用</h2>
        
            {% if errors %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{%       endblocktrans %}
            </div>
            {{ form.non_field_errors }}
            {% endif %}
        
            <div class="login-wrap" style="background: #FFFFFF;">
                {% crispy form %}
            </div>
        
          </form>
        <!--/div-->
    </div>
  </div>
</section>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    $('#app_publish_form').validator();
  </script>
{% endblock %}