{% extends 'www/raster.html' %}{% load i18n %}
{% load crispy_forms_tags %}

{% block main-content %}
<section class="wrapper site-min-height">
    <div class="row">
        <div class="col-lg-12 m-bot15">
            <!--div class="container"-->
            <form id="app_publish_form" class="form-public-app form-horizontal" enctype="multipart/form-data" action=""
                  method="post">
                <h2 class="form-signin-heading">完善发布信息</h2>

                {% if errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please
                    correct the errors below.{% endblocktrans %}
                </div>
                {{ form.non_field_errors }}
                {% endif %}

                <div class="login-wrap" style="background: #FFFFFF;">
                    {% csrf_token %}
                    <!--隐藏域-->
                    <input type="hidden" name="tenant_id" value="{{app.tenant_id}}"/>
                    <input type="hidden" name="service_id" value="{{app.service_id}}"/>
                    <input type="hidden" name="deploy_version" value="{{app.deploy_version}}"/>
                    <input type="hidden" name="service_key" value="{{app.service_key}}"/>

                    <div id="div_id_app_name" class="form-group">
                        <label for="id_app_name" class="control-label col-lg-2 requiredField">应用名称<span
                                class="asteriskField">*</span></label>
                        <div class="controls col-lg-8">
                            <input class="textinput textInput form-control" id="id_app_name"
                                   name="app_alias"
                                   required
                                   maxlength="40"
                                   type="text" value="{{app.app_alias}}"/>
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>
                    <div id="div_id_app_version" class="form-group">
                        <label for="id_app_version" class="control-label col-lg-2 requiredField">应用版本<span
                                class="asteriskField">*</span></label>
                        <div class="controls col-lg-8">
                            <input class="textinput textInput form-control"
                                   id="id_app_version" name="app_version"
                                   required data-error="不合法"
                                   pattern="^\d+(\.\d+){1,2}"
                                   type="text"
                                   value="{{app.app_version}}"/>
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>

                    <div id="div_id_app_info" class="form-group">
                        <label for="id_app_info" class="control-label col-lg-2 requiredField">简介<span
                                class="asteriskField">*</span></label>
                        <div class="controls col-lg-8">
                            <textarea class="textarea form-control" cols="20"
                                      data-minlength="5" id="id_app_info"
                                      maxlength="100" name="info" rows="3"
                                      required>{{app.info}}</textarea>
                        </div>
                    </div>
                    <div id="div_id_app_desc" class="form-group">
                        <label for="id_app_desc" class="control-label col-lg-2 requiredField">描述<span
                                class="asteriskField">*</span></label>
                        <div class="controls col-lg-8">
                            <textarea class="textarea form-control" cols="20"
                                      data-minlength="5" id="id_app_desc"
                                      maxlength="400" name="desc" rows=""
                                      required>{{app.desc}}</textarea>
                        </div>
                    </div>
                    <div id="div_id_app_logo" class="form-group">
                        <label for="id_app_logo" class="control-label col-lg-2 requiredField">图片<span
                                class="asteriskField">*</span></label>
                        <div class="controls col-lg-8">
                            {% if app.logo %}
                                <img src="/{{app.logo}}">
                            {% endif %}
                            <input type="file" name="logo" id="id_app_logo"/>
                        </div>
                    </div>

                    <!--<input type="hidden" name="pay_type" value="free">-->
                    <!--<input type="hidden" name="price" value="0.00">-->
                    <div class="form-group clearfix">
                        <label for="app_type_first" class="col-sm-2 col-lg-2 control-label text-right">分类</label>
                        <div class="col-sm-10 col-lg-10">
                            <select class="col-sm-2 col-lg-3" id="app_type_first" name="app_type_first">
                                {% for category in root_category_list %}
                                <option value="{{category.id}}">{{category.display_name}}</option>
                                {% endfor %}
                            </select>
                            <select class="col-sm-2 col-lg-3" id="app_type_second" name="app_type_second"
                                    style="margin-left: 10px;">
                                <option value="0" selected="selected">选择分类</option>
                            </select>
                            <select class="col-sm-2 col-lg-3" id="app_type_third" name="app_type_third"
                                    style="margin-left: 10px;">
                                <option value="0" selected="selected">选择分类</option>
                            </select>
                        </div>
                    </div>
                    
                    <div id="div_id_app_logo" class="form-group">
                        <label for="id_app_logo" class="control-label col-lg-2 requiredField">是否发布到云端<span
                                class="asteriskField">*</span></label>
                        <div class="controls col-lg-8">
                            <input type="checkbox" id="publish_dest" name="is_outer" value="0"/>
                        </div>
                    </div>
                    
                    <div id="div_id_app_logo" class="form-group">
                        <label for="id_app_logo" class="control-label col-lg-2 requiredField">是否初始化账户<span
                                class="asteriskField">*</span></label>
                        <div class="controls col-lg-8">
                            <input type="checkbox" id="init_account" name="is_outer" value="0"/>
                        </div>
                    </div>
                    
                
                    <div class="form-actions">
                        <input type="submit" name="publish" value="下一步" class="btn btn-lg btn-success btn-block"
                               id="submit-id-publish"/>
                    </div>
                </div>
            </form>
            <!--/div-->
        </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $('#app_publish_form').validator();
</script>
{% endblock %}