{% extends 'www/raster.html' %}{% load i18n %}
{% load crispy_forms_tags %}

{% block main-content %}
<section class="wrapper site-min-height">
  <div class="row">
      <div class="col-lg-9 m-bot15">
        <!--div class="container"-->
          <form id="app_publish_form" class="form-public-app form-horizontal" enctype="multipart/form-data" action="" method="post">
            <h2 class="form-signin-heading"> 发布应用</h2>
        
            {% if errors %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{%       endblocktrans %}
            </div>
            {{ form.non_field_errors }}
            {% endif %}
        
            <div class="login-wrap" style="background: #FFFFFF;">
                {% csrf_token %}

              <!--div id="div_id_app_key" class="form-group">
                <label for="id_app_key" class="control-label col-lg-2 requiredField">应用key<span class="asteriskField">*</span></label>
                {% with fields.app_key as field %}
                <div class="controls col-lg-8">
                  <input class="textinput textInput form-control" id="id_app_key" name="app_key" required {% if isinit %} data-error="不合法" data-minlength="3" maxlength="32" data-remote="/ajax/form_valid" pattern="^[a-z0-9][a-z0-9_\-]+[a-z0-9]$"{% else %} readonly {% endif %} type="text" value="{{field.value}}"/>
                  <span class="help-block with-errors"></span>
                </div>
                {% endwith %}
              </div-->
              <div id="div_id_app_name" class="form-group">
                <label for="id_app_name" class="control-label col-lg-2 requiredField">应用名称<span class="asteriskField">*</span></label>
                {% with fields.app_name as field %}
                <div class="controls col-lg-8">
                  <input class="textinput textInput form-control" id="id_app_name" name="app_name" required {% if isinit %} data-error="不合法" data-minlength="3" data-remote="/ajax/form_valid" maxlength="40"{% else %} readonly {% endif %} type="text" value="{{field.value}}"/>
                  <span class="help-block with-errors"></span>
                </div>
                {% endwith %}
              </div>
              <div id="div_id_app_version" class="form-group">
                <label for="id_app_version" class="control-label col-lg-2 requiredField">应用版本<span class="asteriskField">*</span></label>
                {% with fields.app_version as field %}
                <div class="controls col-lg-8">
                  <input class="textinput textInput form-control" id="id_app_version" name="app_version" required data-error="不合法" pattern="^\d+(\.\d+){1,2}" type="text" value="{{field.value}}"/>
                  <span class="help-block with-errors"></span>
                </div>
                {% endwith %}
              </div>
              <div id="div_id_app_info" class="form-group">
                <label for="id_app_info" class="control-label col-lg-2 requiredField">应用描述<span class="asteriskField">*</span></label>
                {% with fields.app_info as field %}
                <div class="controls col-lg-8">
                  <textarea class="textarea form-control" cols="20" data-minlength="5" id="id_app_info" maxlength="100" name="app_info" rows="3"  required>{{field.value}}</textarea>
                </div>
                {% endwith %}
              </div>
              <!--div id="div_id_pay_type" class="form-group">
                <label for="id_pay_type" class="control-label col-lg-2 requiredField">付费类型<span class="asteriskField">*</span></label>
                {% with fields.pay_type as field %}
                <div class="controls col-lg-8">
                  <select class="select form-control" id="id_pay_type" name="pay_type">
                      <option value="free" selected="selected">免费</option>
                      <option value="pay">付费</option>
                  </select>
                </div>
                {% endwith %}
              </div-->
              <input type="hidden" name="pay_type" value="free">
              <!--div id="div_id_price" class="form-group">
                <label for="id_price" class="control-label col-lg-2">价格</label>
                {% with fields.price as field %}
                <div class="controls col-lg-8">
                  <input class="numberinput form-control" data-error="不合法" id="id_price" min="0.0" name="price" step="0.01" type="number" value="{{field.value|default:"0.00"}}" />
                  <span class="help-block with-errors"></span>
                </div>
                {% endwith %}
              </div-->
              <input type="hidden" name="price" value="0.00">
              {% if isinit %}
              <div class="form-group clearfix">
                <label for="app_type_first" class="col-sm-2 col-lg-2 control-label text-right">分类</label>
                <div class="col-sm-10 col-lg-10">
                  <select class="col-sm-2 col-lg-3" id="app_type_first" name="app_type_first">
                    {% for category in root_category_list %}
                    <option value="{{category.id}}">{{category.display_name}}</option>
                    {% endfor %}
                  </select>
                  <select class="col-sm-2 col-lg-3" id="app_type_second" name="app_type_second" style="margin-left: 10px;">
                    <option value="0" selected="selected">选择分类</option>
                  </select>
                  <select class="col-sm-2 col-lg-3" id="app_type_third" name="app_type_third" style="margin-left: 10px;">
                    <option value="0" selected="selected">选择分类</option>
                  </select>
                </div>
              </div>
              {% endif %}
              <div id="div_id_change_log" class="form-group">
                <label for="id_change_log" class="control-label col-lg-2 requiredField">更新日志<span class="asteriskField">*</span></label>
                {% with fields.change_log as field %}
                <div class="controls col-lg-8">
                  <textarea class="textarea form-control" cols="20" data-minlength="5" id="id_change_log" maxlength="400" name="change_log" rows=""  required></textarea>
                </div>
                {% endwith %}
              </div>
              <div class="form-actions">
              {% if isinit %}
                <input type="submit" name="publish" value="发布" class="btn btn-lg btn-success btn-block" id="submit-id-publish" />
              {% else %}
                <input type="submit" name="update" value="更新" class="btn btn-lg btn-primary btn-block" id="submit-id-update" />
              {% endif %}
              </div>
            </div>

          </form>
        <!--/div-->
    </div>
  </div>
</section>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    $('#app_publish_form').validator();
  </script>
{% endblock %}