{% extends 'www/raster.html' %}{% load i18n %}
{% load crispy_forms_tags %}

{% block main-content %}
<section class="wrapper site-min-height">
    <div class="row">
        <div class="col-lg-9 m-bot15">
            <!--div class="container"-->
            <form id="app_publish_form" class="form-public-app form-horizontal" enctype="multipart/form-data" action=""
                  method="post">
                <input type="hidden" name="app_key" value="{{fields.app_key}}"/>
                <input type="hidden" name="app_version" value="{{fields.app_version}}"/>
                <h2 class="form-signin-heading"> 发布应用</h2>

                {% if errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please
                    correct the errors below.{% endblocktrans %}
                </div>
                {{ form.non_field_errors }}
                {% endif %}

                <div class="login-wrap" style="background: #FFFFFF;">
                    {% csrf_token %}

                    <selection>
                        <div id="div_id_app_node" class="form-group">
                            <label for="id_app_node" class="control-label col-lg-2 requiredField">服务节点<span
                                    class="asteriskField">*</span></label>
                            <div class="controls col-lg-8">
                                <select name="min_node" id="id_app_node" class="form-control">
                                    {% for curNum in nodeList %}
                                    {% if curNum == fields.min_node %}
                                    <option value="{{forloop.counter}}"  selected="selected">{{curNum}}</option>
                                    {% else %}
                                    <option value="{{forloop.counter}}">{{curNum}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div id="div_id_app_memory" class="form-group">
                            <label for="id_app_memory" class="control-label col-lg-2 requiredField">内存调整<span
                                    class="asteriskField">*</span></label>
                            <div class="controls col-lg-8">
                                <select name="min_memory" id="id_app_memory" class="form-control">
                                    {% for cuMemory in memoryList %}
                                    {% if cuMemory.value == fields.min_memory %}
                                    <option value="{{cuMemory.value}}"  selected="selected">{{cuMemory.label}}</option>
                                    {% else %}
                                    <option value="{{cuMemory.value}}">{{cuMemory.label}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>
                    </selection>

                    <!--环境变量-->
                    <selection>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-hover" id="env_table">
                                        <thead>
                                        <tr>
                                            <th>变量名</th>
                                            <th>变量值</th>
                                            <th>说明</th>
                                            <th>变量范围</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if env_list_len > 0 %}
                                        {% for env in env_list %}
                                        <tr>
                                            <input type="hidden" name="env_list[{{forloop.counter}}].attr_name"
                                                   value="{{env.attr_name}}"/>
                                            <input type="hidden" name="env_list[{{forloop.counter}}].name"
                                                   value="{{env.name}}"/>
                                            <td>{{env.name}}</td>
                                            <td class="attr_name_field">{{env.attr_name}}</td>
                                            <td>
                                                <input type="text"
                                                    name="env_list[{{forloop.counter}}].attr_value"
                                                    value="{{env.attr_value}}" />
                                            </td>
                                            <td>
                                                <input class="switch-box"
                                                       name="env_list[{{forloop.counter}}].scope"
                                                       type="checkbox" {% if env.scope %}checked{% endif %}
                                                       data-size="mini" data-on-color="info"
                                                       data-on-text="对内" data-off-text="对外">
                                                <select>

                                                </select>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                    <button type="button" class="btn btn-success btn-xs" id="add_service_attr">新增环境变量</button>
                                </div>
                            </div>
                        </div>
                    </selection>

                    <!--外部服务变量-->
                    <selection>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-hover" id="port_table">
                                        <thead>
                                        <tr>
                                            <th>端口号</th>
                                            <th>协议类型</th>
                                            <th>别名</th>
                                            <th>对内服务</th>
                                            <th>对外服务</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if port_list_len > 0 %}
                                        {% for port in port_list %}
                                        <tr>
                                            <td>
                                                <input name="port_list[{{forloop.counter}}].container_port"
                                                       value="{{port_list[{{forloop.counter}}].container_port}}"
                                                />
                                            </td>
                                            <td>{{port.protocol}}</td>
                                            <td>
                                                <input name="port_list[{{forloop.counter}}].port_alias"
                                                       value="{{port_list[{{forloop.counter}}].port_alias}}"
                                                />
                                            </td>
                                            <td>
                                                <input class="switch-box" name="port_list[{{forloop.counter}}].is_inner_service"
                                                       type="checkbox" {% if port.is_inner_service %}checked{% endif %}
                                                       data-size="mini" data-on-color="info" data-on-text="开启" data-off-text="关闭">
                                            </td>
                                            <td>
                                                <input class="switch-box" name="port_list[{{forloop.counter}}].is_outer_service"
                                                       type="checkbox" {% if port.is_outer_service %}checked{% endif %}
                                                       data-size="mini" data-on-color="success" data-on-text="开启" data-off-text="关闭">
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                    <button type="button" class="btn btn-success btn-xs" id="add_service_port">新增端口变量</button>
                                </div>
                            </div>
                        </div>
                    </selection>

                    <div class="form-actions">
                        <input type="submit" name="publish" value="下一步" class="btn btn-lg btn-success btn-block"
                               id="submit-id-publish"/>
                    </div>
                </div>
            </form>
            <!--/div-->
        </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $('#app_publish_form').validator();
</script>
{% endblock %}