{% extends 'www/raster.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load goodrain_extras %}
{% load static %}
{% block extracss %}
    {{ block.super }}
    <link rel="stylesheet" href='{% static "www/css/process.css" %}' />
{% endblock %}

{% block main-content %}
<section class="wrapper site-min-height">
    <!-- -->
   <p><span style="font-size: 22px; font-weight: 200; line-height: 30px; color: #28cb75; padding-top: 15px;" id="appname">{{tenantServiceInfo.service_cname}}</span><a href="javascript:;" class="fn-rename" style="color: #28cb75; text-decoration: underline; font-size:14px; line-height: 30px; padding-left:20px;">更名</a></p>
     <header class="panel-heading ">
            <ul class="nav nav-tabs" id="nav-tabs">
                <li {% if fr = "deployed" %} class="active" {% endif %}>
                    <a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=deployed">概览</a>
                </li>
                {% if tenantServiceInfo.category == "application" or tenantServiceInfo.category == "manager" or tenantServiceInfo.category == "app_publish" or tenantServiceInfo.category == "app_sys_publish" %}
                <li {% if fr = "relations" %} class="active" {% endif %}>
                    <a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=relations">依赖</a>
                </li>
                {% endif %}
                {% if MODULES.Monitor_Control %}
                <li class="dropdown {% if fr == 'statistic' %} active {% endif %}">
                    <a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=statistic&type=history">监控</a>
                    <!--
                    {% if hasHttpServices or tenantServiceInfo.service_type == 'mysql' %}
                    <a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=statistic"
                       class="dropdown-toggle" data-toggle="dropdown">监控<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=statistic&type=realtime">实时分析</a></li>
                        <li><a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=statistic&type=history">历史走势</a></li>
                    </ul>
                    {% else %}
                    <a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=statistic">监控</a>
                    {% endif %}
                    -->
                </li>
                {% endif %}
                <li {% if fr = "log" %} class="active" {% endif %}>
                    <a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=log">日志</a>
                </li>
                <li {% if fr = "settings" %} class="active" {% endif %}>
                    <a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=settings">高级</a>
                </li>
                {% if tenantServiceInfo.category = "application" %}
                <li class="active">
                    <a href="/apps/{{tenantName}}/{{serviceAlias}}/share/step1">分享</a>
                </li>
                {% endif %}
            </ul>
        </header>
        
    <!-- -->
    <div>
    <h2 class="main-tit ">设置应用部署变量</h2>
    <!-- 01 -->
    <div class="content-tab">
        <h3 class="tit-two">环境变量设置</h3>
        <table>
            <thead>
            <tr>
                <th>名称</th>
                <th>可修改</th>
            </tr>
            </thead>
            <tbody>
            {% for env in env_list %}
            <tr>
                <td>{{env.attr_name}}</td>
                <td><input type="checkbox" data-id="{{env.ID}}"
                           {% if env.is_change %}checked="checked"{% endif %}
                           onclick="change_checked(this);"></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="linkbox">

        <!--<a href="/apps/{{tenant_name}}/{{service_alias}}/share/step1" class="greenbtn">上一步</a>-->
        <a href="#" onclick="submit_button()" class="greenbtn">下一步</a>

    </div>
    <form method="POST" id="env_form">
        {% csrf_token %}
        <input type="hidden" name="env_ids" value="{{env_ids}}">
        {% for env in env_list %}
        <input type="hidden" name="{{env.ID}}" value="{{env.is_change}}"></input>
        {% endfor %}
    </form>
</div>
</section>

{% endblock %}

{% block extrajs %}
<script src='{% static "www/js/jquery.dcjqaccordion.2.7.js" %}'></script>
<script src='{% static "www/js/jquery.scrollTo.min.js" %}'></script>
<script src='{% static "www/js/common-scripts.js" %}'></script>
<script type="text/javascript">
//    $(function () {});
    function change_checked(obj){
        var env_id = $(obj).attr("data-id");
        var result = $(obj).is(':checked');
        $("#env_form > input[name=" + env_id + "]").value(result)
    }
    function submit_button() {
        $("#env_form").submit();
    }
</script>
{% endblock %}





