{% extends 'www/raster.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/setbox.css" %}' />
{% endblock %}

{% block main-content %}
<section class="wrapper site-min-height">
    <div class="setbox">
        <h2 class="tit">设置应用套餐</h2>
        <form class="form-horizontal" action="" method="post" id="package_form">
            <input type="hidden" id="tenant_name" name="tenant_name" value="{{tenant_name}}"/>
            <input type="hidden" id="service_alias" name="service_alias" value="{{service_alias}}"/>
            <input type="hidden" id="service_key" name="service_key" value="{{service_key}}"/>
            <input type="hidden" id="app_version" name="app_version" value="{{app_version}}"/>
            <!--  已有列表-->
            <ul class="oldlist" id="oldlistbox">
                {% for package in service_package %}
                <li id="01" data-id="{{package.ID}}">
                    <div class="textlist">
                        <p><span>应用名称:</span>
                            <cite data-value="{{package.name}}">{{package.name}}</cite>
                        </p>
                        <p><span>内存需求:</span>
                            <cite data-value="{{package.memory}}">{{package.memory}}M</cite></p>
                        <p><span>节点要求:</span>
                            <cite data-value="{{package.node}}">{{package.node}}个</cite></p>
                        <p><span>试用时长:</span>
                            <cite data-value="{{package.trial}}">{{package.trial}}天</cite></p>
                        <p><span>订价:</span>
                            <cite data-value="{{package.price}}">{{package.price}}元／月</cite></p>
                        <div class="total">
                            本套餐在云市的最终价格为
                            <span data-value="{{package.total_price}}">{{package.total_price}}元／月</span>
                        </div>
                        <div class="litlinkbtn">
                            <a href="javascript:;" class="litbluebtn resivebtn">修改</a>
                            <a href="javascript:;" class="litredbtn removebtn">删除</a>
                        </div>
                    </div>
                    <div class="refmbox"></div>
                </li>
                {% endfor %}
            </ul>
            <!-- 新增套餐  表单 -->
            <div id="addbox"></div>
            <!-- 新增套餐  按钮 -->
            <a href="javascript:;" class="greenbtn" id="addbtn">新增套餐</a>
            <!-- 提交 表单-->
            <div class="linkbox">
                <a href="javascript:;" class="graybtn">上一步</a>
                <a href="javascript:;" class="greenbtn" id="subbtn">确定</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}


{% block extrajs %}
<script src='{% static "www/js/serviceshare/package.js" %}'></script>
<script type="text/javascript">
    $(function () {

    });
</script>
{% endblock %}