<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<style type="text/css">
		.loading {background-color: rgba(0,0,0, 0.1);z-index: 2000;}
		.loading .ant-spin-spinning {position: fixed;top: 50%;left: 50%;margin-top: -12px;margin-left: -10px;}
	</style>
</head>
<body>
	<div id="login"></div>
</body>
</html>