{% extends 'www/raster.html' %}
{% load i18n %}

{% block main-content%}
<div class="row">
   <div class="col-lg-12">
       <section class="panel">
           <header class="panel-heading">应用创建向导</header>
           <div class="panel-body">
               <div class="stepy-tab"><ul id="default-titles" class="stepy-titles clearfix">
               
               <li id="default-title-0" class="current-step"><div>第一步</div><span> </span></li>
               <li id="default-title-1" class=""><div>第二步 </div><span> </span></li>
               <li id="default-title-2" class=""><div>第三步</div><span> </span></li>
               
               </ul></div>
               <form class="form-horizontal" id="default">
                  <input type="hidden" id="tenantName" name="tenantName" value="{{tenantName}}">
                  <fieldset title="Step1" class="step" id="default-step-0" style="display: block;">
					<section class="panel">
					   <header class="panel-heading">名称</header>
					     <div class="panel-body">
					       <div class="form-group">
					         <label class="col-xs-2 control-label">应用名称</label>
					           <div class="col-xs-10">
					             <input type="text" name="service_name" id="service_name" value="" class="form-control servicename" placeholder="应用名称" autofocus>
					           </div>
					       </div>
					       <div class="form-group">
					         <label class="col-xs-2 control-label">描述信息</label>
					           <div class="col-xs-10">
					             <input type="text" class="form-control servicename" value="" name="service_desc" id="service_desc" placeholder="简短的描述信息">
					           </div>
					       </div>
			               <div class="form-group">
			                  <label class="col-xs-2 text-right">开发语言支持</label>
			                  <label class="col-xs-10">PHP(5.4~5.6)、Python(2.4x~3.4.x)、Ruby(2.0~2.2)、Node.JS、Java、Clojure、Scala 更多开发语言后续版本支持。</label>
			               </div>
					     </div>
					 </section>
					<section class="panel">
					  <header class="panel-heading">代码源</header>
					    <div class="panel-body">
					      <div class="col-lg-12 radio">
					        <div class="row">
					          <div class="col-xs-2">
					            <label><input type="radio" name="code_from" id="code_from" value="gitlab_new" {% if not isGitHub %} checked="checked" {% endif %} >新建代码仓库</label>
					          </div>
					          <div class="col-xs-2">
					            <label><input type="radio" name="code_from" id="code_from" value="gitlab_exit" >使用已有仓库</label>
					          </div>
					          <div class="col-xs-2">
					            <label><input type="radio" name="code_from" id="code_from" value="github" {% if isGitHub %} checked="checked" {% endif %} >连接Github</label>
					          </div>
					          <input type="hidden" id="service_code_from" name="service_code_from" value="">
					          <input type="hidden" id="service_code_clone_url" name="service_code_clone_url" value="">
					          <input type="hidden" id="service_code_version" name="service_code_version" value="">
					          <input type="hidden" id="service_code_id" name="service_code_id" value="">
					        </div>
					      </div>
					    </div>
					</section>					
					<section id="code_repos_setting" class="panel" {% if not isGitHub %} style="display: none" {% endif %}>
					  <header class="panel-heading">代码仓库设置</header>
					  	 <table class="table table-hover">
		                   <thead>
		                     <tr>
		                       <th></th>
		                       <th>仓库名</th>
		                       <th>版本</th>
		                     </tr>
		                   </thead>
		                   <tbody id="code_repos_content">
		                     {% if gitHubData %}
			                     {% for data in gitHubData %}
			                     <tr>
			                     	<input type="hidden" id="repos_{{data.code_id}}" name="repos_{{data.code_id}}" value='{{data.code_repos}}' />
			                       	<td><input type="radio" name="code_repos" id="code_repos" value='{{data.code_id}}'></td>
			                       	<td>{{data.code_user}}/{{data.code_project_name}}</td>
			                       	<td id='git_{{data.code_id}}'>
			                       	</td>
			                     </tr>
			                     {% endfor %}
		                     {% endif %}
		                   </tbody>
		                 </table>
					</section>					
                    <p id="default-buttons-0" class="default-buttons"><a id="default-next-0" href="javascript:void(0);" onclick=create_next() class="button-next  btn btn-info">下一步</a></p>
                  </fieldset>
                  <fieldset title="Step 2" class="step" id="default-step-1" style="display: none;">
					<section class="panel">
					    <header class="panel-heading">新建服务</header>
					    <div class="panel-body">
					      {% if cacheServiceList %}
                  			{% for cache in cacheServiceList %}
                  				<div class="col-xs-2">
							        <label class="checkbox-inline">
							          <input type="checkbox" name="inlineCheckbox1" value="{{cache.service_key}}_{{cache.service_type}}"> {{cache.service_name}}
							        </label>
					         	 </div>
                  			{% endfor %}
                  		 {% endif %}
                  		  <input type="hidden" id="createService" name="createService" value="">
						 </div>
					</section>
					<section class="panel">
					    <header class="panel-heading">选择已有服务</header>
					     <div class="panel-body">
					     
					     {% if deployTenantServices %}
                  			{% for deployCache in deployTenantServices %}
                  				<div class="col-xs-2">
							        <label class="checkbox-inline">
							          <input type="checkbox" name="delineCheckbox1" value="{{deployCache.service_id}}_{{deployCache.service_type}}"> {{deployCache.service_alias}}
							        </label>
					         	 </div>
                 			{% endfor %}
                 		{% endif %}
                 		<input type="hidden" id="hasService" name="hasService" value="">
					    </div>
					</section>
	                <p id="default-buttons-1" class="default-buttons"><a id="default-back-1" href="javascript:void(0);" onclick=create_pre() class="button-back btn btn-info">上一步</a><a id="default-next-1" href="javascript:void(0);" onclick=create_next2() class="button-next  btn btn-info">下一步</a></p>
                  </fieldset>
                  <fieldset title="Step 3" class="step" id="default-step-2" style="display: none;">
                      <div class="form-group">
                          <label class="col-xs-2 control-label">应用名称</label>
                          <div class="col-xs-10">
                              <p class="form-control-static" id="display_service_name"></p>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-xs-2 control-label">描述信息</label>
                          <div class="col-xs-10">
                              <p class="form-control-static" id="display_service_desc"></p>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-xs-2 control-label">代码仓库</label>
                          <div class="col-xs-10">
                              <p class="form-control-static" id="display_service_code_http"></p>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-xs-2 control-label">代码版本</label>
                          <div class="col-xs-10">
                              <p class="form-control-static" id="display_service_code_version"></p>
                          </div>
                      </div>
                      <!--<div class="form-group">
                          <label class="col-lg-2 control-label">SSH:</label>
                          <div class="col-lg-10">
                              <p class="form-control-static" id="display_service_code_ssh"></p>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-lg-2 control-label">HTTP:</label>
                          <div class="col-lg-10">
                              <p class="form-control-static" id="display_service_code_http"></p>
                          </div>
                      </div>-->
                      <div class="form-group">
                          <label class="col-xs-2 control-label">服务依赖</label>
                          <div class="col-xs-10">
                              <p class="form-control-static" id="display_service_dependency"></p>
                          </div>
                      </div>
                      <p id="default-buttons-2" class="default-buttons">
                      <a id="default-back-2" href="javascript:void(0);" onclick=create_pre2() class="button-back btn btn-info">上一步</a>
                      <button class="finish btn btn-success" type="button" id="submit1" name="submit1" onclick=appCreate('{{tenantName}}')>完成</button>
                      </p>
                  </fieldset>
               </form>
           </div>
       </section>
       
       <script>

      	function create_next(){
	      	var service_name = $("#service_name").val();
			var serviceReg = /^[a-zA-Z][a-zA-Z0-9_-]*$/;
			var result = true;
			if (!serviceReg.test(service_name)) {
				alert("应用名称以英文字母开始包含数字，中划线 -，下划线 _")
				result = false;
				$('#service_name').focus();
			}
			var code_from = $("#service_code_from").val()
			if(code_from == ""){
				current_code_from = $('input[type="radio"][name="code_from"]:checked').val();
				$("#service_code_from").val(current_code_from);
				code_from = current_code_from
			}
			if(code_from=="gitlab_exit"){
				var code_id = $("#service_code_id").val()
				var code_version = $("#code_version_"+code_id).val()
				if(code_version=="" || code_version== undefined){
					alert("请选择相应的代码仓库和版本")
					result=false
				}
				$("#service_code_version").val(code_version)
			}else if(code_from=="github"){
				var code_id = $("#service_code_id").val()
				var code_version = $("#code_version_"+code_id).val()
				if(code_version=="" || code_version== undefined){
					alert("请选择相应的代码仓库和版本")
					result=false
				}
				$("#service_code_version").val(code_version)
			}else if(code_from=="gitlab_new"){
				var code_url="http://code.goodrain.com/app/"+$("#tenantName").val()+"_"+$("#service_name").val()+".git"
				$("#service_code_clone_url").val(code_url)
			}
			if (!result) {
				return;
			}
      		$("#default-title-1").attr("class","current-step");
      		$("#default-title-0").attr("class","");
      		$("#default-title-2").attr("class","");
      		$("#default-step-0").css('display','none'); 
      		$("#default-step-1").css('display','block'); 
      		$("#default-step-2").css('display','none'); 
        }
		function create_next2(){
			$("#default-title-1").attr("class","");
      		$("#default-title-0").attr("class","");
      		$("#default-title-2").attr("class","current-step");
      		$("#default-step-0").css('display','none'); 
      		$("#default-step-1").css('display','none'); 
      		$("#default-step-2").css('display','block');
      		$("#display_service_name").html($("#service_name").val());
      		$("#display_service_desc").html($("#service_desc").val());
      		$("#display_service_code_http").html($("#service_code_clone_url").val());
      		$("#display_service_code_version").html($("#service_code_version").val());
      		
      		var serviceType = new Array();
      		var serviceKey="";
      		var serviceId="";
      		
      		$("input[name='inlineCheckbox1']:checkbox").each(function(){ 
			  if($(this).is(":checked")){
			     var str=$(this).val().split("_");
			     if(str.length==2){
			     	if(serviceKey!=""){
			     		serviceKey=serviceKey+","
			     	}
			     	if($.inArray(str[1],serviceType) < 0){
			     		serviceType.push(str[1])
			     	}
			     	serviceKey = serviceKey+str[0] 
			     }
			  }
			});
			
			$("#createService").val(serviceKey)
			
			$("input[name='delineCheckbox1']:checkbox").each(function(){ 
			  if($(this).is(":checked")){
			  	var str=$(this).val().split("_");
			    if(str.length==2){
			     	if(serviceId != ""){
			     		serviceId=serviceId+","
			     	}
			     	if($.inArray(str[1],serviceType) < 0){
			     		serviceType.push(str[1])
			     	}
			     	serviceId = serviceId+str[0] 
			     }
			  }
			});
			
			$("#hasService").val(serviceId)
						
			$("#display_service_dependency").html(serviceType.join(","));

		}

      	function create_pre(){
      		$("#default-title-0").attr("class","current-step")
      		$("#default-title-1").attr("class","");
      		$("#default-title-2").attr("class","");
      		$("#default-step-0").css('display','block'); 
      		$("#default-step-1").css('display','none'); 
      		$("#default-step-2").css('display','none'); 
        }
        
		function create_pre2(){
			$("#default-title-0").attr("class","");
      		$("#default-title-1").attr("class","current-step");
      		$("#default-title-2").attr("class","");
      		$("#default-step-0").css('display','none'); 
      		$("#default-step-1").css('display','block'); 
      		$("#default-step-2").css('display','none'); 
      		$("#submit1").attr("disabled",false); 
		}
      	
      	
		function loadRepos(_url){
			$.ajax({
		       	  type: "GET",  
		    		  url: _url,
		    		  cache: false,
		    		  beforeSend: function(xhr, settings){  
		    		      var csrftoken = $.cookie('csrftoken');  
		    		      xhr.setRequestHeader("X-CSRFToken", csrftoken);  
		    		  },  
		    	  	  success: function(msg) {
		    	  		var dataObj = msg;
		    	  		if(dataObj["status"] == "unauthorized"){
	        				window.open(dataObj["url"],"_parent")
		    	  		}else if(dataObj["status"]=="success"){
		    	  			var dataList=dataObj["data"];
		    	  			var i=0
		    	  			var htmlmsg="";
		    	  			for(i=0;i<dataList.length;i++){
		    	  				data = dataList[i]
		    	  				htmlmsg +="<tr>"
	    	  					htmlmsg +='<input type="hidden" id="repos_'+data["code_id"]+'" name="repos_'+data["code_id"]+'" value='+data["code_repos"]+' />'
	    	  					htmlmsg +='<td><input type="radio" name="code_repos" id="code_repos" value='+data["code_id"]+'></td>'
	    	  					htmlmsg +='<td>'+data["code_user"]+'/'+data["code_project_name"]+'</td>'
	    	  					htmlmsg +='<td id="git_'+data["code_id"]+'"></td>'
	    	  					htmlmsg +='</tr>'
		    	  			}
		    	  			$("#code_repos_content").html(htmlmsg)
		    	  		}	 
		    		  },
		    		  error: function(){
		    			//alert("系统异常");
		      	  	}
		      })
		}
		
		function projectVersion(code_from,code_id,clone_url){
			var action=""
			var user =""
			var repos =""
			if(code_from=="gitlab_exit"){
				action="gitlab"
			}else if(code_from=="github"){
				action="github"
				user =  clone_url.split("/")[3]
				repos = clone_url.split("/")[4].split(".")[0]
			}
			if(action != ""){
				$.ajax({
	        		type : "POST",
	        		url : "/ajax/goodrain/code_repos",
	        		data : "action=" + action + "&code_id="+code_id+"&user="+user+"&repos="+repos,
	        		cache : false,
	        		beforeSend : function(xhr, settings) {
	        			var csrftoken = $.cookie('csrftoken');
	        			xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        		},
	        		success : function(msg) {
	        			var dataObj = msg
	        			if (dataObj["status"] == "unauthorized") {
	        				window.open(dataObj["url"],"_parent")
	        			}else if(dataObj["status"] == "success"){
	        				var dataList=dataObj["data"];
		    	  			var i=0
		    	  			var htmlmsg="";
		    	  			htmlmsg +='<select name="code_version_'+code_id+'" id="code_version_'+code_id+'" class="form-control m-bot15">'
		    	  			for(i=0;i<dataList.length;i++){
		    	  				data = dataList[i]
		    	  				htmlmsg +='<option value="'+data["version"]+'">'+data["version"]+'</option>'
		    	  			}
		    	  			htmlmsg +='</select>'
		    	  			$("#git_"+code_id).html(htmlmsg)
	        			}else {
	        				alert("操作失败")
	        			}
	        		},
	        		error : function() {
	        			// alert("系统异常");
	        		}
	        	})	
			}	
		}
		
		
		$(document).ready(function(){
			$('body').on('change','input[id=code_from]', function () {
				var value = $('input[type="radio"][name="code_from"]:checked').val();
				var _url=""
				if(value == "gitlab_exit"){
					_url = "/ajax/goodrain/code_repos?action=gitlab"
					$("#code_repos_content").html("");
					$("#code_repos_setting").css('display',''); 
					$("#service_code_from").val("gitlab_exit");
				}else if(value == "github"){
					_url = "/ajax/goodrain/code_repos?action=github"
					$("#code_repos_content").html("");
					$("#code_repos_setting").css('display','');
					$("#service_code_from").val("github");
				}else{
					$("#code_repos_setting").css('display','none'); 
					$("#service_code_from").val("gitlab_new");
				}
				if(_url != ""){
					loadRepos(_url);	
				}		
			}); 
			
			$('body').on('change','input[id=code_repos]', function () {
				var value = $('input[type="radio"][name="code_repos"]:checked').val();
				var repos = $("#repos_"+value).val();
				var service_code_from =$("#service_code_from").val()
				$("#service_code_clone_url").val(repos)
				$("#service_code_id").val(value)
				projectVersion(service_code_from,value,repos)
				
			});
			
			current_code_from = $('input[type="radio"][name="code_from"]:checked').val();
			if(current_code_from=="github"){
				_url = "/ajax/goodrain/code_repos?action=github"
				$("#code_repos_content").html("");
				$("#code_repos_setting").css('display','');
				$("#service_code_from").val("github");
				loadRepos(_url);
			}
		});
       </script>       
  </div>
</div>
{% endblock %}