{% extends 'www/raster2.html' %} {% load i18n %} 
{% load staticfiles %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css2/newapp.css" %}' />
<link rel="stylesheet" href='{% static "www/css/sweetalert.css" %}' />
<link rel="stylesheet" href='{% static "www/css/bootstrap-editable.css" %}' />
{% endblock %}
{% block extrajs %}
<script src='{% static "www/js/sweetalert.min.js" %}'></script>
<script src="/static/www/js/app-language.js"></script>
{% endblock %}
{% block main-content%}
<section class="wrapper site-min-height">
	<section class="panel panel-default">
        <div class="panel-body">
			<p class="main-tit">从源码创建应用</p>
	        <div class="app-step clearfix">
	            <p class="sed"><span>1</span><cite>创建应用</cite></p>
	            <p class="sed"><span>2</span><cite>代码同步</cite></p>
	            <p class="sed"><span>3</span><cite>应用设置</cite></p>
	            <p class="sed"><span>4</span><cite>高级选项</cite></p>
	        </div>
	        <form id="commentForm" method="post" action="" novalidate="novalidate" class="form-horizontal">
				<input type="hidden" id="tenantName" name="tenantName" value="{{tenantName}}" />
				<input type="hidden" id="service_name" name="service_name" value="{{tenantService.service_alias}}" />
				<input type="hidden" id="language" name="language" value="{{tenantService.language}}" />
				<div class="infor-fm-box">
					{% if dependencyData.runtimes = "false" %}
					<div class="form-group">
	                    <label class="col-sm-3 control-label">版本</label>
	                    <div class="col-sm-6">
		                    <select class="form-control" id="service_version" name="service_version">
								<option value='1.6'>openjdk 1.6.0_27</option>
								<option value='1.7'>openjdk 1.7.0_79</option>
								<option value='1.8' selected="selected">openjdk 1.8.0_40(默认)</option>
							</select>
						</div>
	                </div>
	                {% endif %}
	                {% if dependencyData.procfile = "false" %}
	                <div class="form-group">
	                    <label class="col-sm-3 control-label">web服务器</label>
	                    <div class="col-sm-6">
		                    <select class="form-control" id="service_server" name="service_server">
								<option value="tomcat7" selected="selected">tomcat 7（默认）</option>
								<option value="tomcat8">tomcat 8</option>
								<option value="jetty7">jetty 7.5</option>
							</select>
						</div>
	                </div>
	                {% endif %}
				</div>
				<div class="text-center">
					<button class="btn btn-success" type="button" style="cursor: pointer; margin:50px 0;" id="language_btn">下一步</button>
	            </div>
			</form>
			<!-- -->
		</div>
    </section>
</section>
{% endblock %}
