{% extends 'www/raster2.html' %} {% load i18n %}
{% load staticfiles %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/sweetalert.css" %}' />
<link rel="stylesheet" href='{% static "www/css2/newapp.css" %}' />
<link rel="stylesheet" href='{% static "www/css/bootstrap-editable.css" %}' />
{% endblock %}
{% block extrajs %}
<script src='{% static "www/js/sweetalert.min.js" %}'></script>
{% endblock %}
{% block main-content%}
<section class="wrapper site-min-height">
	<section class="panel panel-default">
        <div class="panel-body">
			<p class="main-tit">从源码创建应用</p>
	        <div class="app-step clearfix">
	            <p class="sed"><span>1</span><cite>创建应用</cite></p>
	            <p class="sed"><span>2</span><cite>代码同步</cite></p>
	            <p><span>3</span><cite>应用设置</cite></p>
	            <p><span>4</span><cite>高级选项</cite></p>
	        </div>
		    <form class="cmxform form-horizontal tasi-form" id="commentForm" method="post" action="" novalidate="novalidate">
				<input type="hidden" id="tenantName" name="tenantName" value="{{tenantName}}" />
				<input type="hidden" id="service_name" name="service_name" value="{{tenantService.service_alias}}" />
		        <div>
		        	<div id="second-loading">
		        		<div class="second-loading">
			        		<p class="second-tit">正在从仓库同步代码！</p>
			        		<p class="second-tips-loading">
			        			<span>代码源：<cite>{{httpGitUrl}}</cite> 由于代码量及网络环境差异，等待时间可能较长。你可以关闭当前页面去处理其他事务，稍后可在我的应用中继续操作。</span>
			        			<span>如果是通过好雨 Git 新建的项目，请往上述地址提交代码。当前帐号的用户名和密码即为好雨 Git 用户名和密码。</span>
			        		</p>
		        		</div>
		        		<div class="clearfix text-center" style="margin-bottom:50px;">
		        			<button class="btn btn-danger" style="cursor: pointer; margin:0 10px;" type="button" onclick="app_create_delete();" >停止创建</button>
		        			<button class="btn btn-default" disabled="disabled" style="cursor: pointer; margin:0 10px;">请稍等</button>
		        		</div>
		        	</div>
		        	<div  style="display: none;" class="second-loading" id="git-success">
			        	<p class="second-tit" id="git_code_upload" ></p>
			        	<p class="second-tips-loading">
			        		<span>代码源：<cite>{{httpGitUrl}}</cite></span>
			        	</p>

		        	</div>
		        	<div class="clearfix text-center" style="display: none; margin-bottom:50px;" id="git_btn">
		        		<button class="btn btn-danger" id="Btndelete" type="button" style="cursor: pointer; margin:0 10px;" onclick="app_create_delete();">停止创建</button>
		        		<button class="btn btn-success" id="BtnSecond" type="button" style="cursor: pointer; margin:0 10px;">下一步</button>
		        	</div>
		        </div>
	    	</form>
    	</div>
    </section>
</section>
<script>
var gitcodechecktimmer;
var requestNumber = 0
$(function() {
	//$('#BtnSecond').attr('disabled', "true");
	getGitCodeCheck();
	$('#BtnSecond').click(
		function() {
			var tenantName = $('#tenantName').val();
			var service_name = $('#service_name').val();
			window.location.href = "/apps/" + tenantName + "/"+ service_name + "/app-setting/";
	});
});

function getGitCodeCheck() {
	var tenantName = $('#tenantName').val();
	var service_name = $('#service_name').val();
	if (service_name != "" && service_name != undefined) {
		requestNumber = requestNumber + 1
		$.ajax({
			type : "GET",
			url : "/ajax/" + tenantName + "/" + service_name
					+ "/check/?requestNumber=" + requestNumber,
			cache : false,
			success : function(msg) {
				var dataObj = msg;
				if (dataObj["status"] == "checked") {
					clearTimeout(gitcodechecktimmer);
					$("#second-loading").hide();
					$("#git-success").show();
					$("#git_btn").show();
					$("#git_code_upload").html("代码已同步，语言识别为 " + dataObj["language"]);
					var languageurl ;
					var tipsatr;
					if(dataObj["language"] == "Java-maven"){
						languageurl = 'http://www.rainbond.com/docs/stable/user-lang-docs/java/lang-java-maven.html';
					}
					if(dataObj["language"] == "Java-jar" || dataObj["language"] == "Java-war"){
						languageurl = 'http://www.rainbond.com/docs/stable/user-lang-docs/java/lang-java-warandjar.html';
					}
					if(dataObj["language"] == "Scala"){
						languageurl = 'http://www.rainbond.com/docs/stable/user-lang-docs/scala/lang-scala-overview.html';
					}
					if(dataObj["language"] == "Ruby"){
						languageurl = 'http://www.rainbond.com/docs/stable/user-lang-docs/ruby/lang-ruby-overview.html';
					}
					if(dataObj["language"] == "Python"){
						languageurl = 'http://www.rainbond.com/docs/stable/user-lang-docs/python/lang-python-overview.html';
					}
					if(dataObj["language"] == "PHP"){
						languageurl = 'http://www.rainbond.com/docs/stable/user-lang-docs/php/lang-php-overview.html';
					}
					if(dataObj["language"] == "Go"){
						languageurl = 'http://www.rainbond.com/docs/stable/user-lang-docs/go/lang-go-overview.html';
					}
					if(dataObj["language"] == "Node.js" ){
						languageurl = 'http://www.rainbond.com/docs/stable/user-lang-docs/ndjs/lang-ndjs-overview.html';
					}
					if(dataObj["language"] == "static"){
						languageurl = 'http://www.rainbond.com/docs/stable/user-lang-docs/html/lang-html-overview.html';
					}
					if(dataObj["language"] == "docker"){
						languageurl = 'http://www.rainbond.com/docs/stable/user-lang-docs/dockerfile/lang-dockerfile-overview.html';
					}
					tipsatr='<p style="color:#d9534f; text-align:center; font-size:14px; line-height:40px;">请确认是否符合'+ dataObj["language"] +'  [<a href="'+ languageurl +'" target="_blank" style="color:#d9534f; text-decoration:underline;">代码标准</a>]</p>';
					if(dataObj["language"] == "Java-maven" || dataObj["language"] == "Java-jar" || dataObj["language"] == "Java-war" || dataObj["language"] == "Scala" || dataObj["language"] == "Ruby" || dataObj["language"] == "Python" || dataObj["language"] == "PHP" || dataObj["language"] == "Go" || dataObj["language"] == "Node.js" || dataObj["language"] == "static" || dataObj["language"] == "docker"){
						$(tipsatr).appendTo($("#git-success"));
					}
					$("#BtnSecond").show();
				} else if (dataObj["status"] == "check_error") {
					$("#second-loading").hide();
					$("#git-success").show();
					$("#git_btn").show();
					$("#git_code_upload").html("语言未识别，请重新提交代码...");
					$("#BtnSecond").hide();
				}
			},
			error : function() {
				// swal("系统异常");
			}
		})
		
		gitcodechecktimmer=setTimeout("getGitCodeCheck()",1000*Math.ceil(requestNumber / 5)+3000)
	}
}

function app_create_delete() {
	swal({
		title: "确定要停止创建当前的应用吗？",
		type: "warning",
	    showCancelButton: true,
		confirmButtonColor: "#DD6B55",
		confirmButtonText: "确定",
		cancelButtonText: "取消",
		closeOnConfirm: false,
		closeOnCancel: false
	}, function (isConfirm) {
		if(isConfirm) {
			var tenantName = $('#tenantName').val();
			var service_name = $('#service_name').val();
			var event_id = '';
			$.ajax({
				type: "POST",
				url: "/ajax/" + tenantName + '/' + service_name + "/events",
				data: "action=delete",
				cache: false,
				async: false,
				beforeSend: function (xhr, settings) {
					var csrftoken = $.cookie('csrftoken');
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				},
				success: function (data) {
					if (data["status"] == "often") {
						swal("上次操作进行中，请稍后！");
						return ""
					} else if (data["status"] == "success") {
						event_id = data["event"]["event_id"];
					} else {
						swal("系统异常！");
					}

				},
				error: function () {
					swal("系统异常");
				}
			});
			if( event_id )
			{
				$.ajax({
					type : "POST",
					url : "/ajax/" + tenantName + "/" + service_name + "/manage/",
					data : "action=delete&event_id="+event_id,
					cache : false,
					beforeSend : function(xhr, settings) {
						var csrftoken = $.cookie('csrftoken');
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
						swal({
							title: "正在执行删除操作，请稍候...",
							text: "5秒后自动关闭",
							timer: 5000,
							showConfirmButton : false
						});
					},
					success : function(msg) {
						var dataObj = msg
						if (dataObj["status"] == "success") {
							swal("操作成功");
							window.location.href = "/apps/"+tenantName+"/service-entrance/"
						} else if (dataObj["status"] == "often") {
							swal("上次操作正在进行中，稍后再试")
						}else if (dataObj["status"] == "dependency") {
							swal("当前服务被依赖不能删除");
						} else {
							swal("操作失败");
						}
					},
					error : function() {
						swal("系统异常");
					}
				});
			}
		}else{
			swal.close();
		}
	});
}
</script>
{% endblock %}
