{% extends 'www/raster2.html' %} {% load i18n %} 
{% load staticfiles %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css2/newapp.css" %}' />
<link rel="stylesheet" href='{% static "www/css/sweetalert.css" %}' />
<link rel="stylesheet" href='{% static "www/css/bootstrap-editable.css" %}' />
{% endblock %}
{% block extrajs %}
<script src='{% static "www/js/sweetalert.min.js" %}'></script>
<script src="/static/www/js/app-language.js"></script>
{% endblock %}
{% block main-content%}
<section class="wrapper site-min-height">
	<section class="panel panel-default">
    <div class="panel-body">
		<h3 class="main-tit">从源码创建应用</h3>
        <div class="app-step clearfix">
            <p class="sed"><span>1</span><cite>创建应用</cite></p>
            <p class="sed"><span>2</span><cite>代码同步</cite></p>
            <p class="sed"><span>3</span><cite>应用设置</cite></p>
            <p class="sed"><span>4</span><cite>高级选项</cite></p>
        </div>
        <form id="commentForm" method="post" action="" novalidate="novalidate"  class="form-horizontal">
			<input type="hidden" id="tenantName" name="tenantName" value="{{tenantName}}" />
			<input type="hidden" id="service_name" name="service_name" value="{{tenantService.service_alias}}" />
			<input type="hidden" id="language" name="language" value="{{tenantService.language}}" />
			<div class="infor-fm-box">
				{% if dependencyData.runtimes = "false" %}
				<<div class="form-group">
                    <label for="inputSuccess" class="col-sm-3 control-label">版本</label>
                    <div class="col-sm-6">
	                 	<select class="form-control">
							<option value='2.7.13' selected="selected">2.7.13(默认)</option>
							<option value='3.6.1'>3.6.1</option>
						</select>
					</div>
                </div>
                {% endif %}
                {% if dependencyData.dependencies = "false" %}
                <div class="form-group">
                    <label for="inputSuccess" class="col-sm-3 control-label">依赖</label>
                    <div class="col-sm-6">
	                 	<p>
							<pre>请本地代码根目录 执行:</pre>
							<pre> pip freeze &gt; requirements.txt</pre>
							<pre>完成后重新提交代码</pre>
						</p>
					</div>
                </div>
                {% endif %}
			</div>
			<div class="text-center">
	            <button class="btn btn-success" type="button"  style="cursor: pointer; margin:50px 0;" id="language_btn">下一步</button>
	        </div>
		</form>
		<!-- -->
	</div>
    </section>
</section>
{% endblock %}
