{% extends 'www/raster2.html' %}
{% load i18n %}
{% load staticfiles %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/sweetalert.css" %}' />
<link rel="stylesheet" href='{% static "www/css2/newapp.css" %}' />
<link rel="stylesheet" href='{% static "www/css/bootstrap-editable.css" %}' />
{% endblock %}
{% block extrajs %}
<script src='{% static "www/js/sweetalert.min.js" %}'></script>
{% endblock %}

{% block main-content%}

<section class="wrapper site-min-height">
    <section class="panel panel-default">
        <div class="panel-body">
            <p class="main-tit">从镜像创建应用</p>
            <div class="app-step clearfix two">
                <p class="sed" style="width: 50%;"><span>1</span><cite>创建应用</cite></p>
                <p style="width: 50%;"><span>2</span><cite>应用设置</cite></p>
            </div>
            <form class="form-horizontal" id="commentForm" method="post" action="" novalidate="novalidate">
                <input type="hidden" id="tenantName" name="tenantName" value="{{tenantName}}" />
                <input type="hidden" id="service_key" name="service_key" value="{{service_key}}" />
                <input type="hidden" id="app_version" name="app_version" value="{{app_version}}" />
                <input type="hidden" id="service_id" value="{{service_id}}">
                <!-- -->
                <input type="hidden" id="pre_paid_memory_price" name="pre_paid_memory_price" value="{{pre_paid_memory_price}}">
                <input type="hidden" id="post_paid_memory_price" name="post_paid_memory_price" value="{{post_paid_memory_price}}">
                <input type="hidden" id="pre_paid_disk_price" name="pre_paid_disk_price" value="{{pre_paid_disk_price}}">
                <input type="hidden" id="post_paid_disk_price" name="post_paid_disk_price" value="{{post_paid_disk_price}}">
                <input type="hidden" id="post_paid_net_price" name="post_paid_net_price" value="{{post_paid_net_price}}">
                <!-- -->
                <input type="hidden" id="is_tenant_free" name="is_tenant_free" value="{{is_tenant_free}}">
                <!-- 基本信息  start-->
                <div class="infor-fm-box">
                    <div class="form-group">
                        <label for="create_app_name" class="col-sm-3 control-label">应用名</label>
                        <div class="col-sm-6">
                            <input type="text" id="create_name" name="create_name" value=""  class="form-control" placeholder="请输入应用名，支持中英文"  />
                        </div>
                    </div>
                    <div class="row fm-tips" id="create_name_notice">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">请输入应用名！</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">选择分组</label>
                        <div class="col-sm-6">
                            <select id="group-name" name="select_group_id" class="form-control">
                                <option value="-1">不分组</option>
                                {% for group in groupList %}
                                <option value="{{group.ID}}" >{{group.group_name}}</option>
                                {% endfor %}
                                <option value="-2">新建组</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="create_app_name" class="col-sm-3 control-label">镜像</label>
                        <div class="col-sm-6">
                            <input type="text" id="mirror-address" name="mirror-address" value="{{image_url}}" placeholder="可以输入镜像名称或者Docker run命令"  class="form-control" />
                        </div>
                    </div>
                    <div class="row fm-tips" id="mirror_address_notice">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">请输入镜像名称或者Docker run命令</div>
                    </div>
                    <div class="form-group" id="dockertips">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-6">
                            <span class="keytit">镜像名：nginx : 1.11</span>
                            <span class="keytit">Docker run 命令：docker run -d -p 8080:8080 -e PWD=1qa2ws --name=tomcat_demo tomcat</span>
                        </div>
                    </div>
                </div>
                <!-- 基本信息  end -->
    			<div class="text-center clearfix {% if is_public_clound %}fn-tips{% endif %}" style="margin: 50px 0;" data-original-title="当前应用成功创建后，{% if is_tenant_free %}7天{% else %}1小时{% endif %}内可免费调试，开始计费后请保持账户有一定余额。">
    				<button type="button" class="btn btn-success" id="mirror_first" >免费创建</button>
    			</div>			
            </form>
        </div>
    </section>
</section>
<script>
$(function(){

    //处理官方实例的逻辑 start
    function getSearchQuery(){
        var map = {};
        var searchString = location.search.replace('?', '');
        if(searchString.length){
            var searchArr = searchString.split('&');
            for(var i=0;i<searchArr.length;i++){
                var key = decodeURIComponent(searchArr[i].split('=')[0]);
                var val = decodeURIComponent(searchArr[i].split('=')[1]);
                map[key] = val;
            }
        }
        return map;
    }
    var image_url = '{{image_url}}';
    var type = getSearchQuery().type;
    var imageName = 'tomcat';
    var image = getSearchQuery().image;
    if(image){
        image = decodeURIComponent(image);
    }
    var dockerRun = [{
        value:'docker run -d -p 8080:8080 -e PWD=1qa2ws --name=tomcat_demo tomcat',
        text: 'tomcat'
    },{
        value:'docker run -d -p 2368:2368 -e PWD=1qa2ws --name=ghost_demo ghost',
        text: 'ghost'
    },{
        value:'docker run -d -p 3000:3000 -e PWD=1qa2ws --name=redmine_demo redmine',
        text: 'redmine'
    }]
    //处理官方实例的逻辑 end
    if(type==='demo' && !image_url){
        var html = [];
        html.push('<select name="mirror-address" id="mirror-address" class="form-control">');
        for(var i=0;i<dockerRun.length;i++){
            if(image){
                html.push('<option  '+(image === dockerRun[i].text ? 'selected=selected' : '' )+' value="'+dockerRun[i].value+'">'+dockerRun[i].text+'</option>');
            }else{
                html.push('<option  value="'+dockerRun[i].value+'">'+dockerRun[i].text+'</option>');
            }
            
        }
        
        html.push('</select>')


        $('#mirror-address').replaceWith($(html.join('')));
        $('#mirror-address').parent().addClass('fm-select');
        $("#dockertips").hide();
    }else{
        $("#dockertips").show();
        if(image){
            $('#mirror-address').val(image);
        }
            
        
    }
    //处理官方实例的逻辑 end



    //// ww-2016-12-6 选择 groupname start
    //弹出层
    function FnLayer(textTit){
        var oDiv = '<div class="layerbg"><div class="layermain"></div></div>';
        var oCloseBtn = '<a href="javascript:;" class="closebtn fn-close" style="color:#fff"><i class="fa fa-times"></i></a>';
        var oTit = '<p class="layer-tit">'+ textTit +'</p>';
        var oInput ='<p class="input-css"><input name="" type="text" value="" /></p>';
        var oLink = '<p class="layerlink"><button type="button" class="fn-sure btn btn-success" style="margin:0 5px;">确定</button><button type="button" class="fn-close btn btn-danger" style="margin:0 5px;">取消</button></p>';
        $("body").append(oDiv);
        $("div.layermain").append(oCloseBtn,oTit);
        $("div.layermain").append(oInput);
        $("div.layermain").append(oLink);
        $(".fn-close").click(function(){
             $("div.layerbg").remove();
             $(".input-css input").prop("value","");
             $("#group-name").find("option[value='-1']").prop("selected",true);
        });
        $(".fn-sure").click(function(){
            if(inputText == ""){
                swal("您还没有输入组名！")
                return false;
            }else{
                var inputText = $(".input-css input").val();
                var tenant_name = $("#tenantName").val();
                ///ajax start

                $.ajax({
                    type : "post",
                    url : "/ajax/" + tenant_name  + "/group/add",
                    data : {
                        group_name : inputText
                    },
                    cache : false,
                    beforeSend : function(xhr, settings) {
                        var csrftoken = $.cookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success : function(msg) {
                        if(msg.ok){
                            var  group_id = msg.group_id;
                            var  group_name = msg.group_name;
                            var  Option = "<option value=" +  group_id + ">" + group_name + "</option>";
                            $("div.layerbg").remove();
                            $(".input-css input").prop("value","");
                            $("#group-name option").eq(0).after(Option);
                            $("#group-name option").each(function(){
                                var oVal = $(this).prop("value");
                                if(oVal == group_id){
                                    $(this).prop("selected",true);
                                }
                            });
                        }else{
                            swal(msg.info);
                        }
                    },
                    error : function() {
                        swal("系统异常,请重试");
                    }
                });
                
                ///ajax end
            }
              
        });   
    }
    //  弹出层
    $("#group-name").change(function(){
     var groupName=$("#group-name option:selected").val();
        if(groupName == -2) {
            FnLayer("请输入新增组名");  
        }
    });
    //// ww-2016-12-6 选择 groupname end 
    
    // 01 输入用户名
    $('#create_name').blur(function(){
        var appName = $(this).val();
        //var checkReg = /^[a-z][a-z0-9-]*[a-z0-9]$/;
        //var result = true;
        if(appName == ""){
            $('#create_name_notice').slideDown();
            return;
        }else{
            $('#create_name_notice').slideUp();
        }
    });
    // 01 end 
    //  镜像地址 start
    $('#mirror-address').blur(function(){
        var mirrorName = $(this).val();
        if(mirrorName == ""){
            $('#mirror_address_notice').slideDown();
            return;
        }else{
            $('#mirror_address_notice').slideUp();
        }
    });
    // 镜像地址  end

    /// 从镜像地址提交 
    $("#mirror_first").click(function(){
        $(this).attr("disable",true);
        var appname = $("#create_name").val();
        var groupname = $("#group-name option:selected").html();
        var groupid = $("#group-name option:selected").attr("value");
        var service_code_from = "gitlab_new";
        if(appname == ""){
            $("#create_name_notice").show();
            return;
        }else{
            $("#create_name_notice").hide();
        }
        var image_url = $('#mirror-address').val();
        if(image_url == ""){
            $('#mirror_address_notice').slideDown();
            return;
        }else{
            $('#mirror_address_notice').slideUp();
        }
        ///
        $("#mirror_first").attr('disabled', true);
        var tenantName= $('#tenantName').val();
        $.ajax({
            type : "post",
            url : "/apps/" + tenantName + "/image-create/",
            data : {
                "create_app_name" : appname,
                "groupname" : groupname,
                "select_group_id" : groupid,
                "image_url" : image_url
            },
            cache : false,
            beforeSend : function(xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success : function(msg) {
                var dataObj = msg;
                if (dataObj["status"] == "over_memory") {
                    if (dataObj["tenant_type"] == "free"){
                        swal("资源已达上限,不能创建");
                    }else
                        swal("资源已达上限，不能创建");
                } else if (dataObj["status"] == "over_money") {
                    swal("余额不足，不能创建");
                } else if (dataObj["status"] == "empty") {
                    swal("应用名称不能为空");
                }else if (dataObj["status"] == "success") {
                    var id = dataObj["id"];
                    var params_val = dataObj["params"];
                    window.location.href = "/apps/"+tenantName+"/image-params?id="+id+"&params="+params_val;
                }else if (dataObj["status"] == "failure"){
                    swal("创建失败");
                }else if(dataObj["status"] == "owed"){
                    swal("您已欠费,请及时充值");
                }else if(dataObj["status"] == "no_image_url"){
                    swal("请填写镜像路径")
                }
                else {
                    swal("创建失败");
                }
                $("#mirror_first").attr('disabled', false);
            },
            error : function() {
                swal("系统异常,请重试");
                $("#mirror_first").attr('disabled', false);
            }
        });
        ///

    }); 
    /// 从镜像地址提交
    

    $('.fn-tips').tooltip();

    /* ljh 2017-03-07 */
    $(".buy_month li").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
        FnPrice();
    });
    /* ljh 2017-03-07 */
});
</script>
{% endblock %}
