{% extends 'www/raster2.html' %}
{% load i18n %}
{% load staticfiles %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/sweetalert.css" %}' />
<link rel="stylesheet" href='{% static "www/css2/newapp.css" %}' />
<link rel="stylesheet" href='{% static "www/css/bootstrap-editable.css" %}' />
{% endblock %}
{% block extrajs %}
<script src='{% static "www/js/sweetalert.min.js" %}'></script>
<script src='{% static "www/js/newcompose.js" %}'></script>
<script src='{% static "www/js/bootstrap-editable.min.js" %}'></script>
{% endblock %}

{% block main-content%}

<section class="wrapper site-min-height">
    <section class="panel panel-default">
        <div class="panel-body">
        <form class="form-horizontal">
        <input type="hidden" id="image_url" value="{{image_url}}">
        <input type="hidden" id="tenantNameValue" value="{{tenantName}}">
        <input type="hidden" id="compose_file_id" value="{{compose_file_id}}">
        <input type="hidden" id="parse_error" value="{{parse_error}}">
        <input type="hidden" id="compose_relations" value="{{compose_relations}}">
        <h3 class="main-tit">从compose文件创建应用</h3>
        <div class="app-step clearfix three">
            <p class="sed" style="width: 33.33%"><span>1</span><cite>提交compose文件</cite></p>
            <p class="sed" style="width: 33.33%"><span>2</span><cite>创建应用</cite></p>
            <p class="sed" style="width: 33.33%"><span>3</span><cite>应用设置</cite></p>
        </div>
        <!-- 解析出错 start -->
        {% if parse_error %}
        <div class="modulebox clearfix">
            <div class="form-group clearfix">
                <label class="col-sm-3 control-label"> 解析出错</label>
                <div class="col-sm-8">{{parse_error_info}}</div>
            </div>
        </div>
        {% endif %}
        <!-- 解析出错 end -->
        <!-- start -->
        <div class="tablink">
            <a href="javascript:;" class="sed">总览</a>
            {% for service in service_list %}
            <a href="javascript:;" title="{{service.name}}">{{service.name}}</a>
            {% endfor %}
        </div>
        <!-- 总览 start -->
        <section id="overview" class="fn-app-box" style="display: block;">
            <div class="view-svg" id="view-svg">
                <!-- weave scope 组件配置 -->
                      <script type="text/javascript">
                          window.weavescope  = {
                             getNodes:function(){
                                const scopeData = {
                                    add: [],
                                    update: null,
                                    remove: null
                                };
                                var boundData = document.querySelector('#compose_relations').value;
                                try{
                                    boundData = JSON.parse(boundData);
                                }catch(e){
                                    boundData = {};
                                }

                                for(var key in boundData){
                                    node = {};
                                    node.cur_status = 'closed';
                                    node.service_cname = key;
                                    node.service_alias = key;
                                    node.id = key;
                                    node.label = key;
                                    node.labelMinor = '';
                                    //根据状态改变颜色用
                                    node.rank = 'closed';
                                    node.shape = 'hexagon';
                                    node.stack = true;
                                    node.linkable = true;
                                    node.adjacency = boundData[key] || [];
                                    scopeData.add.push(node);
                                }
                                return scopeData;
                             },
                             onNodeClick:function(nodeInfo){
                                $(".tablink a").each(function(){
                                    var oText = $(this).html();
                                    if(oText == nodeInfo){
                                        $(this).addClass('sed').show();
                                        $("section.fn-app-box").hide();
                                        $("section.fn-app-box").eq($(this).index()).show();
                                    }else{
                                        $(this).removeClass('sed');
                                    }
                                });
                             }
                          }
                      </script>
                      <iframe src='{% static "www/weavescope/index.html" %}' style="width:95%;height:600px;" frameborder="no" border="0" marginwidth="0" marginheight="0" ></iframe>
            </div>
        </section>
        <!-- 总览 end -->
        <!-- 01-->
        {% for service in service_list %}
        <input type="hidden" name="depends_on" value="{{service.depends_on}}">
        <input type="hidden" name="image" value="{{service.image}}">
        <section id="{{service.service_id}}" service_cname="{{service.name}}" service_image="{{service.image}}" class="app-box fn-app-box" >
             <!-- 部署方式 start  -->
            <div class="modulebox clearfix">
                <div class="form-group clearfix" id="extend_method">
                    <label class="col-sm-3 control-label">应用类型</label>
                    <div class="col-sm-8 clearfix" id="{{service.service_id}}_extend_method">
                        <label class="fm-radio" style="display: block; height: 30px;">
                            <input type="radio" name="{{service.service_id}}_extend_method" value="stateless" id="{{service.service_id}}_stateless" checked="true" />
                            <span class="radio-bg" for="stateless"></span>
                            <cite>无状态应用（包括Web类，API类）</cite>
                        </label>
                        <label class="fm-radio" style="display: block; height: 30px;">
                            <input type="radio" name="{{service.service_id}}_extend_method" value="state" id="{{service.service_id}}_state" />
                            <span class="radio-bg" for="state"></span>
                            <cite>有状态应用（包括DB类，集群类，消息中间件类，数据类）</cite>
                        </label>
                    </div>
                 </div>
            </div>
            <div class="line"></div>
            <!-- 部署方式 end   -->
            <!-- 内存 start -->
            <div class="modulebox clearfix">
                <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">内存选项</label>
                     <div class="col-sm-8 clearfix">
                        {% if is_tenant_free %}
                        <p class="range-box fn-tips" data-original-title="新用户单应用内存最大1G，全部应用总内存最大1G。付费用户无限制。(单节点内存)" id="{{service.service_id}}_MemoryRange">
                            <a href="javascript:;" class="sed">512M</a>
                            <a href="javascript:;">1G</a>
                        </p>
                        {% else %}
                        <p class="range-box fn-tips" data-original-title="单应用内存最大8G，总内存无限。如需使用更多，请联系客服申请。(单节点内存)" id="{{service.service_id}}_MemoryRange">
                                <a href="javascript:;" class="sed">512M</a>
                                <a href="javascript:;">1G</a>
                                <a href="javascript:;">2G</a>
                                <a href="javascript:;">4G</a>
                                <a href="javascript:;">8G</a>
                        </p>
                        <!-- no user -->
                        {% endif %}
                        <span id="{{service.service_id}}_MemoryText" class="fm-text" style="display: none;">512M</span>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <!-- 内存  end -->
            <!-- 应用端口 start -->
            <div class="modulebox clearfix fn-modulebox">
                 <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">端口管理</label>
                    <div class="col-sm-8 text-right">
                        <a href="javascript:;" class="showlink fn-showlink"><cite>展开</cite><span class="glyphicon glyphicon-chevron-down"></span></a>
                    </div>
                </div>
                <div class="form-group clearfix fn-showblock">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-8">
                        <table class="table fn-tabbox">
                            <thead>
                                <tr class="active">
                                    <th>端口</th>
                                    <th>对外服务</th>
                                    <th>外部访问</th>
                                    <th>访问方式</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody class="port">
                                {% for outer_port in service.ports %}
                                <tr data-port="{{outer_port}}port">
                                    <td>
                                        <a href="javascript:void(0);" class="portNum edit-port fn-tips" data-original-title="当前应用提供服务的端口号。">{{outer_port}}</a>
                                    </td>
                                    <td>
                                        <label class="checkbox fn-tips" data-original-title="打开对外服务，其他应用即可访问当前应用。">
                                            <input  type="checkbox" name="" value="" id="{{service.name}}{{outer_port}}inner" />
                                            <span class="check-bg"></span>
                                        </label>
                                    </td>
                                    <td>
                                       <label class="checkbox fn-tips" data-original-title="打开外部访问，用户即可通过网络访问当前应用。">
                                            <input class="checkDetail" type="checkbox" name="" value="" id="{{service.name}}{{outer_port}}outer" />
                                            <span class="check-bg"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <select  data-port-http="{{inner_port}}Http" class="fn-tips" data-original-title="请设定用户的访问协议。">
                                            <!-- <option class="changeOption">请打开外部访问</option> -->
                                            <option>HTTP</option>
                                            <option>非HTTP</option>
                                        </select>
                                    </td>
                                    <td>
                                        <img class="rubbish" src="{% static "www/images/rubbish.png" %}"/>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% for inner_port in service.expose %}
                                <tr data-port="{{inner_port}}port">
                                    <td>
                                        <a href="javascript:void(0);" class="portNum edit-port fn-tips" data-original-title="当前应用提供服务的端口号。">{{inner_port}}</a>
                                    </td>
                                    <td>
                                        <label class="checkbox fn-tips" data-original-title="打开对外服务，其他应用即可访问当前应用。">
                                            <input  type="checkbox" name="" value="" id="{{inner_port}}inner"/>
                                            <span  class="check-bg" for="{{inner_port}}inner"></span >
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox fn-tips" data-original-title="打开外部访问，用户即可通过网络访问当前应用。">
                                            <input class="checkDetail" type="checkbox" name="" value="" id="{{inner_port}}outer"/>
                                            <span class="check-bg" for="{{inner_port}}outer"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <select  data-port-http="{{inner_port}}Http" class="fn-tips" data-original-title="请设定用户的访问协议。">
                                            <!-- <option class="changeOption">请打开外部访问</option> -->
                                            <option>HTTP</option>
                                            <option>非HTTP</option>
                                        </select>
                                    </td>
                                    <td>
                                        <img class="rubbish" src="{% static "www/images/rubbish.png" %}"/>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="addPort" style="display: none">
                                    <td>
                                        <input type="number" class="add_port fn-tips" data-original-title="请根据当前镜像提供服务的端口号填写。">
                                        <p class="checkTip">请输入正确的端口号</p>
                                    </td>
                                    <td>
                                        <label class="checkbox fn-tips" data-original-title="打开对外服务，其他应用即可访问当前应用。">
                                            <input type="checkbox" name="" value="" id="addInner{{service.service_id}}" checked="checked" />
                                            <span class="check-bg" for="addInner{{service.service_id}}"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox fn-tips" data-original-title="打开外部访问，用户即可通过网络访问当前应用。">
                                            <input class="checkDetail" type="checkbox" name="" value="" id="addOuter{{service.service_id}}" />
                                            <span class="check-bg" for="addOuter{{service.service_id}}"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <select class="add_http fn-tips" data-original-title="请设定用户的访问协议。">
                                            <option>HTTP</option>
                                            <option>非HTTP</option>
                                        </select>
                                    </td>
                                    <td class="operation">
                                        <span class="add btn btn-success btn-sm"><i class="fa fa-check"></i></span>
                                        <span class="noAdd btn btn-danger btn-sm"><i class="fa fa-times"></i></span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <p class="text-right">
                            <a href="javascript:;" class="openAdd">新增端口</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <!-- 应用端口 end -->
            <!-- 环境变量 start -->
            <div class="modulebox clearfix fn-modulebox">
                <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">环境变量</label>
                    <div class="col-sm-8 text-right">
                        <a href="javascript:;" class="showlink fn-showlink"><cite>展开</cite><span class="glyphicon glyphicon-chevron-down"></span></a>
                    </div>
                </div>
                <div class="form-group clearfix fn-showblock">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-8">
                        <table class="table">
                            <thead>
                                <tr class="active">
                                    <th>名称</th>
                                    <th>变量名</th>
                                    <th>值</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody class="enviroment">
                            {% for k,v in service.environment.items %}
                                <tr>
                                    <td><a href="javascript:void(0);"
                                           class="enviromentName edit-env-name editable editable-click">{{k}}</a></td>
                                    <td><a href="javascript:void(0);" class=" edit-env-key enviromentKey key1 editable editable-click">{{k}}</a>
                                    </td>
                                    <td><a href="javascript:void(0);"
                                           class="edit-env-val enviromentValue value1 editable editable-click">{{v}}</a></td>
                                    <td><img class="rubbish" src="/static/www/images/rubbish.png"></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="addContent" style="display: none">
                                    <td>
                                        <input type="text" class="enviroName">
                                    </td>
                                    <td>
                                        <input type="text" class="enviroKey" placeholder="变量名由大写字母与数字组成且大写字母开头">
                                    </td>
                                    <td>
                                        <input type="text" class="enviroValue">
                                    </td>
                                    <td class="operation">
                                        <button type="button" class="addEnviroment btn btn-success btn-sm"><i class="fa fa-check"></i></button>
                                        <button type="button" class="noAddEnviroment btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <p class="text-right">
                            <a href="javascript:;" class="openAddEnviroment">新增环境变量</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <!-- 环境变量  end -->
            <!-- 文件存储 -->
            <div class="modulebox clearfix fn-modulebox">
                <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">文件存储</label>
                    <div class="col-sm-8 text-right">
                        <a href="javascript:;" class="showlink fn-showlink"><cite>展开</cite><span class="glyphicon glyphicon-chevron-down"></span></a>
                    </div>
                </div>
                <div class="form-group clearfix fn-showblock" >
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-8">
                        <table class="table fn-tabbox">
                            <thead class="fn-tabtit">
                                <tr class="active">
                                    <th>挂载目录</th>
                                    <th>应用名称</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody class="contentBlock fn-tabcenter">
                                {% for volume in service.volumes %}   
                                    <td>
                                        /app/{{volume}}
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <span class="addCatalogue btn btn-success btn-sm"><i class="fa fa-check"></i></span>
                                        <span class="noAddCatalogue btn btn-danger btn-sm"><i class="fa fa-times"></i></span>
                                    </td>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                {% for volume in service.volumes %}  
                                <tr> 
                                    <td colspan="4">
                                        <cite style="color: #303030">已有挂在目录</cite>/app/{{volume}}
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr class="catalogue" id="{{service.service_id}}">
                                    <td>
                                        /app/<input type="text" class="catalogueContent" placeholder="请输入目录"/>
                                    </td>
                                    <td><input type="text" class="catalogueName" placeholder="请输入挂载名称"></td>
                                    <td>
                                        <select id="{{service.service_id}}_statebox">
                                            <option value="share-file">共享存储(文件)</option>
                                            <option value="memoryfs">内存文件存储</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span class="addCatalogue btn btn-success btn-sm" id="{{service.service_id}}_addCatalogue"><i class="fa fa-check"></i></span>
                                        <span class="noAddCatalogue btn btn-danger btn-sm"><i class="fa fa-times"></i></span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <p class="text-right">
                            <a href="javascript:;" class="addCata">为当前应用新设持久化目录</a>
                        </p>
                        <!-- 
                         <div class="contentBlock">
                            <ul class="clearfix">
                                {% for volume in service.volumes %}
                                <li>/app/{{volume}}</li>
                                {% endfor %}
                            </ul>
                            <p class="catalogue" id="{{service.service_id}}">
                                /app/<input type="text" class="catalogueContent">
                                <input type="text" class="catalogueName" placeholder="请输入挂载名称">
                                <select id="{{service.service_id}}_state">
                                    <option value="share-file">共享存储(文件)</option>
                                    <option value="memoryfs">内存文件存储</option>
                                </select>
                                <span class="addCatalogue lit-btn-green" id="{{service.service_id}}_addCatalogue"><i class="fa fa-check"></i></span>
                                <span class="noAddCatalogue lit-btn-red"><i class="fa fa-times"></i></span>
                                <span class="checkTip" style="margin-left: 20px">请输入目录</span>
                            </p>
                            <p class="text-right">
                                <a href="javascript:;" class="addCata">为当前应用新设持久化目录</a>
                            </p>
                        </div>
                         -->
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <!-- 文件存储 -->
            
            <!--依赖服务 start -->
            {% if service.depends_on|length > 0 or service.links|length > 0 %}
            <div class="modulebox clearfix fn-modulebox">
                <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">服务依赖</label>
                    <div class="col-sm-8 text-right">
                        <a href="javascript:;" class="showlink fn-showlink"><cite>展开</cite><span class="glyphicon glyphicon-chevron-down"></span></a>
                    </div>
                </div>
                <div class="form-group clearfix fn-showblock">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-8">
                        <table class="table">
                            <thead>
                                <tr class="active">
                                    <th>依赖</th>
                                </tr>
                            </thead>
                            <tbody class="depends_service">
                                {% for dep in service.depends_on %}
                                <tr><td>{{dep}}</td></tr>
                                {% endfor %}
                                {% for link in service.links %}
                                <tr><td>{{link}}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <!--
            <h4 class="column-tit">服务依赖</h4>
            <div class="serviceBlock">
                <div class="contentBlock">
                    <ul class="depends_service">
                        {% for dep in service.depends_on %}
                        <li>{{dep}}</li>
                        {% endfor %}
                        {% for link in service.links %}
                        <li>{{link}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            -->
            {% endif %}
            <!--依赖服务 end-->
            <!-- 启动命令 start -->
            <div class="modulebox clearfix fn-modulebox">
                <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">启动命令</label>
                    <div class="col-sm-8 text-right">
                        <a href="javascript:;" class="showlink fn-showlink"><cite>展开</cite><span class="glyphicon glyphicon-chevron-down"></span></a>
                    </div>
                </div>
                <div class="form-group clearfix fn-showblock">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-8">
                        <textarea rows="4" cols="60" class="order" >{% if service.command %}{{service.command}}{% endif %}</textarea>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <!--
            <div class="serviceBlock">
                <h4 class="column-tit">启动命令</h4>
                <textarea rows="4" cols="60" class="order" >{% if service.command %}{{service.command}}{% endif %}</textarea>
            </div>
            -->
            <!-- 启动命令 end -->
        </section>
        {% endfor %}
        <!-- 01-->
       
        <!-- 提交 start -->
        <div class="build-app-btn text-center">
            <button href="javascript:;" type="button" class="btn btn-danger" id="pre_page" style="margin:50px 10px;">上一页</button>
            {% if not parse_error %}
            <button href="javascript:;" type="button" class="btn  btn-success" id="build-app" style="margin:50px 10px;">建立一组应用</button>
            {% endif %}
        </div>
        <!-- 提交 end -->
        <!-- end -->
    </form>
    </div>
    </section>
</section>
{% endblock %}
