f{% extends 'www/raster.html' %} {% load i18n %} 
{% load staticfiles %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/base.css" %}' />
<link rel="stylesheet" href='{% static "www/css/newappstep.css" %}' />
{% endblock %}
{% block main-content%}
<section class="wrapper site-min-height">
	<!-- page start-->
	<!--
	<section class="panel">
		<div class="panel-body">
			<div class=" form">
				<form class="cmxform form-horizontal tasi-form" id="commentForm"
					method="post" action="" novalidate="novalidate">
					<input type="hidden" id="tenantName" name="tenantName" value="{{tenantName}}" />
					<input type="hidden" id="service_name" name="service_name" value="{{tenantService.service_alias}}" />
					<input type="hidden" id="language" name="language" value="{{tenantService.language}}" />
					<div class="form-group">
						<div class="col-lg-12 text-center">
								<img src="/static/www/img/step-4.png" width="80%" style="padding-bottom: 50px;padding-top: 30px;"/>
						</div>
					</div>
					{% if dependencyData.runtimes = "false" %}
					<div class="form-group ">
						<div class="col-lg-2">
							<label class="control-label"> 版本 </label>
						</div>
						<div class="col-lg-4">
							<select class="form-control" id="service_version" name="service_version">
								<option value='1.6'>openjdk 1.6.0_27</option>
								<option value='1.7'>openjdk 1.7.0_79</option>
								<option value='1.8' selected="selected">openjdk 1.8.0_40(默认)</option>
							</select>
						</div>
					</div>
					{% endif %}
					{% if dependencyData.procfile = "false" %}
					<div class="form-group">
						<label class="col-sm-2 control-label col-lg-2" for="inputSuccess">web服务器</label>
						<div class="col-lg-4">
							<select class="form-control" id="service_server" name="service_server">
								<option value="tomcat7" selected="selected">tomcat 7（默认）</option>
								<option value="tomcat8">tomcat 8</option>

								<option value="jetty7">jetty 7.5</option>
							</select>
						</div>
					</div>
					{% endif %}
					<div class="col-lg-offset-3 col-lg-6 " style="padding-top: 50px;padding-bottom: 20px;">
						<button type="button" id="language_btn" class="btn btn-lg btn-info btn-block">完成</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	-->
	<!-- page end-->
	<!-- -->
	<section class="main-box">
		<h3 class="main-tit">新建自定义应用</h3>
        <div class="app-step clearfix">
            <p><span>1</span><cite>创建应用</cite></p>
            <p><span>2</span><cite>代码同步</cite></p>
            <p><span>3</span><cite>应用设置</cite></p>
            <p class="sed"><span>4</span><cite>高级选项</cite></p>
        </div>
        <form id="commentForm" method="post" action="" novalidate="novalidate">
			<input type="hidden" id="tenantName" name="tenantName" value="{{tenantName}}" />
			<input type="hidden" id="service_name" name="service_name" value="{{tenantService.service_alias}}" />
			<input type="hidden" id="language" name="language" value="{{tenantService.language}}" />
			<div class="infor-fm-box">
				{% if dependencyData.runtimes = "false" %}
				<div class="fm-select clearfix">
                    <label>版本</label>
                    <select class="form-control" id="service_version" name="service_version">
						<option value='1.6'>openjdk 1.6.0_27</option>
						<option value='1.7'>openjdk 1.7.0_79</option>
						<option value='1.8' selected="selected">openjdk 1.8.0_40(默认)</option>
					</select>
                </div>
                {% endif %}
                {% if dependencyData.procfile = "false" %}
                <div class="fm-select clearfix">
                    <label>web服务器</label>
                    <select class="form-control" id="service_server" name="service_server">
						<option value="tomcat7" selected="selected">tomcat 7（默认）</option>
						<option value="tomcat8">tomcat 8</option>
						<option value="jetty7">jetty 7.5</option>
					</select>
                </div>
                {% endif %}
			</div>
			<div class="infor-fm-box">
				<div class="fm-btn clearfix">
                    <a class="greenbtn"  style="cursor: pointer;" id="language_btn">下一步</a>
                </div>
            </div>
		</form>
    </section>
	<!-- -->
</section>
{% endblock %}
