{% extends 'www/raster.html' %}
{% load i18n %}
{% load staticfiles %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/newapp.css" %}' />
{% endblock %}
{% block extrajs %}
<script src='{% static "www/js/newapp.js" %}'></script>
{% endblock %}

{% block main-content%}
<section class="wrapper site-min-height">
        <ul {% if CUSTOM_CONFIG.GITLAB_SERVICE_API %} class="newapp-link-box clearfix" {% else %} class="newapp-link-box clearfix  showlink" {% endif %}>
            <li>
                <p class="newapp-tit">从源码开始&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size:12px;" href="/apps/o2o/app-create/?type=gitlab_demo">官方示例Demo</a></p>
                <p class="newapp-link clearfix">
                    <a href="/apps/{{tenantName}}/app-create/?type=gitlab_manual"><span><em class="addressicon"></em><cite>公开Git</cite><cite class="littext">代码可fork的公开仓库</cite></span></a>
                    <a href="/apps/{{tenantName}}/app-create/?type=gitlab_self"><span><em class="goodcodeicon"></em><cite>私有Git</cite><cite class="littext">自行搭建的代码仓库</cite></span></a>
                    {% if CUSTOM_CONFIG.GITHUB_SERVICE_API %}
                        <a href="/apps/{{tenantName}}/app-create/?type=github"><span><em class="githubicon"></em><cite>GitHub</cite><cite class="littext">使用GitHub的代码仓库</cite></span></a>
                    {% endif %}
                    {% if CUSTOM_CONFIG.GITLAB_SERVICE_API %}
                        <a href="/apps/{{tenantName}}/app-create/?type=gitlab_exit"><span><em class="demoicon"></em><cite>好雨Git</cite><cite class="littext">使用好雨的代码仓库</cite></span></a>
                    {% endif %}
					<!--2017-04-01 by xujinghua
                    <a href="/apps/{{tenantName}}/app-create/?type=gitlab_demo"><span><em class="demoicon2"></em><cite>Demo</cite><cite class="littext">多种语言的示例代码</cite></span></a>
					-->
                </p>
            </li>
            <li> 
                <p class="newapp-tit">从Docker镜像开始</p>
                <p class="newapp-link clearfix">
                    <a href="/apps/{{tenantName}}/image-create/"><span><em class="dockericon"></em><cite>指定镜像地址</cite><cite class="littext">从镜像构建应用</cite></span></a>
                    <a href="/apps/{{tenantName}}/compose-create/"><span><em class="composeicon"></em><cite>上传compose文件</cite><cite class="littext">部署一组应用</cite></span></a>
                </p>
            </li>
        </ul>
        <section class="app-market-box">
            <p class="newapp-tit">从应用市场开始</p>
            <div class="app-market" id="app-market">
                <p class="tab-tit" id="tab-tit">
                    <a href="/apps/{{tenantName}}/service-entrance/?fr=hot"{% if fr = "hot" %} class="sed" {% endif %}>热门应用</a>
                    <a href="/apps/{{tenantName}}/service-entrance/?fr=deploy"{% if fr = "deploy" %} class="sed" {% endif %}>最近部署的应用</a>
                    <a href="/apps/{{tenantName}}/service-entrance/?fr=new"{% if fr = "new" %} class="sed" {% endif %}>最新应用</a>
                    <a href="/apps/{{tenantName}}/service-entrance/?fr=private" {% if fr = "private" %}class="sed"{% endif %}>分享的应用</a>
                    {% if not is_private %}
                    <a href="/apps/{{tenantName}}/service-entrance/?fr=thirdApp"{% if fr = "thirdApp" %}class="sed"{% endif %}>第三方应用</a>
                    {% endif %}
                </p>
                <ul>
                    {% if fr = "thirdApp" %}
                    <li style="display: block;" class="clearfix">
                        <p><a href="/apps/{{tenantName}}/third_app/upai_cdn/create">又拍云CDN</a></p>
                        <p><a href="/apps/{{tenantName}}/third_app/upai_oos/create">又拍云对象存储</a></p>
                        <p style="display: none"></p>
                    </li>
                    {% else %}
                    <li style="display: block;" class="clearfix">
                        {% for service in service_list %}
                        {% if forloop.counter < 12 %}
                        {% if fr == "private" %}
                        <p><a href="javascript:;" onclick="service_create('{{tenantName}}','{{service.service_key}}', '{{service.app_version}}')"><span {% if service.status = "private" %}class="tuanicon" {% else %}class="gongicon"{% endif %}></span><span>{{service.app_alias}}</span>&nbsp;&nbsp;<span>{{service.app_version}}</span></a></p>
                        {% else %}
                        <p><a href="javascript:;" onclick="service_create('{{tenantName}}','{{service.service_key}}', '{{service.app_version}}')"><span>{{service.service_name}}</span>&nbsp;&nbsp;<span>{{service.version}}</span></a></p>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <!--公有云跳转到云市-->
                        {% if not is_private and cloud_assistant == 'goodrain' %}
                        {% if fr = "hot" %}
                        <p><a href="http://app.goodrain.com/category/0/?order_by=download" target="_blank">更多应用</a></p>
                        {% endif %}
                        {% if fr = "deploy" %}
                        <p><a href="http://app.goodrain.com/category/0/?order_by=download" target="_blank">更多应用</a></p>
                        {% endif %}
                        {% if fr = "new" %}
                        <p><a href="http://app.goodrain.com/category/0/?order_by=newest" target="_blank">更多应用</a></p>
                        {% endif %}
                        {% if fr = "private" %}
                        <p id="no-show-list" style="display: none;">还没分享过应用，<a href="http://www.kancloud.cn/good-rain/share2market/198574" target="_blank">点击这里查看如何分享。</a></p>
                        {% endif %}
                        {% else %}
                        <!--社区版和企业版调到原有的应用市场-->
                        <p><a href="/apps/{{tenantName}}/service/?fr={{fr}}">更多应用</a></p>
                        {% endif %}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </section>
<script>
    $(function(){
        if($("#no-show-list")){
            var oP = $("#app-market ul li p");
            var oLength = oP.length;
            if(oLength == 1){
                $("#no-show-list").show();
            }else{
                $("#no-show-list").hide();
            } 
        }       
    });
</script>
</section>
{% endblock %}