{% extends 'www/raster.html' %}
{% load i18n %}
{% load staticfiles %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/newapp.css" %}' />
{% endblock %}
{% block extrajs %}
<script src='{% static "www/js/newapp.js" %}'></script>
{% endblock %}

{% block main-content%}
<section class="wrapper site-min-height">
        <ul class="newapp-link-box clearfix">
            <li>
                <p class="newapp-tit">从源码开始</p>
                <p class="newapp-link clearfix">
                    <a href="/apps/{{tenantName}}/app-create/?type=gitlab_manual"><span><em class="addressicon"></em><cite>公开项目</cite><cite class="littext">代码可直接 fork</cite></span></a>
                    <a href="/apps/{{tenantName}}/app-create/?type=gitlab_manual"><span><em class="goodcodeicon"></em><cite>自建Git</cite><cite class="littext">自行搭建的代码仓库</cite></span></a>
                    <a href="/apps/{{tenantName}}/app-create/?type=github"><span><em class="githubicon"></em><cite>关联GitHub</cite><cite class="littext">授权获取你的代码仓库</cite></span></a>
                    <a href="/apps/{{tenantName}}/app-create/?type=gitlab_exit"><span><em class="demoicon"></em><cite>好雨Git</cite><cite class="littext">在好雨创建的代码仓库</cite></span></a>
                    <a href="/apps/{{tenantName}}/app-create/?type=gitlab_demo"><span><em class="demoicon2"></em><cite>Demo</cite><cite class="littext">多种语言的示例代码</cite></span></a>
                </p>
            </li>
            <li> 
                <p class="newapp-tit">从Docker镜像开始</p>
                <p class="newapp-link clearfix">
                    <a href="/apps/{{tenantName}}/image-create/"><span><em class="dockericon"></em><cite>指定镜像地址</cite><cite class="littext">指定镜像地址及版本</cite></span></a>
                    <a href="/apps/{{tenantName}}/compose-create/"><span><em class="composeicon"></em><cite>上传compose文件</cite><cite class="littext">部署一组应用</cite></span></a>
                </p>
            </li>
        </ul>
        <section class="app-market-box">
            <p class="newapp-tit">从应用市场开始</p>
            <div class="app-market" id="app-market">
                <p class="tab-tit" id="tab-tit">
                    <a href="/apps/{{tenantName}}/service-entrance/?fr=private" {% if fr = "private" %}class="sed"{% endif %}>分享的应用</a>
                    <a href="/apps/{{tenantName}}/service-entrance/?fr=deploy"{% if fr = "deploy" %} class="sed" {% endif %}>最近部署的应用</a>
                    <a href="/apps/{{tenantName}}/service-entrance/?fr=hot"{% if fr = "hot" %} class="sed" {% endif %}>热门应用</a>
                    <a href="/apps/{{tenantName}}/service-entrance/?fr=new"{% if fr = "new" %} class="sed" {% endif %}>最新应用</a>
                </p>
                <ul>
                    <li style="display: block;" class="clearfix" fr="private">
                        {% for service in service_list %}
                            {% if fr == "private" %}
                                <p><a href="javascript:;" onclick="service_create('{{tenantName}}','{{service.service_key}}', '{{service.app_version}}')"><span {% if service.status = "private" %}class="tuanicon" {% else %}class="gongicon"{% endif %}></span><span>{{service.app_alias}}</span><span>{{service.app_version}}</span></a></p>
                            {% else %}
                                <p><a href="javascript:;" onclick="service_create('{{tenantName}}','{{service.service_key}}', '{{service.app_version}}')"><span>{{service.service_name}}</span><span>{{service.version}}</span></a></p>
                            {% endif %}
                        {% endfor %}
                        <!--公有云跳转到云市-->
                        {% if not is_private and cloud_assistant == 'goodrain' %}
                        <p><a href="http://app.goodrain.com" target="_blank">更多应用</a></p>
                        {% else %}
                        <!--社区版和企业版调到原有的应用市场-->
                        <p><a href="/apps/{{tenantName}}/service/?fr={{fr}}">更多应用</a></p>
                        {% endif %}
                    </li>

                </ul>
            </div>
        </section>

</section>
{% endblock %}