{% extends 'www/raster.html' %} {% load i18n %} {% block main-content%}
<section class="wrapper site-min-height">
	<section class="panel">
		<div class="panel-body">
			<div class=" form">
				<form class="cmxform form-horizontal tasi-form" id="commentForm"
					method="post" action="" novalidate="novalidate">
					<input type="hidden" id="tenantName" name="tenantName" value="{{tenantName}}" />
					<input type="hidden" id="service_name" name="service_name" value="{{tenantService.service_alias}}" />
					<input type="hidden" id="language" name="language" value="{{tenantService.language}}" />
					<div class="form-group">
						<div class="col-lg-12 text-center">
								<img src="/static/www/img/step-4.png" />
							<div
								class="col-lg-offset-3 col-lg-6 alert text-center alert-default fade in">

								<h3>
									代码语言： <strong>Java Maven项目</strong>
								</h3>
							</div>
						</div>
					</div>
					<div class="form-group ">
						<div class="col-lg-2">
							<label class="control-label"> 版本 </label>
						</div>
						<div class="col-lg-4">
							<select class="form-control" id="service_version" name="service_version">
								<option value='1.6'>openjdk 1.6.0_27</option>
								<option value='1.7'>openjdk 1.7.0_79</option>
								<option value='1.8' selected="selected">openjdk 1.8.0_40(默认)</option>
							</select>
						</div>
					</div>
					<div class="col-lg-offset-3 col-lg-6 ">
						<button type="button" id="language_btn" class="btn btn-lg btn-info btn-block">完成</button>
					</div>
				</form>
			</div>


		</div>
	</section>
</section>
{% endblock %}
