{% extends 'www/raster.html' %}
{% load i18n %}
{% load staticfiles %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/newappstep.css" %}' />
{% endblock %}
{% block extrajs %}
<script src='{% static "www/js/newapp.js" %}'></script>
{% endblock %}

{% block main-content%}

<section class="wrapper site-min-height">
    <section class="main-box">
        <input type="hidden" id="tenantNameValue" value="{{tenantName}}">
        <div class="app-step clearfix two">
            <p class="sed"><span>1</span><cite>提交compose文件</cite></p>
            <p><span>2</span><cite>设置应用参数</cite></p>
        </div>
        <form id="myForm">
            <div class="infor-fm-box">
                <span>暂不支持docker-compose的build命令</span>
                <div class="fm-input-text clearfix">
                    <label>compose文件</label><input id="compose_file" type="file" name="compose_file" />
                </div>
                <div class="fm-btn clearfix">
                        <a class="greenbtn" id="nextcomposestep" style="cursor: pointer;">下一步</a>
                </div>
            </div>
        </form>
    </section>
</section>
{% endblock %}
