{% extends 'www/raster.html' %}
{% load i18n %}
{% load staticfiles %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/base.css" %}' />
<link rel="stylesheet" href='{% static "www/css/newapp.css" %}' />
<link rel="stylesheet" href='{% static "www/css/newappstep.css" %}' />
{% endblock %}


{% block main-content%}

<section class="wrapper site-min-height">
    <section class="main-box">
        <input type="hidden" id="currentTeantName" name="currentTeantName" value="{{tenantName}}" />
        <input type="hidden" id="service_code_from" name="service_code_from" value="{{cur_type}}">
        <input type="hidden" id="service_code_clone_url" name="service_code_clone_url" value="">
        <input type="hidden" id="service_code_version" name="service_code_version" value="">
        <input type="hidden" id="service_code_id" name="service_code_id" value="">
            <!--单价信息-->
        <input type="hidden" id="pre_paid_memory_price" name="pre_paid_memory_price" value="{{pre_paid_memory_price}}">
        <input type="hidden" id="post_paid_memory_price" name="post_paid_memory_price" value="{{post_paid_memory_price}}">
        <input type="hidden" id="pre_paid_disk_price" name="pre_paid_disk_price" value="{{pre_paid_disk_price}}">
        <input type="hidden" id="post_paid_disk_price" name="post_paid_disk_price" value="{{post_paid_disk_price}}">
        <input type="hidden" id="post_paid_net_price" name="post_paid_net_price" value="{{post_paid_net_price}}">
        <!--是否为付费用户-->
        <input type="hidden" id="is_tenant_free" name="is_tenant_free" value="{{is_tenant_free}}">
        <input type="hidden" id="image_url" value="{{image_url}}">
        <input type="hidden" id="tenantNameValue" value="{{tenantName}}">
        <input type="hidden" id="compose_file_id" value="{{compose_file_id}}">
        <input type="hidden" id="parse_error" value="{{parse_error}}">
        <input type="hidden" id="compose_relations" value="{{compose_relations}}">
        <div class="app-step clearfix two">
            <p class="sed"><span>1</span><cite>提交compose文件</cite></p>
            <p><span>2</span><cite>设置应用参数</cite></p>
        </div>
        <!-- main start -->
        <form id="myFormTwo">
            <input type="hidden" id="compose_relations" value="{{compose_relations}}">
            <!-- tab tit -->
            <div class="tablink">
                <a href="javascript:;" class="sed">总览</a>
                {% for service in service_list %}
                <a href="javascript:;" >{{service.name}}</a>
                {% endfor %}
            </div>
            <!-- tab tit -->
            <!-- 切换 start -->
            <!-- 总览  -->
            <section id="overview" class="fn-app-box" style="display: block;">
                <div class="view-svg" id="view-svg">
                    
                </div>
            </section>
            {% for service in service_list %}
            <input type="hidden" name="depends_on" value="{{service.depends_on}}">
            <input type="hidden" name="image" value="{{service.image}}">
            <section id="{{service.service_id}}" service_cname="{{service.name}}" service_image="{{service.image}}" class="fn-app-box fn-circle"  style="none: block;" >
                <h4 class="step-tit">启动命令</h4>
                <div class="fm-input-textarea clearfix">
                    <label for="create_app_name">启动命令</label>
                    <textarea rows="4" class="order" id="{{service.service_id}}_order"></textarea>
                </div>
            </section>
            {% endfor %}
            <!--  error  -->
            {% if parse_error %}
            <section>
                <h4> 解析出错</h4>
                <h5>{{parse_error_info}}</h5>
            </section>
            {% endif %}
            <!-- 切换 end -->
            <!-- 提交 start -->
            <div class="build-app-btn">
                <button class="btn btn-info" id="pre_page3">上一页</button>
                <button class="btn  btn-success" id="compose4">建立一组应用</button>
            </div>
            <!-- 提交 end -->
        </form>
        <!-- main end -->
    </section>
</section>
<script>


    /////切换
    $(".tablink a").click(function(){
        var num = $(this).index();
        $(".tablink a").removeClass("sed");
        $(this).addClass("sed");
        $("section.fn-app-box").hide();
        $("section.fn-app-box").eq(num).show();
    });

    $("#view-svg g").click(function(){
        var oHtml = $(this).find("text").html();
        console.log(oHtml);
        var num;
        $(".tablink a").each(function(){
            var oText = $(this).html();
            if(oText == oHtml){
                num = $(this).index();
                //console.log(num);
            }
        });
        $(".tablink a").removeClass("sed");
        $(".tablink a").eq(num).addClass("sed");
        $("section.fn-app-box").hide();
        $("section.fn-app-box").eq(num).show();
    });
    $("#pre_page3").click(function () {
        var compose_file_id = $("#compose_file_id").val();
        var tenantName = $("#tenantNameValue").val();
        url = "/apps/"+tenantName+"/compose-create?id="+compose_file_id;
        window.location.href = url
    })

    ///// 提交
    $("#compose4").click(function(){
        $(this).attr('disabled',true);
        var secbox= $(".fn-circle");
        var secdate = [];
        $(secbox).each(function(){
            var appid = $(this).attr("id");
            var order = $("#" +appid+ "_order").val();
            var this_json={
                "service_id" : appid,
                "order" : order              
            }
            //console.log(this_json);
            secdate.push(this_json);
        });
        console.log(secdate);
        //
        var tenantName = $("#tenantNameValue").val();
        var compose_group_name = $("#com-name").val();
        
        ///
        $.ajax({
            type: "post",
            url: "/apps/"+tenantName+"/compose-params/",
            dataType: "json",
            data: {
                    "service_configs":JSON.stringify(secdate),
                    },
            beforeSend : function(xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success:function(data){
                status = data.status;
                if (status == 'success'){
                    window.location.href="/apps/"+tenantName +"/"
                }else if (status == "failure"){
                    swal("数据中心初始化失败");
                }else if (status == "owed"){
                    swal("余额不足请及时充值");
                }else if (status =="expired"){
                    swal("试用期已过");
                }else if(status =="over_memory"){
                    swal("资源已达上限,无法创建");
                }else if(status == "over_money"){
                    swal("余额不足无法创建");
                }else{
                    swal("创建失败")
                }
            },
            error: function() {
                $(this).attr('disabled',false);
            },
            cache: false
            // processData: false
        });
        
        ///
    });
    ///////  
</script>
{% endblock %}
