{% extends 'www/raster.html' %}
{% load i18n %}
{% load staticfiles %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/base.css" %}' />
<link rel="stylesheet" href='{% static "www/css/newappstep.css" %}' />
{% endblock %}
{% block extrajs %}
<script src='{% static "www/js/newappstep.js" %}'></script>
{% endblock %}

{% block main-content%}
<section class="wrapper site-min-height">
    <!-- new app build start -->
	<section class="main-box">
		<h3 class="main-tit">创建自研应用</h3>
        <div class="app-step clearfix">
            <p class="sed"><span>1</span><cite>创建应用</cite></p>
            <p><span>2</span><cite>代码同步</cite></p>
            <p><span>3</span><cite>应用设置</cite></p>
            <p><span>4</span><cite>高级选项</cite></p>
        </div>
        <form id="commentForm" method="post" action="" novalidate="novalidate">
            <input type="hidden" id="currentTeantName" name="currentTeantName" value="{{tenantName}}" />
            <input type="hidden" id="service_code_from" name="service_code_from" value="{{cur_type}}">
            <input type="hidden" id="service_code_clone_url" name="service_code_clone_url" value="">
            <input type="hidden" id="service_code_version" name="service_code_version" value="">
            <input type="hidden" id="service_code_id" name="service_code_id" value="">
            <!--单价信息-->
            <input type="hidden" id="pre_paid_memory_price" name="pre_paid_memory_price" value="{{pre_paid_memory_price}}">
            <input type="hidden" id="post_paid_memory_price" name="post_paid_memory_price" value="{{post_paid_memory_price}}">
            <input type="hidden" id="pre_paid_disk_price" name="pre_paid_disk_price" value="{{pre_paid_disk_price}}">
            <input type="hidden" id="post_paid_disk_price" name="post_paid_disk_price" value="{{post_paid_disk_price}}">
            <input type="hidden" id="post_paid_net_price" name="post_paid_net_price" value="{{post_paid_net_price}}">
			<!--是否为付费用户-->
            <input type="hidden" id="is_tenant_free" name="is_tenant_free" value="{{is_tenant_free}}">
            <!-- 基本信息  start-->
			<div class="infor-fm-box">
				<h4 class="step-tit" style="display: none;">基本信息</h4>
				<div class="fm-input-text clearfix">
                    <label for="create_app_name">应用名</label><input type="text" id="create_name" name="create_name" value="" placeholder="给应用取个名字，支持中英文。"  />
                </div>
                <p class="fm-tips" id="create_name_notice">请输入应用名！</p>
                <div class="fm-select clearfix">
                    <label>选择分组</label>
                    <select id="group-name" name="select_group_id">
                        <option value="-1">不分组</option>
                        {% for group in groupList %}
                        <option value="{{group.ID}}" >{{group.group_name}}</option>
                        {% endfor %}
                        <option value="-2">新建组</option>
                    </select>
                </div>
                <!-- 01 公开项目 -->
                {% if cur_type == "gitlab_manual" %}
                <span style="display: none"; data-action="gitlab_manual" class="fn-way"></span>
                <div class="fm-input-text clearfix">
                    <label>代码源</label><input type="text" name="" value="" placeholder="请输入一个公开项目的 Git 地址。"  id="service_code_url" />
                </div>
                <p class="fm-tips" id="service_code_url_tips">代码仓库地址不能为空！</p>
                <div class="fm-input-text clearfix">
                    <label>代码版本</label><input type="text" name="" value="master" placeholder="" class="fn-code-branch" />
                </div>
                <p class="fm-tips fn-code-tips">代码版本不能为空！</p>
                {% endif %}
                <!-- 01 -->
                <!--  02 自建Git start-->
                {% if cur_type == "gitlab_self" %}
                <span style="display: none"; data-action="gitlab_self" class="fn-way"></span>
                <div class="fm-input-text clearfix">
                    <label>自建Git</label><input type="text" name="" value="" placeholder="请输入自建 Git 的代码仓库地址。" id="my_git_url" class="fn-tips" data-tips="请将下方授权key添加到自建 Git 用户的 ssh 列表中，授权平台可以获取您的代码，如已添加，请略过。" />
                </div>
                <p class="fm-tips" id="my_git_url_tips" class="fn-code-branch">代码仓库地址不能为空！</p>
                <div class="fm-input-text clearfix">
                    <label>代码版本</label><input type="text" name="" value="master" placeholder="" class="fn-code-branch"  />
                </div>
                <p class="fm-tips fn-code-tips" >代码版本不能为空！</p>
                <div class="code-box clearfix">
                     <label> </label>
                     <p>
                        <span>授权key：</span>
                        <cite>ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCy97mlKJo1xPoDYejmeK0bMhM6O/leVuLF/U0ry/NLWatfkl1R69NIX6TpW/hVFjGXRZTz56V37jLOVQWq24dQaLIXyFqxZwJnakZzX/b6K3sKb6Y+dDZdktcPEVLUQPWHs6gm0tUgbvgywulEVuTgAt5fYwa1rG48zmgCHlU4a6jWT8iQ9D2Lqpf4ZYZnUOOGB6AmaABfCBSCFDj8ihIz00Hp77s42gxRhn/iQJE9ZrDYWnxN0cUAxvLpB1jCANFR4Zc5FslHUp4tLVNMdDeqi8OPZMj4G6yWclwa3Uqfu7yd3gqik4nI1jaRLL9Lq/2GgA20MvCFWqtvcBJ2Tcv1 builder</cite>
                     </p>
                </div>
                {% endif %}
                <!-- 02 自建Git end -->
                <!--  03 关联Github start-->
                {% if CUSTOM_CONFIG.GITHUB_SERVICE_API %}
                {% if cur_type == "github" %}
                <span style="display: none"; data-action="github" class="fn-way"></span>
                <p id="waiting">仓库连接中，请稍候......</p>
                <section id="Githubbox">
                    <div class="fm-select clearfix">
                        <label>Github 项目</label>
                        <select id="code_github_list">
                            <option value="-1" data="-1">请选择一个项目</option>
                        </Select>
                    </div>
                    <div class="fm-select clearfix">
                        <label>版本</label>
                        <select id="gh_branch">
                            <option value="-1" data="-1">请先选择项目</option>
                        </Select>
                    </div>
                </section>
                {% endif %}
                {% endif %}
                <!--  03 关联Github end-->
                <!--  04 好雨Git已有项目 start-->
                {% if CUSTOM_CONFIG.GITLAB_SERVICE_API %}
                	{% if cur_type == "gitlab_exit" %}
                <span style="display: none"; data-action="gitlab_exit" class="fn-way"></span>
                <p id="waiting">仓库连接中，请稍候......</p>
                <section id="gitlabbox">
                    <div class="fm-select clearfix">
                        <label>好雨 Git 项目</label>
                        <select id="code_gr_list">
                            <option value="-1" data="-1">请选择一个项目</option>
                        </Select>
                    </div>
                    <div class="fm-select clearfix" id="gr_branchbox">
                        <label>版本</label>
                        <select id="gr_branch">
                            <option value="-1" data="-1">请先选择项目</option>
                        </Select>
                    </div>
                </section>
                	{% endif %}
                {% endif %}
                <!--  04 好雨Git已有项目 end-->
                <!--  05 Demo start-->
                {% if cur_type == "gitlab_demo" %}
                <span style="display: none"; data-action="gitlab_demo" class="fn-way"></span>
                <div class="fm-select clearfix">
                    <label>Demo</label>
                    <select id="Democode">
                        <option value="http://code.goodrain.com/demo/2048.git">2048小游戏</option>
                        <option value="http://code.goodrain.com/demo/static-hello.git">静态Web：hello world !</option>
                        <option value="http://code.goodrain.com/demo/php-hello.git">PHP：hello world !</option>
                        <option value="http://code.goodrain.com/demo/python-hello.git">Python：hello world !</option>
                        <option value="http://code.goodrain.com/demo/nodejs-hello.git">node.js：hello world !</option>
                        <option value="http://code.goodrain.com/demo/go-hello.git">Golang：hello world !</option>
                        <option value="http://code.goodrain.com/demo/java-spring-boot-demo.git">java-spring-boot-demo</option>
                    </Select>
                </div>
                <div class="fm-select clearfix" style="display: none;">
                    <label>版本</label>
                    <select id="Demobranch">
                        <option value="master">master</option>
                    </Select>
                </div>
                {% endif %}
                <!--  05 Demo end -->
			</div>
			<!-- 基本信息 end -->
			<!-- 配套信息 start -->
            <div class="infor-fm-box" style="display: none;">
                <h4 class="step-tit">内存选项</h4>
                <!-- 01 -->
                <div class="fm-input-range clearfix fn-memory-node">
                    <label>单节点内存</label>
                    {% if is_tenant_free %}
                    <p class="range-box nouser fn-tips" data-tips="新用户单应用内存最大1G，全部应用总内存最大1G。付费用户无限制。">
                        <span class="renge-bg"></span>
                        <span class="range-choose fn-tips"><cite id="OneMemoryWid"></cite></span>
                        <input type="range" min="128" max="1024"  step="128" id="OneMemory" value="512"／>
                    </p>
                    <!-- user -->
                    {% else %}
                    <!-- no user -->
                    <p class="range-box fn-tips" data-tips="单应用内存最大8G，总内存无限。如需使用更多，请联系客服申请。">
                        <span class="renge-bg"></span>
                        <span class="range-choose"><cite id="OneMemoryWid"></cite></span>
                        <input type="range" min="128" max="8192"  step="128" id="OneMemory" value="512"／>
                    </p>
                    <!-- no user -->
                    {% endif %}
                    <span><cite id="OneMemoryText">512M</cite></span>
                </div>
                <div class="fm-input-range clearfix fn-memory-node">
                    <label>节点数</label>
                    {% if is_tenant_free %}
                    <p class="range-box nouser02 fn-tips" data-tips="新用户单应用只能创建1个节点，付费用户可创建100个节点。">
                        <span class="renge-bg"></span>
                        <span class="range-choose"><cite id="NodeWid"></cite></span>
                        <input type="range" min="1" max="1"  step="1" id="NodeNum" value="1"／>
                    </p>
                    <!-- user -->
                    {% else %}
                    <!-- no user -->
                    <p class="range-box fn-tips" data-tips="单应用最多可创建100个节点。如需创建更多，请联系客服申请。">
                        <span class="renge-bg"></span>
                        <span class="range-choose"><cite id="NodeWid"></cite></span>
                        <input type="range" min="1" max="100"  step="1" id="NodeNum" value="1"／>
                    </p>
                    <!-- no user -->
                    {% endif %}
                    <span><cite id="NodeText">1</cite>个</span>
                </div>
                <div class="fm-input-radio clearfix">
                    <label>内存使用方式</label>
                    <input type="radio" name="Memory" value="Before" id="MoneyBefore" />
                    <label class="radio-bg" for="MoneyBefore"></label>
                    <label for="MoneyBefore" class="radio-text fn-tips" data-tips="超出包月额度部分按小时扣费，包月时长用完自动转为按小时扣费。">包月包年（5折）</label>
                    <input type="radio" name="Memory" value="After" id="MoneyAfter" checked="true" />
                    <label class="radio-bg"  for="MoneyAfter"></label>
                    <label for="MoneyAfter" class="radio-text fn-tips" data-tips="按小时扣费。可随时转包月。">按小时扣费（<cite id="aft-memory"></cite>元/GB/小时）</label>
                </div>
            </div>
            <div class="infor-fm-box" style="display: none;">
                <h4 class="step-tit">磁盘选项</h4>
                <!-- 02 -->
                <div class="fm-choose-box clearfix">
                    <label>磁盘存储</label>
                    <div class="btn-cho-box clearfix">
                        <p class="clearfix"><input type="checkbox" id="fbscc" checked="true" disabled="true" /><label class="cho-bg" for="fbscc"></label><label for="fbscc" class="cho-text fn-tips" data-tips="默认免费支持，暂不可取消。">分布式存储</label></p>
                        <p class="clearfix"><input type="checkbox" id="ssd" checked="true"  disabled="true" /><label class="cho-bg" for="ssd"></label><label for="ssd" class="cho-text fn-tips" data-tips="默认免费支持，暂不可取消。">SSD</label></p>
                    </div>
                </div>
                <div class="fm-input-radio clearfix">
                    <label>磁盘使用方式</label>
                    <input type="radio" name="Disk" value="DiskAfter" id="DiskAfter"  checked="true"/>
                    <label class="radio-bg"  for="DiskAfter"></label>
                    <label for="DiskAfter" class="radio-text fn-tips" data-tips="免费额度可覆盖绝大部分应用，超出免费额度部分按小时扣费。可随时转包月。">300MB以内免费（超出部分<cite id="aft-disk"></cite>元/GB/小时）</label>
                    <input type="radio" name="Disk" value="DiskBefore" id="DiskBefore" />
                    <label class="radio-bg" for="DiskBefore"></label>
                    <label for="DiskBefore" class="radio-text fn-tips" data-tips="超出包月额度部分按小时扣费，包月时长用完自动转为按小时扣费。">包月包年</label>         
                </div>
                <div class="fm-input-range clearfix fn-disk" style="display: none;">
                    <label>包月额度</label>
                    {% if is_tenant_free %}
                    <p class="range-box nouser02 fn-tips" data-tips="新用户单应用最多可购买包月容量1G，付费用户1000G。">
                        <span class="renge-bg"></span>
                        <span class="range-choose"><cite id="DiskWid"></cite></span>
                        <input type="range" min="1" max="1"  step="1" id="Disk" value="1"／>
                    </p>
                    <!-- user -->
                    {% else %}
                    <!-- no user -->
                    <p class="range-box fn-tips" data-tips="单应用最多可购买包月容量1000G。如需购买更多，请联系客服申请。">
                        <span class="renge-bg"></span>
                        <span class="range-choose"><cite id="DiskWid"></cite></span>
                        <input type="range" min="1" max="1000"  step="1" id="Disk" value="1"／>
                    </p>
                    <!-- no user -->
                    {% endif %}
                    <span><cite id="DiskText">1</cite>G</span>
                </div>
            </div>
            <div class="infor-fm-box" style="display: none;">
                <h4 class="step-tit">网络选项</h4>
                <!-- 03 -->
                <div class="fm-input-radio clearfix">
                    <label>网络流量</label>
                    <input type="radio" name="flow" value="flow" id="flow" checked="true" />
                    <label class="radio-bg" for="flow"></label>
                    <label class="radio-text fn-tips" for="flow" data-tips="应用只有开放对外访问才会计算流量，目前仅支持按使用每小时扣费，请保持账户有一定余额。">按小时扣费（<cite id="aft-net"></cite>元/GB）</label>
                </div>
            </div>
            <div class="infor-fm-box" style="display: none;">
                <h4 class="step-tit">其他选项</h4>
                <!-- 04 -->
                <div class="fm-choose-box clearfix">
                    <label>计算资源</label>
                    <div class="btn-cho-box clearfix">
                        <p class="clearfix"><input type="checkbox" id="dlzy" checked="true" /><label class="cho-bg" for="dlzy"></label><label for="dlzy" class="cho-text fn-tips" data-tips="默认支持，现阶段免费使用。">独立资源</label></p>
                        <p class="clearfix"><input type="checkbox" id="fzjh" checked="true" /><label class="cho-bg" for="fzjh"></label><label for="fzjh" class="cho-text fn-tips" data-tips="默认支持，现阶段免费使用。">负载均衡</label></p>
                        <p class="clearfix"><input type="checkbox" id="txss" checked="true" /><label class="cho-bg" for="txss"></label><label for="txss" class="cho-text fn-tips" data-tips="默认支持，现阶段免费使用。">弹性伸缩</label></p>
                        <p class="clearfix"><input type="checkbox" id="sfkz" checked="true" /><label class="cho-bg" for="sfkz"></label><label for="sfkz" class="cho-text fn-tips" data-tips="默认支持，现阶段免费使用。">三份快照</label></p>
                    </div>
                </div>
                <div class="fm-choose-box clearfix">
                    <label>部署回滚</label>
                    <div class="btn-cho-box clearfix">
                        <p class="clearfix"><input type="checkbox" id="yjbs" checked="true" /><label class="cho-bg" for="yjbs"></label><label for="yjbs" class="cho-text fn-tips" data-tips="默认支持，现阶段免费使用。">一键部署</label></p>
                        <p class="clearfix"><input type="checkbox" id="yjhg" checked="true"  /><label class="cho-bg" for="yjhg"></label><label for="yjhg" class="cho-text fn-tips" data-tips="默认支持，现阶段免费使用。">一键回滚</label></p>
                        <p  class="clearfix"><input type="checkbox" id="gdsj" checked="true" /><label class="cho-bg" for="gdsj"></label><label for="gdsj" class="cho-text fn-tips" data-tips="默认支持，现阶段免费使用。">滚动升级</label></p>
                    </div>
                </div>

                <div class="fm-choose-box clearfix">
                    <label>日志监控</label>
                    <div class="btn-cho-box clearfix">
                        <p class="clearfix"><input type="checkbox" id="xnfxgj" checked="true" /><label class="cho-bg" for="xnfxgj"></label><label for="xnfxgj" class="cho-text fn-tips" data-tips="默认支持，现阶段免费使用。">性能分析</label></p>
                        <p class="clearfix"><input type="checkbox" id="ywjkgj" checked="true" /><label class="cho-bg" for="ywjkgj"></label><label for="ywjkgj" class="cho-text fn-tips" data-tips="默认支持，现阶段免费使用。">业务监控</label></p>
                        <p class="clearfix"><input type="checkbox" id="fbsrz" checked="true" /><label class="cho-bg" for="fbsrz"></label><label for="fbsrz" class="cho-text fn-tips" data-tips="默认支持，现阶段免费使用。">分布式日志</label></p>
                    </div>
                </div>
            </div>
            <!-- 配套信息 end -->
            <!-- 费用估算 start -->
            <div id="baoyuegoumai" class="infor-fm-box" style="display: none;">
                <h4 class="step-tit">包月购买</h4>
                <div class="fm-input-range clearfix">
                    <label>包月时长</label>
                    <ul class="range-box clearfix buy_month">
                        <li class="active" data-time="1">1<span>个月</span></li>
                        <li data-time="2">2<span>个月</span></li>
                        <li data-time="3">3<span>个月</span></li>
                        <li data-time="4">4<span>个月</span></li>
                        <li data-time="5">5<span>个月</span></li>
                        <li data-time="6">6<span>个月</span></li>
                        <li data-time="7">7<span>个月</span></li>
                        <li data-time="8">8<span>个月</span></li>
                        <li data-time="9">9<span>个月</span></li>
                        <li class="fn-tips" data-tips="购买一年再享9折优惠" data-time="12">1年</li>
                        <li class="fn-tips" data-tips="购买两年再享8折优惠" data-time="24">2年</li>
                    </ul>
                    <!--<span><cite id="TimeLongText">1</cite>个月</span>   -->
                </div>
                <div class="fm-money clearfix">
                    <label>包月费用总计</label>
                    <span class="fn-tips"  data-tips="该包月费用在应用正常运行后才会提请您支付。本费用不包括其他按小时扣费的项目，请保持账户有一定余额。"><cite id="need-money"></cite>元</span>
                    <i>原价：</i><del class="before_money"></del><i>元</i>
                </div>
            </div>
            <!-- 费用估算 end -->
			<div class="fm-btn clearfix fn-tips" style="margin-top: 30px;" data-tips="当前应用成功创建后，{% if is_tenant_free %}7天{% else %}1小时{% endif %}内可免费调试，开始计费后请保持账户有一定余额。">
                    <a class="greenbtn" id="BtnFirst" style="cursor: pointer;">免费创建</a>
            </div>			
        </form>
	</section>
    <!-- new app build end -->
</section>
{% endblock %}
