{% extends 'www/raster.html' %} {% load i18n %} {% load goodrain_extras %} {% block main-content%}

<section class="wrapper site-min-height">
	<section class="panel">
		<div class="panel-body">
			<div class=" form">
				<form class="cmxform form-horizontal tasi-form" id="commentForm"
					method="post" action="" novalidate="novalidate">
					<input type="hidden" id="tenantName" name="tenantName" value="{{tenantName}}" />
					<input type="hidden" id="service_name" name="service_name" value="{{tenantService.service_alias}}" />
					<div class="form-group">
						<div class="col-lg-12 text-center">
							<img src="/static/www/img/step-3.png" width="80%" style="padding-bottom: 50px;padding-top: 30px;"/>
							<div class="col-lg-offset-3 col-lg-6 alert text-center alert-warning fade in">
								<h3 id="git_code_upload">等待提交代码...</h3>
								<h7><a class=" p-head" href="http://docs.goodrain.com/languages/" target="_block">语言支持文档</a></h7>
							</div>
						</div>
					</div>
					<div class="form-group ">
						<label for="cname" class="control-label col-lg-2 app_name">应用名称</label>
						<div class="col-lg-8">
							<label for="cname" class="control-label">{{tenantService.service_alias}}</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Git仓库地址</label>
						<div class="col-lg-10">
							<label class="control-label">{{httpGitUrl}}
								<a href="#" title="代码仓库的用户名是注册邮箱，密码与平台登录密码一致"><i class="fa fa-exclamation-circle"></i></a>
							</label>
						</div>
					</div>
					{% if deployTenantServices %}
					<div class="form-group">
						<label class="col-sm-2 control-label col-lg-2" for="inputSuccess">数据存储服务</label>
						{% for deplyts in deployTenantServices %}
							 {% with A=forloop.counter|mod:4 %}
							 {% with auth=authMap|mkey:deplyts.service_id %}
								 {% if A = 0 %}
								 	<div class="col-lg-10">
								 {% endif %}
								<section class="panel col-lg-3">
									<div class="panel-body">
										<div id="view_detailinfo" class="task-thumb-details">
											<h1>
												<a href="javascript:;">{{deplyts.service_alias.upper}}</a>
											</h1>
											<p class="ctrl_garyinfo">查看详情</p>
										</div>
									</div>
									<table id="detailinfo_list" class="table table-hover personal-task" style="display: none;">
										<tbody>
											<tr>

												<td>连接地址</td>
												<td>127.0.0.1</td>
											</tr>
											<tr>

												<td>连接端口</td>
												<td>{{deplyts.service_port }}</td>
											</tr>
											{% if deplyts.service_type == "mysql" or deplyts.service_type == "postgresql" %}
											<tr>
												<td>用户名</td>
												<td>admin</td>
											</tr>
											<tr>
												<td>密码</td>
												{% if auth %}
                                                <td>{{auth.password}}</td>
                                                {% else %}
                                                <td>admin</td>
                                                {% endif %}
											</tr>
											{% endif %}
										</tbody>
									</table>
								</section>
								{% if A = 0 %}
								   </div>
								{% endif %}
							{% endwith %}
							{% endwith %}
						{% endfor %}
					</div>
					{% endif %}
					<div class="form-group">
						<label class="col-xs-2 control-label col-lg-2" for="inputSuccess">Git相关文档</label>
						<div class="col-xs-10 col-lg-10">
							<div class="col-xs-4 control-label col-lg-4">
								<a href="#">windows系统git使用</a>
							</div>
							<div class="col-xs-4 control-label col-lg-4">
								<a href="#">mac系统git使用</a>
							</div>
							<div class="col-xs-4 control-label col-lg-4">
								<a href="#">linux系统git使用</a>
							</div>
						</div>
					</div>

					<div class="col-lg-offset-3 col-lg-6 " style="padding-top: 50px;padding-bottom: 20px;">
						<button type="button" id="service_code_waiting" class="btn btn-lg btn-info btn-block">下一步</button>
					</div>
					<!-- <div class="col-lg-offset-3 col-lg-6 ">
						<button type="button" id="create_delete" onclick="app_create_delete();" class="btn btn-lg btn-danger btn-block">删除</button>
					</div>
					 -->
				</form>
			</div>


		</div>
	</section>
	<!-- page start-->
	<!-- page end-->
</section>
{% endblock %}
