<div id="sidebar" class="nav-collapse " tabindex="5000" style="overflow: hidden; outline: none;">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
    	<li>
             <a class="{{totalAppStatus}}" href="/apps/{{tenantName}}/">
                 <i class="fa fa-dashboard"></i>
                 <span>总览</span>
             </a>
         </li>
         <li>
              <a href="/apps/{{tenantName}}/app-create/" class="{{createApp}}" >
              	<i class="fa fa-plus"></i>
              	<span>新建应用</span>
              </a>
         </li>
        <li class="sub-menu">
            <a class="{{myAppStatus}}" href="javascript:;">
                <i class="fa fa-laptop"></i>
                <span>我的应用</span></a>
            <ul class="sub">
                {% if tenantServiceList %}
                 	{% for item in tenantServiceList %}
                 		<li {% if item.is_selected %}class="active"{% endif %}><a href="/apps/{{tenantName}}/{{item.service_alias}}/detail/">{{item.service_alias}}</a></li>
                 	{% endfor %}
                {% endif %}
            </ul>
        </li> 
              
        <li>
            <a class="{{serviceMarketStatus}}" href="/apps/{{tenantName}}/service/">
                <i class="fa fa-th"></i>
                <span>应用市场</span>
            </a>
        </li>
        <li > 
        	<a class="{{teamStatus}}" href="/apps/{{tenantName}}/team/" >
        		<i class="fa fa-group"></i>
                <span>团队</span>
            </a>
        </li>
        {% if MODULES.Finance_Center %}        
        <li class="sub-menu">
        	<a href="javascript:;" class="{{myFinanceStatus}}">
            <i class="fa fa-jpy"></i>
            <span>财务中心</span></a>            
            <ul class="sub">
                {% if pay_type != "payed" %}
                    
                    <li class="{{myPayModelstatus}}"><a onclick="_upgrade({{tenantName}},'/apps/{{tenantName}}/paymodel/')">打包购买</a></li>
                {% else %}
                    <li class="{{myPayModelstatus}}"><a href="/apps/{{tenantName}}/paymodel/">打包购买</a></li>
                {% endif %}
                <li class="{{myFinanceRecharge}}"><a href="/apps/{{tenantName}}/recharge/">账户充值</a></li>
                <li class="{{myFinanceAccount}}"><a href="/apps/{{tenantName}}/consume/">消费明细</a></li>                                
            </ul>
        </li>
        {% endif %}
    </ul>
    <!-- sidebar menu end-->
</div>