<div id="sidebar" class="nav-collapse " tabindex="5000" style="overflow: hidden; outline: none;">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
    	<li>
             <a class="{{totalAppStatus}}" href="/apps/{{tenantName}}/">
                 <i class="fa fa-dashboard"></i>
                 <span>总览</span>
             </a>
         </li>
         <li>
              <!--<a href="/apps/{{tenantName}}/app-create/" class="{{createApp}}" >-->
              <a href="/apps/{{tenantName}}/service-entrance/" class="{{createApp}}" >
              	<i class="fa fa-plus"></i>
              	<span>新建应用</span>
              </a>
         </li>
        <li class="sub-menu">
            <a class="{{myAppStatus}}" href="javascript:;">
                <i class="fa fa-laptop"></i>
                <span>我的应用</span></a>
            <ul class="sub">
                {% if groupList %}
                 	{% for group in groupList %}
                 		<li {% if group.ID =  group_id %}class="active"{% endif %}><a href="/apps/{{tenantName}}/myservice/?gid={{group.ID}}">{{group.group_name}}</a></li>
                 	{% endfor %}
                {% endif %}
                {% if not is_private %}
                <li class="third_app"><a href="/apps/{{tenantName}}/third_app/list">第三方应用</a></li>
                {% endif %}
                <li {% if -1 ==  group_id %}class="active"{% endif %}><a href="/apps/{{tenantName}}/myservice/?gid=-1">未分组</a></li>
            </ul>
            <!--<a class="{{myAppStatus}}" href="/apps/{{tenantName}}/myservice">-->
                <!--<i class="fa fa-laptop"></i>-->
                <!--<span>我的应用</span></a>-->
        </li>

        {% if not is_private and cloud_assistant == 'goodrain' %}
        <!--公有云去掉了-->
        {% else %}
        <li>
            <a class="{{serviceMarketStatus}}" href="/apps/{{tenantName}}/service/">
                <i class="fa fa-th"></i>
                <span>应用市场</span>
            </a>
        </li>
        {% endif %}

        <li > 
        	<a class="{{teamStatus}}" href="/apps/{{tenantName}}/team/" >
        		<i class="fa fa-group"></i>
                <span>团队</span>
            </a>
        </li>
        {% if MODULES.Finance_Center %}        
        <li class="sub-menu">
        	<a href="javascript:;" class="{{myFinanceStatus}}">
            <i class="fa fa-jpy"></i>
            <span>财务中心</span></a>            
            <ul class="sub">
                <li class="{{myPayModelstatus}}"><a href="/apps/{{tenantName}}/paymodel/">打包购买</a></li>
                <!--<li class="{{myFinanceRecharge}}"><a href="/apps/{{tenantName}}/recharge/">账户充值</a></li>-->
                <!--<li class="{{myFinanceAccount}}"><a href="/apps/{{tenantName}}/consume/">消费明细</a></li>                                -->
            </ul>
        </li>
        {% endif %}
    </ul>
    <!-- sidebar menu end-->
</div>