{% extends 'www/raster2.html' %}
{% load i18n %}
{% load goodrain_extras %}
{% load staticfiles %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/sweetalert.css" %}' />
<link rel="stylesheet" href='{% static "www/css2/newapp.css" %}' />
<link rel="stylesheet" href='{% static "www/css/bootstrap-editable.css" %}' />
{% endblock %}
{% block extrajs %}
<script src='{% static "www/js/sweetalert.min.js" %}'></script>
{% endblock %}


{% block main-content %}

<section class="wrapper site-min-height">
<section class="panel panel-default">
    <div class="panel-body">
        <h3 class="main-tit">创建{{service.service_name}}</h3>
        <div class="app-step two clearfix">
            <p class="sed" style="width: 50%;"><span>1</span><cite>创建应用</cite></p>
            <p class="sed" style="width: 50%;"><span>2</span><cite>应用设置</cite></p>
        </div>
        <form class=" form-horizontal" id="commentForm" method="post" action="" novalidate="novalidate">
            {% csrf_token %}
            <input type="hidden" id="tenantName" name="tenantName" value="{{tenantName}}" />
            <input type="hidden" id="service_key" name="service_key" value="{{service_key}}" />
            <input type="hidden" id="app_version" name="app_version" value="{{app_version}}" />
            <input type="hidden" id="service_alias" name="service_alias" value="{{service_alias}}" />
            <!-- -->
            <input type="hidden" id="pre_paid_memory_price" name="pre_paid_memory_price" value="{{pre_paid_memory_price}}">
            <input type="hidden" id="post_paid_memory_price" name="post_paid_memory_price" value="{{post_paid_memory_price}}">
            <input type="hidden" id="pre_paid_disk_price" name="pre_paid_disk_price" value="{{pre_paid_disk_price}}">
            <input type="hidden" id="post_paid_disk_price" name="post_paid_disk_price" value="{{post_paid_disk_price}}">
            <input type="hidden" id="post_paid_net_price" name="post_paid_net_price" value="{{post_paid_net_price}}">
            <!-- -->
            <input type="hidden" id="is_tenant_free" name="is_tenant_free" value="{{is_tenant_free}}">
            <!-- ww - 2017 - 11 - 06-->
            <div class="modulebox clearfix" style="display: none;">
                <div class="form-group clearfix" id="extend_method">
                    <label class="col-sm-3 control-label">应用类型</label>
                    <div class="col-sm-8 clearfix">
                        <label class="fm-radio" style="display: block; height: 30px;">
                            <input type="radio" name="extend_method" value="stateless" id="stateless" checked="true" />
                            <span class="radio-bg" for="stateless"></span>
                            <cite>无状态应用（包括Web类，API类）</cite>
                        </label>
                        <label class="fm-radio" style="display: block; height: 30px;">
                            <input type="radio" name="extend_method" value="state" id="state" />
                            <span class="radio-bg" for="state"></span>
                            <cite>有状态应用（包括DB类，集群类，消息中间件类，数据类）</cite>
                        </label>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <!----  -->
            <!-- 内存选项 start  -->
            <div class="modulebox clearfix">
                <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">内存选项</label>
                    <div class="col-sm-8 clearfix">
                        {% if is_tenant_free %}
                        <p class="range-box fn-tips" data-original-title="新用户单应用内存最大1G，全部应用总内存最大1G。付费用户无限制。(单节点内存)" id="MemoryRange" data-min="{{service_min_memory}}" data-money="free">
                            <a href="javascript:;" class="sed">512M</a>
                            <a href="javascript:;">1G</a>
                        </p>
                        {% else %}
                        <p class="range-box fn-tips" data-original-title="单应用内存最大8G，总内存无限。如需使用更多，请联系客服申请。(单节点内存)" id="MemoryRange" data-min="{{service_min_memory}}" data-money="pay">
                           
                        </p>
                        <!-- no user -->
                        {% endif %}
                        <span id="MemoryText" class="fm-text" style="display: none;">{{service_min_memory}}M</span>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <!-- -->
            {% if outer_port|length > 0 %}
            <div class="modulebox clearfix fn-modulebox">
                 <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">端口管理</label>
                    <div class="col-sm-8 text-right">
                        <a href="javascript:;" class="showlink fn-showlink"><cite>展开</cite><span class="glyphicon glyphicon-chevron-down"></span></a>
                     </div>
                </div>
                <div class="form-group clearfix fn-showblock">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-8">
                        <table class="table">
                            <thead>
                                <tr class="active">
                                    <th>端口</th>
                                    <th>对外服务</th>
                                    <th>外部访问</th>
                                    <th>访问方式</th>
                                </tr>
                            </thead>
                            <tbody class="port">

                            {% for port in outer_port %}
                                <tr>
                                    <td><span class="fn-tips" data-original-title="当前应用提供服务的端口号。">{{port.container_port}}</span></td>
                                    <td>
                                        <label class="checkbox fn-tips" data-original-title="当前应用是否允许其他应用访问。">
                                            <input type="checkbox" name="" value="" id="5000inner" {% if port.is_inner_service %}checked="true"{% endif %} disabled="true" />
                                            <span for="5000inner">关闭</span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="checkbox fn-tips" data-original-title="当前应用是否允许用户通过网络访问。">
                                            <input type="checkbox" name="" value="" id="5000outer" {% if port.is_outer_service %}checked="true"{% endif %} disabled="true"  />
                                            <span for="5000outer">开启</span>
                                        </label>
                                    </td>
                                    <td><span class="fn-tips" data-original-title="用户访问协议。">{{port.protocol}}</span></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            {% endif %}
            <!-- -->
            
            <!-- ww - 2017 - 11 - 06-->
            {% if dependecy_services %}
            <div class="modulebox clearfix fn-modulebox">
                <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">服务依赖</label>
                    <div class="col-sm-8 text-right">
                        <a href="javascript:;" class="showlink fn-showlink"><cite>展开</cite><span class="glyphicon glyphicon-chevron-down"></span></a>
                    </div>
                </div>
                <div class="form-group clearfix fn-showblock">
                    <label class="col-sm-3 control-label"></label>
                    {% for key, deployed_services in dependecy_services.items %}
                    <div class="col-sm-2">
                        <select name="dependency_service" class="dependency_service form-control">
                                {% if deployed_services %}
                                {% for d_service in deployed_services %}
                            <option value="{{d_service.service_alias}}:{{key}}:{{d_service.version}}" {% if forloop.first %} selected="selected" {% endif %}>{{d_service.service_cname}}</option>
                                {% endfor %}
                                {% else %}
                            <option value="__no_dep_service__:{{key}}:{{dependecy_version|mkey:key}}" selected="selected">暂无{{dependecy_info|mkey:key}}</option>
                                {% endif %}
                        </select>
                    </div>
                    <span for="inputSuccess" class="col-sm-2 text-left" style="line-height: 34px;">依赖{{dependecy_info|mkey:key}}-{{dependecy_version|mkey:key}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="line"></div>
            {% endif %}

            {% if envs|length > 0 %}
            <div class="modulebox clearfix fn-modulebox">
                <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">环境变量</label>
                    <div class="col-sm-8 text-right">
                        <a href="javascript:;" class="showlink fn-showlink"><cite>展开</cite><span class="glyphicon glyphicon-chevron-down"></span></a>
                    </div>
                </div>
                <div class="form-group clearfix fn-showblock">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-8">
                        <table class="table">
                            <thead>
                                <tr class="active">
                                    <th>变量名称</th>
                                    <th>变量值</th>
                                </tr>
                            </thead>
                            <tbody class="tb">
                               {% for env in envs %}
                                <tr>
                                    <td name="attr_name">{{env.attr_name}}</td>
                                    {% if 'direct_copy' in env.options %}
                                        <td name="attr_value">{{env.attr_value}}</td>
                                    {% else %}
                                        <td><input name="attr_value" placeholder="举例: {{env.attr_value}}"></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="text-center clearfix" style="margin: 50px 0;">
            <button class="btn btn-danger" type="button" id="back_service_cancel_create" style="cursor: pointer; margin:0 5px;" onclick="back_service_create_delete();" >停止创建</button>
            <button   type="button" class="btn btn-success" id="back_service_step_two" style="cursor: pointer; margin:0 5px;">下一步</button>
        </div>
    </form>
</div>      
</section>
</section>

 <script type="text/javascript">
        $(document).ready(function () {
            $('.fn-tips').tooltip();
            //取消回车事件
            $("#create_service_name").keydown(function (e) {
                var curKey = e.which;
                if (curKey == 13) {
                    return false;
                }
            });
            $(".fn-showlink").click(function(){
                var htmlstr = $(this).find("cite").html();
                var parents = $(this).parents(".fn-modulebox");
                if(htmlstr == "展开"){
                    $(this).find("cite").html("收起");
                    $(this).find("span").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
                    $(parents).find(".fn-showblock").show();
                }else{
                    $(this).find("cite").html("展开");
                    $(this).find("span").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
                    $(parents).find(".fn-showblock").hide();
                }
            })
            
            //
            var minMemoryval = $("#MemoryRange").attr("data-min");
            var Memeryonoff = $("#MemoryRange").attr("data-money");
            var memoryStr = "";
            if(Memeryonoff == "free"){
                if(minMemoryval == "128"){
                    memoryStr = '<a href="javascript:;" class="sed">128M</a><a href="javascript:;">256M</a><a href="javascript:;">512M</a><a href="javascript:;">1G</a>';
                }else if(minMemoryval == "256"){
                    memoryStr = '<a href="javascript:;" class="sed">256M</a><a href="javascript:;">512M</a><a href="javascript:;">1G</a>';
                }else if(minMemoryval == "512"){
                    memoryStr = '<a href="javascript:;" class="sed">512M</a><a href="javascript:;">1G</a>';
                }else if(minMemoryval == "1024"){
                    memoryStr = '<a href="javascript:;" class="sed">1G</a>';
                }else{
                    memoryStr = '此应用所需内存超过能使用的最大内存！';
                }
            }else{
                if(minMemoryval == "128"){
                    memoryStr = '<a href="javascript:;" class="sed">128M</a><a href="javascript:;">256M</a><a href="javascript:;">512M</a><a href="javascript:;">1G</a><a href="javascript:;">2G</a><a href="javascript:;">4G</a><a href="javascript:;">8G</a>';
                }else if(minMemoryval == "256"){
                    memoryStr = '<a href="javascript:;" class="sed">256M</a><a href="javascript:;">512M</a><a href="javascript:;">1G</a><a href="javascript:;">2G</a><a href="javascript:;">4G</a><a href="javascript:;">8G</a>';
                }else if(minMemoryval == "512"){
                    memoryStr = '<a href="javascript:;" class="sed">512M</a><a href="javascript:;">1G</a><a href="javascript:;">2G</a><a href="javascript:;">4G</a><a href="javascript:;">8G</a>';
                }else if(minMemoryval == "1024"){
                    memoryStr = '<a href="javascript:;" class="sed">1G</a><a href="javascript:;">2G</a><a href="javascript:;">4G</a><a href="javascript:;">8G</a>';
                }else if(minMemoryval == "2048"){
                    memoryStr = '<a href="javascript:;" class="sed">2G</a><a href="javascript:;">4G</a><a href="javascript:;">8G</a>';
                }else if(minMemoryval == "4096"){
                    memoryStr = '<a href="javascript:;" class="sed">4G</a><a href="javascript:;">8G</a>';
                }else if(minMemoryval == "8192"){
                    memoryStr = '<a href="javascript:;" class="sed">8G</a>';
                }else{
                    memoryStr = '此应用所需内存超过能使用的最大内存！';
                }
            }
            $("#MemoryRange").html(memoryStr);
            $("#MemoryText").html(minMemoryval<1000 ? minMemoryval + "M" : parseInt(minMemoryval/1024) + "G");
            $("#MemoryRange a").click(function(){
                $("#MemoryRange a").removeClass("sed");
                $(this).addClass("sed");
                var memoryVal = $(this).html();
                $("#MemoryText").html(memoryVal);
            });
            //
            

            $("#back_service_step_two").click(function () {
                var arr = $(".dependency_service");
                var len = arr.length;
                var deps = [];

                for (var i = 0; i < len; i++) {
                    deps.push($(".dependency_service").eq(i).find("option:selected").attr("value"));
                }
                var sel_val = deps;
                var envs = [];
                var flag = false;
                $('.tb tr').each(function () {
                    var env = {};
                    $(this).find('[name^=attr]').each(function (event) {
                        i = $(this);
                        name = $(this).attr('name');
                        value = $(this).val() || i.html();
                        if (value) {
                            env[name] = value;
                        } else {
                            showMessage("有未填写的内容");
                            flag = true;
                        }
                    });
                    envs.push(env);
                });
                //校验未通过
                if (flag) {
                    return;
                }

                $("#back_service_step_two").attr('disabled', true);
                var tenantName = $('#tenantName').val();
                var service_alias = $("#service_alias").val();
                ////////
                var  methodval= $('input[name="extend_method"]:checked').val();
                var memory_num = parseInt($("#MemoryText").html());
                /////////
                $.ajax({
                    type: "post",
                    url: "/apps/" + tenantName + "/" + service_alias + "/deploy/setting/",
                    data: {
                        "dep_list": JSON.stringify(sel_val),
                        "envs": JSON.stringify(envs),
                        "methodval": methodval,
                        "service_min_memory" : memory_num
                    },
                    cache: false,
                    beforeSend: function (xhr, settings) {
                        var csrftoken = $.cookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (msg) {
                        var dataObj = msg;
                        if (dataObj["status"] == "depend_service_notexsit") {
                            swal("依赖的服务不存在");
                        } else if (dataObj["status"] == "empty") {
                            swal("应用名称不能为空");
                        } else if (dataObj["status"] == "not_have_dep_service") {
                            swal("依赖的服务尚未创建,请先创建依赖的服务");
                        } else if (dataObj["status"] == "success") {
                            window.location.href = dataObj["next_url"];
                        } else {
                            swal("创建失败");
                        }
                        $("#back_service_step_two").attr('disabled', false);
                    },
                    error: function () {
                        swal("系统异常,请重试");
                        $("#BtnFirst").attr('disabled', false);
                    }
                });
                ///
            });
            ///

        });
        function createEvents(name, service, action) {
            var currentEventID = ""
            var ok = false
            $.ajax({
                type: "POST",
                url: "/ajax/" + name + '/' + service + "/events",
                data: "action=" + action,
                cache: false,
                async: false,
                beforeSend: function (xhr, settings) {
                    var csrftoken = $.cookie('csrftoken');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    if (data["status"] == "often") {
                        swal("上次操作进行中，请稍后！");
                        return ""
                    } else if (data["status"] == "success") {
                        event = data["event"]
                        currentEventID = event["event_id"]
                        var tmpLog = event["event_start_time"] + " @" + event["user_name"] + event["event_type"]
                        tmpLog = "<label style='line-height: 21px;'>" + tmpLog + "</label><p id='compile_" + event["event_id"] + "' style='display: none;line-height: 21px;'></p>"
                        tmpLog = "<div id='event_" + event["event_id"] + "'>" + tmpLog + "</div>"
                        $("#keylog").children("div:first-child").before(tmpLog)
                        ok = true
                    } else {
                        swal("系统异常！");
                    }

                },
                error: function () {
                    swal("系统异常");
                }
            });
            if (ok) {
                return currentEventID
            }
            return ""
        }
        function back_service_create_delete() {
            swal({
                title: "确定要停止创建当前的应用吗？",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    var tenantName = $('#tenantName').val();
                    var service_alias = $('#service_alias').val();
                    event_id = createEvents(tenantName, service_alias, "delete")
                    if (event_id == "") {
                        return false
                    }
                    $.ajax({
                        type: "POST",
                        url: "/ajax/" + tenantName + "/" + service_alias + "/manage/",
                        data: "action=delete&event_id=" + event_id,
                        cache: false,
                        beforeSend: function (xhr, settings) {
                            var csrftoken = $.cookie('csrftoken');
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            swal({
                                title: "正在执行删除操作，请稍候...",
                                text: "5秒后自动关闭",
                                timer: 5000,
                                showConfirmButton: false
                            });
                        },
                        success: function (msg) {
                            var dataObj = msg
                            if (dataObj["status"] == "success") {
                                swal("操作成功");
                                window.location.href = "/apps/" + tenantName + "/service-entrance/"
                            } else if (dataObj["status"] == "often") {
                                swal("上次操作正在进行中，稍后再试")
                            } else if (dataObj["status"] == "dependency") {
                                swal("当前服务被依赖不能删除");
                            } else {
                                swal("操作失败");
                            }
                        },
                        error: function () {
                            swal("系统异常");
                        }
                    });
                } else {
                    swal.close();
                }
            });
        }

    </script>

{% endblock %}
