{% extends 'www/raster.html' %} {% load i18n %} {% block main-content%}

<section class="wrapper site-min-height">
	<!-- page start-->
	<section class="panel">
		<div class="panel-body">
			<div class=" form">
				<form class="cmxform form-horizontal tasi-form" id="commentForm"
					method="post" action="" novalidate="novalidate">
					<input type="hidden" id="tenantName" name="tenantName" value="{{tenantName}}" />
					<input type="hidden" id="service_key" name="service_key" value="{{service_key}}" />
					<input type="hidden" id="service_dependecy" name="service_dependecy" value="{{service.dependecy}}" />
					
					<div class="form-group">
						<div class="col-lg-12 ">
							<div
								class="col-lg-offset-3 col-lg-6 alert text-center alert-default fade in">
								<h2>{{service_key.upper}}服务创建</h2>
							</div>
						</div>
					</div>
					<div class="form-group ">
						<label for="create_app_name"
							class="control-label col-lg-2 app_name">名称</label>
						<div class="col-lg-8">
							<input class="form-control valid" id="create_service_name"
								name="create_service_name" minlength="2" type="text" required=""
								placeholder="给服务起个名字">
							<div id="create_service_notice" class="alert alert-danger"
								role="alert"
								style="padding: 8px 12px; margin: 5px 0 0 0; display: none;">服务名称以英文字母开始包含数字、中划线
								-、下划线 _</div>
						</div>
					</div>
					<div class="form-group ">
						<label for="create_app_name"
							class="control-label col-lg-2 app_name">内存大小</label>
						<div class="col-lg-8">
							<select class="form-control" style="width: 150px" id="service_memory" name="service_memory"> 
								<option value="128" {% if service.min_memory = 128 %} selected="selected" {% endif %} >128M</option>
								<option value="256" {% if service.min_memory = 256 %} selected="selected" {% endif %}>256M</option>
								<option value="512" {% if service.min_memory = 512 %} selected="selected" {% endif %}>512M</option>
								<option value="1024" {% if service.min_memory = 1024 %} selected="selected" {% endif %}>1024M</option>
								<option value="2048" {% if service.min_memory = 2048 %} selected="selected" {% endif %}>2048M</option>
								<option value="4096" {% if service.min_memory = 4096 %} selected="selected" {% endif %}>4096M</option>								
							</select>
						</div>
					</div>					
					{% if service.dependecy %}
						{% if deployTenantServices %}
						<input type="hidden" id="createService" name="createService" value="">
						<input type="hidden" id="hasService" name="hasService" value="">
						<div class="form-group ">
							<label class="col-sm-2 control-label col-lg-2" for="inputSuccess">依赖{{service.dependecy.upper}}服务</label>
							<div class="col-lg-10">
							    <label class="radio-inline"> <input type="radio"
									name="delineCheckbox1"
									value="{{service.dependecy}}_{{service.dependecy}}" checked="checked">新建{{service.dependecy.upper}}
								</label>
								
								{% for deployCache in deployTenantServices %}
								<label class="radio-inline"> <input type="radio"
									name="delineCheckbox1"
									value="{{deployCache.service_id}}_{{deployCache.service_type}}">
									{{deployCache.service_alias}}
								</label>
								{% endfor %}
							</div>
						</div>
						{% endif %}						
						<div class="form-group ">
							<div id="create_dependency_service_notice" class="alert alert-danger"
									role="alert"
									style="padding: 8px 12px; margin: 5px 0 0 0; display: none;">当前服务依赖的服务不能为空</div>
						</div>
					{% endif %}
					<div class="col-lg-offset-3 col-lg-6 ">
						<button type="button" id="back_service_finished"
							class="btn btn-lg btn-success btn-block">完成</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!-- page end-->
</section>
{% endblock %}
