{% extends 'www/raster2.html' %} 
{% load i18n %} 
{% load goodrain_extras %}
{% load staticfiles %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/sweetalert.css" %}' />
<link rel="stylesheet" href='{% static "www/css2/newapp.css" %}' />
<link rel="stylesheet" href='{% static "www/css/bootstrap-editable.css" %}' />
{% endblock %}
{% block extrajs %}
<script src='{% static "www/js/sweetalert.min.js" %}'></script>
<script src='{% static "www/js/back-service-create.js" %}'></script>
{% endblock %}

{% block main-content%}

<section class="wrapper site-min-height">
<section class="panel panel-default">
    <div class="panel-body">
     <!-- new start -->
    	<h3 class="main-tit">创建 {{service.service_name}}</h3>
        <div class="app-step two clearfix">
            <p class="sed" style="width: 50%;"><span>1</span><cite>创建应用</cite></p>
            <p style="width: 50%;"><span>2</span><cite>应用设置</cite></p>
        </div>
    	<form class="form-horizontal" id="commentForm" method="post" action="" novalidate="novalidate">
            {% csrf_token %}
    		<input type="hidden" id="tenantName" name="tenantName" value="{{tenantName}}" />
			<input type="hidden" id="service_key" name="service_key" value="{{service_key}}" />
			<input type="hidden" id="app_version" name="app_version" value="{{app_version}}" />
			<!-- -->
			<input type="hidden" id="pre_paid_memory_price" name="pre_paid_memory_price" value="{{pre_paid_memory_price}}">
            <input type="hidden" id="post_paid_memory_price" name="post_paid_memory_price" value="{{post_paid_memory_price}}">
            <input type="hidden" id="pre_paid_disk_price" name="pre_paid_disk_price" value="{{pre_paid_disk_price}}">
            <input type="hidden" id="post_paid_disk_price" name="post_paid_disk_price" value="{{post_paid_disk_price}}">
            <input type="hidden" id="post_paid_net_price" name="post_paid_net_price" value="{{post_paid_net_price}}">
			<!-- -->
			<input type="hidden" id="is_tenant_free" name="is_tenant_free" value="{{is_tenant_free}}">
            <input type="hidden" id="small-memory"  value="{{min_memory}}">
			<!-- 基本信息  start-->
			<div class="infor-fm-box">
				
				<div class="form-group">
                    <label for="create_app_name" class="col-sm-3 control-label">应用名</label>
                    <div class="col-sm-6">
                        <input type="text" id="create_name" name="create_name"  class="form-control" value="" placeholder="请输入应用名，支持中英文"  />
                    </div>
                </div>
                <div class="row fm-tips" id="create_name_notice">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">请输入应用名！</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">选择分组</label>
                    <div class="col-sm-6">
                        <select id="group-name" name="select_group_id" class="form-control">
                            <option value="-1">不分组</option>
                            {% for group in groupList %}
                            <option value="{{group.ID}}" >{{group.group_name}}</option>
                            {% endfor %}
                            <option value="-2">新建组</option>
                        </select>
                    </div>
                </div>
			</div>
			<!-- 基本信息  end -->
	        <!-- 配套信息 start -->
    	</form>
        <div class="text-center clearfix {% if is_public_clound %}fn-tips{% endif %}" style="margin: 50px;" data-original-title="当前应用成功创建后，{% if is_tenant_free %}7天{% else %}1小时{% endif %}内可免费调试，开始计费后请保持账户有一定余额。">
            <button class="btn btn-success" id="back_service_step1" type="button">免费创建</button>
        </div>
        <!-- new end -->
    </div>
</section>
</section>
<script type="text/javascript">
	$(document).ready(function () {
		//取消回车事件
        document.onkeydown = function(e) {
            var e = e || event;
            if(e.keyCode == 13) {
                e.preventDefault ? e.preventDefault() : (e.returnValue = false);
            }
        }
	});
</script>
{% endblock %}
