{% extends 'www/raster.html' %} {% load i18n %} {% block main-content%}

<section class="wrapper site-min-height">
	<!-- page start-->
	<section class="panel">
		<div class="panel-body">
			<div class=" form">
				<form class="cmxform form-horizontal tasi-form" id="commentForm"
					method="post" action="" novalidate="novalidate">
					<input type="hidden" id="tenantName" name="tenantName" value="{{tenantName}}" />
					<input type="hidden" id="service_key" name="service_key" value="{{service_key}}" />
					<!--input type="hidden" id="service_dependecy" name="service_dependecy" value="{{service.dependecy}}" /-->
					
					<div class="form-group">
						<div class="col-lg-12 ">
							<div
								class="col-lg-offset-3 col-lg-6 alert text-center alert-default fade in">
								<h2>{{service_key.upper}}服务创建</h2>
							</div>
						</div>
					</div>
					<div class="form-group ">
						<label for="create_app_name"
							class="control-label col-lg-2 app_name">名称</label>
						<div class="col-lg-8">
							<input class="form-control valid" id="create_service_name"
								name="create_service_name" minlength="2" type="text" required=""
								placeholder="给服务起个名字">
							<div id="create_service_notice" class="alert alert-danger"
								role="alert"
								style="padding: 8px 12px; margin: 5px 0 0 0; display: none;">英文小写字母开始结束, 允许包含数字, 中划线 -</div>
						</div>
					</div>
					<div class="form-group ">
						<label for="create_app_name"
							class="control-label col-lg-2 app_name">内存大小</label>
						<div class="col-lg-8">
							<select class="form-control" style="width: 150px" id="service_memory" name="service_memory"> 
								{% if service.min_memory == 128 %}
								<option value="128" selected="selected">128M</option>
								<option value="256">256M</option>
								<option value="512">512M</option>
								<option value="1024">1G</option>
								<option value="2048">2G</option>
								<option value="4096">4G</option>	
								{% endif %}
								{% if service.min_memory == 256 %}
								<option value="256" selected="selected">256M</option>
								<option value="512">512M</option>
								<option value="1024">1G</option>
								<option value="2048">2G</option>
								<option value="4096">4G</option>	
								{% endif %}
								{% if service.min_memory == 512 %}
								<option value="512" selected="selected">512M</option>
								<option value="1024">1G</option>
								<option value="2048">2G</option>
								<option value="4096">4G</option>	
								{% endif %}
								{% if service.min_memory == 1024 %}
								<option value="1024" selected="selected">1G</option>
								<option value="2048">2G</option>
								<option value="4096">4G</option>	
								{% endif %}
								{% if service.min_memory == 2048 %}
								<option value="2048" selected="selected">2G</option>
								<option value="4096">4G</option>	
								{% endif %}
								{% if service.min_memory == 4096 %}
								<option value="4096" selected="selected">4G</option>	
								{% endif %}
								{% if service.service_key == "mysql" %}
								<option value="8192">8G</option>
								<option value="16384">16G</option>>
								<option value="32768">32G</option>>
								<option value="65536">64G</option>>
								{% endif %}		
							</select>
						</div>
					</div>					
					{% if dependecy_services %}
						{% for key, deployed_services in dependecy_services.items %}
						<div class="form-group">
						  <!--input type="hidden" class="createService" name="createService" value="">
						  <input type="hidden" class="hasService" name="hasService" value=""-->
						  	<label class="col-sm-2 control-label col-lg-2" for="inputSuccess">依赖{{key.upper}}服务</label>
						  	<div class="col-lg-10">
						  		<select class="form-control col-lg-2" name="dependency_service">
						  			<option value="__new__.{{d_service.service_key}}" selected="selected">新建</option>
						  			{% if deployed_services %}
						  			{% for d_service in deployed_services %}
						  			<option value="{{d_service.service_alias}}.{{d_service.service_key}}" selected="selected">{{d_service.service_alias}}</option>
						  			{% endfor %}
						  			{% endif %}
						  		</select>
						  	</div>
						</div>
						{% endfor %}
												
						<div class="form-group ">
							<div id="create_dependency_service_notice" class="alert alert-danger"
									role="alert"
									style="padding: 8px 12px; margin: 5px 0 0 0; display: none;">当前服务依赖的服务不能为空</div>
						</div>
					{% endif %}
					<div class="col-lg-offset-3 col-lg-6 ">
						<button type="button" id="back_service_finished"
							class="btn btn-lg btn-success btn-block">完成</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!-- page end-->
</section>
{% endblock %}
