{% load url from future %}{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"zh-cn" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  {% block extrameta %}
  <meta name="description" content="">
  <meta name="author" content="">
  {% endblock %}
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
  <title>{% block title %}好雨 - 创业者免费云平台{% endblock %}</title>

  <link rel="stylesheet" href="{% static "www/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "www/css/bootstrap-reset.css" %}">
  <link rel="stylesheet" href="{% static "www/assets/font-awesome/css/font-awesome.css" %}">
  <link rel="stylesheet" href="{% static "www/css/sweetalert.css" %}">
  <link rel="stylesheet" href="{% static "www/css/gallery.css" %}">
  {% block extracss %}{% endblock %}

  {{ media.css }}

    <!--[if lt IE 9]>
      <script src="/static/www/js/html5shiv.js"></script>
      <script src="/static/www/js/respond.min.js"></script>
    <![endif]-->

  {% block extrastyle %}{% endblock %}
  <script src="{% static "www/js/jquery.min.js" %}"></script>
  <script src="{% static "www/js/bootstrap.min.js" %}"></script>
  <script src="{% static "www/js/sweetalert.min.js" %}"></script>
  <script src="{% static "www/js/jquery.nicescroll.js" %}"></script>
  {% block extrahead %}{% endblock %}

</head>
<body class="{% block bodyclass %}{% endblock %}">
  {% block body %}{% endblock body %}
  {{ media.js }}
  {% block extrajs %}{% endblock %}
  <script src="//meiqia.com/js/mechat.js?unitid=557f9c184eae356304000003" charset="UTF-8" async="async"></script>
</body>

</html>
