<div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="切换导航"></div>
</div>
<!--logo start-->
<a href="/" class="logo">好雨<span>云平台</span></a>
<!--logo end-->
{% block region_zone %}
<div class="nav notify-row" id="top_menu">
    <div class="btn-group">
        <button class="btn btn-white" type="button">{{current_region.label}}</button>
        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button"><span class="caret"></span></button>
        <ul id="region_select" role="menu" class="dropdown-menu">
            {% for region in arrival_regions %}
            <li><a href="/apps/{{tenantName}}/?region={{region.name}}">{{region.label}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
<div class="top-nav ">
    <!--search & user info start-->
    <ul class="nav pull-right top-menu">
        <!--<li>
            <button type="button" class="btn btn-round btn-primary" onclick="window.open('https://goodrain.kf5.com/request/new/')">提交工单</button>
        </li>
         -->
         <li>
           <a href="https://t.goodrain.com/" target="_blank">
             <i class="fa fa-comment"></i>
             <span>社区</span>
           </a>
         </li>

         <li>
           <a href="http://docs.goodrain.com/" target="_blank">
             <i class="fa fa-file-text-o"></i>
             <span>文档</span>
           </a>
         </li>
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <!--img alt="" src="/static/www/img/avatar1_small.jpg"-->
                <i class="fa  fa-user"></i>
                <span class="username">{% if user.is_authenticated %}{{ user.nick_name }}{% else %}匿名用户{% endif %}</span>
                <b class="caret"></b>
            </a>
            {% if MODULES.Finance_Center %}
            <ul class="dropdown-menu">
                <div class="log-arrow-up"></div>
                <li><a href="/apps/{{tenantName}}/recharge/"><i class="fa  fa-usd"></i> 充值</a></li>
                <li><a href="/apps/{{tenantName}}/consume/"><i class="fa fa-list-alt"></i> 消费记录</a></li>
                <li><a href="/payed/{{tenantName}}/upgrade"><i class="fa fa-flag"></i> 我的套餐</a></li>
                <li class="divider"></li>
                <li><a href="/logout"><i class="fa fa-sign-out"></i> 退出</a></li>
            </ul>
            {% endif %}
        </li>
        <!-- user login dropdown end -->
    </ul>
    <!--search & user info end-->
</div>
