{% extends 'www/raster.html' %}
{% load i18n %}

{% block main-content%}


<section class="wrapper">
<section class="panel">
        <header class="panel-heading tab-bg-dark-navy-blue ">
         <ul class="nav nav-tabs">
        <li class=""><a href="#deployed" data-toggle="tab">概览</a></li>
        
          <li class=""><a href="#relations" data-toggle="tab">相关服务</a></li>
        
        <li class="active" ><a href="#statistic"  data-toggle="tab">监控</a></li>
        <li class=""><a href="#log" data-toggle="tab">日志</a></li>
        <li class=""><a href="#settings" data-toggle="tab">高级</a></li>
        <!--
        <li class="nav-tabs-oklastli"><b>git</b><input type="text" value="git@code.goodrain.com:app/okletswin_team.git" placeholder="http://code.goorain.com/username" class="form-control"><span class="fa fa-clipboard"></span></li>
        -->
      </ul>
      </header>

      <div class="panel-body">
      <div class="tab-content">
        <!-- deployed start -->
        <div role="tabpanel" class="tab-pane text-center" id="deployed">
          <div class="row">
            <div class="col-sm-3">
              <p>状态</p>
              <span class="badge badge-sm label-success" style="font-size:18pt" id="service_status" name="service_status">已关闭</span>
            </div>
            <div class="col-sm-3">
              <p>内存使用</p>
              <p style="font-size:18pt" id="service_memory" name="service_memory">0M</p>
            </div>
            <div class="col-sm-3">
              <p>磁盘占用</p>
              <p style="font-size:18pt" id="service_disk" name="service_disk">0M</p>
            </div>
            <div class="col-sm-3">
              <p>流量</p>
              <p style="font-size:18pt" id="service_network" name="service_network">0K</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <section class="panel text-left">
                <header class="panel-heading">控制</header>
                <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-6 text-left">
                        
                        <button type="button" class="btn btn-info " id="onekey_deploy" onclick="service_oneKeyDeploy('application','team','okletswin','no');"><i class="fa fa-cloud-upload"></i> 一键部署</button>
                        
                        <button type="button" class="btn btn-success" id="service_visitor" onclick="window.open('http://team.okletswin.ucloud-bj-1.goodrain.net:10080');" style="display: none;"><i class="fa fa-eye"></i>访问</button>
                        
                        </div>
                        <div class="col-lg-6 text-right">
                          <input type="hidden" id="service_status_value" name="service_status_value" value="restart">
                          <button type="button" class="btn btn-danger" id="service_status_operate" onclick="service_onOperation('dd42145d88d87827f30b343e6b6f4633','team','okletswin');"><i class="fa  fa-power-off"></i><font id="fontdd42145d88d87827f30b343e6b6f4633">启动</font></button>
                        </div>
                    </div>
                  </div>
              </section>
            </div>
          </div>
          
          <div class="row">
            <div class="col-lg-12 text-left">
              <section class="panel">
                 <header class="panel-heading">关键日志</header>
                  <div class="panel-body">
                    <div class="text-left  logtxtbox">
                      <input type="hidden" name="service_name" id="service_name" value="team">
                      <p id="keylog">2015-09-21 14:55:33,143 编译失败<br>2015-09-21 14:55:32,792 builder:       <br>sorry this build is failing! You can troubleshoot common issues here:<br>ove,<br>2015-09-21 14:55:32,784 builder:       <br>2015-09-21 14:55:32,799 builder:       <br>nter.heroku.com/articles/nodejs-support#specifying-a-node-js-version<br>ed<br>2015-09-21 14:55:32,796 builder:       Goodrain.<br>2015-09-21 14:55:32,773 builder:       Downloading and installing node ...<br></p>
                    </div>
                  </div>
              </section>
            </div>
          </div>
        </div>
        <!-- deployed end-->
        <!-- relations start -->
        <div role="tabpanel" class="tab-pane" id="relations">
           
           <div class="col-sm-16 text-left">
                <section class="panel">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="33%">服务类型</th>
                            <th width="33%">服务名称</th>
                            <th width="33%" class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        

                        
                      
                         
                           <tr>
                                  <td>mysql</td>
                                  <td>mysql_icinga</td>
                                  <td class="text-center">
                                    <button type="button" class="btn btn-success" onclick="buid_relation('team','mysql_icinga','okletswin');">关联</button>
                                  </td>
                              </tr>
                         
                          
                    
                          <tr>
                            <td></td>
                            <td>
                              <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.open('http://user.goodrain.com/apps/okletswin/service')">
                              <i class="fa fa-plus"></i>   创建服务</button>
                            </td>
                            <td></td>
                          </tr>
                       </tbody>
                    </table>
                </section>
            </div>
            
        </div>
        <!-- relations end -->
        <!-- control start -->

        <div role="tabpanel" class="tab-pane active" id="statistic">
          <div class="row">
            <div class="col-md-4">
              <section class="panel">
                <header class="panel-heading">
                  内存
                </header>
                <div class="panel-body">
                  <div id="memory-stat">
                    <svg></svg>
                  </div>
                </div>
              </section>
            </div>

            <div class="col-md-4">
              <section class="panel">
                <header class="panel-heading">
                  磁盘
                </header>
                <div class="panel-body">
                  <div id="disk-stat">
                    <svg></svg>
                  </div>
                </div>
              </section>
            </div>

            <div class="col-md-4">
              <section class="panel">
                <header class="panel-heading">
                  带宽
                </header>
                <div class="panel-body">
                  <div id="bandwidth-stat">
                    <svg></svg>
                  </div>
                </div>
              </section>
            </div>
          </div>

        </div>
        <!-- control end-->
        <!-- log start -->
        <div role="tabpanel" class="tab-pane" id="log"></div>
        <!-- log end-->

        <!-- settings start -->
        <div role="tabpanel" class="tab-pane" id="settings">
          <section class="panel">
            <header class="panel-heading">基础信息</header>
          <div class="panel-body">
            <div class="row">
            <label class="col-xs-2 control-label">应用名称</label><label class="col-xs-10 control-label">team</label>
            </div>
            
            <div class="row">
            <label class="col-xs-2 control-label">默认域名</label><label class="col-xs-10 control-label"><a href="http://team.okletswin.ucloud-bj-1.goodrain.net:10080" target="view_window">http://team.okletswin.ucloud-bj-1.goodrain.net:10080</a></label>
            </div>
            <br>
            

            
            <div class="row">
            <label class="col-xs-2 control-label">Git仓库</label>
            <label class="col-xs-10 control-label">
                <a href="https://github.com/okletswin/team_dashboard.git">https://github.com/okletswin/team_dashboard.git</a>
            </label>
            </div>
            

          </div>
          </section>
          
          

          <section class="panel">
            <header class="panel-heading">扩容方式</header>
          <div class="panel-body">
            <div class="row">
            
            <div class="col-xs-2 control-label">实例数</div>
            <div class="col-xs-2 control-label">
              <select name="serviceNods" id="serviceNods" class="form-control m-bot15">
                
                  
                  <option value="1" selected="selected">1</option>
                  
                
                  
                  <option value="2">2</option>
                  
                
                  
                  <option value="3">3</option>
                  
                
                  
                  <option value="4">4</option>
                  
                
                  
                  <option value="5">5</option>
                  
                
                  
                  <option value="6">6</option>
                  
                
                  
                  <option value="7">7</option>
                  
                
                  
                  <option value="8">8</option>
                  
                
                  
                  <option value="9">9</option>
                  
                
                  
                  <option value="10">10</option>
                  
                
              </select>
            </div>
            <div class="col-xs-2 control-label">
              <button type="button" onclick="app_upgrade('okletswin','team');" class="btn btn-success">设置</button>
            </div>
            <div class="col-xs-2 control-label">内存调整</div>
            <div class="col-xs-2 control-label">
              <select name="serviceMemorys" id="serviceMemorys" class="form-control m-bot15">
                
                  
                  <option value="1" selected="selected">128M</option>
                  
                
                  
                  <option value="2">256M</option>
                  
                
                  
                  <option value="3">512M</option>
                  
                
                  
                  <option value="4">1024M</option>
                  
                
                  
                  <option value="5">2048M</option>
                  
                
                  
                  <option value="6">4096M</option>
                  
                
              </select>
            </div>
            <div class="col-xs-2 control-label">
              <button type="button" onclick="service_upgrade('okletswin','team');" class="btn btn-success">设置</button>
            </div>
            
            </div>
          </div>
          </section>

          <section class="panel" id="permission">
            <header class="panel-heading">权限管理 </header>
            <div class="panel-body">
            <div class="row">
              <div class="col-xs-4">
                <input type="text" class="email-invite form-control" id="invite_email" name="invite_email" placeholder="邮件地址">
              </div>
              <div class="col-xs-2">
                <select class="form-control" id="ivite_perm" name="ivite_perm">
                    <option value="viewer">观察者</option>
                    <option value="developer">开发者</option>
                    <option value="admin">管理员</option>
                </select>
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-success invite-service" id="invite_user_btn">邀请</button>
              </div>
            </div>
            <br>
            <div id="action_report" class="width-3"></div>
            <table class="table" perm-type="service">
              <tbody>
              <tr>
                <th>成员名称</th>
                <th>邮件地址</th>
                <th class="text-center">管理员</th>
                <th class="text-center">开发者</th>
                <th class="text-center">观察者</th>
              </tr>
              
              </tbody>
            </table>
            </div>
          </section>

          <section class="panel" id="delete">
            <header class="panel-heading">删除 </header>
            <div class="panel-body">
              <form class="form-horizontal" role="form">

                <div class="form-group">
                  <label class="col-sm-2 col-lg-2  control-label">team</label>
                  <div class="col-sm-2 col-lg-2 text-center">
                    <button type="button" class="btn btn-danger" id="cur_delete_service" onclick="delete_service('okletswin','team');">删除</button>
                  </div>
                  <div class="col-sm-8 col-lg-8 control-label text-left text-danger">注意：该操作会将所有相关数据永久删除，请慎重操作！</div>
                </div>
              </form>
            </div>
          </section>

        </div>
        <!-- settings end-->
    </div>

</div></section>
</section>


{% endblock %}