{% extends 'www/raster.html' %} {% load i18n %} {% block main-content %}

<section class="wrapper site-min-height">
	<section class="panel">
		<header class="panel-heading tab-bg-dark-navy-blue ">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#recharge">账户充值</a>
				</li>
				<li class=""><a data-toggle="tab" href="#rechargelog">充值记录</a>
				</li>
			</ul>
		</header>
		<div class="panel-body">
			<div class="tab-content">

				<div id="recharge" class="tab-pane active">

					<div id="balance" class="alert alert-success alert-block active">
						<h4>账户余额：
							{{tenant.balance}}元</h4>
					</div>
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#onlinerecharge">在线充值</a></li>
						<!-- <li class=""><a data-toggle="tab" href="#banktransfer">银行转账</a> -->
						</li>
					</ul>
					<div class="tab-content">
						<div id="onlinerecharge" class="tab-pane active">
							<section class="panel">
								<form id="rechargeForm" method="POST" action="/apps/{{tenantName}}/recharge/alipay">
								  <div class="panel-body">
									<div class="form-inline">
										<div class="form-group">
											<label class="col-xs-12 control-label">充值金额</label>
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="recharge_money" name="recharge_money" value="100">
										</div>
									</div>
								  </div>
								  <div class="panel-body">
									<div class="form-group">
										<div class="col-lg-1">
											<label class="control-label">支付方式</label>
										</div>
										<div class="col-lg-10">
											<div class="row">
												<div class="col-lg-2">
													<label> 
														<input type="radio" name="optionsRadios" id="optionsRadios2" value="zhifubao" checked="checked" >支付宝
													</label>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-2">
													<label> <input type="radio" name="optionsRadios"
														id="optionsRadios2" disabled="disabled" value="option2">中国银行
													</label>
												</div>
												<div class="col-lg-2">
													<label> <input type="radio" name="optionsRadios"
														id="optionsRadios2" disabled="disabled" value="option2">中国工商银行
													</label>
												</div>
												<div class="col-lg-2">
													<label> <input type="radio" name="optionsRadios"
														id="optionsRadios2" disabled="disabled" value="option2">招商银行
													</label>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-2">
													<label> <input type="radio" name="optionsRadios"
														id="optionsRadios2" disabled="disabled" value="option2">中国建设银行
													</label>
												</div>
												<div class="col-lg-2">
													<label> <input type="radio" name="optionsRadios"
														id="optionsRadios2" disabled="disabled" value="option2">中国农业银行
													</label>
												</div>
												<div class="col-lg-2">
													<label> <input type="radio" name="optionsRadios"
														id="optionsRadios2" disabled="disabled" value="option2">交通银行
													</label>
												</div>
											</div>
										</div>
									</div>
								 </div>
								 <div class="panel-body">
									<div class="col-lg-1">
										 <button type="button" onclick="verifyData();" class="btn btn-success">&nbsp;充值&nbsp;</button>
									</div>
								 </div>
								</form>
								<div class="alert alert-warning fade in">
									<button data-dismiss="alert" class="close close-sm"
										type="button">
										<i class="fa fa-times"></i>
									</button>
									<strong>温馨提示：</strong><br>1、提示：若充值过程中遇到<a
										href="https://cshall.alipay.com/lab/help_detail.htm?help_id=247928">交易限额</a>问题，请前往相应的网上银行进行调整后再继续。<br>
									2、如您有欠费账单，充值后会优先补扣欠费账单。 <br> 3、充值后请及时对支付订单进行结算，以免影响正常服务。
								</div>
							</section>
						</div>
					</div>
				</div>
				<div id="rechargelog" class="tab-pane">
					<section class="panel">
						<div class="panel-body">
							<form class="form-inline" role="form">
								<div class="form-group">
									<label class="control-label">时间范围</label>
								</div>
								<div class="form-group">
									<select class="form-control" id="datescope">
										<option selected="selected" value="7">最近7天</option>
										<option value="30">最近1个月</option>
										<option value="180">最近6个月</option>
										<option value="0">所有记录</option>
									</select>
								</div>
							</form>
							<div class="adv-table" id="rechargeList"></div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
</section>
<script>
	function _page(page){
		var curdatescope= $("#datescope").val()
		if(typeof(curdatescope) == "undefined"){
			curdatescope=7
		}
		var curpagesize= $("#pageSizeScope").val()
		if(typeof(curpagesize) == "undefined"){
			curpagesize=10
		}
		$("#rechargeList").load('/ajax/{{tenantName}}/rechargelist?datescope='+curdatescope+'&perpage='+curpagesize+'&page='+page);
	}
	$(document).ready(function(){ 
		_page(1);
		
		$("body").on("change","#datescope", function () { 
			_page(1);
		});
		
		$("body").on("change","#pageSizeScope", function () { 
			_page(1);
		});
	})
	function verifyData(){
		if($("#recharge_money").val() <= 0){
			swal("充值金额异常");
		}else{
			$("#rechargeForm").submit();
		}
	}
</script>

{% endblock %}
