<div id="example_wrapper" role="grid">


	
	<table id="consumeDetail" aria-describedby="example_info">
		<thead>
			<tr role="row">
				<th>充值金额(元)</th>
				<th>类型</th>
				<th>操作人</th>
				<th>时间</th>
				<th>充值状态</th>
			</tr>
		</thead>
		<tbody role="alert" aria-live="polite" aria-relevant="all">
			<td>test</td>
			<td>test</td>
			<td>test</td>
			<td>test</td>
			<td>test</td>
			<!--{% for tenantRecharge in tenantRecharges %}-->
			<!--<tr>-->
				<!--<td class=" ">{{tenantRecharge.money}}</td>-->
				<!--<td class=" ">{{rechargeTypeMap|mkey:tenantRecharge.recharge_type}}</td>-->
				<!--<td class=" ">{{tenantRecharge.user_name}}</td>-->
				<!--<td>{{tenantRecharge.time}}</td>-->
				<!--<td>-->
					<!--{% if tenantRecharge.status == "TRADE_UNFINISHED" %}   -->
						<!--未完成-->
					<!--{% elif tenantRecharge.status == "TRADE_SUCCESS" %}-->
						<!--已成功-->
					<!--{% elif tenantRecharge.status == "TRADE_FINISHED" %}-->
						<!--已成功-->
					<!--{% else %}-->
						<!--充值失败-->
					<!--{% endif %}-->
				<!--</td>-->
			<!--</tr>-->
			<!--{% endfor %}-->
		</tbody>
	</table>

			<!--<div class="pages">-->
				<!---->
					<!--{% if tenantRecharges.has_previous %}-->
					<!--<a href="javascript:;"   class="prev" onclick="_page({{tenantRecharges.previous_page_number}})">&lt;</a></li> -->
					<!--{% endif %} -->
					<!---->
					<!--{% for page in tenantRecharges.paginator.page_range %} -->
						<!--{% if page = tenantRecharges.number %}-->
						<!--<a href="javascript:;" class="active">{{ page }}</a>-->
						<!--{% else %}-->
						<!--<a href="javascript:;" onclick="_page({{page}})">{{page}}</a>-->
						<!--{% endif %} -->
					<!--{% endfor %} -->
					<!--{% if tenantRecharges.has_next %}-->
					<!--<a href="javascript:;" class="next" onclick="_page({{ tenantRecharges.next_page_number }})">&gt;</a>-->
					<!--{% endif %}-->
				<!---->
			<!--</div>-->
	
</div>