{% extends 'www/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}用户注册{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static "www/css/style.css" %}">
    <link rel="stylesheet" href="{% static "www/css/style-responsive.css" %}">
{% endblock %}

{% block bodyclass %}login-body{% endblock %}

{% block body %}
<header class="header white-bg">
    <!--logo start-->
    <a href="/" class="logo">好雨<span>云平台</span></a>
    <!--logo end-->
</header>

<div class="container">
  <form class="form-signin form-signin-reg" enctype="multipart/form-data" action="" method="post">
    <h2 class="form-signin-heading">用户注册</h2>

    {% if errors %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </div>
    {{ form.non_field_errors }}
    {% endif %}

    <div class="row">
     	{% crispy form %}
    </div>

  </form>
  
  <script>
   var InterValObj; //timer变量，控制时间
   var count = 90; //间隔函数，1秒执行
   var curCount;//当前剩余秒数
  
  	function getPhoneCode(){
  		curCount = count;
  		var phone = $("#id_phone").val()
  		if(phone==""){
  			swal("手机号不能为空")
  			return false;
  		}
  		var captcha_code = $("#id_captcha_code").val()
  		if(captcha_code==""){
  			swal("请输入图形验证码")
  			return false;
  		}
  		$("#PhoneCodeBtn").attr("disabled", "true");
  		$.ajax({
    		type : "POST",
    		url : "/phone_code",
    		data : "phone="+phone+"&captcha_code="+captcha_code,
    		cache : false,
    		beforeSend : function(xhr, settings) {
    			var csrftoken = $.cookie('csrftoken');
    			xhr.setRequestHeader("X-CSRFToken", csrftoken);
    		},
    		success : function(msg) {
    			var dataObj = msg
    			if (dataObj["status"] == "success") {
    				swal("发送成功")
    				InterValObj = window.setInterval(SetRemainTime, 1000);
    			} else if(dataObj["status"] == "often"){
    				swal("请稍后发送")
    			}else if(dataObj["status"] == "errorcaptchacode"){
    				swal("图片验证码异常")
    			}else if(dataObj["status"] == "errorphone"){
    				swal("错误的手机号")
    			}else if(dataObj["status"] == "limited"){
    				swal("超过发送次数")
    			} else {
    				swal("发送失败")
    			}
    		},
    		error : function() {
    			// swal("系统异常");
    		}
    	})
    	return false;
  	}
  	function SetRemainTime() {
        if (curCount == 0) {                
            window.clearInterval(InterValObj);//停止计时器
            $("#PhoneCodeBtn").removeAttr("disabled");//启用按钮
            $("#PhoneCodeBtn").val("重新发送验证码");
        }
        else {
            curCount--;
            $("#PhoneCodeBtn").html("请在" + curCount + "秒内输入验证码");
        }
    }
  	
  	function refresh(){
  		var img = document.getElementById("captcha_code");  
        img.src = "/captcha?rnd=" + Math.random();  
  	}
  	
  </script>
</div>
{% endblock %}
