{% extends 'www/raster.html' %}
{% load i18n %}

{% block main-content %}

<section class="wrapper site-min-height">
	<!-- Google Code for Google adwords #1 Conversion Page -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 867795233;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "0_d8CLyEpmwQoYLmnQM";
	var google_remarketing_only = false;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/867795233/?label=0_d8CLyEpmwQoYLmnQM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
	<!-- 免费使用阶段 -->
	{% if pay_type == "free" and not expired %}
	<div class="infotips tipsbox">您可以全功能免费使用至 {{ expired_time|date:'Y-m-d H:i:s' }}。<a style="cursor:pointer;" onclick="payed_upgrade('{{tenantName}}','')">点击此处立刻升级为付费用户</a><a class="close" href="#">×</a></div>
	{% endif %}
	{% if pay_type == "free" and expired %}
	<div class="errortips tipsbox">您需要升级为付费用户才能继续使用云帮。<a style="cursor:pointer;" onclick="payed_upgrade('{{tenantName}}','')">点击此处升级为付费用户</a><a class="close" href="#">×</a></div>
	{% endif %}
	<!-- 付费使用阶段 -->
	{% if pay_type == "payed" and tenant_balance < 20 and tenant_balance > 0 %}
	<div class="warntips tipsbox">您的余额偏低。 <a href="/apps/{{tenantName}}/recharge/" target="_blank">点击此处充值</a> <a class="close" href="#">×</a></div>
	{% endif %}
	{% if pay_type == "payed" and monthly_payment_status == 1 %}
	<div class="warntips tipsbox">您的云帮将于 {{ buy_end_time|date:'Y-m-d H:i:s' }}到期。<a href="/apps/{{tenantName}}/paymodel/" target="_blank">点击此处购买预付费套餐</a><a class="close" href="#">×</a></div>
	{% endif %}
	{% if pay_type == "payed" and tenant_balance < 0 %}
	<div class="errortips tipsbox">您需要充值才能继续使用云帮。<a href="/apps/{{tenantName}}/recharge/" target="_blank">点击此处充值</a> <a class="close" href="#">×</a></div>
	{% endif %}
	{% if pay_type == "payed" and monthly_payment_status == 2 %}
	<div class="errortips tipsbox">您的云帮已于{{ buy_end_time|date:'Y-m-d H:i:s' }}到期。<a href="/apps/{{tenantName}}/paymodel/" target="_blank">点击此处购买预付费套餐</a><a class="close" href="#">×</a></div>
	{% endif %}
	<!-- -->
	<div class="modal fade bs-example-modal-sm" id="mylayer" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
 		 <div class="modal-dialog modal-sm">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	      </div>
	      <div class="modal-body">
	        升级为付费用户，携手云帮一起迈向云计算的未来！
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="payed_upgrade('{{tenantName}}','')">确定升级</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">我再想想</button>
	      </div>
	    </div>
	</div>
	<!-- -->
	<div class="row state-overview state-overview-okooo">
		<div class="col-lg-3 col-sm-6">
			<section class="panel">
				<div class="symbol terques">
					<i class="fa fa-dashboard"></i>
				</div>
				<div class="value">
					<h1 class="count" id="service_total_memory">0M</h1>
					<p>总内存</p>
				</div>
			</section>
		</div>
		<div class="col-lg-3 col-sm-6 ">
			<section class="panel">
				<div class="symbol red">
					<i class=" fa fa-cny"></i>
				</div>
				<div class="value">
					<h1 class="count">{{tenant_balance}}元</h1>
					<p>{% if tenant_balance > -1 %} 账户余额 {% else %} 已欠费 {% endif %}
					</p>
				</div>
			</section>
		</div>
		<div class="col-lg-3 col-sm-6">
			<section class="panel">
				<div class="symbol yellow">
					<i class="fa fa-cloud"></i>
				</div>
				<div class="value">
					<h1 class=" count3">{{totalAppNumber}}个</h1>
					<p>服务</p>
				</div>
			</section>
		</div>
		<div class="col-lg-3 col-sm-6">
			<section class="panel">
				<div class="symbol blue">
					<i class="fa fa-group"></i>
				</div>
				<div class="value">
					<h1 class=" count3">{{totalNum}}人</h1>
					<p>开发者</p>
				</div>
			</section>
		</div>
	</div>

	

	<section class="panel">
		<input type="hidden" value="{{activity_id}}"  id="activity_id" />
		<script>
			$(function(){
				var activity_id = $("#activity_id").attr("value");
				if(activity_id == ""){
					swal("恭喜您！获得「无礼物 不圣诞」活动鼓励金：998元！已经充值进迅达云余额，请尽情享用吧！");
				}else{
					console.log(activity_id);
				}
			});
		</script>
		<table class="table table-striped table-advance table-hover">
			<thead>
				<tr>
					<th><i class="fa "></i> 名称</th>
					<th><i class="fa "></i> 内存</th>
					<th><i class="fa "></i> 状态</th>
					<th><i class=" fa "></i> 类型</th>
					<th><i class=" fa "></i> 版本</th>
					<th><i class=" fa fa-edit"></i> 操作</th>
					<!--<th></th> -->
				</tr>
			</thead>
			<tbody>
				{% for item in tenantServiceList %}
				<tr id="panel">
					<td><h4>
							<a href="/apps/{{tenantName}}/{{item.service_alias}}/detail/">{{item.service_cname}}</a>
						</h4>
					</td>
					<td id="service_memory_{{item.service_id}}">0M</td>
					<td><span class="label label-success label-mini"
						id="service_status_{{item.service_id}}">未知</span></td>
					<td>{{item.service_type}}</td> 
					<td>
						{% if item.category == "application" %}
							{{item.deploy_version}}
						{% else %}
							{{item.version}}					
						{% endif %}
					</td>
					<td>
						{% if item.category == "application" %}
						<button type="button" class="btn btn-shadow btn-info "
							id="button_{{item.service_id}}"
							onclick="service_oneKeyDeploy('application','{{item.service_alias}}','{{tenantName}}','no');">
							<i class="fa fa-refresh"></i> 部署
						</button>
						{% endif %}
						<button class="btn btn-danger" data{{item.service_id}}="0"
							onclick="service_my_onOperation('{{item.service_id}}','{{item.service_alias}}','{{tenantName}}');"
							id="operate_{{item.service_id}}">
							<i class="fa fa-power-off "
								id="operate_inner_{{item.service_id}}"></i>
						</button>
						<button class="btn btn-primary"
							onclick="window.location.href=href='/apps/{{tenantName}}/{{item.service_alias}}/detail/' ">
							<i class="fa fa-gear"></i>
						</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="gearboxtop" style="margin-top: 10px;">
		<a href="/apps/{{tenantName}}/service-entrance/" class="btn btn-shadow btn-success">
			<i class="dcjq-icon"></i>
			新建应用</a>

	</div>
	</section>
	<script>
	    function checkStatus(){
	    	var servcieList=$("#panel")
	    	var curLength=servcieList.length;
    		if(curLength >0 ){
    			$.ajax({
   		       	  type: "GET",  
   		    		  url: "/ajax/{{tenantName}}/serviceinfo", 		  
   		    		  cache: false,
   		    		  beforeSend: function(xhr, settings){  
   		    		      var csrftoken = $.cookie('csrftoken');  
   		    		      xhr.setRequestHeader("X-CSRFToken", csrftoken);  
   		    		  },  
   		    	  	  success: function(msg) {
   		    	  		  var dataObj=msg;
   		    	  		  totalM =0; 
		    		  	  for(var o in dataObj){
			    		  	  var obj=dataObj[o]
			    		  	  if(obj["status"]=="running"){
			    		  		 $("#service_status_"+o).html("运行中")
			    		  		 $("#service_status_"+o).attr("class","label label-success label-mini")
			    		  		 $("#button_"+o).attr("class","btn btn-shadow btn-info")
			    		  		 $("#button_"+o).removeAttr("disabled")
			    		  		 $("#operate_"+o).removeAttr("disabled")
			    		  		 $("#operate_"+o).attr("class","btn btn-danger")
								 $("#operate_inner_"+o).attr("class","fa fa-power-off")
								 $("#operate_"+o).attr("data"+o,"stop")	
							  }else if(obj["status"]=="starting"){
                                 $("#service_status_"+o).html("启动中")
                                 $("#service_status_"+o).attr("class","label label-success label-mini")
                                 $("#button_"+o).attr("class","btn btn-shadow btn-info")
                                 $("#button_"+o).removeAttr("disabled")
                                 $("#operate_"+o).removeAttr("disabled")
                                 $("#operate_"+o).attr("class","btn btn-danger")
                                 $("#operate_inner_"+o).attr("class","fa fa-power-off")
                                 $("#operate_"+o).attr("data"+o,"stop") 
					    	  }else if(obj["status"]=="unusual"){
					    		 $("#service_status_"+o).html("运行异常")
					    		 $("#service_status_"+o).attr("class","label label-danger label-mini")
					    		 $("#button_"+o).removeAttr("disabled")
			    		  		 $("#operate_"+o).removeAttr("disabled")
			    		  		 $("#operate_"+o).attr("class","btn btn-danger")
								 $("#operate_inner_"+o).attr("class","fa fa-power-off")
						      }else if(obj["status"]=="closed" || obj["status"]=="owed" || obj["status"]=="expired"){
					    		 $("#service_status_"+o).html("已关闭")
					    		 if(obj["status"]=="closed"){
					    			 $("#service_status_"+o).html("已关闭")
								 }else{
				    		  		 $("#service_status_"+o).html("余额不足已关闭")
				    		  	 }
					    		 $("#service_status_"+o).attr("class","label label-danger label-mini")			    		 
					    		 $("#button_"+o).attr('disabled',"true")
						    	 $("#operate_"+o).removeAttr("disabled")
					    		 $("#operate_"+o).attr("class","btn btn-success")
								 $("#operate_inner_"+o).attr("class","fa fa-play")
								 $("#operate_"+o).attr("class","btn btn-success")
								 $("#operate_inner_"+o).attr("class","fa fa-play")
								 $("#operate_"+o).attr("data"+o,"restart")
						      }else if(obj["status"]=="undeploy"){
						    	 $("#service_status_"+o).html("未部署")	
						    	 $("#service_status_"+o).attr("class","label label-info label-mini")				    		 
						    	 $("#button_"+o).removeAttr("disabled")
						    	 $("#operate_"+o).attr('disabled',"true")
						    	 $("#operate_"+o).attr("class","btn btn-danger")
								 $("#operate_inner_"+o).attr("class","fa fa-power-off")
						      }else{
						    	 $("#service_status_"+o).html("未知")
						    	 $("#service_status_"+o).attr("class","label label-warning label-mini")
						    	 $("#button_"+o).attr('disabled',"true")
						    	 $("#operate_"+o).attr('disabled',"true")
							  }
			    		   }
   		    		  },
   		    		  error: function(){
   		    			//swal("系统异常");
   		      	  	}
   		       })
        	}
	    }
	    
	    function checkTenantsStorage(){
	    	var servcieList=$("#panel")
	    	var curLength=servcieList.length;
    		if(curLength >0 ){
    			$.ajax({
   		       	  type: "GET",  
   		    		  url: "/ajax/{{tenantName}}/tenant-disk", 		  
   		    		  cache: false,
   		    		  beforeSend: function(xhr, settings){  
   		    		      var csrftoken = $.cookie('csrftoken');  
   		    		      xhr.setRequestHeader("X-CSRFToken", csrftoken);  
   		    		  },  
   		    	  	  success: function(msg) {
   		    	  		  var dataObj=msg;
   		    	  		  totalM =0; 
   		    	  		  var service_ids = dataObj["service_ids"]
		    		  	  for(var i=0;i< service_ids.length;i++){
		    		  		  var o = service_ids[i]
			    		  	  running_memory = 0
			    			  if(dataObj[o+"_running_memory"] != undefined){
			    				  running_memory = dataObj[o+"_running_memory"]
			    			  }
			    			  storage_memory = 0
			    			  if(dataObj[o+"_storage_memory"] != undefined){
			    			      storage_memory = dataObj[o+"_storage_memory"]
			    			  }
			    			  if($("#service_status_"+o).html() == "运行中"){
			    				 $("#service_memory_"+o).html((running_memory + storage_memory)+"M")
			    				 totalM = totalM + running_memory + storage_memory
			    			  }else if($("#service_status_"+o).html() == "部署中"){
			    				 $("#service_memory_"+o).html((running_memory + storage_memory)+"M")
			    				 totalM = totalM + running_memory + storage_memory
			    			  }else{
			    				 $("#service_memory_"+o).html(storage_memory+"M")
			    				 totalM = totalM + storage_memory
			    			  }
			    		   }
		    		  	   $("#service_total_memory").html(totalM+"M")
   		    		  },
   		    		error: function(){
   		    			//swal("系统异常");
   		      	  	}
   		       })
        	}
	    }

	    $(document).ready(function () {  
	    	checkStatus()
	    	setTimeout("checkTenantsStorage()", 1000);
            setInterval("checkStatus()", 15000);
	    	setInterval("checkTenantsStorage()", 30000);
        });

	
    </script>
</section>
{% endblock %}