{% extends 'www/raster.html' %}
{% load i18n %}
{% load goodrain_extras %}

{% block main-content %}

<section class="wrapper">
    <section class="panel">
        <header class="panel-heading tab-bg-dark-navy-blue ">
            <ul class="nav nav-tabs" id="nav-tabs">
                <li {% if fr == "local" %} class="active" {% endif %}><a href="/apps/{{tenantName}}/service">本地服务列表</a></li>
                <li {% if fr == "remote" %} class="active" {% endif %}><a href="/apps/{{tenantName}}/service/?fr=remote">远程服务列表</a></li>
            </ul>
        </header>

        <div class="panel-body">
            <div class="tab-content">
                {% if fr == "local" %}
                    {% if cacheServiceList %}
                    {% for cache in cacheServiceList %}
                    <div class="col-md-3 applistbox">
                        <h4>{{cache.service_name}}</h4>
                        <h5>{{cache.version}}</h5>
                        <button type="button" class="btn btn-success"
                                onclick="service_create('{{tenantName}}','{{cache.service_key}}', '{{cache.version}}')">部署
                        </button>
                        {% with tkey=cache.service_key|add:"_"|add:cache.version %}
                        {% with update_version=appService|mkey:tkey %}
                            {% if update_version %}
                                {% if update_version = cache.update_version %}
                                {% else %}
                                    <button type="button" class="btn"
                                        onclick="service_update('{{tenantName}}','{{cache.service_key}}','{{appVersion|mkey:tkey}}','{{update_version}}')">更新
                                    </button>
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                        {% endwith %}
                    </div>
                    {% endfor %}
                    {% endif %}
                {% elif fr == "remote" %}
                <div class="panel-body" id="servicepanel">
                </div>
                <script>
                    //这里调用ajax请求云市服务数据
                    function remoteservice(service_key, app_version) {
                        window.location.href = '/ajax/{{tenantName}}/remote/market?service_key='
                                + service_key + '&app_version=' + app_version;
                    }
                    $(document).ready(function(){
                        $.ajax({
                            type: "POST",
                            url: "/ajax/{{tenantName}}/remote/market",
                            cache: false,
                            beforeSend : function(xhr, settings) {
                                var csrftoken = $.cookie('csrftoken');
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            },
                            success: function (msg) {
                                if (msg.success) {
                                    var dataObj = msg.data
                                    tmpdata = eval(dataObj)
                                    for (var i = 0; i < tmpdata.length; i++) {
                                        $("<div/>").addClass("col-lg-2").append(
                                                $("<h4/>").text(tmpdata[i].service_name)
                                        ).append(
                                                $("<h5/>").text(tmpdata[i].version)
                                        ).append(
                                                $("<button/>").attr("type", "button")
                                                        .addClass("btn btn-success")
                                                        .attr("onclick", "remoteservice('"+tmpdata[i].service_key+"','" + tmpdata[i].version + "')")
                                                        .text("部署")
                                        ).appendTo($("#servicepanel"))
                                    }
                                }

                            },
                            error: function () {
                                // swal("系统异常");
                                alert("data error");
                            }
                        });
                    });
                </script>
                {% endif %}
            </div>
        </div>
    </section>
</section>

{% endblock %}