{% extends 'www/raster.html' %}

{% load i18n %}

{% load goodrain_extras %}


{% block main-content %}

{% if tenantServiceInfo %}
<section class="wrapper">
    <section class="panel">
        <p><span style="font-size: 18px; line-height: 30px; color: #666;" id="appname">{{tenantServiceInfo.service_cname}}</span><a href="javascript:;" class="fn-rename" style="color: #28cb75; text-decoration: underline; font-size:14px; line-height: 30px; padding-left:10px;">更名</a></p>
        <header class="panel-heading tab-bg-dark-navy-blue ">
            <ul class="nav nav-tabs" id="nav-tabs">
                <li {% if fr = "deployed" %} class="active" {% endif %}>
                    <a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=deployed">概览</a>
                </li>
                {% if tenantServiceInfo.category == "application" or tenantServiceInfo.category == "manager" or tenantServiceInfo.category == "app_publish" or tenantServiceInfo.category == "app_sys_publish" %}
                <li {% if fr = "relations" %} class="active" {% endif %}>
                    <a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=relations">依赖</a>
                </li>
                {% endif %}
                {% if MODULES.Monitor_Control %}
                <li class="dropdown {% if fr == 'statistic' %} active {% endif %}">
                    {% if hasHttpServices or tenantServiceInfo.service_type == 'mysql' %}
                    <a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=statistic"
                       class="dropdown-toggle" data-toggle="dropdown">监控<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=statistic&type=realtime">实时分析</a></li>
                        <li><a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=statistic&type=history">历史走势</a></li>
                    </ul>
                    {% else %}
                    <a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=statistic">监控</a>
                    {% endif %}
                </li>
                {% endif %}
                <li {% if fr = "log" %} class="active" {% endif %}>
                    <a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=log">日志</a>
                </li>
                <li {% if fr = "settings" %} class="active" {% endif %}>
                    <a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=settings">高级</a>
                </li>
                {% if tenantServiceInfo.category = "application" %}
                <li {% if fr = "share" %} class="active" {% endif %}>
                    <a href="/apps/{{tenantName}}/{{serviceAlias}}/share/step1?fr=share">分享</a>
                </li>
                {% endif %}
            </ul>
        </header>

        <div class="panel-body">
            <div class="tab-content">
                {% if fr == "deployed" %}
                {% include 'www/include/tab_deployed.html' %}
                {% elif fr == "relations" %}
                {% include 'www/include/tab_relations.html' %}
                {% elif fr == "statistic" %}
                {% include 'www/include/tab_statistic.html' %}
                {% elif fr == "log" %}
                {% include 'www/include/tab_log.html' %}
                {% elif fr == "settings" %}
                {% include 'www/include/tab_settings.html' %}
                {% elif fr == "resource" %}
                {% include 'www/resource/monitorDetail.html' %}
                {% endif %}
            </div>
        </div>
    </section>
</section>
<script type="text/javascript">
    //// ww-2016-12-7 更改 appname  start
    //弹出层
    function FnLayer(textTit){
        var oDiv = '<div class="layerbg"><div class="layermain"></div></div>';
        var oCloseBtn = '<a href="javascript:;" class="closebtn fn-close">X</a>';
        var oTit = '<p class="layer-tit">'+ textTit +'</p>';
        var oInput ='<p class="input-css"><input name="" type="text" value="" /></p>';
        var oLink = '<p class="layerlink"><a href="javascript:;" class="fn-sure">确定</a><a href="javascript:;" class="fn-close">取消</a></p>';
        $("body").append(oDiv);
        $("div.layermain").append(oCloseBtn,oTit);
        $("div.layermain").append(oInput);
        $("div.layermain").append(oLink);
        $(".fn-close").click(function(){
             $("div.layerbg").remove();
             $(".input-css input").prop("value","");
        });
        $(".fn-sure").click(function(){
             console.log(2);
            if(inputText == ""){
                console.log(1);
                alert("您还没有输入应用名！")
                return false;
            }else{
                var inputText = $(".input-css input").val();
                
                ///ajax start
                
                $.ajax({
                    type : "post",
                    url : "/ajax/{{tenantName}}/change-service-name",
                    data : {
                        new_service_cname : inputText,
                        service_alias : "{{serviceAlias}}"
                    },
                    cache : false,
                    beforeSend : function(xhr, settings) {
                        var csrftoken = $.cookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success : function(msg) {
                        if(msg.ok){
                           if($("#appname")){
                              $("#appname").html(inputText);
                            }
                            if($("#lit-appname")){
                              $("#lit-appname").html(inputText);
                            }
                           $("div.layerbg").remove();
                           $(".input-css input").prop("value","");
                        }else{
                            swal(msg.info);
                        }
                    },
                    error : function() {
                        swal("系统异常,请重试");
                    }
                });
                
                ///ajax end
            }
              
        });   
    }
    //  弹出层
    $(".fn-rename").click(function(){
        FnLayer("请输入新应用名");  
    });
    //// ww-2016-12-7 更改 appname end 
</script>
{% endif %}

{% endblock %}
