{% extends 'www/raster.html' %}
{% load i18n %}

{% block main-content%}

<section class="wrapper site-min-height">
   <div class="panel-body">
      <!--<div role="tabpanel" class="tab-pane active " id="deployed">-->
        <div class="tab-content">
          <div class="col-lg-8">
            <section class="panel">
              <header class="panel-heading">代码仓库</header>
                <div class="panel-body">
                  <div class="row">
                      <label class="col-xs-2 control-label">HTTP</label>
                      <label class="col-xs-10 control-label">{{httpUrl}}</label>
                  </div>
                </div>
                          
              <header class="panel-heading">如果已经提交代码，可以   <button type="button" class="btn btn-info" id="onekey_deploy" onclick="service_oneKeyDeploy('application','{{serviceAlias}}','{{tenantName}}');">一键部署</button></header>
              <header class="panel-heading">如果不知道如何提交代码，请<a hrea="http://docs.goodrain.com/usage/git.html" target="_black">参阅文档</a></header>
            </section>
          </div>
        </div>
   </div>

</section>


{% endblock %}
