{% extends 'www/raster.html' %}

{% load i18n %}

{% load goodrain_extras %}


{% block main-content %}

{% if tenantServiceInfo %}
<section class="wrapper">
<section class="panel">
        <header class="panel-heading tab-bg-dark-navy-blue ">
         <ul class="nav nav-tabs" id ="nav-tabs">
        <li  class="active"><a href="#deployed"  data-toggle="tab">概览</a></li>
        {% if tenantServiceInfo.category == "application" or  tenantServiceInfo.category == "manager" %}
        	<li class="" ><a href="#relations"  data-toggle="tab">依赖</a></li>
        {% endif  %}
        {% if tenant.pay_type != 'free' %}
          {% if show_graph %}
          <li class="" ><a href="#statistic"  data-toggle="tab">监控</a></li>
          {% else %}
          <li class="" ><a href="{{ request.path }}?show_graph=yes">监控</a></li>
          {% endif %}
        {% endif %}
        <li class=""><a href="#log"  data-toggle="tab">日志</a></li>
        <li class=""><a href="#settings"  data-toggle="tab">高级</a></li>
        <!--{% ifequal tenantServiceInfo.category "application" %}
        <li class="nav-tabs-oklastli"><b>git</b><input type="text" value="git@code.goodrain.com:app/{{tenantName}}_{{serviceAlias}}.git" placeholder="http://code.goorain.com/username" class="form-control"><span class="fa fa-clipboard"></span></li>
        {% endifequal  %}-->
      </ul>
      </header>

      <div class="panel-body">
      <div class="tab-content">
        <!-- deployed start -->
        <div role="tabpanel" class="tab-pane active text-center" id="deployed">
          <div class="row">
            <div class="col-sm-3">
              <p>状态</p>
              <span class="badge badge-sm label-success" style="font-size:18pt" id="service_status" name="service_status">Unknown</span>
            </div>
            <div class="col-sm-3">
              <p>内存使用</p>
              <p style="font-size:18pt" id="service_memory" name="service_memory">0M</p>
            </div>
            <!--<div class="col-sm-3">
              <p>磁盘占用</p>
              <p style="font-size:18pt" id="service_disk" name="service_disk">0M</p>
            </div>
            <div class="col-sm-3">
              <p>流量</p>
              <p style="font-size:18pt" id="service_network" name="service_network">0K</p>
            </div>
             -->
          </div>
          <div class="row">
            <div class="col-lg-12">
              <section class="panel text-left">
                <header class="panel-heading">控制</header>
                <div class="panel-body">
                    <div class="row">
                    	<div class="col-lg-6 text-left">
                        {% ifequal tenantServiceInfo.category "application" %}
	                        {% if 'code_deploy' in user.actions %}
	                        	<button type="button" class="btn btn-info " id="onekey_deploy" onclick="service_oneKeyDeploy('{{tenantServiceInfo.category}}','{{tenantServiceInfo.service_alias}}','{{tenantName}}','no');"><i class="fa fa-cloud-upload"></i> 一键部署</button>
	                        {% endif %}
	                        	{% if tenantServiceInfo.protocol == "http" %}
	                        		<button type="button" class="btn btn-success" id="service_visitor" onclick="window.open('http://{{serviceAlias}}.{{tenantName}}.{{region_name}}.goodrain.net{{http_port_str}}');"><i class="fa fa-eye"></i>访问</button>
	                        	{% endif  %}
	                        {% else %}
	                        	{% if tenantServiceInfo.protocol == "http" %}
	                        		<button type="button" class="btn btn-success" id="service_visitor" onclick="window.open('http://{{serviceAlias}}.{{tenantName}}.{{region_name}}.goodrain.net{{http_port_str}}');"><i class="fa fa-eye"></i>访问</button>
	                        	{% endif  %}
                        {% endifequal %}
                        {% ifequal tenantServiceInfo.service_key "mysql" %}
                          {% if service_manager.deployed %}
                              <button type="button" class="btn btn-success" id="service_visitor" onclick="window.open('{{service_manager.url}}');"><i class="fa fa-eye"></i>管理</button>
                          {% else %}
                              <button type="button" class="btn btn-info" id="service_visitor" onclick="window.open('{{service_manager.url}}');"><i class="fa fa-eye"></i>添加管理服务</button>
                          {% endif %}
                        {% endifequal %}
                        </div>
                        <div class="col-lg-6 text-right">
                        	<input type="hidden" id="service_status_value" name="service_status_value" value="" />
                        	<button type="button" class="btn btn-danger" id="service_status_operate" onclick="service_onOperation('{{tenantServiceInfo.service_id}}','{{tenantServiceInfo.service_alias}}','{{tenantName}}');" ><i class="fa  fa-power-off"></i><font id="font{{tenantServiceInfo.service_id}}">关闭</font></button>
                      	</div>
                    </div>
                  </div>
              </section>
            </div>
          </div>
          {% if tenantServiceInfo.is_service %}
          {% with curServiceEnvVarList=envMap|mkey:tenantServiceInfo.service_id %}
          <div class="row">
          	<div class="col-lg-6 text-left">
               <section class="panel">
                 <header class="panel-heading">连接信息</header>
                 <table class="table table-hover">
                   <thead>
                     <tr>
                       <th>说明</th>
                       <th>变量名</th>
                       <th>变量值</th>
                     </tr>
                   </thead>
                   <tbody>
                    {% for curServiceEnvVar in curServiceEnvVarList %}
                     <tr>
                       <td>{{curServiceEnvVar.name}}</td>
                       <td>{{curServiceEnvVar.attr_name}}</td>
                       <td>{{curServiceEnvVar.attr_value}}</td>
                     </tr>
                    {% endfor %}
                   </tbody>
                 </table>
               </section>
             </div>
          </div>
          {% endwith %}
          {% endif %}
          <div class="row">
          	<div class="col-lg-12 text-left">
          	 	<section class="panel">
          	 	   <header class="panel-heading">关键日志</header>
	                <div class="panel-body">
	                  <div class="text-left  logtxtbox">
	                    <input type="hidden" name="service_name" id="service_name" value="{{tenantServiceInfo.service_alias}}"/>
	                    <p id="keylog"></p>
	                  </div>
	                </div>
          	 	</section>
          	</div>
          </div>
        </div>
        <!-- deployed end-->
        <!-- relations start -->
        <div role="tabpanel" class="tab-pane" id="relations">
           {% if tenantServiceInfo.category == "application" or  tenantServiceInfo.category == "manager" %}
           <div class="col-sm-16 text-left">
                <section class="panel">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="33%">服务类型</th>
                            <th width="33%">服务名称</th>
                            <th width="33%" class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if serviceIds %}
	                 		{% for sid in serviceIds %}
	                 		   {% with value=serviceMap|mkey:sid %}
	                 		   {% with curServiceEnvVarList=envMap|mkey:sid %}
		                        <tr>
		                            <td>{{value.service_type}}</td>
		                            <td>{{value.service_alias}}</td>
		                            <td class="text-center">
		                            	<button type="button" class="btn btn-danger"  onclick="buid_relation('cancel','{{tenantServiceInfo.service_alias}}','{{value.service_alias}}','{{tenantName}}');">取消</button>
		                            	<a class="btn btn-success" data-toggle="modal" href="#linkinfo{{value.service_id}}">连接信息</a>
	                                  	<div class="modal fade in" id="linkinfo{{value.service_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
	                                      <div class="modal-dialog">
		                                      <div class="modal-content">
			                                        <div class="modal-header">
			                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			                                          <h4 class="modal-title">连接信息</h4>
			                                        </div>
			                                        <div class="modal-body">
			                                          <table class="table text-left">
			                                            <thead>
			                                              <tr>
			                                                <th>说明</th>
                       										<th>变量名</th>
                       										<th>变量值</th>
			                                              </tr>
			                                            </thead>
			                                            <tbody>
			                                             {% for curServiceEnvVar in curServiceEnvVarList %}
									                     <tr>
									                       <td>{{curServiceEnvVar.name}}</td>
									                       <td>{{curServiceEnvVar.attr_name}}</td>
									                       <td>{{curServiceEnvVar.attr_value}}</td>
									                     </tr>
									                     {% endfor %}
			                                            </tbody>
			                                          </table>
			                                        </div>
			                                        <div class="modal-footer">
		                                          <button data-dismiss="modal" class="btn btn-block btn-info" type="button">关闭</button>
		                                        </div>
		                                      </div>
	                                      </div>
	                                    </div>
		                            </td>
		                        </tr>
		                        {% endwith %}
		                        {% endwith %}
	                        {% endfor %}
                        {% endif %}

                        {% if serviceMap %}
	                 		{% for k,value in serviceMap.items %}
	                 		   {% if k not in serviceIds %}
		                 		   <tr>
			                            <td>{{value.service_type}}</td>
			                            <td>{{value.service_alias}}</td>
			                            <td class="text-center">
			                            	<button type="button" class="btn btn-success"  onclick="buid_relation('add','{{tenantServiceInfo.service_alias}}','{{value.service_alias}}','{{tenantName}}');">关联</button>
			                            </td>
			                        </tr>
	                 		   {% endif %}
	                        {% endfor %}
                		{% endif %}
                          <tr>
                            <td></td>
                            <td>
                              <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.open('/apps/{{tenantName}}/service')">
                              <i class="fa fa-plus"></i>   创建应用</button>
                            </td>
                            <td></td>
                          </tr>
                       </tbody>
                    </table>
                </section>
            </div>
            {% endif  %}
        </div>
        <!-- relations end -->
        <!-- statistic start -->
        {% if tenant.pay_type != 'free' %}
        <div role="tabpanel" class="tab-pane" id="statistic">
          <div>
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
              <select id="graph-period" class="form-control input-sm m-bot15">
                  <option value="1h-ago">1小时</option>
                  <option value="8h-ago">8小时</option>
                  <option value="24h-ago">24小时</option>
                  <option value="7d-ago">7天</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <section class="panel">
                <header class="panel-heading">
                  内存
                </header>
                <div class="panel-body">
                  <div id="memory-stat" class="graph">
                    <svg></svg>
                  </div>
                </div>
              </section>
            </div>

            <div class="col-md-6">
              <section class="panel">
                <header class="panel-heading">
                  带宽
                </header>
                <div class="panel-body">
                  <div id="bandwidth-stat" class="graph">
                    <svg></svg>
                  </div>
                </div>
              </section>
            </div>

            <div class="col-md-6">
              <section class="panel">
                <header class="panel-heading">
                  磁盘
                </header>
                <div class="panel-body">
                  <div id="disk-stat" class="graph">
                    <svg></svg>
                  </div>
                </div>
              </section>
            </div>

          </div>

          {% if tenantServiceInfo.category == "application" or  tenantServiceInfo.category == "manager" %}
          <div class="row">
            <div class="col-md-6">
              <section class="panel">
                <header class="panel-heading">
                  响应时间
                </header>
                <div class="panel-body">
                  <div id="response-time-stat" class="graph">
                    <svg></svg>
                  </div>
                </div>
              </section>
            </div>

            <div class="col-md-6">
              <section class="panel">
                <header class="panel-heading">
                  在线人数
                </header>
                <div class="panel-body">
                  <div id="online-stat" class="graph">
                    <svg></svg>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <section class="panel">
                <header class="panel-heading">
                  吞吐率
                </header>
                <div class="panel-body">
                  <div id="throughput-stat" class="graph">
                    <svg></svg>
                  </div>
                </div>
              </section>
            </div>

          </div>
          {% endif %}

        </div>
        {% endif %}
        <!-- statistic end-->
        <!-- log start -->
        <div role="tabpanel" class="tab-pane" id="log"></div>
        <!-- log end-->

        <!-- settings start -->
        <div role="tabpanel" class="tab-pane" id="settings">
          <section class="panel">
              <header class="panel-heading">基础信息</header>
	          <div class="panel-body">
	            <div class="row">
	            	<label class="col-xs-2 control-label">应用名称</label><label class="col-xs-10 control-label">{{tenantServiceInfo.service_alias}}</label>
	            </div>
	            {% if tenantServiceInfo.category == "application" %}
	            <div class="row">
		            <label class="col-xs-2 control-label">Git仓库</label>
		            <label class="col-xs-10 control-label">
		                <a href="{{httpGitUrl}}">{{httpGitUrl}}</a>
		            </label>
	            </div>
	            {% endif %}
	            {% if tenant.pay_type != "free" %}
	            <div class="row">
		            <label class="col-xs-2 control-label">服务协议</label>
		            <label class="col-xs-10 control-label">
		                <select name="protocol" id="protocol">
		                    {% if tenantServiceInfo.category == "application" or  tenantServiceInfo.category == "manager" %}
		                	<option {% if tenantServiceInfo.protocol == "http" %} selected="selected" {% endif %} value="http">Http协议</option>
		                	{% endif %}
		                	<option {% if tenantServiceInfo.protocol == "stream" %} selected="selected" {% endif %} value="stream">非Http协议</option>
		                </select>
		            </label>
	            </div>
	            {% endif %}
	          </div>
          </section>
           
          {% if tenant.pay_type != "free" or tenantServiceInfo.service_region == 'aws-jp-1' %}
          <section class="panel">
           	  <header class="panel-heading">对外服务</header>
	          <div class="panel-body">
	           {% if tenantServiceInfo.protocol == "http" %}
		           <div class="row">
		              <div class="col-xs-12">
		                <table class="table">
		                  <thead>
		                  <tr>
		                    <th>域名</th>
		                    <th>CNAME域名</th>
		                    <th>验证</th>
		                    <th></th>
		                  </tr>
		                  </thead>
		                  <tbody>
		                  <tr>
		                    <td><input type="text" class="form-control" id="service_app_name" value="{{serviceDomain.domain_name}}" placeholder="请输入新域名，如：www.example.com"></td>
		                    <td><a href="http://{{tenantServiceInfo.service_alias}}.{{tenantName}}.{{region_name}}.goodrain.net{{http_port_str}}" target="_blank">{{tenantServiceInfo.service_alias}}.{{tenantName}}.{{region_name}}.goodrain.net</a></td>
		                    <td>未验证</td>
		                    <td class="text-center">
		                        {% if serviceDomain %}
		                        <button type="button" class="btn btn-danger btn-xs" onclick="domainSubmit('close','{{tenantServiceInfo.service_id}}','{{tenantName}}','{{tenantServiceInfo.service_alias}}')">解绑</button>
		                		{% else %}
		                		<button type="button" class="btn btn-success btn-xs" onclick="domainSubmit('start','{{tenantServiceInfo.service_id}}','{{tenantName}}','{{tenantServiceInfo.service_alias}}')">绑定</button>
		                		{% endif %}
		                	</td>
		                    </tr>
		                  </tbody>
		                </table>
		              </div>
		           </div>
	           {% else %}
                {% if tenant.pay_type != "free" %}
	           		<div class="row">
	           		    <input type="hidden" name="create_port_mapping" id='create_port_mapping' value="portMapping">
			          	<div class="col-xs-12">
			                 <table class="table table-hover">
			                   <thead>
			                     <tr>
			                       <th>访问地址</th>
			                       <th>端口</th>
			                       <th></th>
			                     </tr>
			                   </thead>
			                   <tbody>
			                     <tr>
			                       <td>{{tenantServiceInfo.service_alias}}.{{tenantName}}.{{region_name|cut:"-1"}}-s1.goodrain.net</td>
			                       <td id="mapping-port">动态分配</td>
			                       <td>
			                       	{% if tenantServiceInfo.is_web_service %}
			                       		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger btn-xs" id="cur_outer_service_close" onclick="service_protocol('outer','close','{{tenantName}}','{{tenantServiceInfo.service_alias}}');">关闭</button>
			                        {% else %}
					           	  		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success btn-xs" id="cur_outer_service_open" onclick="service_protocol('outer','start','{{tenantName}}','{{tenantServiceInfo.service_alias}}');">开启</button>
					           	  	{% endif %}	          						
			                       </td>
			                     </tr>
			                   </tbody>
			                 </table>
			             </div>
			           </div>
                 {% endif %}
	           {% endif %}
	          </div>
          </section>
          {% endif %}
          <section class="panel">
           	  <header class="panel-heading">对内服务
           	  	{% if tenantServiceInfo.is_service %}
           	  		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger btn-xs" id="cur_inner_service_close" onclick="service_protocol('inner','close','{{tenantName}}','{{tenantServiceInfo.service_alias}}');">关闭</button>
           	  	{% else %}
           	  		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success btn-xs" id="cur_inner_service_open" onclick="service_protocol('inner','start','{{tenantName}}','{{tenantServiceInfo.service_alias}}');">开启</button>
           	  	{% endif %}	          	
           	  </header>
           	  {% if tenantServiceInfo.is_service %}
           	  {% with curServiceEnvVarList=envMap|mkey:tenantServiceInfo.service_id %}
           	  <div class="panel-body">
		            <div class="row">
			          	<div class="col-xs-12">
			                 <table class="table table-hover" id ="envVartable">
			                   <thead>
			                     <tr>
			                        <th>说明</th>
                       				<th>变量名</th>
                       				<th>变量值</th>
			                       <th></th>
			                     </tr>
			                   </thead>
			                   <tbody>
			                    {% for curServiceEnvVar in curServiceEnvVarList %}
			                     <tr>
			                       {% if curServiceEnvVar.is_change %}
			                       	   <td><input name ="{{curServiceEnvVar.service_id}}_name" value="{{curServiceEnvVar.name}}"></td>
				                       <td><input name ="{{curServiceEnvVar.service_id}}_attr_name" value="{{curServiceEnvVar.attr_name}}"></td>
			                       	   <td><input name ="{{curServiceEnvVar.service_id}}_attr_value" value="{{curServiceEnvVar.attr_value}}"></td>
			                       	   <td><input name ="{{curServiceEnvVar.service_id}}_attr_id" type="hidden" value="{{curServiceEnvVar.ID}}"><button type="button" class="btn btn-success btn-xs" onclick="attr_delete(this);">删除</button></td>
			                       {% else %}
			                           <input type="hidden" name="{{curServiceEnvVar.service_id}}_serviceNoChange" value="{{curServiceEnvVar.ID}}" />
				                       <td>{{curServiceEnvVar.name}}</td>
				                       <td><input name ="{{curServiceEnvVar.service_id}}_nochange_name" value="{{curServiceEnvVar.attr_name}}"></td>
				                       <td>{{curServiceEnvVar.attr_value}}</td>
				                       <td></td>
			                       {% endif %}
			                      </tr>
			                     {% endfor %}
			                    </tbody>
			                 </table>
			                 <label>
			                 	<button type="button" class="btn btn-success btn-xs" id="save_service_attr" onclick="attr_save('{{tenantServiceInfo.service_id}}','{{tenantName}}','{{tenantServiceInfo.service_alias}}');">保存</button>
			                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			                    <button type="button" class="btn btn-success btn-xs" id="add_service_attr" onclick="add_new_attr('{{tenantServiceInfo.service_id}}','{{tenantServiceInfo.service_port}}');">新增环境变量</button>
			                 </label>
			             </div>
			        </div>
	          </div>
	         {% endwith %}
	         {% endif %}
          </section>

		  {% if tenant.pay_level == "company" %}
          <section class="panel">
            <header class="panel-heading">扩容方式</header>
          <div class="panel-body">
            <div class="row">
            {% if tenantServiceInfo.category == "application" or  tenantServiceInfo.category == "manager" %}
            <div class="col-xs-2 control-label">实例数</div>
            <div class="col-xs-2 control-label">
              <select name="serviceNods" id="serviceNods" class="form-control m-bot15">
                {% for curNum in nodeList %}
                  {% if curNum == tenantServiceInfo.min_node %}
                  <option value="{{forloop.counter}}"  selected="selected">{{curNum}}</option>
                  {% else %}
                  <option value="{{forloop.counter}}">{{curNum}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="col-xs-2 control-label">
              <button type="button" onclick="app_upgrade('{{tenantName}}','{{tenantServiceInfo.service_alias}}');" class="btn btn-success">设置</button>
            </div>
            <div class="col-xs-2 control-label">内存调整</div>
            <div class="col-xs-2 control-label">
              <select name="serviceMemorys" id="serviceMemorys" class="form-control m-bot15">
                {% for cuMemory in memoryList %}
                  {% if cuMemory == tenantServiceInfo.min_memory %}
                  <option value={{forloop.counter}}  selected="selected">{{cuMemory}}M</option>
                  {% else %}
                  <option value="{{forloop.counter}}">{{cuMemory}}M</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="col-xs-2 control-label">
              <button type="button"  onclick="service_upgrade('{{tenantName}}','{{tenantServiceInfo.service_alias}}');" class="btn btn-success">设置</button>
            </div>
            {% else %}
            <div class="col-xs-2 control-label">内存调整</div>
            <div class="col-xs-2 control-label">
              <select name="serviceMemorys" id="serviceMemorys" class="form-control m-bot15">
                {% for cuMemory in memoryList %}
                  {% if cuMemory == tenantServiceInfo.min_memory %}
                  <option value={{forloop.counter}}  selected="selected">{{cuMemory}}M</option>
                  {% else %}
                  <option value="{{forloop.counter}}">{{cuMemory}}M</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="col-xs-2 control-label">
              <button type="button"  onclick="service_upgrade('{{tenantName}}','{{tenantServiceInfo.service_alias}}');" class="btn btn-success">设置</button>
            </div>
            {% endif %}
            </div>
          </div>
          </section>
		  {% endif %}
		  
          <!--start permission-->
          {% if 'perm_setting' in user.actions %}
          <section class="panel" id="permission">
            <header class="panel-heading">权限管理 </header>
            <div class="panel-body">
            <div class="row">
	            <div class="col-xs-4">
	              <input type="text" class="email-invite form-control" id="invite_email" name="invite_email" placeholder="邮件地址">
	            </div>
	            <div class="col-xs-2">
	              <select class="form-control" id="ivite_perm" name="ivite_perm">
	                  <option value="viewer">观察者</option>
	                  <option value="developer">开发者</option>
	                  <option value="admin">管理员</option>
	              </select>
	            </div>
	            <div class="col-xs-2">
	              <button type="button" class="btn btn-success invite-service" id="invite_user_btn">邀请</button>
	            </div>
            </div>
            <br>
            <div id="action_report" class="width-3"></div>
            <table class="table" perm-type="service">
              <tbody>
              <tr>
                <th>成员名称</th>
                <th>邮件地址</th>
                <th class="text-center">管理员</th>
                <th class="text-center">开发者</th>
                <th class="text-center">观察者</th>
              </tr>
              {% for user in perm_users %}
              <tr entry-user="{{user.name}}">
                <th><a href="/apps/goodrain/perms?user={{user.name}}">{{user.name}}</a></th>
                <th>{{user.email}}</th>
                <th class="perm-modify-enable text-center"><input type="checkbox" identity="admin" {% if user.adminCheck %}checked="" {% endif %}></th>
                <th class="perm-modify-enable text-center"><input type="checkbox" identity="developer" {% if user.developerCheck %}checked="" {% if user.developerDisable %}disabled="" {% endif %}{% endif %}></th>
                <th class="perm-modify-enable text-center"><input type="checkbox" identity="viewer" {% if user.viewerCheck %}checked="" {% if user.viewerDisable %}disabled="" {% endif %}{% endif %}></th>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
          </section>
          {% endif %}
          <!--end permission-->

          <section class="panel" id="delete">
            <header class="panel-heading">删除 </header>
            <div class="panel-body">
              <form class="form-horizontal" role="form">

                <div class="form-group">
                  <label class="col-sm-2 col-lg-2  control-label">{{tenantServiceInfo.service_alias}}</label>
                  <div class="col-sm-2 col-lg-2 text-center">
                    <button type="button" class="btn btn-danger" id="cur_delete_service" onclick="delete_service('{{tenantName}}','{{tenantServiceInfo.service_alias}}');">删除</button>
                  </div>
                  <div class="col-sm-8 col-lg-8 control-label text-left text-danger">注意：该操作会将所有相关数据永久删除，请慎重操作！</div>
                </div>
              </form>
            </div>
          </section>

        </div>
        <!-- settings end-->
    </div>

    <script>
    {% if show_graph %}
      $('div.tab-pane').removeClass('active');
      $('ul.nav-tabs li').removeClass('active');
      $('#statistic').addClass('active');
      $('ul.nav-tabs a[href="#statistic"]').parent('li').addClass('active');
    {% endif %}

    String.prototype.trim = function() {
	    return this.replace(/(^\s*)|(\s*$)/g, "");
	}
      var service_id='{{tenantServiceInfo.service_id}}'
      var serviceAlias = $('#mytags').attr('service');
	    function checkStatus(){
		    if(service_id!=""){
		    	$.ajax({
		       	  type: "GET",
		    		  url: "/ajax/{{tenantName}}/{{serviceAlias}}/detail/",
		    		  cache: false,
		    		  beforeSend: function(xhr, settings){
		    		      var csrftoken = $.cookie('csrftoken');
		    		      xhr.setRequestHeader("X-CSRFToken", csrftoken);
		    		  },
		    	  	  success: function(msg) {
		    	  		  var obj=msg;
			    	  	  if(obj["status"]!="failure"){
			    		  	  if(obj["status"]=="running"){
			    		  		$("#service_status_value").val("stop")
			    		  		$("#font"+service_id).html("关闭")
			    		  		$("#service_status_operate").show()
			    		  		$("#onekey_deploy").show()
			    		  		$("#onekey_deploy").removeAttr("disabled")
			    		  		$("#service_status").html("运行中")
			    		  		$("#service_status_operate").show()
			    		  		$("#service_visitor").show()
			    		  		$("#service_status").attr("class","badge badge-sm label-success")
				    		  }else if(obj["status"]=="unusual"){
				    			$("#service_status_value").val("")
				    		  	$("#font"+service_id).html("启动")
				    		  	$("#service_status_operate").show()
				    		  	$("#onekey_deploy").show();
				    		  	$("#service_status").html("运行异常")
				    		    $("#service_status_operate").show()
				    			$("#service_visitor").show()
				    			$("#service_status").attr("class","badge badge-sm label-danger")
				    		  }else if(obj["status"]=="closed" || obj["status"]=="owed"){
				    			$("#service_status_value").val("restart")
				    		  	$("#font"+service_id).html("启动")
				    		  	$("#service_status_operate").show()
				    		  	$("#onekey_deploy").show()
				    		  	$("#onekey_deploy").removeAttr("disabled")
				    		  	if(obj["status"]=="closed"){
				    		  		$("#service_status").html("已关闭")
				    		  		$("#service_status").attr("class","badge badge-sm label-success")
				    		  	}else{
				    		  		$("#service_status").html("余额不足已关闭")
				    		  		$("#service_status").attr("class","badge badge-sm label-danger")
				    		  	}
				    		  	$("#service_status_operate").show()
				    		  	$("#service_visitor").hide();
				    		  }else if(obj["status"]=="undeploy"){
				    			$("#service_status_value").val("")
				    			$("#font"+service_id).html("未部署")
				    			$("#service_status_operate").hide();
				    			$("#onekey_deploy").show()
				    			$("#onekey_deploy").removeAttr("disabled")
				    			$("#service_status").html("未部署")
				    			$("#service_status_operate").hide();
				    			$("#service_visitor").hide();
				    			$("#service_status").attr("class","badge badge-sm label-success")
				    		  }else{
				    			$("#service_status_value").val("")
					    		$("#font"+service_id).html("未知")
					    		$("#service_status_operate").hide()
					    		$("#onekey_deploy").hide();
					    		$("#service_status").html("未知")
					    		$("#service_status_operate").hide()
					    		$("#service_visitor").hide();
					    		$("#service_status").attr("class","badge badge-sm label-success")
				    		  }
				    	  }
		    		  },
		    		  error: function(){
		    			//swal("系统异常");
		      	  	}
		       })
			}
	    }
		
	    var setIntertimmer
	    
        $(document).ready(function () {
        	checkStatus();
        	getLog('operate');
        	getLog('service');
        	setInterval("checkStatus()", 10000);
        	setTimeout("getServiceNetDisk()", 1000);
            //setInterval("getLog('operate')", 5000);
            //setInterval("getLog('service')", 5000);
            setInterval("getServiceNetDisk()", 30000);
            
            var mapping = $("#create_port_mapping").val()
            if(mapping != undefined){
            	getMappingPort()
            	setIntertimmer = setInterval("getMappingPort()", 3000);
            }
            
            tabObj = $('#nav-tabs a')
            curTab= "#{{tab_index}}"
            for(var i=0;i<tabObj.length;i++){
            	var tabc = $('#nav-tabs a:eq('+i+')').attr("href")
            	if (tabc == curTab){
            		$('#nav-tabs a:eq('+i+')').tab('show')
            		break;
            	}
            }
            
            $( "#protocol" ).change(function() {
            	service_protocol('outer','change','{{tenantName}}','{{tenantServiceInfo.service_alias}}')
           	});
            
            
        	extPushWebSocketClient.prototype = {
       			onMessage : function(msg) {
       				var msgs = msg.split(":")
       				if(msgs[0].trim()=="deploy"){
       					var newMsg = msg.substr(7)
       					var arr=$("#keylog").html().split('<br>');
       					if(arr[0].trim() != newMsg.trim()){
       						var finalMsg = newMsg +"<br/>"+ $("#keylog").html()
           					$("#keylog").html(finalMsg)
       					}
       				}else{
       					if(msgs[1].trim()=="builder"){
       						var newMsg = msg.substr(22)
       						var arr=$("#keylog").html().split('<br>');
       						if(arr[0].trim() != newMsg.trim()){
       							var finalMsg = newMsg +"<br/>"+ $("#keylog").html()
               					$("#keylog").html(finalMsg)
       						}
       					}else{
     						var finalMsg=""
  	       					var arr=$("#log").html().split('<br>');
  	       					var totalSize=150;
  	       					if(arr.length > totalSize){
  	       						for(var i = 0; i < totalSize; i++){
  	       							finalMsg += arr[totalSize-1-i]+"<br/>"
  	       						}
  	       					}else{
  	       						finalMsg = $("#log").html()
  	       					}
  	       					finalMsg = msg.substr(14) +"<br/>"+ finalMsg
  	       					$("#log").html(finalMsg)
       					}
       				}
       			}
        	}
       		var connect = new extPushWebSocketConnect('{{websocket_uri}}');
       		connect.init(new extPushWebSocketClient(),service_id, "submsg", "submsg","123456789","987654321");
        });

		function getLog(action){
			var service_name=$("#service_name").val()
			if(service_name!="" && service_name != undefined ){
				$.ajax({
		       	  type: "GET",
		    		  url: "/ajax/{{tenantName}}/{{serviceAlias}}/log",
		    		  data: "action="+action,
		    		  cache: false,
		    		  beforeSend: function(xhr, settings){
		    		      var csrftoken = $.cookie('csrftoken');
		    		      xhr.setRequestHeader("X-CSRFToken", csrftoken);
		    		  },
		    	  	  success: function(msg) {
		    	  		var dataObj = msg;
		    	  		if(action=="operate"){
		    	  			var showlog=""
		    	  			var logList = dataObj["log"]
		    	  			for(var i=0;i<logList.length;i++){
		    	  				var log = logList[i]
		    	  				showlog= log["create_time"]+" "+log["user_id"] +" "+log["desc"]+" 用时"+log["cost_time"]+"s"+"<br/>"
		    	  			}
		    	  			$("#keylog").html(showlog)
			    	  	}
			    	  	if(action=="service"){
			    	  		$("#log").html(dataObj["log"])
				    	}
		    		  },
		    		  error: function(){
		    			//swal("系统异常");
		      	  	}
		       })
			}
		}

		function getServiceNetDisk(){
			var service_name=$("#service_name").val()
			if(service_name!="" && service_name != undefined ){
				$.ajax({
		       	  type: "GET",
		    		  url: "/ajax/{{tenantName}}/{{serviceAlias}}/net-disk",
		    		  cache: false,
		    		  beforeSend: function(xhr, settings){
		    		      var csrftoken = $.cookie('csrftoken');
		    		      xhr.setRequestHeader("X-CSRFToken", csrftoken);
		    		  },
		    	  	  success: function(msg) {
		    	  		var dataObj = msg;
		    	  		if(dataObj["disk"] != undefined ){
		    	  			$("#service_disk").html(dataObj["disk"]+"M")
		    	  			var total_memory = dataObj["disk_memory"] + dataObj["memory"]
		    	  			if($("#service_status").html() == "运行中"){
		    	  				$("#service_memory").html(total_memory+"M")
		    	  			}else if($("#service_status").html() == "部署中"){
		    	  				$("#service_memory").html(total_memory+"M")
		    	  			}else{
		    	  				$("#service_memory").html(dataObj["disk_memory"]+"M")
		    	  			}
		    	  			if(dataObj["bytesin"] > dataObj["bytesout"]){
		    	  				$("#service_network").html(dataObj["bytesin"]+"K")
			    	  		}else{
			    	  			$("#service_network").html(dataObj["bytesout"]+"K")
				    	  	}
			    	  	}
		    		  },
		    		  error: function(){
		    			//swal("系统异常");
		      	  	}
		       })
			}
		}
        
        function getMappingPort(){
        	$.ajax({
	       	  type: "GET",
	    		  url: "/ajax/{{tenantName}}/{{serviceAlias}}/mapping-port",
	    		  cache: false,
	    		  beforeSend: function(xhr, settings){
	    		      var csrftoken = $.cookie('csrftoken');
	    		      xhr.setRequestHeader("X-CSRFToken", csrftoken);
	    		  },
	    	  	  success: function(msg) {
	    	  		var dataObj = msg;
	    	  		port = dataObj["port"]
	    	  		ip = dataObj["ip"]
	    	  		if(port > 0){
	    	  			if(port >= 2000){
	    	  				$('#mapping-port').html(port)
	    	  			}
	    	  			clearInterval(setIntertimmer);
	    	  		}
	    		  },
	    		  error: function(){
	    			//swal("系统异常");
	      	  	}
	       })
		}
        
        function do_rollback(event_id){
        	swal(event_id);
        }
        function do_logshow(event_id){
        	swal(event_id);
        }
    </script>
</section>
</section>

{% endif %}

{% endblock %}
