{% extends 'www/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}好雨云平台历史日志{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static "www/css/style.css" %}">
    <link rel="stylesheet" href="{% static "www/css/style-responsive.css" %}">
{% endblock %}

{% block bodyclass %}login-body{% endblock %}

{% block body %}

<div class="container">
	{% for line in log_paths %}
		<li> <a href="http://{{tenantService.service_region}}.download.{{log_domain}}{{line}}" target="_blank">{{line|slice:"22:40"}}</a> </li>
	{% endfor %}
</div>
{% endblock %}