{% extends 'www/raster.html' %}

{% load i18n %}

{% load goodrain_extras %}


{% block main-content %}

{% if tenantServiceInfo %}
<section class="wrapper">
<section class="panel">
        <header class="panel-heading tab-bg-dark-navy-blue ">
         <ul class="nav nav-tabs">
        <li  class="active"><a href="#deployed" data-toggle="tab">概览</a></li>
        {% if tenantServiceInfo.category == "application" or  tenantServiceInfo.category == "manager" %}
        	<li class="" ><a href="#relations"  data-toggle="tab">相关服务</a></li>
        {% endif  %}
        <!--<li class="" ><a href="#control"  data-toggle="tab">监控</a></li> -->
        <li class=""><a href="#log" data-toggle="tab">日志</a></li>
        <li class=""><a href="#settings" data-toggle="tab">高级</a></li>
        <!--{% ifequal tenantServiceInfo.category "application" %}
        <li class="nav-tabs-oklastli"><b>git</b><input type="text" value="git@code.goodrain.com:app/{{tenantName}}_{{serviceAlias}}.git" placeholder="http://code.goorain.com/username" class="form-control"><span class="fa fa-clipboard"></span></li>
        {% endifequal  %}-->
      </ul>
      </header>

      <div class="panel-body">
      <div class="tab-content">
        <!-- deployed start -->
        <div role="tabpanel" class="tab-pane active text-center" id="deployed">
          <div class="row">
            <div class="col-sm-3">
              <p>状态</p>
              <span class="badge badge-sm label-success" style="font-size:18pt" id="service_status" name="service_status">Unknown</span>
            </div>
            <div class="col-sm-3">
              <p>内存使用</p>
              <p style="font-size:18pt" id="service_memory" name="service_memory">0M</p>
            </div>
            <div class="col-sm-3">
              <p>磁盘占用</p>
              <p style="font-size:18pt" id="service_disk" name="service_disk">0M</p>
            </div>
            <div class="col-sm-3">
              <p>流量</p>
              <p style="font-size:18pt" id="service_network" name="service_network">0K</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <section class="panel text-left">
                <header class="panel-heading">控制</header>
                <div class="panel-body">
                    <div class="row">
                    	<div class="col-lg-6 text-left">
                        {% ifequal tenantServiceInfo.category "application" %}                      
                        {% if 'code_deploy' in user.actions %}<button type="button" class="btn btn-info " id="onekey_deploy" onclick="service_oneKeyDeploy('{{tenantServiceInfo.category}}','{{tenantServiceInfo.service_alias}}','{{tenantName}}','no');"><i class="fa fa-cloud-upload"></i> 一键部署</button>
                        {% endif %}
                        <button type="button" class="btn btn-success" id="service_visitor" onclick="window.open('http://{{serviceAlias}}.{{tenantName}}.goodrain.net');"><i class="fa fa-eye"></i>访问</button>
                        {% else %}
                        	{% ifequal tenantServiceInfo.category "manager" %}
                        		<button type="button" class="btn btn-success" id="service_visitor" onclick="window.open('http://{{serviceAlias}}.{{tenantName}}.goodrain.net');"><i class="fa fa-eye"></i>访问</button>
                        	{% endifequal  %}
                        {% endifequal  %}
                        </div>
                        <div class="col-lg-6 text-right">
                        	<input type="hidden" id="service_status_value" name="service_status_value" value="" />
                        	<button type="button" class="btn btn-danger" id="service_status_operate" onclick="service_onOperation('{{tenantServiceInfo.service_id}}','{{tenantServiceInfo.service_alias}}','{{tenantName}}');" ><i class="fa  fa-power-off"></i><font id="font{{tenantServiceInfo.service_id}}">关闭</font></button>
                      	</div>
                    </div>
                  </div>
              </section>
            </div>
          </div>
          {% if tenantServiceInfo.category == "store" or tenantServiceInfo.category == "cache" %} 
          <div class="row">
          	<div class="col-lg-6 text-left">
               <section class="panel">
                 <header class="panel-heading">连接信息</header>
                 <table class="table table-hover">
                   <thead>
                     <tr>
                       <th>说明</th>
                       <!-- <th>变量名</th> -->
                       <th>值</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <td>连接地址</td>
                       <!-- <td>{{tenantServiceInfo.service_alias.upper }}_HOST</td> -->
                       <td>127.0.0.1</td>
                     </tr>
                     <tr>
                       <td>端口</td>
                       <!-- <td>{{tenantServiceInfo.service_alias.upper }}_PORT</td> -->
                       <td>{{tenantServiceInfo.service_port }}</td>
                     </tr>
                     {% ifequal tenantServiceInfo.service_type "mysql" %}
                     <tr>
                       <td>用户名</td>
                       <!-- <td>{{tenantServiceInfo.service_alias.upper }}_USER</td>  -->
                       <td>admin</td>
                     </tr>
                     <tr>
                       <td>密码</td>
                       <!-- <td>{{tenantServiceInfo.service_alias.upper }}_PASSWORD</td> -->
                       <td>admin</td>
                     </tr>
                     {% endifequal  %}
                   </tbody>
                 </table>
               </section>
             </div>
          </div>
          {% endif %}
          <div class="row">
          	<div class="col-lg-6 text-left">
          	 	<section class="panel">
          	 	   <header class="panel-heading">关键日志</header>
	                <div class="panel-body">
	                  <div class="text-left  logtxtbox">
	                    <input type="hidden" name="service_name" id="service_name" value="{{tenantServiceInfo.service_alias}}"/>
	                    <p id="keylog"></p>
	                  </div>
	                </div>
          	 	</section>
          	</div>
          </div>
        </div>
        <!-- deployed end-->
        <!-- relations start -->
        <div role="tabpanel" class="tab-pane" id="relations">
           {% if tenantServiceInfo.category == "application" or  tenantServiceInfo.category == "manager" %}
           <div class="col-sm-16 text-left">
                <section class="panel">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="33%">服务类型</th>
                            <th width="33%">服务名称</th>
                            <th width="33%" class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if serviceIds %}
	                 		{% for sid in serviceIds %}
	                 		   {% with value=serviceMap|mkey:sid %}
	                 		   {% with dep_order=serviceIdsMap|mkey:sid %}
		                        <tr>
		                            <td>{{value.service_type}}</td>
		                            <td>{{value.service_alias}}</td>
		                            <td class="text-center">
		                            	<button type="button" class="btn btn-danger"  onclick="delete_relation('{{tenantServiceInfo.service_alias}}','{{value.service_alias}}','{{tenantName}}');">取消</button>
		                            	<a class="btn btn-success" data-toggle="modal" href="#linkinfo{{value.service_id}}">连接信息</a>
	                                  	<div class="modal fade in" id="linkinfo{{value.service_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
	                                      <div class="modal-dialog">
		                                      <div class="modal-content">
			                                        <div class="modal-header">
			                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			                                          <h4 class="modal-title">连接信息</h4>
			                                        </div>
			                                        <div class="modal-body">
			                                          <table class="table text-left">
			                                            <thead>
			                                              <tr>
			                                                <th>说明</th>
			                                                <th>变量名</th>
			                                                <th>值</th>
			                                              </tr>
			                                            </thead>
			                                            <tbody>
			                                              {% if dep_order == 1 %}
			                                              <tr>
			                                                <td>连接地址</td>
			                                                <td>{{value.service_type.upper}}_HOST</td>
			                                                <td>127.0.0.1</td>
			                                              </tr>
			                                              <tr>
			                                                <td>端口</td>
			                                                <td>{{value.service_type.upper }}_PORT</td>
			                                                <td>{{value.service_port }}</td>
			                                              </tr>
				                                              {% if value.service_type == "mysql" %}
				                                              <tr>
				                                                <td>用户名</td>
				                                                <td>{{value.service_type.upper }}_USER</td>
				                                                <td>admin</td>
				                                              </tr>
				                                              <tr>
				                                                <td>密码</td>
				                                                <td>{{value.service_type.upper }}_PASSWORD</td>
				                                                <td>admin</td>
				                                              </tr>
				                                              {% endif %}
			                                              {% else %}
			                                               <tr>
			                                                <td>连接地址</td>
			                                                <td>{{value.service_type.upper}}_{{value.service_alias.upper}}_HOST</td>
			                                                <td>127.0.0.1</td>
			                                              </tr>
			                                              <tr>
			                                                <td>端口</td>
			                                                <td>{{value.service_type.upper}}_{{value.service_alias.upper }}_PORT</td>
			                                                <td>{{value.service_port }}</td>
			                                              </tr>
				                                             {% if value.service_type == "mysql" %}
				                                              <tr>
				                                                <td>用户名</td>
				                                                <td>{{value.service_type.upper}}_{{value.service_alias.upper }}_USER</td>
				                                                <td>admin</td>
				                                              </tr>
				                                              <tr>
				                                                <td>密码</td>
				                                                <td>{{value.service_type.upper}}_{{value.service_alias.upper }}_PASSWORD</td>
				                                                <td>admin</td>
				                                              </tr>
				                                              {% endif %}
			                                              {% endif %}
			                                            </tbody>
			                                          </table>
			                                        </div>
			                                        <div class="modal-footer">
		                                          <button data-dismiss="modal" class="btn btn-block btn-info" type="button">关闭</button>
		                                        </div>
		                                      </div>
	                                      </div>
	                                    </div>
		                            </td>
		                        </tr>
		                        {% endwith %}
		                        {% endwith %}
	                        {% endfor %}
                        {% endif %}
                        
                         {% if serviceMap %}
	                 		{% for k,value in serviceMap.items %}
	                 		   {% if k not in serviceIds %}
		                 		   <tr>
			                            <td>{{value.service_type}}</td>
			                            <td>{{value.service_alias}}</td>
			                            <td class="text-center">
			                            	<button type="button" class="btn btn-success"  onclick="buid_relation('{{tenantServiceInfo.service_alias}}','{{value.service_alias}}','{{tenantName}}');">关联</button>
			                            </td>
			                        </tr>
	                 		   {% endif %}		                        
	                        {% endfor %}
                		{% endif %}
                          <tr>
                            <td></td>
                            <td>
                              <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.open('http://user.goodrain.com/apps/{{tenantName}}/service')">
                              <i class="fa fa-plus"></i>   创建服务</button>
                            </td>
                            <td></td>
                          </tr>  		
                       </tbody>
                    </table>
                </section>                
            </div>
            {% endif  %}
        </div>
        <!-- relations end -->
        <!-- control start -->
        <div role="tabpanel" class="tab-pane" id="control">control</div>
        <!-- control end-->
        <!-- log start -->
        <div role="tabpanel" class="tab-pane" id="log"></div>
        <!-- log end-->
        
        <!-- settings start -->
        <div role="tabpanel" class="tab-pane" id="settings">
          <section class="panel">
            <header class="panel-heading">基础信息</header>
          <div class="panel-body">
            <div class="row">
            <label class="col-xs-2 control-label">应用名称</label><label class="col-xs-10 control-label">{{tenantServiceInfo.service_alias}}</label>
            </div>
            {% if tenantServiceInfo.category == "application" or  tenantServiceInfo.category == "manager" %}
            <div class="row">
            <label class="col-xs-2 control-label">默认域名</label><label class="col-xs-10 control-label"><a href="http://{{tenantServiceInfo.service_alias}}.{{tenantName}}.goodrain.net" target="view_window" >http://{{tenantServiceInfo.service_alias}}.{{tenantName}}.goodrain.net</a></label>
            </div>
            <br>
            {% endif %}

            {% if tenantServiceInfo.category == "application" %}
            <div class="row">
            <label class="col-xs-2 control-label">Git仓库</label>
            <label class="col-xs-10 control-label">
                <a href="{{httpGitUrl}}">{{httpGitUrl}}</a>
            </label>
            </div>
            {% endif %}

          </div>
          </section>
          {% if tenantServiceInfo.category == "application" or  tenantServiceInfo.category == "manager" %}
          <section class="panel">
          <header class="panel-heading">新增域名</header>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <table class="table">
                  <thead>
                  <tr>
                    <th>域名</th>
                    <th>CNAME域名</th>
                    <th>验证</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><input type="text" class="form-control" id="service_app_name" value="{{serviceDomain.domain_name}}" placeholder="请输入新域名，如：www.example.com"></td>
                    <td>{{tenantServiceInfo.service_alias}}.{{tenantName}}.goodrain.net</td>
                    <td>未验证</td>
                    <td class="text-center">
                <button type="button" class="btn btn-success btn-xs" onclick="domainSubmit('{{tenantServiceInfo.service_id}}','{{tenantName}}','{{tenantServiceInfo.service_alias}}')">添加</button>
                </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          </section>
          {% endif %}

          <section class="panel">
            <header class="panel-heading">扩容方式</header>
          <div class="panel-body">
            <div class="row">
            {% if tenantServiceInfo.category == "application" or  tenantServiceInfo.category == "manager" %}
            <div class="col-xs-2 control-label">实例数</div>
            <div class="col-xs-2 control-label">
              <select name="serviceNods" id="serviceNods" class="form-control m-bot15">
                {% for curNum in nodeList %}
                  {% if curNum == tenantServiceInfo.min_node %}
                  <option value="{{forloop.counter}}"  selected="selected">{{curNum}}</option>
                  {% else %}
                  <option value="{{forloop.counter}}">{{curNum}}</option>   
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="col-xs-2 control-label">
              <button type="button" onclick="app_upgrade('{{tenantName}}','{{tenantServiceInfo.service_alias}}');" class="btn btn-success">设置</button>
            </div>
            {% else %}
            <div class="col-xs-2 control-label">内存调整</div>
            <div class="col-xs-2 control-label">
              <select name="serviceMemorys" id="serviceMemorys" class="form-control m-bot15">
                {% for cuMemory in memoryList %}
                  {% if cuMemory == tenantServiceInfo.min_memory %}
                  <option value={{forloop.counter}}  selected="selected">{{cuMemory}}M</option> 
                  {% else %}
                  <option value="{{forloop.counter}}">{{cuMemory}}M</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="col-xs-2 control-label">
              <button type="button"  onclick="service_upgrade('{{tenantName}}','{{tenantServiceInfo.service_alias}}');" class="btn btn-success">设置</button>
            </div>
            {% endif %} 
            </div>
          </div>
          </section>

          <section class="panel" id="permission">
            <header class="panel-heading">权限管理 </header>
            <div class="panel-body">
            <div class="row">
	            <div class="col-xs-4">
	              <input type="text" class="email-invite form-control" id="invite_email" name="invite_email" placeholder="邮件地址">
	            </div>
	            <div class="col-xs-2">
	              <select class="form-control" id="ivite_perm" name="ivite_perm">
	                  <option value="viewer">观察者</option>
	                  <option value="developer">开发者</option>
	                  <option value="admin">管理员</option>
	              </select>
	            </div>
	            <div class="col-xs-2">
	              <button type="button" class="btn btn-success invite-service" id="invite_user_btn">邀请</button>
	            </div>
            </div>
            <br>
            <div id="action_report" class="width-3"></div>            
            <table class="table" perm-type="service">
              <tbody>
              <tr>
                <th>成员名称</th>
                <th>邮件地址</th>
                <th class="text-center">管理员</th>
                <th class="text-center">开发者</th>
                <th class="text-center">观察者</th>
              </tr>
              {% for user in perm_users %}
              <tr entry-user="{{user.name}}">
                <th><a href="/apps/goodrain/perms?user={{user.name}}">{{user.name}}</a></th>
                <th>{{user.email}}</th>
                <th class="perm-modify-enable text-center"><input type="checkbox" identity="admin" {% if user.adminCheck %}checked="" {% endif %}></th>
                <th class="perm-modify-enable text-center"><input type="checkbox" identity="developer" {% if user.developerCheck %}checked="" {% if user.developerDisable %}disabled="" {% endif %}{% endif %}></th>
                <th class="perm-modify-enable text-center"><input type="checkbox" identity="viewer" {% if user.viewerCheck %}checked="" {% if user.viewerDisable %}disabled="" {% endif %}{% endif %}></th>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
          </section>
          
          <section class="panel" id="delete">
            <header class="panel-heading alert-block alert-danger text-danger"><strong>删除</strong> </header>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-3 "></div>
                <div class="col-xs-6 ">
                  <button type="button" class="btn btn-danger btn-block" id="delete_service" onclick="delete_service('{{tenantName}}','{{tenantServiceInfo.service_alias}}');">确认删除</button>
                </div>
                <div class="col-xs-3 "></div>
              </div>
              <br>
              <div class="row"><div class="col-xs-12 text-center text-danger">注意：该操作会将所有相关数据永久删除，请慎重操作！</div></div>
            </div>
          </section>
		  
        </div>
        <!-- settings end-->
    </div>
    
    <script>
    String.prototype.trim = function() {  
	    return this.replace(/(^\s*)|(\s*$)/g, "");  
	}
      var service_id='{{tenantServiceInfo.service_id}}'
      var serviceAlias = $('#mytags').attr('service');
	    function checkStatus(){
		    if(service_id!=""){
		    	$.ajax({
		       	  type: "GET",  
		    		  url: "/ajax/{{tenantName}}/{{serviceAlias}}/detail/", 
		    		  cache: false,
		    		  beforeSend: function(xhr, settings){  
		    		      var csrftoken = $.cookie('csrftoken');
		    		      xhr.setRequestHeader("X-CSRFToken", csrftoken);
		    		  }, 
		    	  	  success: function(msg) {
		    	  		  var obj=msg;
			    	  	  if(obj["status"]!="failure"){
			    		  	  if(obj["totalMemory"] != undefined ){
			    		  	 	$("#service_memory").html(obj["totalMemory"]+"M")
				    		  }
			    		  	  if(obj["status"]=="Running"){
			    		  		//alert("a")
			    		  		$("#service_status_value").val("stop")
			    		  		$("#font"+service_id).html("关闭")
			    		  		$("#service_status_operate").show()
			    		  		//alert("b")
			    		  		$("#onekey_deploy").show()
			    		  		$("#service_status").html("运行中")
			    		  		$("#service_status_operate").show()
			    		  		$("#service_visitor").show()
			    		  		//alert("c")
				    		  }else if(obj["status"]=="Waiting"){
				    			$("#service_status_value").val("")
				    		  	$("#font"+service_id).html("部署中")
				    		  	$("#service_status_operate").hide()
				    		  	$("#onekey_deploy").hide();
				    		  	$("#service_status").html("部署中")
				    		    $("#service_status_operate").hide();
				    			$("#service_visitor").hide();
				    		  }else if(obj["status"]=="Closing"){
				    			$("#service_status_value").val("restart")
				    		  	$("#font"+service_id).html("启动")
				    		  	$("#service_status_operate").show()
				    		  	$("#onekey_deploy").hide();
				    		  	$("#service_status").html("已关闭")
				    		  	$("#service_status_operate").show()
				    		  	$("#service_visitor").hide();
				    		  }else if(obj["status"]=="Undeployed"){
				    			$("#service_status_value").val("")
				    			$("#font"+service_id).html("未部署")
				    			$("#service_status_operate").hide();
				    			$("#onekey_deploy").show()
				    			$("#service_status").html("未部署")
				    			$("#service_status_operate").hide();
				    			$("#service_visitor").hide();
				    		  }else{
				    			$("#service_status_value").val("")
					    		$("#font"+service_id).html("未知")
					    		$("#service_status_operate").hide()
					    		$("#onekey_deploy").hide();
					    		$("#service_status").html("未知")
					    		$("#service_status_operate").hide()
					    		$("#service_visitor").hide();
				    		  }
				    	  }	    		  	  
		    		  },
		    		  error: function(){
		    			//alert("系统异常");
		      	  	}
		       })	
			}
	    }

        $(document).ready(function () {  
        	checkStatus();
        	getLog('operate');
        	getLog('service');
        	getServiceNetDisk();
            setInterval("checkStatus()", 10000);  
            //setInterval("getLog('operate')", 5000);
            //setInterval("getLog('service')", 5000);
            setInterval("getServiceNetDisk()", 30000);
            
        	extPushWebSocketClient.prototype = {
       			onMessage : function(msg) {
       				var msgs = msg.split(":")
       				if(msgs[0].trim()=="deploy"){
       					var finalMsg = msg.substr(7) +"<br/>"+ $("#keylog").html()
       					$("#keylog").html(finalMsg)
       				}else{
       					if(msgs[1].trim()=="builder"){
       						var finalMsg = msg.substr(22) +"<br/>"+ $("#keylog").html()
           					$("#keylog").html(finalMsg)
       					}else{
     						var finalMsg=""
  	       					var arr=$("#log").html().split('<br>');
  	       					console.log(arr.length)
  	       					var totalSize=150;
  	       					if(arr.length > totalSize){
  	       						for(var i = 0; i < totalSize; i++){       							
  	       							finalMsg += arr[totalSize-1-i]+"<br/>"
  	       						}
  	       					}else{
  	       						finalMsg = $("#log").html()
  	       					}       					
  	       					finalMsg = msg.substr(14) +"<br/>"+ finalMsg
  	       					$("#log").html(finalMsg)
       					}
       				}
       			}
        	}
       		var connect = new extPushWebSocketConnect();
       		connect.init(new extPushWebSocketClient(),service_id, "submsg", "submsg","123456789","987654321");
        }); 
        
		function getLog(action){
			var service_name=$("#service_name").val()
			if(service_name!="" && service_name != undefined ){
				$.ajax({
		       	  type: "GET",  
		    		  url: "/ajax/{{tenantName}}/{{serviceAlias}}/log/", 		  
		    		  data: "action="+action,
		    		  cache: false,
		    		  beforeSend: function(xhr, settings){  
		    		      var csrftoken = $.cookie('csrftoken');  
		    		      xhr.setRequestHeader("X-CSRFToken", csrftoken);  
		    		  },  
		    	  	  success: function(msg) {
		    	  		var dataObj = msg;
		    	  		if(action=="operate"){
		    	  			$("#keylog").html(dataObj["log"])
			    	  	}
			    	  	if(action=="service"){
			    	  		$("#log").html(dataObj["log"])
				    	}		    	  		 
		    		  },
		    		  error: function(){
		    			//alert("系统异常");
		      	  	}
		       })	
			}
		}

		function getServiceLog(){
			var service_name=$("#service_name").val()
			if(service_name!="" && service_name != undefined ){
				$.ajax({
		       	  type: "GET",  
		    		  url: "/ajax/{{tenantName}}/{{serviceAlias}}/log", 		  
		    		  data: "action=service",
		    		  cache: false,
		    		  beforeSend: function(xhr, settings){  
		    		      var csrftoken = $.cookie('csrftoken');  
		    		      xhr.setRequestHeader("X-CSRFToken", csrftoken);  
		    		  },  
		    	  	  success: function(msg) {
		    	  		var dataObj = msg;
		    	  		$("#keylog").html(dataObj["log"])		    	  		 
		    		  },
		    		  error: function(){
		    			//alert("系统异常");
		      	  	}
		       })	
			}
		}

		function getServiceNetDisk(){
			var service_name=$("#service_name").val()
			if(service_name!="" && service_name != undefined ){
				$.ajax({
		       	  type: "GET",  
		    		  url: "/ajax/{{tenantName}}/{{serviceAlias}}/net-disk",
		    		  cache: false,
		    		  beforeSend: function(xhr, settings){  
		    		      var csrftoken = $.cookie('csrftoken');  
		    		      xhr.setRequestHeader("X-CSRFToken", csrftoken);  
		    		  },  
		    	  	  success: function(msg) {
		    	  		var dataObj = msg;
		    	  		if(dataObj["disk"] != undefined ){
		    	  			$("#service_disk").html(dataObj["disk"]+"M")
		    	  			if(dataObj["bytesin"] > dataObj["bytesout"]){
		    	  				$("#service_network").html(dataObj["bytesin"]+"K")
			    	  		}else{
			    	  			$("#service_network").html(dataObj["bytesout"]+"K")
				    	  	}
			    	  	}   	  		 
		    		  },
		    		  error: function(){
		    			//alert("系统异常");
		      	  	}
		       })	
			}
		}
		
        function buid_relation(curServiceName,depServiceName,tenantName){
        	$.ajax({
        		type : "POST",
        		url : "/ajax/" + tenantName + "/" + curServiceName + "/relation",
        		data : "dep_service_alias=" + depServiceName + "&action=add",
        		cache : false,
        		beforeSend : function(xhr, settings) {
        			var csrftoken = $.cookie('csrftoken');
        			xhr.setRequestHeader("X-CSRFToken", csrftoken);
        		},
        		success : function(msg) {
        			var dataObj = msg
        			if (dataObj["status"] == "success") {
        				alert("操作成功")
        				window.location.href = window.location.href 
        			} else {
        				alert("操作失败")
        			}
        		},
        		error : function() {
        			// alert("系统异常");
        		}
        	})
        }
        function delete_relation(curServiceName,depServiceName,tenantName){
        	$.ajax({
        		type : "POST",
        		url : "/ajax/" + tenantName + "/" + curServiceName + "/relation",
        		data : "dep_service_alias=" + depServiceName + "&action=cancel",
        		cache : false,
        		beforeSend : function(xhr, settings) {
        			var csrftoken = $.cookie('csrftoken');
        			xhr.setRequestHeader("X-CSRFToken", csrftoken);
        		},
        		success : function(msg) {
        			var dataObj = msg
        			if (dataObj["status"] == "success") {
        				alert("操作成功")
        				window.location.href = window.location.href 
        			} else {
        				alert("操作失败")
        			}
        		},
        		error : function() {
        			// alert("系统异常");
        		}
        	})
        }
    </script>
</section>
</section>

{% endif %}

{% endblock %}
