{% extends 'www/raster.html' %}
{% load i18n %}
{% load staticfiles %}
{% load goodrain_extras %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/second.css" %}' />
{% endblock %}
{% block main-content %}

<section class="wrapper site-min-height">
	<!-- Google Code for Google adwords #1 Conversion Page -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 867795233;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "0_d8CLyEpmwQoYLmnQM";
	var google_remarketing_only = false;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/867795233/?label=0_d8CLyEpmwQoYLmnQM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
	<!-- 免费使用阶段 -->
	{% if pay_type == "free" and not expired %}
	<div class="infotips tipsbox">您可以全功能免费使用至 {{ expired_time|date:'Y-m-d H:i:s' }}。<a style="cursor:pointer;" onclick="payed_upgrade('{{tenantName}}','')">点击此处立刻升级为付费用户</a><a class="close" href="#">×</a></div>
	{% endif %}
	{% if pay_type == "free" and expired %}
	<div class="errortips tipsbox">您需要升级为付费用户才能继续使用云帮。<a style="cursor:pointer;" onclick="payed_upgrade('{{tenantName}}','')">点击此处升级为付费用户</a><a class="close" href="#">×</a></div>
	{% endif %}
	<!-- 付费使用阶段 -->
	{% if pay_type == "payed" and tenant_balance < 20 and tenant_balance > 0 %}
	<div class="warntips tipsbox">您的余额偏低。 <a href="/apps/{{tenantName}}/recharge/" target="_blank">点击此处充值</a> <a class="close" href="#">×</a></div>
	{% endif %}
	{% if pay_type == "payed" and monthly_payment_status == 1 %}
	<div class="warntips tipsbox">您的云帮将于 {{ buy_end_time|date:'Y-m-d H:i:s' }}到期。<a href="/apps/{{tenantName}}/paymodel/" target="_blank">点击此处购买预付费套餐</a><a class="close" href="#">×</a></div>
	{% endif %}
	{% if pay_type == "payed" and tenant_balance < 0 %}
	<div class="errortips tipsbox">您需要充值才能继续使用云帮。<a href="/apps/{{tenantName}}/recharge/" target="_blank">点击此处充值</a> <a class="close" href="#">×</a></div>
	{% endif %}
	{% if pay_type == "payed" and monthly_payment_status == 2 %}
	<div class="errortips tipsbox">您的云帮已于{{ buy_end_time|date:'Y-m-d H:i:s' }}到期。<a href="/apps/{{tenantName}}/paymodel/" target="_blank">点击此处购买预付费套餐</a><a class="close" href="#">×</a></div>
	{% endif %}
	<!-- -->
	<div class="modal fade bs-example-modal-sm" id="mylayer" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
 		 <div class="modal-dialog modal-sm">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	      </div>
	      <div class="modal-body">
	        升级为付费用户，携手云帮一起迈向云计算的未来！
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="payed_upgrade('{{tenantName}}','')">确定升级</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">我再想想</button>
	      </div>
	    </div>
	</div>
	<!-- -->
	<div class="overall">
		<ul class="clearfix">
			<li>
				<div>
					<p>总内存</p>
					<p class="mainbg01"></p>
					<p class="count" id="service_total_memory">-</p>
				</div>
			</li>
			<li>
				<div>
					<p>{% if tenant_balance > -1 %} 账户余额 {% else %} 已欠费 {% endif %}</p>
					<p class="mainbg02"></p>
					<p class="count">{{tenant_balance}}元</p>
				</div>
			</li>
			<li>
				<div>
					<p>服务</p>
					<p class="mainbg03"></p>
					<p class=" count3">{{totalAppNumber}}个</p>
				</div>
			</li>
			<li>
				<div>
					<p>开发者</p>
					<p class="mainbg04"></p>
					<p class=" count3">{{totalNum}}人</p>
				</div>
			</li>
		</ul>
	</div>
			
	<section class="main-tab-box">
		<table>
			<thead>
				<tr>
					<th>名称</th>
					<th>内存</th>
					<th>状态</th>
					<th>组</th>
					<th>类型</th>
					<th>版本</th>
					<!--
					<th>操作</th>
					-->
				</tr>
			</thead>
			<tbody>
				{% for item in tenantServiceList %}
				<tr id="panel">
					<td>
						<a href="/apps/{{tenantName}}/{{item.service_alias}}/detail/">{{item.service_cname}}</a>	
					</td>
					<td id="service_memory_{{item.service_id}}">-</td>
					<td id="service_status_{{item.service_id}}"><span>未知</span></td>
					<td>
						{% with cur_group=serviceGroupIdMap|mkey:item.service_id %}
							{% with groupName=serviceGroupNameMap|mkey:cur_group %}
								{% if groupName %}
									<span data-group="{{cur_group}}">{{groupName}}</span>
								{% else %}
									<span data-group="-1">未分组</span>
								{% endif %}
							{% endwith %}
						{% endwith %}
					</td>
					<td>{{item.service_type}}</td> 
					<td>
						{% if item.category == "application" %}
							{{item.deploy_version}}
						{% else %}
							{{item.version}}					
						{% endif %}
					</td>
					<!--
					<td>
						{% if item.category == "application" %}
						<button type="button" class="greenbtn" id="button_{{item.service_id}}"
							onclick="service_oneKeyDeploy('application','{{item.service_alias}}','{{tenantName}}','no');">部署</button>
						{% endif %}
					
						<button class="redbtn" data{{item.service_id}}="0"
							onclick="service_my_onOperation('{{item.service_id}}','{{item.service_alias}}','{{tenantName}}');"
							id="operate_{{item.service_id}}">关闭
							<!-- <i class="fa fa-power-off " id="operate_inner_{{item.service_id}}"></i> -->
						<!--
						</button><button class="greenbtn" onclick="window.location.href=href='/apps/{{tenantName}}/{{item.service_alias}}/detail/' ">设置</button>
					</td>
					-->
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="newapp-btn">
			<a href="/apps/{{tenantName}}/service-entrance/" class="greenbtn">新建应用</a>
		</div>
	</section>
	<script>
	    function checkStatus(){
	    	var servcieList=$("#panel")
	    	var curLength=servcieList.length;
    		if(curLength >0 ){
    			$.ajax({
   		       	  type: "GET",  
   		    		  url: "/ajax/{{tenantName}}/serviceinfo", 		  
   		    		  cache: false,
   		    		  beforeSend: function(xhr, settings){  
   		    		      var csrftoken = $.cookie('csrftoken');  
   		    		      xhr.setRequestHeader("X-CSRFToken", csrftoken);  
   		    		  },  
   		    	  	  success: function(msg) {
   		    	  		  var dataObj=msg;
   		    	  		  totalM =0; 
		    		  	  for(var o in dataObj){
			    		  	  var obj=dataObj[o]
			    		  	  if(obj["status"]=="running"){
			    		  		 $("#service_status_"+o).find("span").html("运行中")
			    		  		 $("#service_status_"+o).find("span").attr("class","bggreen")
			    		  		 $("#button_"+o).attr("class","greenbtn")
			    		  		 $("#button_"+o).removeAttr("disabled")
			    		  		 $("#operate_"+o).removeAttr("disabled")
			    		  		 $("#operate_"+o).attr("class","redbtn")
			    		  		 $("#operate_"+o).html("关闭");
								 //$("#operate_inner_"+o).attr("class","fa fa-power-off")
								 $("#operate_"+o).attr("data"+o,"stop")	
							  }else if(obj["status"]=="starting"){
                                 $("#service_status_"+o).find("span").html("启动中")
                                 $("#service_status_"+o).find("span").attr("class","bggray")
                                 $("#button_"+o).attr("class","greenbtn")
                                 $("#button_"+o).removeAttr("disabled")
                                 $("#operate_"+o).removeAttr("disabled")
                                 $("#operate_"+o).attr("class","redbtn")
			    		  		 $("#operate_"+o).html("关闭");
                                 //$("#operate_inner_"+o).attr("class","fa fa-power-off")
                                 $("#operate_"+o).attr("data"+o,"stop") 
					    	  }else if(obj["status"]=="unusual"){
					    		 $("#service_status_"+o).find("span").html("运行异常")
					    		 $("#service_status_"+o).find("span").attr("class","bggray")
					    		 $("#button_"+o).removeAttr("disabled");
			    		  		 $("#operate_"+o).removeAttr("disabled");
			    		  		 $("#operate_"+o).attr("class","redbtn");
			    		  		 $("#operate_"+o).html("关闭");
								 //$("#operate_inner_"+o).attr("class","fa fa-power-off")
						      }else if(obj["status"]=="closed" || obj["status"]=="owed" || obj["status"]=="expired"){
					    		 $("#service_status_"+o).find("span").html("已关闭")
					    		 if(obj["status"]=="closed"){
					    			 $("#service_status_"+o).find("span").html("已关闭")
								 }else{
				    		  		 $("#service_status_"+o).find("span").html("余额不足已关闭")
				    		  	 }
					    		 $("#service_status_"+o).find("span").attr("class","bgred")		    		 
					    		 $("#button_"+o).attr('disabled',"true")
						    	 $("#operate_"+o).removeAttr("disabled")
					    		 $("#operate_"+o).attr("class","greenbtn");
					    		 $("#operate_"+o).html("启动");
								 //$("#operate_inner_"+o).attr("class","fa fa-play")
								 $("#operate_"+o).attr("data"+o,"restart")
						      }else if(obj["status"]=="undeploy"){
						    	 $("#service_status_"+o).find("span").html("未部署")	
						    	 $("#service_status_"+o).find("span").attr("class","bggray")				    		 
						    	 $("#button_"+o).removeAttr("disabled")
						    	 $("#operate_"+o).attr('disabled',"true")
						    	 $("#operate_"+o).attr("class","redbtn");
			    		  		 $("#operate_"+o).html("关闭");
						    	 //$("#operate_"+o).attr("class","btn btn-danger")
								 //$("#operate_inner_"+o).attr("class","fa fa-power-off")
						      }else{
						    	 $("#service_status_"+o).find("span").html("未知")
						    	 $("#service_status_"+o).find("span").attr("class","bggray")
						    	 $("#button_"+o).attr('disabled',"true")
						    	 $("#operate_"+o).attr('disabled',"true")
							  }
			    		   }
   		    		  },
   		    		  error: function(){
   		    			//swal("系统异常");
   		      	  	}
   		       })
        	}
	    }
	    
	    function checkTenantsStorage(){
	    	var servcieList=$("#panel")
	    	var curLength=servcieList.length;
    		if(curLength >0 ){
    			$.ajax({
   		       	  type: "GET",  
   		    		  url: "/ajax/{{tenantName}}/tenant-disk", 		  
   		    		  cache: false,
   		    		  beforeSend: function(xhr, settings){  
   		    		      var csrftoken = $.cookie('csrftoken');  
   		    		      xhr.setRequestHeader("X-CSRFToken", csrftoken);  
   		    		  },  
   		    	  	  success: function(msg) {
   		    	  		  var dataObj=msg;
   		    	  		  totalM =0;
   		    	  		  var service_ids = dataObj["service_ids"]
		    		  	  for(var i=0;i< service_ids.length;i++){
		    		  		  var o = service_ids[i]
			    			  if(dataObj[o+"_running_memory"] != undefined){
			    				  running_memory = dataObj[o+"_running_memory"]
			    			  }
						  else{
							  running_memory = 0;
						  }
			    			  if(dataObj[o+"_storage_memory"] != undefined){
			    			      storage_memory = dataObj[o+"_storage_memory"]
			    			  }
						  else{
							  storage_memory = 0;
						  }
			    			  if($("#service_status_"+o).find("span").html() == "运行中"){
			    				 $("#service_memory_"+o).html((running_memory + storage_memory)+"M")
			    				 totalM = totalM + running_memory + storage_memory;
			    			  }else if($("#service_status_"+o).find("span").html() == "部署中"){
			    				 $("#service_memory_"+o).html((running_memory + storage_memory)+"M")
			    				 totalM = totalM + running_memory + storage_memory;
			    			  }else{
			    				 $("#service_memory_"+o).html(storage_memory+"M");
			    				 totalM = totalM + storage_memory;
			    			  }
			    		   }
		    		  	   $("#service_total_memory").html(totalM+"M")
   		    		  },
   		    		error: function(){
   		    			//swal("系统异常");
   		      	  	}
   		       })
        	}
	    }

	    $(document).ready(function () {  
	    	checkStatus()
	    	setTimeout("checkTenantsStorage()", 1000);
            setInterval("checkStatus()", 15000);
	    	setInterval("checkTenantsStorage()", 30000);
        });

	
    </script>
</section>
{% endblock %}