{% extends 'www/raster.html' %}
{% load i18n %}

{% block main-content %}

<section class="wrapper site-min-height">
    {% if 'perm_setting' in user.actions %}
    <section class="panel">
        <h2 class="tit-two" style="margin:10px 0 30px;">团队成员</h2>
        {% if MODULES.Team_Invite %}
        <div class="panel" style="margin:0 0 30px 0;">
            <div class="col-xs-4">
				<input type="text" class="email-invite form-control" id="invite_email" name="invite_email" placeholder="邮件地址">
			</div>
			<div class="col-xs-2">
				<select class="form-control" id="ivite_perm" name="ivite_perm">
                    <option value="access">访问</option>
					<option value="viewer">观察者</option>
					<option value="developer">开发者</option>
					<option value="admin">管理员</option>
				</select>
			</div>
			<div class="col-xs-2">
				<button type="button" class="greenbtn" id="invite_user_btn">邀请</button>
			</div>
		</div>
		{% endif %}
           
                    <div role="tabpanel" id="permission">
                        <div id="action_report" class="content-tab">
                        <table perm-type="tenant">
                            <thead>
                                <tr>
                                    <th>成员</th>
                                    <th class="text-center">管理员</th>
                                    <th class="text-center">开发者</th>
                                    <th class="text-center">观察者</th>
                                    <th class="text-center">访问</th>
                                    <th class="text-center">移除权限</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in perm_users %}
                                <tr entry-user="{{user.name}}">
                                    <td>{{user.name}}{% if user.selfuser %}(本人){% endif %}</td>
                                    <td class="perm-modify-enable text-center">
                                        <input type="checkbox" identity="admin" {% if user.adminCheck %}checked="" {% endif %}{% if user.selfuser %}disabled{% endif %}>
                                    </td>
                                    <td class="perm-modify-enable text-center">
                                        <input type="checkbox" identity="developer" {% if user.developerCheck %}checked="" {% if user.developerDisable %}disabled="" {% endif %}{% endif %}{% if user.selfuser %}disabled{% endif %}>
                                    </td>
                                    <td class="perm-modify-enable text-center">
                                        <input type="checkbox" identity="viewer" {% if user.viewerCheck %}checked="" {% if user.viewerDisable %}disabled="" {% endif %}{% endif %}{% if user.selfuser %}disabled{% endif %}>
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" identity="access" checked="" disabled="">
                                    </td>
                                    <td class="text-center"><a class="member-remove" {% if user.selfuser %}style="display:none;"{% endif %}><i class="fa fa-times fa-danger"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="bg-warning teamtips">
                        <dl>
                            <dt>权限体系:</dt>
                            <dl>平台管理员 - 平台所有权限</dl>
                            <dl>服务管理员 - 服务所有权限，需要关联服务</dl>
                            <dl>开发者 - 代码上传权限，需要关联服务</dl>
                            <dl>观察者 - 只读权限，需要关联服务</dl>
                        </dl>
                    </div>
                </div>
            </section>
            {% endif %}
      
</section>


{% endblock %}