*.pyc
/.settings/
/.project
/.pydevproject
migrations/
/.DS_Store
.idea/*
dist/
build/
env/
node_modules
.pyenv/
.python-version
test/
# vscode
.vscode/
goodrain_web/conf/local_test.py
Dockerfile.build