Django==1.8.0
MySQL-python
pyzmq
django-crispy-forms==1.4.0
addict
gunicorn==19.0.0
wsgiref==0.1.2
httplib2
simplejson
urllib3
whitenoise
pillow
djangorestframework
markdown
django-filter
django-rest-swagger
requests
python-dateutil
rsa
django-oauth-toolkit
docker-compose
