Django==2.2
mysqlclient==2.1.1
django-crispy-forms==1.12.0
addict==0.4.0
gunicorn==19.10.0
httplib2==0.18.0
simplejson==3.8.0
urllib3==1.25.10
certifi~=2023.5.7
whitenoise==2.0.3
pillow==8.1.0
djangorestframework==3.8
markdown==2.6.2
django-filter==0.11.0
requests==2.25.1
python-dateutil~=2.9.0.post0
rsa==3.4.2
django-oauth-toolkit==2.3.0
docker-compose==1.27.4
pycrypto==2.6.1
fuzzyfinder==1.0.0
django-cors-headers==2.1.0
pypinyin==0.23.0
djangorestframework-jwt==1.11.0
oss2==2.4.0
gevent==22.10.2
pyOpenSSL==20.0.1
docker-image-py==0.1.4
pytest-django==3.4.8
pytest-xdist==1.28.0
pytest-mock==1.10.4
drf-yasg==1.16.1
python-gitlab==1.13.0
PyGithub==1.44.1
enum34==1.1.6
validators==0.14.2
deprecated==1.2.10
redis==3.5.3
cryptography==3.3
kubernetes==30.1.0
django-postgrespool2==2.0.5
ruamel.yaml==0.15.100
prometheus-api-client==0.5.1
volcengine-python-sdk==1.0.126
-e git+https://gitee.com/zhangsetsail/appstore-sdk-python.git@python3#egg=openapi_client
