
.back-password-wrap{max-width: 744px;margin-left: auto;margin-right: auto;}
.back-password-wrap .ant-card-body{padding:50px;}
.back-password-step{margin-left: auto;margin-right: auto;margin-bottom: 60px}
.steps-content,.steps-action {width:550px;margin-left: auto;margin-right: auto;}
.steps-action {text-align: center;}

.step-1-com{width:300px;}

.back-password-success {text-align: center;}
.back-password-success h1 {color:#00d973;}
.back-password-success p {padding-top:15px;padding-bottom:25px;}

