.after-login-header {}
.after-login-header .menus {display: inline-block;}
.after-login-header .menus .menus-item {display: inline-block;margin-right:10px;}
.after-login-header .menus .menus-item .menus-item-hd {}
.after-login-header .user-info {float:right;cursor: pointer;}