.login-wrap {max-width:644px;margin-left: auto;margin-right:auto;padding:60px 0;}
.login-wrap .ant-form {width:420px;margin-left: auto;margin-right:auto;}
.login-top-tips {text-align: right;margin-bottom:20px;}
.login-form-button {width: 100%;}
.login-form-forgot {float:right;}