.register-wrap {width:644px;margin-left: auto;margin-right:auto;padding-top: 30px}
.register-wrap .ant-form {width:480px;margin-left: auto;margin-right:auto;}
.register-top-tips {text-align: right;margin-bottom:20px;}