<section class="panel panel-default">
    <div class="panel-heading clearfix">
        持久化数据设置<small>(设置后需要重启服务)</small>
    </div>
    <div class="panel-body">
        <table id="volume_table" class="table">
            <thead>
            <tr class="active">
                <th>持久化名称</th>
                <th>持久化目录</th>
                <th>持久化类型</th>
                <th class="text-right">操作</th>
            </tr>
            </thead>
            <tbody>
            {{each pageData.volume_list}}
                <tr>
                    <td>{{ $value.volume_name }}</td>
                    <td>{{ $value.volume_path }}</td>
                    <td>{{ $value.volume_type_cn }}</td>
                    <td class="text-right">
                        {{if appInfo.service.category == "application" }}
                        <button type="button" class="btn btn-default btn-sm removeDir"
                                data-id="{{ $value.ID }}">
                            删除
                        </button>
                        {{/if}}
                    </td>
                </tr>
                
            {{/each}}
            {{if pageData.volume_list.length == 0}}
                 <tr>
                    <td colspan="4" style="text-align: center">暂无数据</td>
                </tr>
            {{/if}}
            </tbody>
        </table>
   </div>
   {{if appInfo.service.category == "application" }}
   <div class="panel-footer clearfix">
        <button type="button" class="btn btn-success pull-right" id="add_volume_attr"
                data-language="{{ appInfo.service.language }}">新增持久化设置
        </button>
   </div>
   {{/if}}
</section>


<section class="panel panel-default">
 <div class="panel-heading">文件存储<small>(挂载了其他应用共享的持久化目录后需重启)</small></div>
 <div class="panel-body">
    <table class="table">
        <thead>
        <tr class="active">
            <th>本地持久化目录</th>
            <th></th>
            <th>目标持久化名称</th>
            <th class="hidden-xs">目标持久化目录</th>
            <th>目标持久化类型</th>
            <th>目标所属应用</th>
            <th class="hidden-xs">目标所属分组</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{each pageData.mounted_apps}}
            <tr data-dest-service-alias="{{$value.service_alias}}">
                <td>{{$value.local_vol_path}}</td>
                <td><div style="text-align:center;font-size:18px"><span class="glyphicon glyphicon-resize-horizontal"></span></div></td>
                <td>{{$value.dep_vol_name}}</td>
                <td>{{$value.dep_vol_path}}</td>
                <td>{{$value.dep_vol_type_cn}}</td>
                <td class="hidden-xs">{{$value.dep_app_name}}</td>
                <td>{{$value.dep_app_group}}</td>
                <td class="text-right">
                {{if pageData.actions['manage_service'] || pageData.is_sys_admin}}
                        <button data-id="{{$value.dep_vol_id}}" type="button" class="btn btn-default btn-sm cutConnectAppDisk">取消挂载</button>
                {{/if}}
                </td>
            </tr>
        {{/each}}
        {{if pageData.mounted_apps.length == 0}}
             <tr>
                <td colspan="8" style="text-align: center">暂无数据</td>
            </tr>
        {{/if}}
       </tbody>
    </table>
</div>
{{if pageData.actions['manage_service'] || pageData.is_sys_admin}}
<div class="panel-footer clearfix">
    <button type="button" class="btn btn-success pull-right connectSharedAppDisk">挂载目录</button>
</div>
{{/if}}
</section>
   

