<section class="panel panel-default">
    <div class="panel-heading clearfix">基础信息
        {{if tenantName != 'goodrain' }}
        <a href="javascript:void(0)" id="edit" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
        {{/if}}
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="row">
                <span class="col-xs-2 control-label">应用名称</span>
                <div class="col-xs-8" id="lit-appname">
                    <p class="form-control-static">
                        <span class="lit-appname">{{ appInfo.service.service_cname }}</span>
                        <a href="javascript:;" style="margin-left:5px;vertical-align: baseline;"><span class="fn-rename glyphicon glyphicon-edit"></span></a>
                    </p>
                </div>
            </div>

            <div class="row">
                <span class="col-xs-2 control-label">所属组</span>
                <div class="fn-choose-group col-xs-8  choose-group-box">
                    <p class="form-control-static">
                        <span class="group-name">
                            {{pageData.group_name}}
                        </span>
                        <a href="javascript:;" style="margin-left:5px;vertical-align: baseline;"><span class="fn-name glyphicon glyphicon-edit"></span></a>
                    </p>
                    <div class="fn-show-select  choose-layer" style="display: none;">
                        <select class="groups-select form-control">
                            {{each pageData.groupList}}
                                {{if $value.ID == pageData.group_id}}
                                <option selected value="{{ $value.ID }}">{{ $value.group_name }}</option>
                                {{else}}
                                <option value="{{ $value.ID }}">{{ $value.group_name }}</option>
                                {{/if}}
                            {{/each}}
                            <option value="-1">未分组</option>
                        </select>
                        <button class="fn-groupname-sure btn btn-success" data-id="" style="padding: 0 2px;">
                            <i class="glyphicon glyphicon-ok"></i></button>
                        <button class="fn-groupname-close btn btn-danger" style="padding: 0 4px;">
                            <i class="glyphicon glyphicon-remove"></i></button>
                    </div>
                </div>
            </div>

            {{if appInfo.service.category == 'application' && pageData.show_git}}
            <div class="row">
                <span class="col-xs-2 control-label">Git仓库</span>
                <div class="col-xs-6">
                  <p class="form-control-static">
                    {{if appInfo.service.code_from == "gitlab_manual"}}
                        <a href="{{ pageData.href_url || pageData.httpGitUrl }}" style="word-wrap:break-word;">{{ pageData.httpGitUrl }}</a>
                    {{else}}
                        <a href="{{ pageData.httpGitUrl }}" style="word-wrap:break-word;">{{ pageData.httpGitUrl }}</a>
                    {{/if}}
                  </p>
                </div>
                {{if pageData.actions['manage_service']  && pageData.git_tag && appInfo.service.code_from != "gitlab_manual"}}
                    <div class="col-xs-4 hidden-xs">
                        <div class="col-xs-12 text-right">
                            <select name="branch" id="git_branch" class="form-control git-branch-change inline-block" style="display:inline-block;width:auto;max-width:180px;">
                            </select>
                            <button type="button"
                                    class="btn btn-success changeAppBranch">切换分支
                            </button>
                        </div>
                    </div>
                {{else}}
                    <div class="col-xs-4 hidden-xs">
                        <div class="col-xs-12 text-right">
                            <input value="{{ appInfo.service.code_version }}" name="branch" id="git_branch" class="form-control git-branch-change inline-block" style="display:inline-block;width:auto;max-width:180px;">
                            </input>
                            <button type="button"
                                    class="btn btn-success changeAppBranch">修改分支
                            </button>
                        </div>
                    </div>

                {{/if}}
            </div>
            {{/if}}

            {{if appInfo.service.service_key === '0000'}}
            <div class="row">
                <span class="col-xs-2 control-label">镜像名称</span>
                <div class="col-xs-8 text-left"><p  class="form-control-static">{{appInfo.service.image}}</p></div>
            </div>
            {{/if}}

            <div class="row">
                <span class="col-xs-2 control-label">持久化配置</span>
                <div class="col-xs-8 text-left"><p  class="form-control-static">共享</p></div>
            </div>
            
            <div class="row">
                <span class="col-xs-2 control-label">创建时间</span>
                <div class="col-xs-8 text-left"><p  class="form-control-static">{{(pageData.serviceCreateTime || '').split('T')[0]}}</p></div>
            </div>
            
            <div class="row">
                <span class="col-xs-2 control-label">应用特性</span>
                <div class="col-xs-8 text-left">
                    <div class="app-character" id="app-character">
                    </div>
                    <a href="javascript:;" class="fn-choose-char btn btn-success btn-xs" style="color:#fff">添加特性</a>
                </div>
            </div>
            
        </form>
    </div>
</section>
<!-- 03 -->
<section class="panel panel-default">
    <div class="panel-heading clearfix" >
        自定义环境变量
    </div>
    <div class="panel-body">
        <table id="envVartable" class="table">
            <thead>
            <tr class="active">
                <th>变量名 - ^[A-Z][A-Z0-9_]</th>
                <th>变量值</th>
                <th>说明</th>
                <th class="text-right">操作</th>
            </tr>
            </thead>
            <tbody>
            {{each pageData.envs || []}}
                <tr data-attr-name="{{ $value.attr_name }}">
                    <input name="attr_id" type="hidden" placeholder="选填" value="{{ $value.pk }}">
                    <td class="attr_name_field">{{ $value.attr_name }}</td>
                    <td>{{ $value.attr_value }}</td>
                    <td>{{ $value.name }}</td>
                    <td class="text-right">
                        {{if $value.is_change }}
                            <button type="button" class="attr-delete btn btn-default btn-sm">删除</button>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <button type="button" class="btn btn-success pull-right" id="add_service_attr">新增环境变量</button>
    </div>
</section>



<section class="panel panel-default">
    <div class="panel-heading clearfix"> 
         应用健康检测
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>监测类型</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>启动时检测</td>
                    <td class="startHealthCheck"></td>
                    <td>
                        <button class="btn btn-default viewStartHealth" style="display: none;">查看/设置</button>
                        <button class="btn btn-default activeStartCheck" style="display: none;">启用</button>
                        <button class="btn btn-default disableStartCheck" style="display: none;">禁用</button>
                    </td>
                </tr>
                <tr>
                    <td>运行时检测</td>
                    <td class="runHealthCheck"></td>
                    <td>
                        <button class="btn btn-default viewRunHealth" style="display: none;">查看/设置</button>
                        <button class="btn btn-default activeRunCheck" style="display: none;">启用</button>
                        <button class="btn btn-default disableRunCheck" style="display: none;">禁用</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

{{if pageData.team_invite }}
    {{if pageData.actions['perm_setting'] }}
        <section class="panel panel-default" id="permission">
            <div class="panel-heading">权限管理 </div>
            <div class="panel-body">
                <form class="form-inline text-right">
                    <div class="form-group">
                        <input type="text" class="email-invite form-control" id="invite_email" name="invite_email" placeholder="邮件地址">
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="ivite_perm" name="ivite_perm">
                            <option value="viewer">观察者</option>
                            <option value="developer">开发者</option>
                            <option value="admin">管理员</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success invite-service" id="invite_user_btn">邀请</button>
                    </div>
                </form>

                <br>
                <div id="action_report" class="width-3"></div>
                <table class="table">
                    <thead>
                        <tr class="active">
                            <th>成员名称</th>
                            <th>邮件地址</th>
                            <th class="text-center">管理员</th>
                            <th class="text-center">开发者</th>
                            <th class="text-center">观察者</th>
                            <th class="text-center">移除权限</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{each pageData.perm_users}}
                        <tr entry-user="{{ $value.name }}">
                            <th><a href="/apps/goodrain/perms?user={{ $value.name }}">{{ $value.name }}</a></th>
                            <th>{{ $value.email }}{{if $value.selfuser}}(本人){{/if}}</th>
                            <th class="perm-modify-enable text-center">
                                    <input class="js-perm" type="checkbox" identity="admin"
                                    {{if $value.adminCheck}}checked=""{{/if}}
                                    {{if $value.selfuser}}disabled{{/if}}
                                    />
                            </th>
                            <th class="perm-modify-enable text-center">
                                <input class="js-perm" type="checkbox" identity="developer"
                                    {{if $value.developerCheck}}
                                        checked=""
                                        {{if $value.developerDisable}}
                                            disabled="" 
                                        {{/if}}
                                    {{/if}}
                                    {{if $value.selfuser}}
                                        disabled
                                    {{/if}}
                                />
                            </th>
                            <th class="perm-modify-enable text-center">
                                <input class="js-perm" type="checkbox" identity="viewer"
                                    {{if $value.viewerCheck}}
                                        checked=""
                                        {{if $value.viewerDisable}}
                                            disabled="" 
                                        {{/if}}
                                    {{/if}}
                                    {{if $value.selfuser}}
                                        disabled
                                    {{/if}}
                            </th>
                            <th class="text-center">
                                <button  class="btn btn-default btn-sm member-remove"
                                    {{if $value.selfuser}} style="display:none;" {{/if}}
                                >删除</button>
                            </th>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </section>
    {{/if}}
{{/if}}

{{if pageData.actions['delete_service']}}
    <section class="panel panel-default" id="delete">
        <div class="panel-heading">
          删除 
          <span class="text-danger pull-right text-right hidden-xs">
            注意：该操作会将所有相关数据永久删除，请慎重操作！
          </span>
        </div>
        <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 col-lg-2  control-label">{{ appInfo.service.service_cname }}</label>
                        <button type="button" class="btn btn-danger pull-right" data-code="{{ appInfo.service.code_from }}"
                                id="cur_delete_service">
                            删除
                        </button>
                </div>
        </div>
    </section>
{{/if}}


<script type="text/template" id="checkTmp">
    <form class="form-horizontal">
        <div class="form-group">
            <span class="col-sm-3 control-label">
                应用名：
            </span>
            <div class="col-sm-8">
                <input class="form-control" type="text"  value="{{ appInfo.service.service_cname }}" id="newname"  />
            </div>
            
        </div> 
        <div class="form-group">
            <span class="col-sm-3 control-label">
                选择组：
            </span>
            <div class="col-sm-8">
                <select class="form-control" id="newgroup">
                    <option value="-1">未分组</option>
                    {{each pageData.groupList}}
                        {{if pageData.group_name }}
                            {{if pageData.group_name == $value.group_name}}
                                <option value="{{ $value.ID }}" selected="selected">{{ $value.group_name }}</option>
                            {{else}}
                                <option value="{{ $value.ID }}">{{ $value.group_name }}</option>
                            {{/if}}
                        {{else}}
                            <option value="{{ $value.ID }}">{{ $value.group_name }}</option>
                        {{/if}}
                    {{/each}}
                </select>
            </div>
        </div>  
        {{if appInfo.service.category == 'application' }}
        <div class="form-group">
            <span class="col-sm-3 control-label">
                Git仓库：
            </span>
            <div class="col-sm-8">
                <input class="form-control" type="text" value="{{ pageData.httpGitUrl }}" id="newgit" />
                <span class="help-text">修改仓库地址后需要重新部署应用</span>
            </div>
        </div>
        {{/if}}   
    </div>
</script>