<div id="sidebar" class="nav-collapse " tabindex="5000" style="overflow: hidden; outline: none;">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        <li class="sub-menu">
            <a class="{{config}}" href="/share/region/">
                <i class="fa fa-laptop"></i>
                <span>数据中心</span>
            </a>
        </li>
        <li class="sub-menu">
            <a class="{{config}}" href="/share/region/price/">
                <i class="fa fa-laptop"></i>
                <span>定价管理</span>
            </a>
        </li>
        <li class="sub-menu">
            <a class="{{config}}" href="/share/region/report/consume/">
                <i class="fa fa-laptop"></i>
                <span>资源报表</span>
            </a>
        </li>
        <li class="sub-menu">
            <a class="{{config}}" href="#">
                <i class="fa fa-laptop"></i>
                <span>合同管理</span>
            </a>
        </li>
        <li class="sub-menu">
            <a class="{{config}}" href="#">
                <i class="fa fa-laptop"></i>
                <span>授权管理</span>
            </a>
        </li>
        <li class="sub-menu">
            <a class="{{config}}" href="/share/region/settle/">
                <i class="fa fa-laptop"></i>
                <span>结算管理</span>
            </a>
        </li>
    </ul>
    <!-- sidebar menu end-->
</div>