<div id="sidebar" class="nav-collapse " tabindex="5000" style="overflow: hidden; outline: none;">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">

        <li class="sub-menu">
            <a class="{{config}}" href="javascript:;">
                <i class="fa fa-laptop"></i>
                <span>配置管理</span>
            </a>
            <ul class="sub">
                <li class="active"><a href="/share/region/">数据中心</a></li>
                <li><a href="#">定价管理</a></li>
                <li><a href="#">资源报表</a></li>
                <li><a href="#">合同管理</a></li>
                <li><a href="#">授权管理</a></li>
                <li><a href="#">结算管理</a></li>
            </ul>
        </li>
    </ul>
    <!-- sidebar menu end-->
</div>