{% load url from future %}{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"zh-cn" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  {% block extrameta %}
  <meta name="description" content="">
  <meta name="author" content="">
  {% endblock %}
  <link rel="shortcut icon" href="img/favicon.png">
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
  <title>{% block title %}数据中心管理{% endblock %}</title>

  <link rel="stylesheet" href="{% static "admin/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "admin/css/bootstrap-reset.css" %}">
  <link rel="stylesheet" href="{% static "admin/assets/font-awesome/css/font-awesome.css" %}">
  <link rel="stylesheet" href="{% static "admin/css/sweetalert.css" %}">
  <link rel="stylesheet" href="{% static "admin/css/gallery.css" %}">
  {% block extracss %}{% endblock %}

  {{ media.css }}

    <!--[if lt IE 9]>
      <script src="/static/admin/js/html5shiv.js"></script>
      <script src="/static/admin/js/respond.min.js"></script>
    <![endif]-->

  {% block extrastyle %}{% endblock %}
  <script src="{% static "admin/js/jquery.js" %}"></script>
  <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
  <script src="{% static "admin/js/sweetalert.min.js" %}"></script>
  <script src="{% static "admin/js/jquery.nicescroll.js" %}"></script>
  {% block extrahead %}{% endblock %}

</head>
<body class="{% block bodyclass %}{% endblock %}">
  {% block body %}{% endblock body %}
  {% block extrajs %}{% endblock %}
  {{ media.js }}
</body>

</html>
