<div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="切换导航"></div>
</div>
<!--logo start-->
<a href="/" class="logo">数据中心<span>管理后台</span></a>
<!--logo end-->
<div class="top-nav ">
    <!--search & user info start-->
    <ul class="nav pull-right top-menu">
        <li>
   	    <label>     </label>
    	</li>
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa  fa-user"></i>
                <span class="username">{% if user.is_authenticated %}{{ user.name }}{% else %}匿名用户{% endif %}</span>
                <b class="caret"></b>
            </a>

        </li>
        <!-- user login dropdown end -->
    </ul>
    <!--search & user info end-->
</div>
