{% extends 'admin/raster.html' %}
{% load i18n %}
{% load goodrain_extras %}
{% block main-content %}

<section class="wrapper site-min-height">
	<div class="row state-overview">
		<div class="col-lg-3 col-sm-3">
			目标ID：<input type="text" id="target_id" name="target_id" value="{{target_id}}" />
		</div>
		<div class="col-lg-3 col-sm-3">
			分类：
			<select id="category" name="category">
			 	<option></option>
				{% for key,item in serviceCategoryMap.items %}
					<option value="{{key}}" {% if key == cur_category %} selected="selected" {% endif %}>{{item}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-lg-3 col-sm-3">
			行为：
			<select id="action" name="action">
				<option></option>
				{% for key,item in actionMap.items %}
					<option value="{{key}}" {% if key == cur_action %} selected="selected" {% endif %}>{{item}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-lg-3 col-sm-3">
			结果：
			<select id="result" name="result">
				<option></option>
				{% for key,item in resultMap.items %}
					<option value="{{key}}" {% if key == cur_result %} selected="selected" {% endif %}>{{item}}</option>
				{% endfor %}
			</select>
		</div>
    </div>
    <br/>
    <div class="row state-overview">
    	<div class="col-lg-6 col-sm-3">
			时间：<input id="start_time" name="start_time" value="">---<input id="end_time" name="end_time" value="">
		</div>
    </div>
    <div class="gearboxtop text-center">
		<input type="button" name="chaxun" id="chaxun" value="查询" onclick="_page(1);">
	</div>
    <section class="panel" id="querydetail">
		
	</section>
</section>

<script>
	Date.prototype.format = function(format){ 
		var o = { 
			"M+" : this.getMonth()+1, //month 
			"d+" : this.getDate(), //day 
			"h+" : this.getHours(), //hour 
			"m+" : this.getMinutes(), //minute 
			"s+" : this.getSeconds(), //second 
			"q+" : Math.floor((this.getMonth()+3)/3), //quarter 
			"S" : this.getMilliseconds() //millisecond 
		}	
		if(/(y+)/.test(format)) { 
			format = format.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length)); 
		}
	
		for(var k in o) { 
			if(new RegExp("("+ k +")").test(format)) { 
				format = format.replace(RegExp.$1, RegExp.$1.length==1 ? o[k] : ("00"+ o[k]).substr((""+ o[k]).length)); 
			} 
		} 
		return format; 
	}
	
	function URLencode(sStr){
	    return escape(sStr).replace(/\+/g, '%2B').replace(/\"/g,'%22').replace(/\'/g, '%27').replace(/\//g,'%2F');  
	} 
	
	function _page(page){
		var target_id = $("#target_id").val()
		var category = $("#category").val()
		var action = $("#action").val()
		var result = $("#result").val()
		var start_time = $('#start_time').val()
		var end_time = $('#end_time').val()
		var url='/ajax/history/query/?start_time='+encodeURIComponent(start_time)+'&end_time='+encodeURIComponent(end_time)+'&target_id='+target_id+'&category='+category+'&action='+action+'&result='+result+'&page='+page+'&r='+Math.random()
		$("#querydetail").load(url);
	}
	$(document).ready(function(){
		var myDate = new Date();
		$('#start_time').val(myDate.format("yyyy-MM-dd 00:00:00"))
		$('#end_time').val(myDate.format("yyyy-MM-dd hh:mm:ss"))
		$('#start_time').datetimepicker({
			controlType: 'select',
			timeFormat: 'HH:mm:ss'
		});
		$('#end_time').datetimepicker({
			controlType: 'select',
			timeFormat: 'HH:mm:ss'
		});
		_page(1);
	})
	function _clickme(id,category){
		var _url=""
		if(category=="user"){
			_url="/ajax/history/user/?id="+id
		}else if(category=="username"){
			_url="/ajax/history/user/?nick_name="+id
		}else if(category=="tenant"){
			_url="/ajax/history/tenant/?id="+id
		}else if(category=="service"){
			_url="/ajax/history/service/?id="+id
		}		
		$.ajax({
       	  type: "GET",  
    		  url: _url, 		  
    		  cache: false,
    	  	  success: function(msg) {
    	  		layer.open({
    	  		    type: 1,
    	  		    skin: 'layui-layer-rim', //加上边框
    	  		    area: ['1200px', '160px'], //宽高
    	  		    content: msg
    	  		});
    		  },
    		  error: function(){
    			//swal("系统异常");
      	  	  }
         })
	}
</script>	

{% endblock %}