


tbody.port span.portDetail{
    color: #28cb75;
    cursor: pointer;
}
tbody.port span.portDisable{
    color: #838383;
    cursor: not-allowed;
}


/*弹出层*/



 .depend ul.clearfix li{
    float: left;
    width: 33%;
}
 .depend ul.clearfix li input{
    width: 30px;
    margin: 10px;
}




.applicationMes ul li{
    width: 33%;
    float: left;
}
.applicationMes p{
    font-size: 12px;
}





