ul,ol li{list-style: none;}
span.title{
    height: 34px;
    line-height: 34px;
    color: #28cb75;
    font-size: 22px;
    font-weight: 200;
    margin-right: 20px;
}
.table div.clearfix h4{
    float: left;
    width: 30%;
}
.table div.clearfix ul{
     float: right;
 }
.table div.clearfix ul li{
    float: right;
    margin-left: 20px;
}
.table table a.del_domain{
    color: red;
    cursor: pointer;
}
p.input_domain{
    padding: 10px;
}
p.input_domain input.domain_name{
    height: 36px;
    width: 40%;
}
p.input_domain button{
    margin-left: 20px;
}