.edit-port{cursor: pointer;}
span.title{
    height: 34px;
    line-height: 34px;
    color: #28cb75;
    font-size: 22px;
    font-weight: 200;
    margin-right: 20px;
}
.appOutline{
    padding: 10px;
    background-color: #f0f5f8;
}
.appOutline ul.outlineTop{
    display: flex;
    justify-content: center;
    align-items: center;
}
.appOutline ul.outlineTop li{
    width: 220px;
    height: 220px;
    float: left;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #ffffff;
    margin: 5px;
}
.appOutline ul li p{
    padding: 10px 30px;
}
.appOutline ul li p.text-center{
    font-size: 24px;
    font-weight: 100;
}
.appOutline ul li p.pImg{
    display: table;
    height: 80px;
    text-align: center;
    width: 100%;
}
.appOutline ul li p.pImg span{
    display: table-cell;
    vertical-align: middle;
}
.table div.clearfix h4{
    float: left;
    width: 30%;
}
.table div.clearfix ul{
     float: right;
 }
.table div.clearfix ul li{
    float: right;
    margin-left: 20px;
}
.table table a.del_domain,a.del_operator{
    color: red;
    cursor: pointer;
}
p.input_domain{
    padding: 10px;
}
p.input_domain input.domain_name{
    height: 36px;
    width: 30%;
}
p.input_domain button{
    margin-left: 20px;
}
.table td.operator_auth span{
    display: block;
    width: 15px;
    height: 15px;
    margin-left: 3px;
    float: left;
}
.table td.operator_auth span.text_auth{
    width: 30px;
}
.table td.operator_auth span.check{
    background: url('../images/checkmany.png') no-repeat;
    background-size: 100% 100%;
}
.table td.operator_auth span.noCheck{
    background: url('../images/noCheck.png') no-repeat;
    background-size: 100% 100%;
}
p.input_operator{
    padding: 10px;
}
p.input_operator input{
    height: 36px;
    width: 20%;
    margin-right: 20px;
}
p.input_operator button{
    margin-left: 20px;
}