ul,ul li{list-style: none;}
a:hover{text-decoration: none;}
div.applisttit{ margin:20px 20px 0; background: url('../images/titicon.png') no-repeat; height: 48px; line-height: 48px; color: #666;  clear:both; color: #666666; font-size: 30px; line-height: 48px; text-indent: 60px;}
em,cite,span{font-style: normal;}

.box-single{margin:20px;}
.box-single table{border: 1px #ddd solid; margin-bottom: 0;}


.new-box{ border: 1px #ddd solid;  padding:10px; }
.new-box label{width: 80px; text-align: right; padding-right: 5px;}


.fn-new-app{color: #fff;}
.addport-box,.environment-box,.directory-box{padding:10px;}


.fn-newapp-sure,.fn-environment-sure,.fn-directory-sure{margin-left: 10px;}

.addport-box,.fn-newapp-sure,.fn-newapp-cancel{display: none;}
.environment-box,.fn-environment-sure,.fn-environment-cancel{display: none;}
.directory-box,.fn-directory-sure,.fn-directory-cancel{display: none;}

.build-app-btn{text-align: center;}