ul,ul li{list-style: none;}
a:hover{text-decoration: none;}
div.applisttit{ margin:20px 20px 0; background: url('../images/titicon.png') no-repeat; height: 48px; line-height: 48px; color: #666;  clear:both; color: #666666; font-size: 30px; line-height: 48px; text-indent: 60px;}
em,cite,span{font-style: normal;}

.box-single{margin:20px;}
.box-single table{border: 1px #ddd solid; margin-bottom: 0;}


.new-box{ border: 1px #ddd solid;  padding:10px; }
.new-box label{width: 80px; text-align: right; padding-right: 5px;}


.fn-new-app{color: #fff;}
.addport-box,.environment-box,.directory-box{padding:10px;}


.fn-newapp-sure,.fn-environment-sure,.fn-directory-sure{margin-left: 10px;}

.addport-box,.fn-newapp-sure,.fn-newapp-cancel{display: none;}
.environment-box,.fn-environment-sure,.fn-environment-cancel{display: none;}
.directory-box,.fn-directory-sure,.fn-directory-cancel{display: none;}

.build-app-btn{text-align: center;}

.tit{font-size: 24px; line-height: 50px; color: #555;  }
.line{height: 0; width: 100%; display: block; border-top: 1px #f7f7f7 solid; border-bottom: 1px #dfdfdf solid;}
.smalltit{font-size: 18px; line-height: 50px; color: #555; height: 50px; background: #efefef; border-bottom: 1px #ddd solid; text-indent:20px; margin-bottom: 0;}
.link{margin-bottom: 0; background:#f5f5f5; padding: 20px; }
.link-box{border: 1px #ddd solid;}
.link a{padding:15px; background: #28cb75; color: #fff; font-size: 18px; line-height: 1; display:block; float: left; margin: 5px; text-align: center;}
.link-app-market{margin-bottom: 0; background:#f5f5f5; padding: 20px;}
.link-app-market a{ height: 50px; padding: 0 15px; background: #28cb75; color: #fff; line-height: 1; display:block; float: left; margin-right: 10px; text-align: center; margin-bottom: 10px;}
.link-app-market a span:nth-child(1){font-size: 18px; padding-top: 10px; display: block;}
.link-app-market a span:nth-child(2){font-size: 14px; display: block;}
.link-app-market a.more-app{ line-height: 50px; font-size: 24px;}

.steptit{height:50px; line-height: 50px; font-size: 24px; text-align: center;}
.steptit span{margin-bottom: 0; display: inline-block;  padding:0 20px; color: #555;}
.steptit span.sed{color: #28cb75;}
.fm-link{padding:30px 0; width: 80%; margin: 0 auto; }
.fm-link p label{ font-size: 18px;  color: #555; }
.fm-link p input{border: #c6c6c6 1px solid;  background:#fff; width: 80%;}
.fm-link a{display: block; margin:20px auto; width: 160px;}

.fn-app-box{display: none;}
.tablink{width: 100%; height: 40px; border-bottom: 1px #ddd solid; margin-top: 10px; padding:0 20px;}
.tablink a{width: 90px; text-align: center; line-height: 38px; display: inline-block; border:1px #ddd solid; color: #666; text-decoration: none;}
.tablink a.sed{background: #28cb75; color: #fff;}

/**/
.newapp-link-box{margin:20px;}
.newapp-link-box li{float: left; width: 16.66%};
.newapp-link-box li:nth-child(1){width: 66.66%;}
.newapp-link-box li p{width: 100%;}
.newapp-tit{font-size: #303030; font-size: 16px;}
.newapp-link-box li p a{display: block; width: 25%;}
.newapp-link-box li p a:nth-child(2),.newapp-link-box li p a:nth-child(3){display: block; width: 100%;}
.newapp-link-box li p a span{width:100%; background: #fff; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; display: block;}














