/* ww - 2017-07-17  myapp */
.panel-primary {
	border: 1px #ddd solid;
}
.handle-box{
	margin-bottom: 20px;
}
.nav-pills{
	margin-bottom: 20px;
}
.service-detail-nav > li > a {padding: 5px 15px;}
.monitor01{
	background: url('../images/monitor01.png') no-repeat; 
	background-size:60px 60px;
}
.monitor02{
	background: url('../images/monitor02.png') no-repeat;
	background-size:60px 60px;
}
.monitor03{
	background: url('../images/monitor03.png') no-repeat; 
	background-size:60px 60px;
}
.select-right{
	padding-left: 80%;
	position: relative;
	top: -50px;
	z-index: 9;
}
.main_log{
	background: #000;
	width: 100%;
	height: 600px;
	border-radius:4px;
	margin-top: 20px;
}
.inside_log{
	width: 100%;
	height: 600px;
	padding: 20px;
	overflow-y:auto;
	line-height: 25px;
}
.inside_log p{
	margin: 0;
	line-height: 20px;
}
#statistic .panel-body{
	min-height: 190px;
}
.handle-box-left{
	margin-bottom: 20px;
}
.handle-box-right{
	margin-bottom: 20px;
}
.handle-box-left li{
	float: left;
	margin-right: 10px;
}
.handle-box-right li{
	float: right;
	margin-left: 10px;
}

#svg-box {
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
}

/*
	概览头部
*/
#status_areas {margin-bottom:20px;color:#666;}
#status_areas .flex-singe {
	text-align: center;
	background:#fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border:1px solid #ddd;
    position:relative;

}
#status_areas .absolute {position: absolute;left:0;right:0;top:0;bottom:0;z-index:0;opacity:0.1;}

#status_areas .flex-singe .chunkbox {
	background: none;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    border:none;
    padding: 15px 0;
    position: relative;
    z-index: 2;
    height: 135px;
    margin-bottom: 0;
}
#status_areas .flex-singe .chunkbox .bd {height:145px;}
#status_areas .flex-singe .chunkbox .ft {position: absolute;left:0;right:0;bottom:0;height:30px;font-size:12px;color:#666;text-align: center;}
#status_areas .flex-singe .chunkbox .ft .ft-bd {display: table-cell;vertical-align: middle;}
#status_areas .flex-singe .chunkbox .ft p {margin-bottom: 2px;}
#status_areas .flex-singe .chunkbox .ft .desc-text {font-size:12px;color:#999;}
#status_areas .flex-singe .chunkbox .hd {text-align:left;font-size:14px;color:#666;text-indent:20px;}
#status_areas .flex-singe .chunkbox .installed-plug{padding:0 34px;text-align: left;line-height: 2em;position:absolute;width:100%;}
#status_areas .flex-singe .chunkbox .installed-plug li {max-width: 100%;}
#status_areas .flex-singe .chunkbox .installed-plug li:before {content: '';display: inline-block;vertical-align:middle;margin-right:8px;width:5px;height:5px;background-color: #00d776;border-radius: 50%;}
#status_areas .flex-singe .chunkbox .installed-plug .disabled:before{background-color: #d9d9d9;}
#status_areas .flex-singe .chunkbox .installed-plug a {color:#666;vertical-align: middle;}
#service_status-img {width:60px;height:60px;}
#status_areas .flex-singe .chunkbox .tit-text {vertical-align: bottom;display: inline-block;text-align:right;}
#status_areas .flex-singe .chunkbox .tit-text .text-sub{font-size: 14px;color:#666;}
#status_areas .tit-text {display:inline-block;font-size:36px;color:#00d776;}
#status_areas .sub-tit-text {font-size:18px;color:#00d776;}


/* 概览 log */
#keylog {
	position: relative;
	padding-top: 20px;
}
#keylog .version-info {padding:0 10px;overflow: hidden; margin-bottom: 8px;font-size: 12px;color:#b7b7b7;}
#keylog  .today_log{
	font-size: 18px;
	position: absolute;
	top: 0px;
	left: 100px;
	color: #303030;
	display: none;
}
#keylog .timeline{
	position:relative;
}
#keylog .timeline:before{
    content:"";
    position:absolute;
    height:100%;
    width:3px;
    left:210px;
    background-color:#ccc;
}
#keylog .timeline li{
	position:relative;
	margin-top:20px;
	margin-bottom:20px;
}

#keylog .timeline li.open .panel div.log {
	height: auto;
}

#keylog .timeline li.open .ajax_log_new {display: none;}
#keylog .timeline li.open .hide_log {display: block;}

#keylog .timeline li.closed .ajax_log_new {display: block;}
#keylog .timeline li.closed .hide_log {display: none;}

#keylog .timeline li.js-event-row[data-status=building] .log{height: 20px;}
#keylog .timeline li.js-event-row[data-status=building] .log_type {display: none;}

#keylog .timeline li .panel{
	margin:0px;
	display:inline-block;
	width: 90%;
}
#keylog .timeline li .panel-body:after{
	clear:none;
}
#keylog .timeline .tl-time{
	display:inline-block;
	width:150px;
	text-align:right;
	float:left;
}
#keylog .timeline .tl-time h4{
	font-size: 16px;
    margin-top: 0px;
    color: #303030;
    line-height: 25px;
    margin-bottom: 0px;
}
#keylog .timeline .tl-time p{
	font-size: 14px;
}
#keylog .timeline .tl-content{
	margin-left:250px;
}
#keylog .timeline .tl-icon{
    position:absolute;
    font-size:28px;
    margin-left:51px;
    margin-top: 15px;
    width: 20px;
    height: 20px;
    border:3px solid #ccc;
    border-radius:50px;
    color:#fff;
    box-shadow:inset 0px 0px 0px 2px #fff;
}
#keylog .panel-primary>.panel-heading{
	font-size: 18px
}

.panel-primary>.panel-heading{
	color: #303030;
	background-color: transparent;
	border:none;
	margin: 0;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 100%; 
	position: relative;
}
.panel-heading span{
	width: 70%; 
	display: inline-block;
	font-size: 14px; 
}
.panel-heading .user{
	float: right;
}
.panel-heading .user button{
	background-color: #fff;
	border: none;
	color: #28cb75;
	padding: 10px 0 0 0;
}
#keylog .panel-body{
	overflow: hidden;
	padding: 0px;
}
#keylog .span_src{display: inline-block;width: 30px;height: 30px;}
#keylog .span_src img{width: 100%}
#keylog .log{height: 0px;overflow: hidden;position: relative;}
#keylog .log .log_type{padding: 5px 0px;}
#keylog .log .log_content{}
#keylog .log .log_type label{margin: 0px 20px;padding: 5px 10px;border: 1px solid #ececec;cursor: pointer;}
#keylog .log .log_type label.active{border: 1px solid #28cb75;}
#keylog .panel-body div.log_height{height: auto !important;}
#keylog .panel-body div.log_height2{height: auto !important;max-height:800px;overflow-y: auto !important;}
#keylog .panel-body:before{
    width: 0px;
    height: 0px;
    color: white;
    text-align: center;
    border-top: 15px solid transparent;
    border-right: 15px solid #fff;
    border-bottom: 15px solid transparent;
    display: block;
    position: absolute;
    left: -15px;
    top: 0px;
}
#keylog .bg-success{background-color: #28cb75;}
#keylog .timeline .bg-version{background-color: #4a94d0;margin-left: 201px;}
#keylog .bg-danger{background-color: #da4f49;}
#keylog .bg-grey{background-color: #eedddc;}
#keylog .panel div.log{padding:0 10px;}
#keylog .panel div.log p{line-height: 20px; margin-bottom: 0;}
#keylog .panel div.log p span.log_time{float: left;width: 8%;min-width: 60px;}
#keylog .panel div.log p span.log_msg{float: left;width: 90%;display: inline-block; word-break: break-all;}
#keylog .panel div.user{position: absolute; top: 3px; right: 10px; display: block;}
#keylog .panel-heading .btns{font-size:14px;padding-top: 10px;}
#keylog .panel-heading .btns a {color:#999;margin-left:20px;}
#keylog .panel-heading .btns a.callback_version {color:#28cb75;}
#keylog .user p:nth-child(2){cursor: pointer;color: #999; font-size: 14px;}
#keylog .user .hide_log{cursor: pointer;display: none;color: #999; font-size: 14px;}
#keylog .load_more{display: none;}
#keylog .load_more img, #keylog .load_more_new img{display: inline-block;width: 40px;height: 40px;cursor: pointer;}
@media (max-width: 768px) {

    #keylog .timeline:before{
        left:27px;
    }

    #keylog .timeline .tl-icon{
        left:18px;
        top:0px;
        margin:0px;}

    #keylog .timeline .tl-content{
        margin-left:70px;}

    #keylog .timeline .tl-time{
        display:block;
        float:none;
        width:auto;}

    #keylog .timeline li .panel{
        display:block;}

    #keylog .timeline .tl-time h4{
    	font-size: 14px; 
    	color:#999; 
    	text-align: left; 
    	padding-left: 50px;
    }
    #keylog .timeline .tl-time p{
    	text-align: left; 
    	padding-left: 50px;
    }
    #status_areas .flex-singe{
    	margin-bottom: 10px;
    }
    #keylog .panel div.user{
    	display: none;
    }
    .panel-heading span{
    	width: 100%;
    }
}
/* 概览 log */


/*  容器管理下拉框 */
#cur_container_content {min-width: 100%;}
#cur_container_content li {float:none;margin-left: 0;}


/*layer start */
.layer-body-bg{ width: 100%; height: 100%; background: rgba(0, 0, 0,.6); position: fixed; top: 0; left: 0; bottom: 0; z-index: 1100;  display: none;}
.layer-body{width:80%;  background: #fff;   max-width: 600px; position: absolute; z-index: 1101; top: 20%; left: 50%; margin:0 0 0 -300px; padding:20px;}
.layer-body .layer-tit{ color: #303030; line-height: 40px; background: #f7f7f7;  font-size: 16px; margin:0 0 10px 0; height: 40px; padding-left: 20px;}
.layer-body .layer-tit-lit{ color: #303030; line-height: 30px;  font-size: 16px;}
.del{width: 22px; height: 22px; background: #f63a47; position: absolute; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; top: 7px; right: 10px; font-size: 18px; line-height: 22px; text-align: center; color: #fff;}
.layer-height-overflow{width: 100%; }
/*layer end */
p.bottom {text-align: center; padding: 20px 0 0;}
p.bottom button{outline: none; border:none; text-align: center; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; height: 30px; padding:0px 20px; line-height: 30px; display: inline-block; margin:0 10px;}
p.bottom button.sure{ background-color: #28cb75; color: #ffffff;}
p.bottom button.cancel{background-color: #ffffff; border:1px solid #ececec; color: #303030; }



/*
	拓扑图页样式
*/
.fullScreen {position:fixed; left:0;top:0;right:0;bottom:0;z-index: 9999;background:#fff;}
.toFullScreen {cursor: pointer;position: relative;z-index: 999;float:right;}
.fullScreen .toFullScreen{display:none;}
.exitFullScreen {display: none;position: relative;z-index: 999;}
.fullScreen .exitFullScreen{display:block;text-align: center;font-size:20px;cursor:pointer;}




.time-line-panel .time-selector {float:right;width: 200px;}
.time-line-panel .time-selector .input-group{display: block;}
.time-line-panel .time-selector input {height:24px;font-size:12px;opacity:0.5;}
.time-line-panel .time-selector input:focus {opacity: 1;}
.app_requesttime_thunk .tit-text, .app_request_chunk .tit-text{margin-top: 40px;}
.app_requesttime, .app_request {font-size:46px;}
.uninstall-new-plugin {margin-top:60px;}
