/* ww - 2017-07-12 */

/* bootstrap resst start */
a {
    color:#28cb75;
}
a:link{
    color:#28cb75;
}
a:visited{
    color:#28cb75;
}
a:hover{
    color: #28cb75;
}
a:active{
    color:#28cb75;
}
.tit-color{
    color: #28cb75;
}
h3{
    margin-bottom: 20px;
}
.nav-tabs {
    margin-bottom: 20px;
}
ul,li,ul li{
    padding:0;
    margin: 0;
}
.modal-header{
    padding: 10px;
}
.modal-footer{
    padding: 10px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: #28cb75;
}
.nav-pills{
    margin-bottom: 20px;
}
.colorblack{
    color: #303030;
}
i{
    font-style: normal;
}
.table-p tr p{
    margin-bottom: 0;
}
.table-vertical > tbody > tr > td{
    vertical-align: middle;
}
em,cite,span,i{font-style: normal;}
/* table */
.table > thead > tr > th {
	border: 0 none; 
	color: #303030; 
	font-size: 14px;
    font-weight: 100;
    word-break: keep-all;
}
.table > tbody > tr > td{
	border-top:0; 
	border-bottom: 1px #f7f7f7 solid; 
	padding: 15px 10px; 
    word-break:break-all;
}
.panel-default > .panel-heading{
    font-size: 16px;
}
.panel-default > .panel-footer{
    background: #fff;
    border-top: 1px #ddd dashed;
    padding: 10px;
}
a.member-remove{
	color: #303030;
}
a.member-remove:link,a.member-remove:visited,a.member-remove:hover,a.member-remove:active{
	color: #303030;
}
.bg-gray{
    background: #757575;
    color: #fff;
}
.bg-blue{
    background: #00a1fd;
    color: #fff;
}
.bg-yellow{
    background: #e69807;
    color: #fff;
}
.bg-red{
    background: #dc0202;
    color: #fff;
}
.bg-green{
    background: #28cb75;
    color: #fff;
}
/* bootstrap resst end */

/* new css */
.pading5{
	padding:5px; 
}
.flex-box{
    display: -webkit-flex; 
    display: flex;
    -webkit-flex-wrap: nowrap; /* Safari */ 
    flex-wrap: nowrap;
    -webkit-flex-direction: row; /* Safari */ 
    flex-direction: row;
    -webkit-justify-content: space-between; /* Safari */ 
    justify-content: space-between;
    margin: 0 -15px;
}
.flex-singe{
    margin:0 15px;
    width: 100%;
}
.chunkbox{
	padding: 20px 0;
	background: #fff;
	width: 100%; 
	border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-bottom: 20px;
}
.chunkbox .top{
	font-size: 16px;
    text-indent: 20px;
    text-align: left;
    line-height: 20px;
    color: #838383;
}
.chunkbox .mid{
	width: 60px;
    height: 60px;
    margin: 20px auto;
}
.chunkbox .midimg{
    width: 60px;
    height: 60px;
    margin: 20px auto;
}
.chunkbox .midimg img{
    width: 60px;
    height: 60px;
}
.chunkbox .bot{
	color: #303030;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    text-align: center;
}
/* icon */
.mainbg01 {
    background: url(../images/main01.png) no-repeat;
    background-size: 60px 60px;
}
.mainbg02 {
    background: url(../images/main02.png) no-repeat;
    background-size: 60px 60px;
}
.mainbg03 {
    background: url(../images/main03.png) no-repeat;
    background-size: 60px 60px;
}
.mainbg04 {
    background: url(../images/main04.png) no-repeat;
    background-size: 60px 60px;
}

/* 财务中心 */
.tab-pane{
	display: none;
	margin-top: 20px;
}
.tab-pane.active{
	display: block;
} 
.money-box span, .bank-box span {
    float: left;
    color: #838383;
    font-size: 14px;
    line-height: 30px;
    display: block;
    width: 80px;
}
.money-box, .bank-box {
    padding: 10px;
}
.bank-box ul {
    float: left;
    width: 80%;
}
.bank-box ul li {
    width: 33%;
    float: left;
    height: 50px;
    padding: 10px;
}
.money-box input {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    float: left;
    color: #303030;
    height: 28px;
    border: 1px #d5d5d5 solid;
    line-height: 30px;
    width: 150px;
}
/* bank logo */
.zhifubao {
    width: 140px;
    height: 30px;
    background: url(../images/zhifubao.jpg) no-repeat;
    display: inline-block;
    text-indent: -9999px;
    background-size: 140px 30px;
}
.zgyh {
    width: 140px;
    height: 30px;
    background: url(../images/zhongguoyinhang.jpg) no-repeat;
    display: inline-block;
    text-indent: -9999px;
    background-size: 140px 30px;
}
.gsyh {
    width: 140px;
    height: 30px;
    background: url(../images/gonghang.jpg) no-repeat;
    display: inline-block;
    text-indent: -9999px;
    background-size: 140px 30px;
}
.zsyh {
    width: 140px;
    height: 30px;
    background: url(../images/zhaohang.jpg) no-repeat;
    display: inline-block;
    text-indent: -9999px;
    background-size: 140px 30px;
}
.jsyh {
    width: 140px;
    height: 30px;
    background: url(../images/jianhang.jpg) no-repeat;
    display: inline-block;
    text-indent: -9999px;
    text-indent: -9999px;
    background-size: 140px 30px;
}
.nyyh {
    width: 140px;
    height: 30px;
    background: url(../images/nonghang.jpg) no-repeat;
    display: inline-block;
    text-indent: -9999px;
    background-size: 140px 30px;
}
.jtyh {
    width: 140px;
    height: 30px;
    background: url(../images/jiaotong.jpg) no-repeat;
    display: inline-block;
    text-indent: -9999px;
    background-size: 140px 30px;
}
.table > tfoot > tr > td{border: 0  none; }

/* form  range */
.tit-renewal{
    width: 60px; 
    color: #303030; 
    line-height: 25px; 
    font-size: 16px; 
    text-align: right;
}
.con-renewal{
    width: 70%; 
    color: #303030; 
    line-height: 25px;
}
.con-renewal span{
    display: block;
}
.con-renewal i{
    font-style: normal;
}
.input-range-box{
    margin:10px 0 0 0;
}
.month-num{
    float: left; 
    display: inline-block; 
    font-size: 14px; 
    line-height: 18px; 
    padding-left:10px; 
    color: #303030;
}
.input-range-box .range-box{  
    float: left;
}
.app-pay {
    text-align: right;
    color: #303030;
    font-size: 16px;
    line-height: 30px;
}
.app-pay  cite{
    color: #28cb75;
    font-size: 24px;
    font-style: normal;
}
input[type=range] {
    -webkit-appearance: none;
    width: 300px;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
    background: -webkit-linear-gradient(#28cb75, #28cb75) no-repeat;
    background-size: 0% 100%;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}   
input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 10px; /*将轨道设为圆角的*/
    box-shadow: 0 1px 1px #e6e6e6, inset 0 0 2px #e6e6e6,0 -1px 1px #e6e6e6; /*轨道内置阴影效果*/
} 
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #28cb75; 
    border-radius: 50%; /*外观设置为圆形*/
    border: 1px #e6e6e6 solid;
    box-shadow: 0 0 0 5px #e6e6e6 inset,0 0 2px #e6e6e6 inset; /*添加底部阴影*/
}

/* new css */
/*  pages css*/
.pages{width: 100%; height: 36px; text-align: center; margin:10px 0;}
.pages a{width: 34px; height: 34px; line-height: 34px; text-align: center; font-size: 16px; margin:0 2px; display: inline-block; border:1px #ddd solid; -moz-border-radius:6px; -webkit-border-radius:6px;  border-radius:6px; color: #303030; background: #ddd;}
.pages a:hover,.pages a.active{background: #28cb75; color: #fff; border:1px #28cb75 solid;}

.pages a.prev,.pages a.next{border:1px #838383 solid; color: #838383;}
.pages a.prev.disabled,.pages a.next.disabled{ color: #f0f0f0; border: 1px #ececec solid; }
.pages a.prev:hover,.pages a.next:hover{background: #28cb75; color: #fff; border:1px #28cb75 solid;}

.lit-select{margin-bottom: 10px;}
.lit-select label{color: #303030; font-size: 14px; line-height: 32px;}
.lit-select select{ color: #303030; height: 30px; border:1px #d5d5d5 solid; line-height: 30px;  display: inline-block;}



/* loading */
.loadbg{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
    z-index: 999;
    top: 0;
    left: 0;
}
.loadbox{
    width: 150px;
    height: 150px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    border-radius: 8px;
}
.loading{
    width: 100%;
    height: 100%;
    position: relative;
}
.loading-center-absolute {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 130px;
        width: 120px;
        margin-top: -80px;
        margin-left: -50px;
}
.object{
    width: 20px;
    height: 20px;
    background-color: #FFF;
    float: left;
    margin-right: 20px;
    margin-top: 55px;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
}
#object_one {   
    -webkit-animation: object_one 1.5s infinite;
    animation: object_one 1.5s infinite;
}
#object_two {
    -webkit-animation: object_two 1.5s infinite;
    animation: object_two 1.5s infinite;
    -webkit-animation-delay: 0.25s; 
    animation-delay: 0.25s;
}
#object_three {
    -webkit-animation: object_three 1.5s infinite;
    animation: object_three 1.5s infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;  
    }

/* 单选  */
.fm-radio input{float: left; display: none; line-height: 23px;} /* 单选*/
.fm-radio .radio-bg{width:16px; height: 16px; background: url('../images/radio.png') no-repeat; background-size: 16px 16px;  display: block; float: left; margin:8px 5px 0 0;}
.fm-radio input:checked + .radio-bg{width:16px; height: 16px; background: url('../images/radiochecked.png') no-repeat; background-size: 16px 16px;  display: block; float: left; margin:7px 5px 0 0;}
.fm-radio cite{float: left; padding:6px 10px 0 0; color: #333;}
/* 单选  */


/*
二级模块
*/
.modulebox{padding:25px 0 10px;}
.moduletit{font-size: 20px; color: #333; line-height: 30px; margin-bottom: 0;}
.modulemain{padding:10px 10px 0; border:1px #ddd solid; margin-bottom:40px;}
.modulemain .table{margin-bottom: 0;}
.line{width: 83%; height: 1px; background: #ddd; margin:0 auto;}


/*
二级模块
*/

label{font-weight: 100;}

@-webkit-keyframes object_one {
    75% { 
        -webkit-transform: scale(0); 
    }
}
@keyframes object_one {
    75% { 
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}
@-webkit-keyframes object_two {
    75% { -webkit-transform: scale(0); }
}
@keyframes object_two {
    75% { 
        transform: scale(0);
        -webkit-transform:  scale(0);
    }
}
@-webkit-keyframes object_three {
    75% { 
        -webkit-transform: scale(0); 
    }
}
@keyframes object_three {
    75% { 
        transform: scale(0);
        -webkit-transform: scale(0);
    } 
}

.loadtext{
    width: 80%;
    height: auto;
    position: absolute;
    left: 10%;
    bottom: 30px;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.roundloading{
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: rotate 1.5s 0s linear infinite;
    animation: rotate 1.5s 0s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }


/* 确认框样式 */
.widget-confirm .dialog-msg {color:#333;}
#pagetips{display: none;}
#pagetipstwo{display: none;}

.checkbox{width: 50px; height: 20px; cursor:pointer; margin-top: 0; margin-bottom: 0;} /* 开关 */
.checkbox input{display: none;}
.checkbox span.check-bg{width:50px; height: 20px; background: url('../images/checkbg.png') no-repeat;  display: block;  margin:0; background-size: 50px 20px; }
.checkbox input:checked + span.check-bg{width:50px; height:20px; background: url('../images/checked.png') no-repeat;  display: block; float: left; margin:0; background-size: 50px 20px;}

.app-character{margin-top: 7px;}
.app-character p{background: #ececec; display: inline-block; float: left; margin-right: 10px; padding:0px 3px;}
.app-character p a{color: #999; margin: 0 0 0 3px;}

.labelcheck{padding:5px;}
.labelcheck input{float: left; margin:4px 2px 0 0;}


.form-horizontal .checkbox{padding-top: 0;}

.input80gray{width: 80px; background: #f9f9f9;}
.input80{width: 80px; background: #fff;}


@media (max-width: 640px){
    .flex-box{flex-direction: column;  margin: 0;}
    .flex-singe{margin:0;}
    .bank-box ul li{width: 100%;}
}

.ellipsis-table {table-layout:fixed;}


.alertbig {
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px; 
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 400px;
    max-width: 800px;
}

.alertbig.alert-success{border-color:#18a757; background: #ebf8f2;}
.alertbig.alert-info{border-color: #1f90e6; background: #ecf6fd;}
.alertbig.alert-warning{border-color: #fdbe2c; background: #fffaec;}
.alertbig.alert-danger{border-color: #ed433b; background: #fef0ef;}

.alertbig.alert-success .close{top: 3px;
    right: -10px;}
.alertbig.alert-info .close{top: 3px;
    right: -10px;}
.alertbig.alert-warning .close{top: 3px;
    right: -10px;}
.alertbig.alert-danger .close{top: 3px;
    right: -10px;}

.alertbig  .glyphicon{font-size: 20px; padding: 0 10px 0 0;  display: inline-block; line-height: 1; position: relative; top:4px;}
.alertbig.alert-success .glyphicon{color: #18a757;}
.alertbig.alert-info .glyphicon{color: #1f90e6;}
.alertbig.alert-danger .glyphicon{color: #ed433b;}
.alertbig.alert-warning .glyphicon{color: #fdbe2c;}

.editable-buttons .btn-primary{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}


.ws-nowrap {white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}






