<!--{% extends 'www/raster.html' %}-->
<!--{% load i18n %}-->
<!--{% load goodrain_extras %}-->
<!--{% load static %}-->
<!--{% block extracss %}-->
<!--{{ block.super }}-->
<!--<link rel="stylesheet" href='{% static "www/css/style.css" %}' />-->
<!--{% endblock %}-->
<!--{% block extrajs %}-->
<!--&lt;!&ndash;<script src='{% static "www/js/group.js" %}'></script>&ndash;&gt;-->
<!--{% endblock %}-->

<!--{% block main-content %}-->
<!--<style>-->
    <!--h3{-->
        <!--height: 34px;-->
        <!--line-height: 34px;-->
        <!--color: #28cb75;-->
        <!--font-size: 22px;-->
        <!--font-weight: 200;-->
    <!--}-->
    <!--#sidebar ul.sidebar-menu li:nth-child(3) ul.sub{display: block!important;}-->
    <!--#sidebar ul.sidebar-menu li:nth-child(3) ul.sub li:nth-child(9) a{color: #ffffff;}-->
<!--</style>-->
<!--<section class="wrapper site-min-height">-->
    <!--<h3>又拍云CDN费用明细</h3>-->
    <!--<header class="panel-heading ">-->
        <!--<ul class="nav nav-tabs" id="nav-tabs">-->
            <!--<li class="active">-->
                <!--<a href="/apps/{{tenantName}}/{{appid}}/third_show">概览</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/apps/{{tenantName}}/{{appid}}/order">费用</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</header>-->
    <!--<section class="panel">-->
        <!--<div id="example_wrapper" class="content-tab" role="grid">-->
            <!--<form role="form">-->
                <!--<div class="clearfix">-->
                    <!--<div class="lit-select text-left" style="width: 40%; float: left;">-->
                        <!--<label>时间范围</label>-->
                        <!--<select id="datescope">-->
                            <!--<option {% if datescope == "1" %} selected="selected" {% endif %} value="1">最近1天</option>-->
                            <!--<option {% if datescope == "7" %} selected="selected" {% endif %} value="7">最近7天</option>-->
                            <!--<option {% if datescope == "30" %} selected="selected" {% endif %} value="30">最近1个月</option>-->
                            <!--<option {% if datescope == "180" %} selected="selected" {% endif %} value="180">最近6个月</option>-->
                            <!--<option {% if datescope == "0" %} selected="selected" {% endif %} value="0">所有记录</option>-->
                        <!--</select>-->
                    <!--</div>-->


                    <!--<div id="example_length" class="lit-select text-right"  style="width: 40%; float: right;">-->
                        <!--<label>每页显示</label>-->
                        <!--<select name="example_length" aria-controls="example" id="pageSizeScope">-->
                            <!--<option {% if per_page == "10" %} selected="selected" {% endif %} value="10">10</option>-->
                            <!--<option {% if per_page == "25" %} selected="selected" {% endif %} value="25">25</option>-->
                            <!--<option {% if per_page == "50" %} selected="selected" {% endif %} value="50">50</option>-->
                            <!--<option {% if per_page == "100" %} selected="selected" {% endif %} value="100">100</option>-->
                        <!--</select>-->
                        <!--<label>行</label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<table >-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>开始时间</th>-->
                        <!--<th>结束时间</th>-->
                        <!--<th>流量</th>-->
                        <!--<th>存储</th>-->
                        <!--<th>请求次数</th>-->
                        <!--<th>套餐外费用</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--{% for order in orders %}-->
                    <!--<tr>-->
                        <!--<td>{{order.start_time}}</td>-->
                        <!--<td>{{order.end_time}}</td>-->
                        <!--<td>{{app.traffic_size}}</td>-->
                        <!--<td>{{app.oos_size}}</td>-->
                        <!--<td>{{app.request_size}}</td>-->
                        <!--<td>{{app.total_cost}}</td>-->
                    <!--</tr>-->
                    <!--{% endfor %}-->
                    <!--</tbody>-->
                <!--</table>-->
                <!--<div class="adv-table">-->
                    <!--<div id="example_wrapper" role="grid">-->
                        <!--<div class="pages">-->
                            <!--{% if tenantConsumes.has_previous %}-->
                            <!--<a  class="prev" href="javascript:;" onclick="_page({{tenantConsumes.previous_page_number}})">&lt;</a>-->
                            <!--{% endif %}-->

                            <!--{% for page in tenantConsumes.paginator.page_range %}-->
                            <!--{% if page = tenantConsumes.number %}-->
                            <!--<a href="javascript:;" class="active">{{ page }}</a>-->
                            <!--{% else %}-->
                            <!--<a href="javascript:;" onclick="_page({{page}})">{{page}}</a>-->
                            <!--{% endif %}-->
                            <!--{% endfor %}-->
                            <!--{% if tenantConsumes.has_next %}-->
                            <!--<a href="javascript:;"  class="next" onclick="_page({{ tenantConsumes.next_page_number }})">&gt;</a>-->
                            <!--{% endif %}-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->

        <!--</div>-->
    <!--</section>-->
<!--</section>-->
<!--<script>-->
    <!--$(document).ready(function(){-->
<!--//        console.log($("ul.sub").eq(0));-->
<!--//        $("li.sub-menu ul.sub").eq(0).css({"display":"block"});-->
<!--//        $("li.sub-menu ul.sub").eq(0).show();-->
        <!--var o = ($('#sidebar .sub-menu > a').offset());-->
        <!--diff = 250 - o.top;-->
        <!--if(diff>0)-->
            <!--$("#sidebar").scrollTo("-="+Math.abs(diff),500);-->
        <!--else-->
            <!--$("#sidebar").scrollTo("+="+Math.abs(diff),500);-->
    <!--})-->
<!--</script>-->
<!--{% endblock %}-->




{% extends 'www/raster.html' %}
{% load i18n %}
{% load goodrain_extras %}
{% load static %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/style.css" %}' />
{% endblock %}
{% block main-content %}
<style>
    h3{
        height: 34px;
        line-height: 34px;
        color: #28cb75;
        font-size: 22px;
        font-weight: 200;
    }
    #sidebar ul.sidebar-menu li:nth-child(3) ul.sub{display: block!important;}
    #sidebar ul.sidebar-menu li:nth-child(3) ul.sub li:nth-child(9) a{color: #ffffff;}
</style>
<section class="wrapper site-min-height">
    <h3>又拍云CDN费用明细</h3>
    <header class="panel-heading ">
        <ul class="nav nav-tabs" id="nav-tabs">
            <li class="active">
                <a href="/apps/{{tenantName}}/{{app_id}}/third_show">概览</a>
            </li>
            <li>
                <a href="/apps/{{tenantName}}/{{app_id}}/order">费用</a>
            </li>
        </ul>
    </header>
    <section class="panel">
        <div id="tenantConsumeList">

        </div>

        <script>
            function _page(page){
                var curdatescope= $("#datescope").val()
                if(typeof(curdatescope) == "undefined"){
                    curdatescope=1
                }
                var curpagesize= $("#pageSizeScope").val()
                if(typeof(curpagesize) == "undefined"){
                    curpagesize=10
                }
                $("#tenantConsumeList").load('/ajax/{{tenantName}}/{{app_id}}/order_data?page='+page+'&pagesize='+curpagesize);
            }
            $(document).ready(function(){
                var o = ($('#sidebar .sub-menu > a').offset());
                diff = 250 - o.top;
                if(diff>0)
                    $("#sidebar").scrollTo("-="+Math.abs(diff),500);
                else
                    $("#sidebar").scrollTo("+="+Math.abs(diff),500);

                _page(1);
                $("body").on("change","#datescope", function () {
                    _page(1);
                });
                $("body").on("change","#pageSizeScope", function () {
                    _page(1);
                });
            })
        </script>
    </section>
</section>
{% endblock %}