{% extends 'www/raster.html' %}
{% load i18n %}
{% load goodrain_extras %}
{% load static %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/style.css" %}' />
<link rel="stylesheet" href='{% static "www/css/cdn.css" %}' />
{% endblock %}
{% block extrajs %}
<script src='{% static "www/js/cdn.js" %}'></script>
{% endblock %}

{% block main-content %}
<section class="wrapper site-min-height">
    <section class="main-box">
        <input type="hidden" id="tenantName" value="{{tenantName}}">
        <input type="hidden" id="app_id" value="{{app_id}}">
        <p>
            <span id="cdn_name">又拍云</span>
            <a class="changeName">更名</a>
        </p>
        <p class="cdn_name">
            <input type="text" placeholder="请输入名称">
            <button class="btn btn-primary name_sure">确认</button>
            <button class="btn btn-danger name_cancel">取消</button>
        </p>
        <div class="appOutline">
            <ul class="outlineTop clearfix">
                <li>
                    <div>
                        <p>状态</p>
                        <p class="pImg">
                            <img id="service_status-img" src="{% static "www/img/appOutline/appOutline1.png" %}"/>
                        </p>
                        <p>未知</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>昨日使用存储</p>
                        <p class="pImg">
                            <img src="{% static "www/img/appOutline/appOutline2.png" %}"/>
                        </p>
                        <p>0M</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>昨日使用流量</p>
                        <p class="pImg">
                            <img src="{% static "www/img/appOutline/appOutline3.png" %}"/>
                        </p>
                        <p>0M</p>
                        <!--<p>未知</p>-->
                    </div>
                </li>
                <li>
                    <div>
                        <p>昨日请求次数</p>
                        <p class="pImg">
                            <img src="{% static "www/img/appOutline/appOutline4.png" %}"/>
                        </p>
                        <p>0次</p>
                        <!--<p>未知</p>-->
                    </div>
                </li>
                <li>
                    <div>
                        <p style="text-align: left">昨日费用</p>
                        <p class="pImg">
                            <img src="{% static "www/img/appOutline/appOutline5.png" %}"/>
                        </p>
                        <p>0元</p>
                        <!--<p>未知</p>-->
                    </div>
                </li>
            </ul>
        </div>
        <section class="table content-tab">
            <div class="clearfix">
                <h4>域名管理</h4>
                <ul class="clearfix">
                    <li>
                        <button class="btn btn-primary add_domain">域名绑定</button>
                    </li>
                </ul>
            </div>
            <p>
                <span>绑定域名后，请在域名服务商处将其CNAME配置为：</span>
                <a>cdn212313.b0.eicon.com</a>
            </p>
            <table>
                <thead>
                <tr>
                    <th>域名</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody class="domain_box">
                {% for app in domains %}
                    <tr>
                        <td>{{app.domain}}</td>
                        {% if app.status == "NORMAl" %}
                        <td style="color:#28cb75;">正常</td>
                        {% elif app.status == "PENDING" %}
                        <td>未审核</td>
                        {% else %}
                        <td style="color: red">未通过</td>
                        {% endif %}
                        <td>{{app.updated_at|date:"Y-m-d H:i"}}</td>
                        <td>
                            <a class="del_domain">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td>xxx.com</td>
                        <td style="color:#28cb75;">正常</td>
                        <td>2017-02-20</td>
                        <td>
                            <a class="del_domain">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>xxx.com</td>
                        <td>未审核</td>
                        <td>2017-02-20</td>
                        <td>
                            <a class="del_domain">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>xxx.com</td>
                        <td style="color:red;">未通过</td>
                        <td>2017-02-20</td>
                        <td>
                            <a class="del_domain">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="input_domain" style="display: none">
                <input type="text" placeholder="请输入域名" class="domain_name">
                <button class="btn btn-primary add_sure">确认</button>
                <button class="btn btn-danger add_cancel">取消</button>
            </p>
        </section>
        <section class="table content-tab">
            <div class="clearfix">
                <h4>已授权操作员</h4>
                <ul class="clearfix">
                    <li>
                        <button class="btn btn-primary add_operator">创建操作员</button>
                    </li>
                </ul>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>操作员</th>
                        <th>姓名</th>
                        <th>权限</th>
                        <th>状态</th>
                        <th>授权时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="operator_box">
                    {% for work in operators %}
                    <tr>
                        <td>{{work.operator_name}}</td>
                        <td>{{work.realname}}</td>
                        <td class="operator_auth clearfix">
                            <span {% if work.operator_auth.read %} class="check" {% else %} class="noCheck" {% endif %}></span>
                            <span class="text_auth">读取</span>
                            <span {% if work.operator_auth.write %} class="check" {% else %} class="noCheck" {% endif %}></span>
                            <span class="text_auth">写入</span>
                            <span {% if work.operator_auth.delete %} class="check" {% else %} class="noCheck" {% endif %}></span>
                            <span class="text_auth">删除</span>
                        </td>
                        {% if app.status == "enabled" %}
                        <td style="color:#28cb75;">正常</td>
                        {% else %}
                        <td style="color: red">未通过</td>
                        {% endif %}
                        <td>{{work.bind_at}}</td>
                        <td>
                            <a class="del_operator">取消授权</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>less</td>
                        <td>test</td>
                        <td class="operator_auth clearfix">
                            <span class="check"></span>
                            <span class="text_auth">读取</span>
                            <span class="check"></span>
                            <span class="text_auth">写入</span>
                            <span class="noCheck"></span>
                            <span class="text_auth">删除</span>
                        </td>
                        <td style="color:#28cb75;">正常</td>
                        <td>2017-02-17 12:00</td>
                        <td>
                            <a class="del_operator">取消授权</a>
                        </td>
                    </tr>
                    <tr>
                        <td>less</td>
                        <td>test</td>
                        <td class="operator_auth clearfix">
                            <span class="check"></span>
                            <span class="text_auth">读取</span>
                            <span class="check"></span>
                            <span class="text_auth">写入</span>
                            <span class="noCheck"></span>
                            <span class="text_auth">删除</span>
                        </td>
                        <td style="color:#28cb75;">正常</td>
                        <td>2017-02-17 12:00</td>
                        <td>
                            <a class="del_operator">取消授权</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="input_operator" style="display: none">
                <input type="text" placeholder="请输入操作员" class="operator_name">
                <input type="text" placeholder="请输入真实姓名" class="operator_realName">
                <input type="text" placeholder="请输入密码" class="operator_password">
                <button class="btn btn-primary operator_sure">确认</button>
                <button class="btn btn-danger operator_cancel">取消</button>
            </p>
        </section>
        <section class="table content-tab">
            <div class="clearfix">
                <h4>删除服务</h4>
                <ul class="clearfix">
                    <li>
                        <button class="btn btn-danger">删除</button>
                    </li>
                </ul>
            </div>
            <p>
                <span>删除不可逆，一旦操作，该服务原有配置均失效，请谨慎操作</span>
            </p>
        </section>
    </section>
</section>
{% endblock %}