<div id="example_wrapper" class="content-tab" role="grid">
    <form role="form">
        <div class="clearfix">
            <div class="lit-select text-left" style="width: 40%; float: left;">
                <label>时间范围</label>
                <select id="datescope">
                    <option {% if datescope == "1" %} selected="selected" {% endif %} value="1">最近1天</option>
                    <option {% if datescope == "7" %} selected="selected" {% endif %} value="7">最近7天</option>
                    <option {% if datescope == "30" %} selected="selected" {% endif %} value="30">最近1个月</option>
                    <option {% if datescope == "180" %} selected="selected" {% endif %} value="180">最近6个月</option>
                    <option {% if datescope == "0" %} selected="selected" {% endif %} value="0">所有记录</option>
                </select>
            </div>


            <div id="example_length" class="lit-select text-right"  style="width: 40%; float: right;">
                <label>每页显示</label>
                <select name="example_length" aria-controls="example" id="pageSizeScope">
                    <option {% if per_page == "10" %} selected="selected" {% endif %} value="10">10</option>
                    <option {% if per_page == "25" %} selected="selected" {% endif %} value="25">25</option>
                    <option {% if per_page == "50" %} selected="selected" {% endif %} value="50">50</option>
                    <option {% if per_page == "100" %} selected="selected" {% endif %} value="100">100</option>
                </select>
                <label>行</label>
            </div>
        </div>
        <table >
            <thead>
            <tr>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>流量</th>
                <th>存储</th>
                <th>请求次数</th>
                <th>套餐外费用</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr>
                <td>{{order.start_time}}</td>
                <td>{{order.end_time}}</td>
                <td>{{order.traffic_size}}</td>
                <td>{{orer.oos_size}}</td>
                <td>{{order.request_size}}</td>
                <td>{{order.total_cost}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="adv-table">
            <div id="example_wrapper" role="grid">
                <div class="pages">
                    {% if not current_page == 1 %}
                    <button class="greenbtn" onclick="_page({{current_page}}-1)">上一页</button>
                    {% else %}
                        {% if not last_page %}
                        <button class="greenbtn" onclick="_page({{current_page}}+1)">下一页</button>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
        </div>
    </form>

</div>