{% extends 'www/raster.html' %}
{% load i18n %}
{% load goodrain_extras %}
{% load static %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/style.css" %}' />
{% endblock %}
{% block extrajs %}
<!--<script src='{% static "www/js/group.js" %}'></script>-->
{% endblock %}

{% block main-content %}
<style>
    h3{
        height: 34px;
        line-height: 34px;
        color: #28cb75;
        font-size: 22px;
        font-weight: 200;
    }
    #sidebar ul.sidebar-menu li:nth-child(3) ul.sub{display: block!important;}
    #sidebar ul.sidebar-menu li:nth-child(3) ul.sub li:nth-child(9) a{color: #ffffff;}
</style>
<section class="wrapper site-min-height">
    <section class="panel">
        <p class="group-tit">第三方应用</p>
        <section class="content-tab">
            <table>
                <thead>
                    <tr>
                        <th>应用名</th>
                        <th>类型</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for app in apps %}
                        <tr>
                            <td>{{app.name}}</td>
                            <td>{{app.app_type}}</td>
                            <td>{{app.create_time}}</td>
                            <td>
                                <a href="/apps/{{tenantName}}/{{app.bucket_name}}/third_show">管理</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </section>
</section>
<script>
    $(document).ready(function(){
//        console.log($("ul.sub").eq(0));
//        $("li.sub-menu ul.sub").eq(0).css({"display":"block"});
//        $("li.sub-menu ul.sub").eq(0).show();
        var o = ($('#sidebar .sub-menu > a').offset());
        diff = 250 - o.top;
        if(diff>0)
            $("#sidebar").scrollTo("-="+Math.abs(diff),500);
        else
            $("#sidebar").scrollTo("+="+Math.abs(diff),500);
    })
</script>
{% endblock %}