{% extends 'www/raster.html' %}
{% load i18n %}
{% load goodrain_extras %}
{% load static %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href='{% static "www/css/bootstrap.min.css" %}' />
<link rel="stylesheet" href='{% static "www/css/tablePublic.css" %}' />
<link rel="stylesheet" href='{% static "www/css/thirdApp.css" %}' />
{% endblock %}
{% block extrajs %}
<!--<script src='{% static "www/js/group.js" %}'></script>-->
{% endblock %}

{% block main-content %}
<style>
    h3{
        height: 34px;
        line-height: 34px;
        color: #28cb75;
        font-size: 22px;
        font-weight: 200;
    }
    section.table{
        background: #fff;
        margin: 0 0 30px;
        -moz-border-radius: 10px!important;
        -webkit-border-radius: 10px !important;
        border-radius: 10px!important;
        padding: 30px;
    }
</style>
<section class="wrapper site-min-height">
    <h3>第三方应用</h3>
    <section class="panel">
        <section class="table">
            <table>
                <thead>
                    <tr>
                        <th>应用名</th>
                        <th>类型</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for app in apps %}
                        <tr>
                            <td>{{app.name}}</td>
                            <td>{{app.app_type}}</td>
                            <td>{{app.create_time}}</td>
                            <td>
                                <a href="/apps/{{tenantName}}/{{app.bucket_name}}/third_show">管理</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </section>
</section>
<script>
    $(document).ready(function(){
        console.log(1);
        $("ul.sub").css({"display":"block"});
    })
</script>
{% endblock %}