 <!-- statistic start -->
 <div role="tabpanel" class="tab-pane active" id="statistic">
    <div style="padding-bottom: 20px;" id="TabShow">
        <a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=statistic&type=history" class="writebtn {% if statistic_type == 'history' %} gre {% endif %} " data-id="history">历史走势</a>
        {% if has_outer_port %}
        <a href="/apps/{{tenantName}}/{{serviceAlias}}/detail/?fr=statistic&type=realtime" class="writebtn  {% if statistic_type == 'realtime' %} gre {% endif %}" data-id="realtime">实时分析</a>
        {% endif %}
    </div>
  <input type="hidden" id="websocketUrl" name="websocketUrl" value="{{websocket_uri}}">
  {% if statistic_type == 'history' %}
   <div style="margin-top: -50px; margin-bottom: 60px;">
     <div class="col-xs-9"></div>
     <div class="col-xs-3">
       <select id="graph-period" class="form-control input-sm m-bot15">
           <option value="1h-ago">1小时</option>
           <option value="8h-ago">8小时</option>
           <option value="24h-ago">24小时</option>
           <option value="7d-ago">7天</option>
       </select>
     </div>
   </div>
    <div class="row">
   {% if hasHttpServices %}
  
     <div class="col-md-6">
       <section class="content-tab-lit">
         <p class="tit-two">
           响应时间 (5分钟平均值)
         </p>
         <div class="panel-body">
           <div id="response-time-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>

     <div class="col-md-6">
       <section class="content-tab-lit">
         <p class="tit-two">
           在线人数 (10分钟)
         </p>
         <div class="panel-body">
           <div id="online-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>
  

  
     <div class="col-md-6">
       <section class="content-tab-lit">
         <p class="tit-two">
           吞吐率 (1分钟总数)
         </p>
         <div class="panel-body">
           <div id="throughput-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>

   
   {% endif %}<!--end http_history-->
   {% if tenantServiceInfo.service_type == "mysql" %}
  
     <div class="col-md-6">
       <section class="content-tab-lit">
         <p class="tit-two">
           sql响应时间 (5分钟平均值)
         </p>
         <div class="panel-body">
           <div id="sqltime-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>

     <div class="col-md-6">
       <section class="content-tab-lit">
         <p class="tit-two">
           sql执行次数 (1分钟总数)
         </p>
         <div class="panel-body">
           <div id="sql-throughput-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>
   
   {% endif %}

  
     <div class="col-md-6">
       <section class="content-tab-lit">
         <p class="tit-two">
           内存
         </p>
         <div class="panel-body">
           <div id="memory-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>

     <div class="col-md-6">
       <section class="content-tab-lit">
         <p class="tit-two">
           带宽
         </p>
         <div class="panel-body">
           <div id="bandwidth-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>

     <div class="col-md-6">
       <section class="content-tab-lit">
         <p class="tit-two">
           磁盘
         </p>
         <div class="panel-body">
           <div id="disk-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>

   

  {% endif %}<!--end statistic_history-->
  </div>
  {% if statistic_type == 'realtime' %}
    {% if hasHttpServices %}
    <div id="realtime-stat" class="monitor-ul">
      <ul class="clearfix">
        <li>
          <div>
            <p>平均响应时间</p>
            <p class="monitor01"></p>
            <h1 id="response-time-stat">0</h1>
          </div>
        </li>
        <li>
          <div>
            <p>吞吐率</p>
            <p class="monitor02"></p>
            <h1 id="throughput-stat">0</h1>
          </div>
        </li>
        <li>
          <div>
            <p>在线人数</p>
            <p class="monitor03"></p>
            <h1 id="online-stat">0</h1>
          </div>
        </li>
      </ul>
    </div>

        <section class="content-tab">
            <p class="tit-two">
                过去5分钟耗时最多的URl排行<span class="pull-right rtm-update-time"></span>
             </p>
            <table id="rtm-SumTimeByUrl">
                <thead>
                <tr>
                    <th name="url" style="width: 70%;">Url</th>
                    <th name="sumtime">累计时间(ms)</th>
                    <th name="avgtime">平均时间(ms)</th>
                    <th name="counts" >个数</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
    
    {% endif %}<!--finish http_realtime-->

    {% if tenantServiceInfo.service_type == 'mysql' %}
    <div id="realtime-stat" class="monitor-ul">
      <ul class="clearfix">
        <li class="two">
          <div>
            <p>sql平均响应时间</p>
            <p class="monitor01"></p>
            <p id="sqltime-stat">0</p>
          </div>
        </li>
        <li class="two">
          <div>
            <p>sql吞吐率</p>
            <p class="monitor02"></p>
            <p id="sql-throughput-stat">0</p>
          </div>
        </li>
      </ul>
    </div>
   
        <section class="content-tab">
            <p class="tit-two">
                过去5分钟耗时最多的SQL排行
                <span class="pull-right rtm-update-time"></span>
            </p>
            <table id="rtm-SumTimeBySql">
                <thead>
                <tr>
                    <th name="sql" style="width: 70%;">SQL</th>
                    <th name="sumtime" >累计时间(ms)</th>
                    <th name="avgtime" >平均时间(ms)</th>
                    <th name="counts" >个数</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
    {% endif %}<!--finish mysql_realtime-->

  {% endif %}<!--finish realtime-->
 </div>
 <!-- statistic end-->