<!-- deployed start -->
{% load staticfiles %}
<section role="tabpanel" id="deployed">

</section>



<script type="text/javascript" src="/static/www-new/dists/common.js"></script>
<script type="text/javascript" src="/static/www-new/dists/app-overview.js"></script>
<script>
    var controller = new AppOverviewController({
        $wrap: $('#deployed'),
        serviceId: '{{tenantServiceInfo.service_id}}',
        category: '{{tenantServiceInfo.category}}',
        tenantName: '{{tenantName}}',
        serviceAlias: '{{serviceAlias}}',
        manageUrl: '{{ service_manager.url }}',
        webSocketUrl: '{{ event_websocket_uri }}',
        wild_domain: '{{wild_domain}}',
        http_port_str: '{{http_port_str}}'
    })
    controller.ready();
</script>
