<div role="tabpanel" id="app-ports-wrap">

</div>
<script type="text/javascript" src="/static/www-new/dists/common.js"></script>
<script type="text/javascript" src="/static/www-new/dists/app-port.js"></script>
<script type="text/javascript">
  var controller = new AppPortController({
    $wrap:$('#app-ports-wrap'),
    tenantName: '{{tenantName}}',
    serviceAlias: '{{tenantServiceInfo.service_alias}}',
    language: '{{ tenantServiceInfo.language }}',
    code_from: '{{ port_changeable }}',
    serviceId: '{{ tenantServiceInfo.service_id }}',
    servicecName: '{{ tenantServiceInfo.service_cname }}'
  })
  controller.ready();
</script>