<div class="cost">
    <input type="hidden" id="tenantName" value="{{tenantName}}">
    <input type="hidden" id="serviceAlias" value="{{serviceAlias}}">
    <div class="cost-fun">
         <h2 class="tit-two">计费方式</h2>
        <table>
            <tbody>
            <tr>
                <td>内存：{% if service_attach_info.memory_pay_method == 'prepaid'  %}<span class="memoryFun" data-currentway="prepaid" >包月包年</span>{% else %}<span class="memoryFun" data-currentway="postpaid">按小时扣费</span>&nbsp;<a href="javascript:void(0)" class="changeMemory">更改</a>{% endif %}</td>
                <td>当前使用：<span>{{service.min_memory}} MB×{{service.min_node}}</span>&nbsp;<a href="javascript:void(0)" style="display: none" class="larger">扩容</a></td>
                <td>上1小时费用：<span>{% if last_hour_consume.memory_money %} {{last_hour_consume.memory_money}} {% else %} 0 {% endif %} 元</span></td>
                <td>累计费用：<span>{% if service_total_memory_fee %} {{service_total_memory_fee}} {% else %} 0 {% endif %}元</span></td>
            </tr>
            <tr>
                <td>磁盘：{% if service_attach_info.disk_pay_method == 'prepaid'  %}<span class="diskFun" data-currentway="prepaid">包月包年</span>{% else %}<span class="diskFun" data-currentway="postpaid">按使用每小时扣费</span>&nbsp;<a href="javascript:void(0)" class="changeDisk">更改</a>{% endif %}</td>
                <td>当前使用：<span>{% if last_hour_consume.disk %} {{last_hour_consume.disk}} {% else %} 0 {% endif %} MB</span></td>
                <td>上1小时费用：<span>{% if last_hour_consume.disk_money %} {{last_hour_consume.disk_money}} {% else %} 0 {% endif %}元</span></td>
                <td>累计费用：<span>{% if service_total_disk_fee %} {{service_total_disk_fee}} {% else %} 0 {% endif %}元</span></td>
            </tr>
            <tr>
                <td>流量：<span>按使用每小时扣费</span></td>
                <td>当前使用：<span>{% if last_hour_consume.net %} {{last_hour_consume.net}} {% else %} 0 {% endif %} MB</span></td>
                <td>上1小时费用：<span>{% if last_hour_consume.net_money %} {{last_hour_consume.net_money}} {% else %} 0 {% endif %}元</span></td>
                <td>累计费用：<span>{% if service_total_net_fee %} {{service_total_net_fee}} {% else %} 0 {% endif %} 元</span></td>
            </tr>
            </tbody>
            <tfoot>
            {% if service_attach_info.memory_pay_method == 'prepaid' or service_attach_info.disk_pay_method == 'prepaid' %}
            <tr>
                <td colspan="4">包月包年项目有效期：<span>{{service_attach_info.buy_end_time}}</span>&nbsp;<a href="javascript:void(0)" class="postpone">延期</a></td>
            </tr>
            {% endif %}
            </tfoot>
        </table>
    </div>
   
    <div class="content-tab">
         <h2 class="tit-two">计费明细</h2>
        <table>
            <thead>
                <tr>
                    <th>计费时段</th>
                    <th>内存</th>
                    <th>费用</th>
                    <th>实际扣费</th>
                    <th>磁盘</th>
                    <th>费用</th>
                    <th>实际扣费</th>
                    <th>流量</th>
                    <th>费用</th>
                    <th>实际扣费</th>
                    <th>总扣费</th>
                </tr>
            </thead>
            <tbody>
                {% for service_consume in service_consume_list %}

                <tr>
                    <td>{{service_consume.time|difftime:-3600}}--{{service_consume.time}}</td>
                    <!--<td>{{service_consume.memory}}GB</td>-->
                    <td>{{service_consume.memory}} MB</td>
                    <!--费用-->
                    <td>{{ service_consume.real_memory_money }}元</td>
                    <!--实际扣费-->
                    <td>{% if service_consume.memory_pay_method == 'prepaid' %}0(包月包年){% else %}{{service_consume.memory_money}} 元(按小时扣费){% endif %}</td>
                    <td>{{service_consume.disk}}MB</td>
                    <td>{{service_consume.real_disk_money}}元</td>
                    <td>{% if service_consume.disk_pay_method == 'prepaid' %}0元(包月包年){% else %}{{service_consume.disk_money}} 元(按小时扣费){% endif %}</td>
                    <td>{{service_consume.net}}MB</td>
                    <td>{{service_consume.net_money}}元</td>
                    <td>{{service_consume.net_money}}(按小时扣费)</td>
                    <td>{{service_consume.pay_money}}元</td>

                </tr>
                {% endfor %}
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
    <div class="layer-body-bg">
        <div class="layer-body">
            <!--弹层1-->
            <div class="endDate">
                <div class="del" title="关闭"><i class="fa fa-times"></i></div>
                <h3 class="layer-tit"></h3>
                <div class="layer-height-overflow infor-fm-box">
                    <div class="fm-input-range clearfix">
                        修改按小时扣费成功，在当前使用期限({{service_attach_info.buy_end_time}})到期以后生效
                    </div>
                </div>
                <p class="bottom">
                    <button class="cancel">关闭</button>
                </p>
            </div>
            <!--弹层2-->
            <div class="chooseFun">
                <div class="del" title="关闭"><i class="fa fa-times"></i></div>
                <h3 class="layer-tit">请选择购买内存时长</h3>
                <p class="the_same" style="color: red;display: none;">内存与磁盘包月时长应保持一致，剩余时间<span class="day"></span>天<span class="hour"></span>小时</p>
                <div class="layer-height-overflow infor-fm-box">
                    <div class="fm-input-range clearfix">
                        <label>应用购买时长</label>
                        <p class="range-box">
                            <span class="renge-bg"></span>
                            <span class="range-choose"><cite id="TimeLongWid"></cite></span>
                            <input type="range" min="1" max="24"  step="1" id="TimeLong" value="1"／>
                        </p>
                        <span><cite id="TimeLongText">1</cite>个月</span>
                    </div>
                    <p class="calMoney">
                        <span>费用总计</span>
                        <span id="TimeLongMoney"></span>元
                    </p>
                </div>
                <p class="bottom">
                    <button class="sure sureMemory">付款</button>
                    <button class="cancel">取消</button>
                </p>
            </div>
            <div class="chooseDisk">
                <div class="del" title="关闭"><i class="fa fa-times"></i></div>
                <h3 class="layer-tit">请选择购买磁盘时长</h3>
                <p class="the_same" style="color: red;display: none;">内存与磁盘包月时长应保持一致，剩余时间<span class="day"></span>天<span class="hour"></span>小时</p>
                <div class="layer-height-overflow infor-fm-box">
                    <div class="fm-input-range clearfix">
                        <label>应用购买时长</label>
                        <p class="range-box">
                            <span class="renge-bg"></span>
                            <span class="range-choose"><cite id="TimeLongDisk"></cite></span>
                            <input type="range" min="1" max="24"  step="1" id="LongDisk" value="1"／>
                        </p>
                        <span><cite id="LongDiskText">1</cite>个月</span>
                    </div>
                    <div class="fm-input-range diskSize clearfix">
                        <label>购买磁盘大小</label>
                        <p class="range-box">
                            <span class="renge-bg"></span>
                            <span class="range-choose"><cite id="DiskSize"></cite></span>
                            <input type="range" min="1" max="200"  step="1" id="LongDiskSize" value="1"／>
                        </p>
                        <span><cite id="DiskSizeText">1</cite>G</span>
                    </div>
                    <p class="calMoney">
                        <span>费用总计</span>
                        <span id="LongDiskMoney"></span>元
                    </p>
                </div>
                <p class="bottom">
                    <button class="sure sureDisk">付款</button>
                    <button class="cancel">取消</button>
                </p>
            </div>
            <!--弹层3-->
            <div class="chooseData">
                <div class="del" title="关闭"><i class="fa fa-times"></i></div>
                <h3 class="layer-tit">请选择延期时间</h3>
                <div class="layer-height-overflow infor-fm-box">
                    <div class="fm-input-range clearfix">
                        <label>应用延期时长</label>
                        <p class="range-box">
                            <span class="renge-bg"></span>
                            <span class="range-choose"><cite id="TimeLongW"></cite></span>
                            <input type="range" min="1" max="24"  step="1" id="Time" value="1"／>
                        </p>
                        <span><cite id="TimeText">1</cite>个月</span>
                    </div>
                    <p class="calMoney">
                        <span>费用总计</span>
                        <span id="TimeMoney"></span>元
                    </p>
                </div>
                <p class="bottom">
                    <button class="sure sureTime">付款</button>
                    <button class="cancel">取消</button>
                </p>
            </div>
            <!--弹层4-->
            <div class="chooseLarge">
                <div class="del" title="关闭"><i class="fa fa-times"></i></div>
                <h3 class="layer-tit">请选择要实用的内存与节点数</h3>
                <div class="layer-height-overflow infor-fm-box">
                    <div class="fm-input-range clearfix fn-memory-node" id="servie_node">
                        <label>节点数</label>
                        <p class="range-box">
                            <span class="renge-bg"></span>
                            <span class="range-choose"><cite id="NodeWid"></cite></span>
                            <input type="range" min="1" max="99"  step="1" id="NodeNum" value="1"／>
                        </p>
                        <span><cite id="NodeText">1</cite>个</span>
                    </div>
                    <div class="fm-input-range clearfix fn-memory-node">
                        <label>单节点内存</label>
                        <p class="range-box change_input">
                            <span class="renge-bg"></span>
                            <span class="range-choose"><cite id="OneMemoryWid"></cite></span>
                            <input type="range" min="128" max="10240"  step="128" id="OneMemory" value="128"／>
                        </p>
                        <span><cite id="OneMemoryText">128</cite></span>
                    </div>
                    <p class="calMoney" id="kuorongmoney" style="display: none;">
                        <span>费用总计</span><span id="deployMoney"></span><span>元（按当前包月项目购买时长计算）</span>
                    </p>
                </div>
                <p class="bottom">
                    <button class="sure sureDeploy">确定</button>
                    <button class="cancel">取消</button>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('.changeMemory').on('click',function(){
            var tenantName = $("#tenantName").val();
            var serviceAlias = $("#serviceAlias").val();
            var that = $(this);
            if($("span.memoryFun").attr("data-currentway") == "prepaid")
            {
                //弹出层，告知修改成功
                $(".endDate").css({"display":"block"});
                $(".chooseFun").css({"display":"none"});
                $(".chooseData").css({"display":"none"});
                $(".chooseLarge").css({"display":"none"});
                $(".layer-body-bg").css({"display":"block"});
                $(".chooseDisk").css({"display":"none"});
            }
            else{
                //弹出层，选择购买配置，付费
                $(".chooseFun").css({"display":"block"});
                $(".chooseData").css({"display":"none"});
                $(".chooseLarge").css({"display":"none"});
                $(".layer-body-bg").css({"display":"block"});
                $(".chooseDisk").css({"display":"none"});
                $.ajax({
                    type : "get",
                    url : "/ajax/"+tenantName+"/"+serviceAlias+"/memory-pay-method",
                    cache : false,
                    beforeSend : function(xhr, settings) {
                        var csrftoken = $.cookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success : function(msg) {
                        if( msg["status"] == "success" )
                        {
                            if(msg["choosable"])
                            {
                                var money = (msg["memory_unit_fee"]*msg["memory"]*24*30/1024).toFixed(2);
                                $("#TimeLongMoney").attr("data-money",money);
                                $("#TimeLongMoney").html(money);
                            }
                            else{
                                $(".chooseFun .calMoney").css({"display":"none"});
                                $(".chooseFun .fm-input-range").css({"display":"none"});
                                $(".chooseFun .the_same").css({"display":"block"});
                                var time = msg["left_hours"];
                                var day = parseInt(time/24);
                                var hour = time%24;
                                $(".chooseFun .the_same span.day").html(day);
                                $(".chooseFun .the_same span.hour").html(hour);
                                $(".calMoney").css({"display":"block"});
                                $("#TimeLongMoney").html(msg["memory_fee"]);
                            }
                        }
                        else{
                            swal(msg["info"]);
                        }
                    },
                    error : function() {
                        swal("系统异常,请重试");
                    }
                });
            }
        });
        $('.changeDisk').on('click',function(){
            var tenantName = $("#tenantName").val();
            var serviceAlias = $("#serviceAlias").val();
            var that = $(this);
            if($("span.diskFun").attr("data-currentway") == "prepaid")
            {
                //弹出层，告知修改成功
                $(".endDate").css({"display":"block"});
                $(".chooseFun").css({"display":"none"});
                $(".chooseData").css({"display":"none"});
                $(".chooseLarge").css({"display":"none"});
                $(".layer-body-bg").css({"display":"block"});
                $(".chooseDisk").css({"display":"none"});
            }
            else{
                //弹出层，选择购买配置，付费
                $(".chooseFun").css({"display":"none"});
                $(".chooseData").css({"display":"none"});
                $(".chooseLarge").css({"display":"none"});
                $(".layer-body-bg").css({"display":"block"});
                $(".chooseDisk").css({"display":"block"});
                $.ajax({
                    type : "get",
                    url : "/ajax/"+tenantName+"/"+serviceAlias+"/disk-pay-method",
                    cache : false,
                    beforeSend : function(xhr, settings) {
                        var csrftoken = $.cookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success : function(msg) {
                        if( msg["status"] == "success" )
                        {
                            var eachMoney = msg["disk_unit_fee"];
                            if(msg["choosable"])
                            {
                                var money = eachMoney*24*30*$("#LongDiskText").html()*$("#DiskSizeText").html();
                                $("#LongDiskMoney").html( (money).toFixed(2) );
                            }
                            else{
                                $(".chooseDisk .fm-input-range").css({"display":"none"});
                                $(".chooseDisk .diskSize").css({"display":"block"});
                                $(".chooseDisk .the_same").css({"display":"block"});
                                var time = msg["left_hours"];
                                var day = parseInt(time/24);
                                var hour = time%24;
                                $(".chooseDisk .the_same span.day").html(day);
                                $(".chooseDisk .the_same span.hour").html(hour);
                                $(".calMoney").css({"display":"block"});
                                var money = eachMoney*msg["left_hours"]*$("#DiskSizeText").html();
                                $("#LongDiskMoney").html( (money).toFixed(2) );
                            }
                            $("#LongDiskMoney").attr("data-money",eachMoney);
                            $("#LongDiskMoney").attr("data-hours",msg["left_hours"]);
                        }
                        else{
                            swal(msg["info"]);
                        }
                    },
                    error : function() {
                        swal("系统异常,请重试");
                    }
                });
            }
        });
        //关闭弹出层
        $(".del").on("click",function(){
            $(".layer-body-bg").css({"display":"none"});
        });
        //扩容
        $(".larger").on("click",function(){
            var tenantName = $("#tenantName").val();
            var serviceAlias = $("#serviceAlias").val();
            $.ajax({
                type : "get",
                url : "/ajax/"+tenantName+"/"+serviceAlias+"/service-extend",
                cache : false,
                beforeSend : function(xhr, settings) {
                    var csrftoken = $.cookie('csrftoken');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success : function(msg) {
                    if(!msg["node_choosable"]){
                        $("#servie_node").attr("style", "display:none");
                    }
                    document.getElementById("OneMemory").setAttribute("min",msg["app_min_memory"]);
                    document.getElementById("OneMemory").setAttribute("max",msg["app_max_memory"]);
                    if( !msg["choosable"] )
                    {
                        var value = (msg["memory_unit_fee"]*msg["left_hours"]/1024).toFixed(2);
                        var money = value * ( $("#NodeText").html()*$("#OneMemoryText").html() );


                        $("#kuorongmoney").css({"display":"block"});
                        $("#deployMoney").html( (value).toFixed(2) );
                        $(".sureDeploy").html("付款");

                        $("#deployMoney").attr("data-money",value);
                    }
                    else{
                        $(".sureDeploy").html("确定");
                    }
                },
                error : function() {
                    swal("系统异常,请重试");
                }
            });
            $(".endDate").css({"display":"none"});
            $(".chooseFun").css({"display":"none"});
            $(".chooseData").css({"display":"none"});
            $(".chooseLarge").css({"display":"block"});
            $(".layer-body-bg").css({"display":"block"});
            $(".chooseDisk").css({"display":"none"});
        });
        //延期
        $(".postpone").on("click",function(){
            var tenantName = $("#tenantName").val();
            var serviceAlias = $("#serviceAlias").val();
            $.ajax({
                type : "get",
                url : "/ajax/"+tenantName+"/"+serviceAlias+"/postpone",
                cache : false,
                beforeSend : function(xhr, settings) {
                    var csrftoken = $.cookie('csrftoken');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success : function(msg) {
                    if( msg["status"] == "success" )
                    {
                        var value = (msg["unit_price"]*24*30).toFixed(2);
                        var money = value * $("#TimeText").html();
                        $("#TimeMoney").html( (money).toFixed(2) );
                        $("#TimeMoney").attr("data-money",value);
                        $(".calMoney").css({"display":"block"});
                        $(".endDate").css({"display":"none"});
                        $(".chooseFun").css({"display":"none"});
                        $(".chooseData").css({"display":"block"});
                        $(".chooseLarge").css({"display":"none"});
                        $(".layer-body-bg").css({"display":"block"});
                        $(".chooseDisk").css({"display":"none"});
                    }
                    else if(msg["status"] == "no_prepaid"){
                        swal(msg["info"]);
                    }else{
                        swal("操作失败");
                    }

                },
                error : function() {
                    swal("系统异常,请重试");
                }
            });
        });
        //跳转支付
        $("button.sureDisk").on("click",function(){
            var notify_text = "确认付款吗？"
            swal({
                title : notify_text,
                type : "warning",
                showCancelButton : true,
                confirmButtonColor : "#DD6B55",
                confirmButtonText : "确定",
                cancelButtonText : "取消",
                closeOnConfirm : false,
                closeOnCancel : false
            }, function(isConfirm) {
                if (isConfirm) {
                    var way = $(".diskFun").attr("data-currentway");
                    if( way == "postpaid" )
                    {
                        var msg = "post2pre"
                        var data
                    }
                    else{
                        var msg = "pre2post"
                    }
                    var tenantName = $("#tenantName").val();
                    var serviceAlias = $("#serviceAlias").val();
                    $.ajax({
                        type : "post",
                        url : "/ajax/"+tenantName+"/"+serviceAlias+"/disk-pay-method",
                        data : {
                            update_method : msg,
                            pay_period : $('#LongDiskText').html(),
                            pay_disk : $('#DiskSizeText').html()
                        },
                        cache : false,
                        beforeSend : function(xhr, settings) {
                            var csrftoken = $.cookie('csrftoken');
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success : function(msg) {
                            if( msg["status"] == "success" )
                            {
                                swal("修改成功");
                                history.go(0);
                            }
                            else if( msg["status"] == "not_enough" ){
                                swal("余额不足");
                            }
                            else{
                                swal(msg["info"]);
                            }
                        },
                        error : function() {
                            swal("系统异常,请重试");
                        }
                    });
                } else {
                    swal.close();
                }
            });
        });
        $("button.sureTime").on("click",function(){
            var notify_text = "确认付款吗？"
            swal({
                title : notify_text,
                type : "warning",
                showCancelButton : true,
                confirmButtonColor : "#DD6B55",
                confirmButtonText : "确定",
                cancelButtonText : "取消",
                closeOnConfirm : false,
                closeOnCancel : false
            }, function(isConfirm) {
                if (isConfirm) {
                    var tenantName = $("#tenantName").val();
                    var serviceAlias = $("#serviceAlias").val();
                    $.ajax({
                        type : "post",
                        url : "/ajax/"+tenantName+"/"+serviceAlias+"/postpone",
                        data : {
                            pay_period : $('#TimeText').html()
                        },
                        cache : false,
                        beforeSend : function(xhr, settings) {
                            var csrftoken = $.cookie('csrftoken');
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success : function(msg) {
                            console.log(msg);
                            if( msg["status"] == "success" )
                            {
                                swal("修改成功");
                                history.go(0);
                            }
                            else if( msg["status"] == "not_enough" ){
                                swal("余额不足");
                            }
                            else{
                                swal(msg["info"]);
                            }
                        },
                        error : function() {
                            swal("系统异常,请重试");
                        }
                    });
                } else {
                    swal.close();
                }
            });
        });
        $("button.sureDeploy").on("click",function(){
            var notify_text = "确认付款吗？"
            swal({
                title : notify_text,
                type : "warning",
                showCancelButton : true,
                confirmButtonColor : "#DD6B55",
                confirmButtonText : "确定",
                cancelButtonText : "取消",
                closeOnConfirm : false,
                closeOnCancel : false
            }, function(isConfirm) {
                if (isConfirm) {
                    var tenantName = $("#tenantName").val();
                    var serviceAlias = $("#serviceAlias").val();
                    $.ajax({
                        type : "post",
                        url : "/ajax/"+tenantName+"/"+serviceAlias+"/service-extend",
                        data : {
                            node_num : $('#NodeText').html(),
                            node_memory : $('#OneMemoryText').html()
                        },
                        cache : false,
                        beforeSend : function(xhr, settings) {
                            var csrftoken = $.cookie('csrftoken');
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success : function(msg) {
                            if( msg["status"] == "success" )
                            {
                                swal("修改成功");
                                history.go(0);
                            }
                            else if( msg["status"] == "not_enough" ){
                                swal("余额不足");
                            }
                            else{
                                swal(msg["info"]);
                            }
                        },
                        error : function() {
                            swal("系统异常,请重试");
                        }
                    });
                } else {
                    swal.close();
                }
            });
        });
        //取消，关闭弹出层
        $("button.cancel").on("click",function(){
            $(".endDate").css({"display":"none"});
            $(".layer-body-bg").css({"display":"none"});
            $(".chooseFun").css({"display":"none"});
            $(".chooseData").css({"display":"none"});
            $(".chooseLarge").css({"display":"none"});
            $(".chooseDisk").css({"display":"none"});
        })
    });
    $(".sureMemory").on("click",function(){
        var notify_text = "确认付款吗？"
        swal({
            title : notify_text,
            type : "warning",
            showCancelButton : true,
            confirmButtonColor : "#DD6B55",
            confirmButtonText : "确定",
            cancelButtonText : "取消",
            closeOnConfirm : false,
            closeOnCancel : false
        }, function(isConfirm) {
            if (isConfirm) {
                var way = $(".diskFun").attr("data-currentway");
                if( way == "postpaid" )
                {
                    var msg = "post2pre"
                    var data
                }
                else{
                    var msg = "pre2post"
                }
                var tenantName = $("#tenantName").val();
                var serviceAlias = $("#serviceAlias").val();
                $.ajax({
                    type : "post",
                    url : "/ajax/"+tenantName+"/"+serviceAlias+"/memory-pay-method",
                    data : {
                        update_method : msg,
                        pay_period : $("#TimeLongText").html(),
                        pay_money : $("#TimeLongMoney").html()
                    },
                    cache : false,
                    beforeSend : function(xhr, settings) {
                        var csrftoken = $.cookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success : function(msg) {
                        if( msg["status"] == "success" )
                        {
                            swal("修改成功");
                            history.go(0);
                        }
                        else if( msg["status"] == "not_enough" ){
                            swal("余额不足");
                        }
                        else{
                            swal(msg["info"]);
                        }
                    },
                    error : function() {
                        swal("系统异常,请重试");
                    }
                });
            } else {
                swal.close();
            }
        });
    });
    function FnRange(inputid,textid,widid,num){
        var range= document.getElementById(inputid);
        var result = document.getElementById(textid);
        var wid = document.getElementById(widid);
        var maxnum = range.getAttribute("max");
        console.log(maxnum);
        cachedRangeValue = /*localStorage.rangeValue ? localStorage.rangeValue :*/ num;
        // 检测浏览器
        var o = document.createElement('input');
        o.type = 'range';
        if ( o.type === 'text' ) alert('不好意思，你的浏览器还不够酷，试试最新的浏览器吧。');
        range.value = cachedRangeValue;
        wid.style.width = (range.value-num)/(maxnum-num)*100 + "%";
        range.addEventListener("mouseup", function() {
            var maxnum = range.getAttribute("max");
            result.innerHTML = range.value;
            wid.style.width = (range.value-num)/(maxnum-num)*100 + "%";
            if( inputid == "OneMemory" )
            {

                var arr = [];
                var value_min = parseInt($("#OneMemory").attr("min"));
                var value_max = parseInt($("#OneMemory").attr("max"));
                var next = value_min;
                var sum = 0;
                while(next < value_max){
                    next = value_min * Math.pow(2,sum);
                    arr.push(next);
                    sum++;
                }
                for( var i = 0;i<arr.length-1;i++ )
                {
                    if( range.value >= arr[i] && range.value < arr[i+1] )
                    {
                        var size = arr[i];
                        result.attr("data-size",size);
                        if( size < 1024 )
                        {
                            result.innerHTML = size + "M";
                        }
                        else{
                            result.innerHTML = parseInt(size/1024) + "G";
                        }
                    }
                }

                var money = ( $("#NodeText").html() * $("#OneMemoryText").html() - $("#deployMoney").attr("data-memory") )*$("#deployMoney").attr("data-money")/1024;

                if( money > 0){
                    $("#kuorongmoney").css({"display":"block"});
                    $("#deployMoney").html( (money).toFixed(2) );
                    $(".sureDeploy").html("付款");
                }else{
                    $("#kuorongmoney").css({"display":"none"});
                    $(".sureDeploy").html("确定");
                };
            }
        }, false);
        // 滑动时显示选择的值
        range.addEventListener("input", function() {
            var maxnum = range.getAttribute("max");
            result.innerHTML = range.value;
            wid.style.width = (range.value-num)/(maxnum-num)*100 + "%";
            if( inputid == "OneMemory" )
            {

                var arr = [];
                var value_min = parseInt($("#OneMemory").attr("min"));
                var value_max = parseInt($("#OneMemory").attr("max"));
                var next = value_min;
                var sum = 0;
                while(next < value_max){
                    next = value_min * Math.pow(2,sum);
                    arr.push(next);
                    sum++;
                }
                for( var i = 0;i<arr.length-1;i++ )
                {
                    if( range.value >= arr[i] && range.value < arr[i+1] )
                    {
                        var size = arr[i];
                        result.attr("data-size",size);
                        if( size < 1024 )
                        {
                            result.innerHTML = size + "M";
                        }
                        else{
                            result.innerHTML = parseInt(size/1024) + "G";
                        }
                    }
                }

                var money = ( $("#NodeText").html() * $("#OneMemoryText").html() - $("#deployMoney").attr("data-memory") )*$("#deployMoney").attr("data-money")/1024;

                if( money > 0){
                    $("#kuorongmoney").css({"display":"block"});
                    $("#deployMoney").html( (money).toFixed(2) );
                    $(".sureDeploy").html("付款");
                }else{
                    $("#kuorongmoney").css({"display":"none"});
                    $(".sureDeploy").html("确定");
                };
            }


            if( inputid == "TimeLong" )
            {
                var money = range.value * $("#TimeLongMoney").attr("data-money");
                $("#TimeLongMoney").html( (money).toFixed(2) );
            }
            else if( inputid == "LongDisk" || inputid == "LongDiskSize" ){
                if( $("#LongDiskMoney").attr("data-hours") )
                {
                    var money = $("#LongDiskSize").val() * $("#LongDiskMoney").attr("data-money") * $("#LongDiskMoney").attr("data-hours");
                }
                else{
                    var money = $("#LongDisk").val() * $("#LongDiskSize").val() * $("#LongDiskMoney").attr("data-money") * 24 *30;
                }
                $("#LongDiskMoney").html( (money).toFixed(2) );
            }
            else if( inputid == "Time" ){
                var money = range.value * $("#TimeMoney").attr("data-money");
                $("#TimeMoney").html( (money).toFixed(2) );
            }
            else if( inputid == "OneMemory" )
            {

                var arr = [];
                var value_min = parseInt($("#OneMemory").attr("min"));
                var value_max = parseInt($("#OneMemory").attr("max"));
                var next = value_min;
                var sum = 0;
                while(next < value_max){
                    next = value_min * Math.pow(2,sum);
                    arr.push(next);
                    sum++;
                }
                for( var i = 0;i<arr.length-1;i++ )
                {
                    if( range.value >= arr[i] && range.value < arr[i+1] )
                    {
                        var size = arr[i];
                        result.attr("data-size",size);
                        if( size < 1024 )
                        {
                            result.innerHTML = size + "M";
                        }
                        else{
                            result.innerHTML = parseInt(size/1024) + "G";
                        }
                    }
                }

                var money = ( $("#NodeText").html() * $("#OneMemoryText").attr("data-size") * $("#deployMoney").attr("data-memory") )
                    $("#kuorongmoney").css({"display":"block"});
                    $("#deployMoney").html( (money).toFixed(2) );
                    $(".sureDeploy").html("付款");

            }
            else if( inputid == "NodeNum" ){
                var money = ( $("#NodeText").html() * $("#OneMemoryText").html() - $("#deployMoney").attr("data-memory") )*$("#deployMoney").attr("data-money")/1024;

                if( money > 0){
                    $("#kuorongmoney").css({"display":"block"});
                    $("#deployMoney").html( (money).toFixed(2) );
                    $(".sureDeploy").html("付款");
                }else{
                    $("#kuorongmoney").css({"display":"none"});
                    $(".sureDeploy").html("确定");
                };
            }
        }, false);
    }

    FnRange("OneMemory","OneMemoryText","OneMemoryWid",128);
    FnRange("NodeNum","NodeText","NodeWid",1);
    FnRange("TimeLong","TimeLongText","TimeLongWid",1);
    FnRange("Time","TimeText","TimeLongW",1);
    FnRange("LongDisk","LongDiskText","TimeLongDisk",1);
    FnRange("LongDiskSize","DiskSizeText","DiskSize",1);
</script>