 <!-- statistic start -->
 <div role="tabpanel" class="tab-pane active" id="statistic">
  <input type="hidden" id="websocketUrl" name="websocketUrl" value="{{websocket_uri}}">
  {% if statistic_type == 'history' %}
   <div>
     <div class="col-xs-9"></div>
     <div class="col-xs-3">
       <select id="graph-period" class="form-control input-sm m-bot15">
           <option value="1h-ago">1小时</option>
           <option value="8h-ago">8小时</option>
           <option value="24h-ago">24小时</option>
           <option value="7d-ago">7天</option>
       </select>
     </div>
   </div>
   {% if tenantServiceInfo.category == "application" or tenantServiceInfo.category == "manager" or tenantServiceInfo.category == "app_publish" or tenantServiceInfo.category == "app_sys_publish" %}
   <div class="row">
     <div class="col-md-6">
       <section class="panel">
         <header class="panel-heading">
           响应时间 (5分钟平均值)
         </header>
         <div class="panel-body">
           <div id="response-time-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>

     <div class="col-md-6">
       <section class="panel">
         <header class="panel-heading">
           在线人数 (10分钟)
         </header>
         <div class="panel-body">
           <div id="online-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>
   </div>

   <div class="row">
     <div class="col-md-6">
       <section class="panel">
         <header class="panel-heading">
           吞吐率 (1分钟总数)
         </header>
         <div class="panel-body">
           <div id="throughput-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>

   </div>
   {% endif %}<!--end http_history-->
   {% if tenantServiceInfo.service_type == "mysql" %}
   <div class="row">
     <div class="col-md-6">
       <section class="panel">
         <header class="panel-heading">
           sql响应时间 (5分钟平均值)
         </header>
         <div class="panel-body">
           <div id="sqltime-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>

     <div class="col-md-6">
       <section class="panel">
         <header class="panel-heading">
           sql执行次数 (1分钟总数)
         </header>
         <div class="panel-body">
           <div id="sql-throughput-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>
   </div>
   {% endif %}

   <div class="row">
     <div class="col-md-6">
       <section class="panel">
         <header class="panel-heading">
           内存
         </header>
         <div class="panel-body">
           <div id="memory-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>

     <div class="col-md-6">
       <section class="panel">
         <header class="panel-heading">
           带宽
         </header>
         <div class="panel-body">
           <div id="bandwidth-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>

     <div class="col-md-6">
       <section class="panel">
         <header class="panel-heading">
           磁盘
         </header>
         <div class="panel-body">
           <div id="disk-stat" class="graph">
             <svg></svg>
           </div>
         </div>
       </section>
     </div>

   </div>

  {% endif %}<!--end statistic_history-->
  {% if statistic_type == 'realtime' %}
    {% if tenantServiceInfo.category == "application" or tenantServiceInfo.category == "manager" or tenantServiceInfo.category == "app_publish" or tenantServiceInfo.category == "app_sys_publish" %}
    <div id="realtime-stat" class="weather-category twt-category rtm-category rtm-category-3">
      <ul>
        <li>
          <h1 id="response-time-stat">0</h1>
          平均响应时间
        </li>
        <li>
          <h1 id="throughput-stat">0</h1>
          吞吐率
        </li>
        <li>
          <h1 id="online-stat">0</h1>
          在线人数
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                过去5分钟耗时最多的URl排行
                <span class="pull-right rtm-update-time"></span>
            </header>
            <table id="rtm-SumTimeByUrl" class="table table-striped table-advance table-hover">
                <thead>
                <tr>
                    <th name="url" class="text-left col-md-8">Url</th>
                    <th name="sumtime" class="text-right col-md-2">累计时间(ms)</th>
                    <th name="avgtime" class="text-right col-md-1">平均时间(ms)</th>
                    <th name="counts" class="text-right col-md-1">个数</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
      </div>
    </div>
    {% endif %}<!--finish http_realtime-->

    {% if tenantServiceInfo.service_key == 'mysql' %}
    <div id="realtime-stat" class="weather-category twt-category rtm-category rtm-category-2">
      <ul>
        <li>
          <h1 id="sqltime-stat">0</h1>
          sql平均响应时间
        </li>
        <li>
          <h1 id="sql-throughput-stat">0</h1>
          sql吞吐率
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                过去5分钟耗时最多的SQL排行
                <span class="pull-right rtm-update-time"></span>
            </header>
            <table id="rtm-SumTimeBySql" class="table table-striped table-advance table-hover">
                <thead>
                <tr>
                    <th name="sql" class="text-left col-md-8">SQL</th>
                    <th name="sumtime" class="text-right col-md-2">累计时间(ms)</th>
                    <th name="avgtime" class="text-right col-md-1">平均时间(ms)</th>
                    <th name="counts" class="text-right col-md-1">个数</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
      </div>
    </div>
    {% endif %}<!--finish mysql_realtime-->

  {% endif %}<!--finish realtime-->
 </div>
 <!-- statistic end-->