<div class="cost">
    <input type="hidden" id="tenantName" value="{{tenantName}}">
    <input type="hidden" id="serviceAlias" value="{{serviceAlias}}">
    <div class="cost-fun">
         <h2 class="tit-two">计费方式</h2>
        <table>
            <tbody>
            <tr>
                <td>内存计费方式：<span class="memoryFun">{% if service_attach_info.memory_pay_method == 'prepaid'  %}预付费{% else %}后付费{% endif %}</span><a href="javascript:void(0)" class="changeMemory"> 更改</a></td>
                <td>当前使用：<span>{{service.min_memory}} MB×{{service.min_node}}</span><a href="javascript:void(0)" class="larger">扩容</a></td>
                <td>上1小时费用：<span>{% if last_hour_consume.memory_money %} {{last_hour_consume.memory_money}} {% else %} 0 {% endif %} 元</span></td>
                <td>累计费用：<span>{% if service_total_memory_fee %} {{service_total_memory_fee}} {% else %} 0 {% endif %}元</span></td>
            </tr>
            <tr>
                <td>磁盘计费方式：<span class="diskFun">{% if service_attach_info.disk_pay_method == 'prepaid'  %}预付费{% else %}后付费{% endif %}</span><a href="javascript:void(0)" class="changeDisk"> 更改</a></td>
                <td>当前使用：<span>{% if last_hour_consume.disk %} {{last_hour_consume.disk}} {% else %} 0 {% endif %} MB</span></td>
                <td>上1小时费用：<span>{% if last_hour_consume.disk_money %} {{last_hour_consume.disk_money}} {% else %} 0 {% endif %}元</span></td>
                <td>累计费用：<span>{% if service_total_disk_fee %} {{service_total_disk_fee}} {% else %} 0 {% endif %}元</span></td>
            </tr>
            <tr>
                <td>流量计费方式：<span>后付费</span></td>
                <td>当前使用：<span>{% if last_hour_consume.net %} {{last_hour_consume.net}} {% else %} 0 {% endif %} MB</span></td>
                <td>上1小时费用：<span>{% if last_hour_consume.net_money %} {{last_hour_consume.net_money}} {% else %} 0 {% endif %}元</span></td>
                <td>累计费用：<span>{% if service_total_net_fee %} {{service_total_net_fee}} {% else %} 0 {% endif %} 元</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">预付费项目有效期：<span id="end_time">{{service_attach_info.buy_end_time}}</span><a href="javascript:void(0)" class="expand">延期</a></td>
            </tr>
            </tfoot>
        </table>
    </div>
   
    <div class="content-tab">
         <h2 class="tit-two">计费明细</h2>
        <table>
            <thead>
                <tr>
                    <th>计费时段</th>
                    <th>内存</th>
                    <th>费用</th>
                    <th>实际扣费</th>
                    <th>磁盘</th>
                    <th>费用</th>
                    <th>实际扣费</th>
                    <th>流量</th>
                    <th>费用</th>
                    <th>实际扣费</th>
                    <th>总扣费</th>
                </tr>
            </thead>
            <tbody>
                {% for service_consume in service_consume_list %}

                <tr>
                    <td>{{service_consume.time|difftime:-3600}}--{{service_consume.time}}</td>
                    <!--<td>{{service_consume.memory}}GB</td>-->
                    <td>{{service_consume.memory}} MB</td>
                    <!--费用-->
                    <td>{{ service_consume.real_memory_money }}元</td>
                    <!--实际扣费-->
                    <td>{% if service_consume.memory_pay_method == 'prepaid' %}0(预付费){% else %}{{service_consume.memory_money}} 元(后付费){% endif %}</td>
                    <td>{{service_consume.disk}}MB</td>
                    <td>{{service_consume.real_disk_money}}元</td>
                    <td>{% if service_consume.disk_pay_method == 'prepaid' %}0元(预付费){% else %}{{service_consume.disk_money}} 元(后付费){% endif %}</td>
                    <td>{{service_consume.net}}MB</td>
                    <td>{{service_consume.net_money}}元</td>
                    <td>{{service_consume.net_money}}(后付费)</td>
                    <td>{{service_consume.pay_money}}元</td>

                </tr>
                {% endfor %}
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
    <div class="layer-body-bg">
        <div class="layer-body">
            <!--弹层1-->
            <div class="endDate">
                <div class="del" title="关闭"><i class="fa fa-times"></i></div>
                <h3 class="layer-tit"></h3>
                <div class="layer-height-overflow infor-fm-box">
                    <div class="fm-input-range clearfix">
                        修改后付费成功，在当前使用期限(2016-12-12 12：12：12)到期以后生效
                    </div>
                </div>
                <p class="bottom">
                    <button class="cancel">关闭</button>
                </p>
            </div>
            <!--弹层2-->
            <div class="chooseFun">
                <div class="del" title="关闭"><i class="fa fa-times"></i></div>
                <h3 class="layer-tit">修改预付费成功，请选择购买内存时长</h3>
                <div class="layer-height-overflow infor-fm-box">
                    <div class="fm-input-range clearfix">
                        <label>应用购买时长</label>
                        <p class="range-box">
                            <span class="renge-bg"></span>
                            <span class="range-choose"><cite id="TimeLongWid"></cite></span>
                            <input type="range" min="1" max="24"  step="1" id="TimeLong" value="1"／>
                        </p>
                        <span><cite id="TimeLongText">1</cite>个月</span>
                    </div>

                    <p class="calMoney">
                        <span>费用总计</span>
                        <span id="TimeLongMoney"></span>元
                    </p>
                </div>
                <p class="bottom">
                    <button class="sure sureMemory">付款</button>
                    <button class="cancel">取消</button>
                </p>
            </div>
            <div class="chooseDisk">
                <div class="del" title="关闭"><i class="fa fa-times"></i></div>
                <h3 class="layer-tit">修改预付费成功，请选择购买磁盘时长</h3>
                <div class="layer-height-overflow infor-fm-box">
                    <div class="fm-input-range clearfix">
                        <label>应用购买时长</label>
                        <p class="range-box">
                            <span class="renge-bg"></span>
                            <span class="range-choose"><cite id="TimeLongDisk"></cite></span>
                            <input type="range" min="1" max="24"  step="1" id="LongDisk" value="1"／>
                        </p>
                        <span><cite id="LongDiskText">1</cite>个月</span>
                    </div>
                    <div class="fm-input-range clearfix">
                        <label>购买磁盘大小</label>
                        <p class="range-box">
                            <span class="renge-bg"></span>
                            <span class="range-choose"><cite id="DiskSize"></cite></span>
                            <input type="range" min="1" max="200"  step="1" id="LongDiskSize" value="1"／>
                        </p>
                        <span><cite id="DiskSizeText">1</cite>G</span>
                    </div>
                    <p class="calMoney">
                        <span>费用总计</span>
                        <span id="LongDiskMoney"></span>元
                    </p>
                </div>
                <p class="bottom">
                    <button class="sure sureDisk">付款</button>
                    <button class="cancel">取消</button>
                </p>
            </div>
            <!--弹层3-->
            <div class="chooseData">
                <div class="del" title="关闭"><i class="fa fa-times"></i></div>
                <h3 class="layer-tit">请选择延期时间</h3>
                <div class="layer-height-overflow infor-fm-box">
                    <div class="fm-input-range clearfix">
                        <label>应用延期时长</label>
                        <p class="range-box">
                            <span class="renge-bg"></span>
                            <span class="range-choose"><cite id="TimeLongW"></cite></span>
                            <input type="range" min="1" max="24"  step="1" id="Time" value="1"／>
                        </p>
                        <span><cite id="TimeText">1</cite>个月</span>
                    </div>
                    <div class="fm-input-range calMoney clearfix">
                        <label>费用总计</label>
                        <p class="range-box">
                            <span id="TimeMoney">200</span>元
                        </p>
                    </div>
                </div>
                <p class="bottom">
                    <button class="sure sureTime">付款</button>
                    <button class="cancel">取消</button>
                </p>
            </div>
            <!--弹层4-->
            <div class="chooseLarge">
                <div class="del" title="关闭"><i class="fa fa-times"></i></div>
                <h3 class="layer-tit">请选择要实用的内存与节点数</h3>
                <div class="layer-height-overflow infor-fm-box">
                    <div class="fm-input-range clearfix fn-memory-node">
                        <label>节点数</label>
                        <p class="range-box">
                            <span class="renge-bg"></span>
                            <span class="range-choose"><cite id="NodeWid"></cite></span>
                            <input type="range" min="1" max="99"  step="1" id="NodeNum" value="1"／>
                        </p>
                        <span><cite id="NodeText">1</cite>个</span>
                    </div>
                    <div class="fm-input-range clearfix fn-memory-node">
                        <label>单节点内存</label>
                        <p class="range-box">
                            <span class="renge-bg"></span>
                            <span class="range-choose"><cite id="OneMemoryWid"></cite></span>
                            <input type="range" min="128" max="10240"  step="128" id="OneMemory" value="128"／>
                        </p>
                        <span><cite id="OneMemoryText">128</cite>M</span>
                    </div>
                    <div class="fm-input-range calMoney clearfix">
                        <label>费用总计</label>
                        <p class="range-box">
                            <span id="deployMoney">200</span>元
                        </p>
                    </div>
                </div>
                <p class="bottom">
                    <button class="sure sureDeploy">付款</button>
                    <button class="cancel">取消</button>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('.changeMemory').on('click',function(){
            var tenantName = $("#tenantName").val();
            var serviceAlias = $("#serviceAlias").val();
            var that = $(this);
            console.log($("span.memoryFun").html());
            if($("span.memoryFun").html() == "预付费")
            {
                console.log(1);
                //弹出层，告知修改成功
                $(".endDate").css({"display":"block"});
                $(".chooseFun").css({"display":"none"});
                $(".chooseData").css({"display":"none"});
                $(".chooseLarge").css({"display":"none"});
                $(".layer-body-bg").css({"display":"block"});
                $(".chooseDisk").css({"display":"none"});
            }
            else{
                console.log(2);
                //弹出层，选择购买配置，付费
                $(".chooseFun").css({"display":"block"});
                $(".chooseData").css({"display":"none"});
                $(".chooseLarge").css({"display":"none"});
                $(".layer-body-bg").css({"display":"block"});
                $(".chooseDisk").css({"display":"none"});
                $.ajax({
                    type : "get",
                    url : "/ajax/"+tenantName+"/"+serviceAlias+"/memory-pay-method",
                    cache : false,
                    beforeSend : function(xhr, settings) {
                        var csrftoken = $.cookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success : function(msg) {
                        console.log(msg);
                        if( msg["status"] == "success" )
                        {
                            if(msg["choosable"])
                            {
                                var money = msg["memory_unit_fee"]*msg["memory"]*24*30/1024;
                                $("#TimeLongMoney").attr("data-money",money);
                                $("#TimeLongMoney").html(money);
                            }
                            else{
                                $("input#TimeLong").attr("disabled");
                                $("input#TimeLong").css({"cursor":"not-allowed"});
                                var str = "<p style='color: red;'>内存与磁盘预付费时长一致</p>";
                                $(str).appendTo($(".chooseFun .layer-height-overflow"));
                            }
                        }
                        else{
                            swal(msg["info"]);
                        }
                    },
                    error : function() {
                        swal("系统异常,请重试");
                    }
                });
            }
        });
        $('.changeDisk').on('click',function(){
            var tenantName = $("#tenantName").val();
            var serviceAlias = $("#serviceAlias").val();
            var that = $(this);
            if($("span.diskFun").html() == "预付费")
            {
                //弹出层，告知修改成功
                $(".endDate").css({"display":"block"});
                $(".chooseFun").css({"display":"none"});
                $(".chooseData").css({"display":"none"});
                $(".chooseLarge").css({"display":"none"});
                $(".layer-body-bg").css({"display":"block"});
                $(".chooseDisk").css({"display":"none"});
            }
            else{
                //弹出层，选择购买配置，付费
                $(".chooseFun").css({"display":"none"});
                $(".chooseData").css({"display":"none"});
                $(".chooseLarge").css({"display":"none"});
                $(".layer-body-bg").css({"display":"block"});
                $(".chooseDisk").css({"display":"block"});
                $.ajax({
                    type : "get",
                    url : "/ajax/"+tenantName+"/"+serviceAlias+"/disk-pay-method",
                    cache : false,
                    beforeSend : function(xhr, settings) {
                        var csrftoken = $.cookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success : function(msg) {
                        console.log(msg);
                        if( msg["status"] == "success" )
                        {
                            if(msg["choosable"])
                            {
                                var eachMoney = msg["disk_unit_fee"]*24*30;
                                var money = eachMoney*$("#LongDiskText").html()*$("#DiskSizeText").html();
                                $("#LongDiskMoney").html(money);
                                $("#LongDiskMoney").attr("data-money",eachMoney);
                            }
                            else{
                                $("input#TimeLong").attr("disabled");
                                $("input#TimeLong").css({"cursor":"not-allowed"});
                                var str = "<p style='color: red;'>内存与磁盘预付费时长一致</p>";
                                $(str).appendTo($(".chooseDisk .layer-height-overflow"));
                            }
                        }
                        else{
                            swal(msg["info"]);
                        }
                    },
                    error : function() {
                        swal("系统异常,请重试");
                    }
                });
            }
        });
        //关闭弹出层
        $(".del").on("click",function(){
            $(".layer-body-bg").css({"display":"none"});
        });
        //扩容
        $(".larger").on("click",function(){
            $(".endDate").css({"display":"none"});
            $(".chooseFun").css({"display":"none"});
            $(".chooseData").css({"display":"none"});
            $(".chooseLarge").css({"display":"block"});
            $(".layer-body-bg").css({"display":"block"});
            $(".chooseDisk").css({"display":"none"});
        });
        //延期
        $(".expand").on("click",function(){
            $(".endDate").css({"display":"none"});
            $(".chooseFun").css({"display":"none"});
            $(".chooseData").css({"display":"block"});
            $(".chooseLarge").css({"display":"none"});
            $(".layer-body-bg").css({"display":"block"});
            $(".chooseDisk").css({"display":"none"});
        });
        //跳转支付
        $("button.sureTimeLong").on("click",function(){
            console.log( $('#TimeLongText').html() );
            that.parent().find('span').html("预付费");
        });
        $("button.sureTime").on("click",function(){
            console.log( $('#TimeText').html() );
        });
        $("button.sureDeploy").on("click",function(){
            console.log( $('#NodeText').html() +";"+ $('#OneMemoryText').html() );
        });
        //取消，关闭弹出层
        $("button.cancel").on("click",function(){
            $(".endDate").css({"display":"none"});
            $(".layer-body-bg").css({"display":"none"});
            $(".chooseFun").css({"display":"none"});
            $(".chooseData").css({"display":"none"});
            $(".chooseLarge").css({"display":"none"});
            $(".chooseDisk").css({"display":"none"});
        })
    });



    $(".sureMemory").on("click",function(){
        var way = $(".changeMemory").parent().find("span").html();
        if( way == "后付费" )
        {
            var msg = "post2pre"
        }
        else{
            var msg = "pre2post"
        }
        var tenantName = $("#tenantName").val();
        var serviceAlias = $("#serviceAlias").val();
        $.ajax({
            type : "post",
            url : "/ajax/"+tenantName+"/"+serviceAlias+"/memory-pay-method",
            data : {
                update_method : msg,
                pay_period : $("#TimeLongText").html(),
                pay_money : $("#TimeLongMoney").html()
            },
            cache : false,
            beforeSend : function(xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success : function(msg) {
                console.log(msg);
                if( msg["status"] == "success" )
                {
                    swal("修改成功");
                    $("span.memoryFun").html("预付费");
                    $("#end_time").html(msg["end_time"]);
                    $(".chooseDisk").css({"display":"none"});
                    $(".layer-body-bg").css({"display":"none"});
                }
                else if( msg["status"] == "not_enough" ){
                    swal("余额不足");
                }
                else{
                    swal(msg["info"]);
                }
            },
            error : function() {
                swal("系统异常,请重试");
            }
        });
    });





    function FnRange(inputid,textid,widid,num){
        var range= document.getElementById(inputid);
        var result = document.getElementById(textid);
        var wid = document.getElementById(widid);
        var maxnum = range.getAttribute("max");
        cachedRangeValue = /*localStorage.rangeValue ? localStorage.rangeValue :*/ num;
        // 检测浏览器
        var o = document.createElement('input');
        o.type = 'range';
        if ( o.type === 'text' ) alert('不好意思，你的浏览器还不够酷，试试最新的浏览器吧。');
        range.value = cachedRangeValue;
        wid.style.width = (range.value-num)/(maxnum-num)*100 + "%";
        range.addEventListener("mouseup", function() {
            result.innerHTML = range.value;
            wid.style.width = (range.value-num)/(maxnum-num)*100 + "%";
        }, false);
        // 滑动时显示选择的值
        range.addEventListener("input", function() {
            result.innerHTML = range.value;
            wid.style.width = (range.value-num)/(maxnum-num)*100 + "%";
            if( inputid == "TimeLong" )
            {
                var money = range.value * $("#TimeLongMoney").attr("data-money");
                $("#TimeLongMoney").html(money);
            }
            else if( inputid == "LongDisk" || inputid == "LongDiskSize" ){
                var money = $("#LongDisk").val() * $("#LongDiskSize").val() * $("#LongDiskMoney").attr("data-money");
                $("#LongDiskMoney").html(money);
            }
        }, false);
    }

    FnRange("OneMemory","OneMemoryText","OneMemoryWid",128);
    FnRange("NodeNum","NodeText","NodeWid",1);
    FnRange("TimeLong","TimeLongText","TimeLongWid",1);
    FnRange("Time","TimeText","TimeLongW",1);
    FnRange("LongDisk","LongDiskText","TimeLongDisk",1);
    FnRange("LongDiskSize","DiskSizeText","DiskSize",1);
</script>