<!-- log start -->
<div role="tabpanel">
  <div style="padding-bottom: 20px;" class="clearfix">
     <button type="button" class="greenbtn" onclick="_pause()" id="logbtn">暂停</button>
      {% if not is_private %}
      <button style="margin-left: 15px;" type="button" class="greenbtn" id="logbtn_out" style="display: none;">日志输出</button>
      {% endif %}
     <p style="float: right; text-align: right; width: 220px;">
  	   <a href="/apps/{{tenantName}}/{{serviceAlias}}/history-log/" target="_blank" style="color: #28cb75; margin-right: 10px;  line-height: 30px; text-decoration:underline">历史日志下载</a>
  	   <a href="/apps/{{tenantName}}/{{serviceAlias}}/latest-log/" target="_blank" style="color: #28cb75;  line-height: 30px; text-decoration:underline">最新1000条日志</a>
        <div class="btn-group">
            <button type="button" name="join_container" class="bgColor dropdown-toggle btn-success btn" style="border-radius:6px; padding: 5px 12px; min-width: 94px;" data-toggle="dropdown"  id="join_container" onclick="join_container();" /> 全部日志 <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" style="left: -30px;" id="cur_container_content">
                                       
            </ul>
        </div>
    </p>
  </div>
  <input type="hidden" value="{{ monitor_websocket_uri }}" id="web_url_log" />
  <div class="" id="onofflogajax">
       <div id="docker_log" role="tabpanel" class="tab-pane active  blackbg">
       </div>
  </div>
  <div  style="padding-top: 30px; padding-left: 40px;">

  </div>
   
</div>
<p id="parameter" style="display: none;" data-tenantName="{{tenantName}}"  data-serviceAlias="{{serviceAlias}}"></p>
<!-- log end-->
<script>
    var service_id = '{{tenantServiceInfo.service_id}}'
    String.prototype.trim = function () {
        return this.replace(/(^\s*)|(\s*$)/g, "");
    }

    var pauseFlag = "start";
    //
     function join_container() {
        $.ajax({
            type: "GET",
            url: "/ajax/{{tenantName}}/{{tenantServiceInfo.service_alias}}/docker",
            cache: false,
            beforeSend: function (xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (dataObj) {
                console.log(dataObj);
                var msg = "<li><a href='javascript:void(0);'  data-key='0' class='fn-example'> 全部日志</a></li>"
                var tindex = 1
                for (var key in dataObj) {
                    if (key != "split") {
                        msg += "<li>";
                        msg += "<a href='javascript:void(0);'  data-key='"+ key +"' class='fn-example'> 实例" + tindex + "</a></li>"
                        tindex += 1;
                    }
                }
                if (msg != "") {
                    $("#cur_container_content").html(msg)
                }
            },
            error: function () {
                swal("系统异常");
            }
        });
    }
   
    
    function getLog(keyvalue) {
        $.ajax({
            type: "GET",
            url: "/ajax/{{tenantName}}/{{serviceAlias}}/log",
            data: "action=service",
            cache: false,
            beforeSend: function (xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (msg) {
                var dataObj = msg;
                var datalog = dataObj["log"];
                if(keyvalue == "0"){
                   $("#docker_log").html(dataObj["log"]) 
               }else{
                   var arrlog = [];
                   arrlog = datalog.split("</br>");
                   var datareset = "";
                   for(var i = 0; i<arrlog.length;i++){
                        var arrstr = '';
                        arrstr = arrlog[i].substring(0,12);
                        if(keyvalue == arrstr){
                            datareset += arrlog[i] + '</br>';
                        }
                   }
                   $("#docker_log").html(datareset);
               }
                
            },
            error: function () {
                //swal("系统异常");
            }
        })
    }

    $(document).ready(function () {
        //
        function MessageQueue(callback){
            this.isStarted = false;
            this.datas=[];
            this.timer=null;
            this.interval = 100;
            this.callback = callback ||function(){};
        }
        MessageQueue.prototype = {
            add:function(msg){
                this.datas.push(msg);
                if(!this.isStarted){
                    this.start();
                }
            },
            start:function(){
                var self = this;
                this.timer = setInterval(function(){
                    if(self.datas.length){
                        self.execute();
                    }else{
                        self.stop();
                    }
                }, this.interval)
            },
            stop:function(){
                this.isStarted = false;
                clearInterval(this.timer);
            },
            execute:function(){
               this.callback(this.datas.shift());
            }
        }
        var queue = new MessageQueue(function(msg){
            $(msg).prependTo($("#docker_log"));
        })
       
        //
        getLog('0');
        var curKey = "0";
        extPushWebSocketClient.prototype = {
            onMessage: function (msg,keyvalue) {
                if (typeof(msg) != "undefined" && msg != "ok") {
//                    var msgs = msg.split(":")
//                    if (msgs[0].trim() != "deploy" && msgs[0].trim() != "compile") {
//                        var finalMsg = ""
//                        var arr = $("#docker_log").html().split('<br>');
//                        var totalSize = 150;
//                        if (arr.length > totalSize) {
//                            for (var i = 0; i < totalSize; i++) {
//                                finalMsg += arr[totalSize - 1 - i] + "<br/>"
//                            }
//                        } else {
//                            finalMsg = $("#docker_log").html()
//                        }
//                        finalMsg = msg.substr(14) + "<br/>" + finalMsg
//                        $("#docker_log").html(finalMsg)
//                    }
                     var str ;
                    if(curKey == "0"){
                         str = '<p>'+msg+'</p>';
                    }else{
                        var strmsg = msg.substring(0,12);
                        if(strmsg == curKey){
                            str = '<p>'+msg+'</p>';
                        }
                    }
                    queue.add(str);
                    //$(str).prependTo($("#docker_log"));
                }
            }
        }
        var connect = new extPushWebSocketConnect(service_id,"{{tenantName}}", "{{serviceAlias}}");
        connect.init(new extPushWebSocketClient(), service_id, "{{tenantName}}", "{{serviceAlias}}",'0');

        //
        $(document).on("click", ".fn-example", function () {
            var key = $(this).attr("data-key");
            var strKey = key.substring(0,12);
            var strBtn = $(this).text() + '<span class="caret"></span>';
            $("#join_container").html(strBtn);
            $("#docker_log").empty();
            curKey = key.substring(0,12);
            getLog(strKey);
            
            /*
            connect.closeWebSocket();
            
            connect = new extPushWebSocketConnect(service_id,"{{tenantName}}", "{{serviceAlias}}");
            
            connect.init(new extPushWebSocketClient(), service_id, "{{tenantName}}", "{{serviceAlias}}",'0');
            */

        });
        //
    });

    
    
    function _pause() {
        if (pauseFlag == "stop") {
            pauseFlag = "start";
            $('#logbtn').html("暂停");
        } else if (pauseFlag == "start") {
            pauseFlag = "stop";
            $('#logbtn').html("开始");
        }
    }
    function layerlog(tit, ptit, ptext, onoff) {
        var odiv = '<div class="layerbg"><div class="layermainlog"><p class="titlog">' + tit + '</p><a href="javascript:;" class="closebtn fn-quxiao"><i class="fa fa-times"></i></a></div></div>'
        var optit = '<p class="layertitlog">' + ptit + '</p>';
        var optext = '<p class="tipstextlog">' + ptext + '</p>';
        var obtntwo = '<p class="text-center"><button type="button" class="greenbtn" id="sure-btn">确定</button><button type="button" class="redbtn fn-quxiao">取消</button></p>';
        var obtn = '<p class="text-center"><button type="button" class="greenbtn fn-quxiao">好的</button>';
        var fdiv = '<div class="fm-div"><form id="fm-divbox"></form></div>';
        $(odiv).appendTo("body");
        $(optit).appendTo($(".layermainlog"));
        $(optext).appendTo($(".layermainlog"));
        if (onoff) {
            $(fdiv).appendTo($(".layermainlog"));
            $(obtntwo).appendTo($(".layermainlog"));
        } else {
            $(obtn).appendTo($(".layermainlog"));
        }
        $(".fn-quxiao").click(function () {
            $(".layerbg").remove();
        });
    }

    $(function () {
        var tenantName = $("#parameter").attr("data-tenantName");
        var serviceAlias = $("#parameter").attr("data-serviceAlias");
        $(document).on("click","#logbtn_out",function () {
            $.ajax({
                type: "GET",
                url: "/ajax/" + tenantName + "/logtype/services",
                data: "",
                cache: false,
                beforeSend: function (xhr, settings) {
                    var csrftoken = $.cookie('csrftoken');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (msg) {
                    var dataObj = eval(msg);
                    //ajax
                    var dataArr = [];
                    layerlog("日志输出设置", "指定日志应用", "下方为当前团队已经安装的日志应用列表，可以为当前应用指定一个应用来接受日志数据的输入。目前支持日志的应用类型有：<a href=\"http://app.goodrain.com/detail/31/\">elasticsearch</a>、<a href=\"http://app.goodrain.com/detail/3/\">mongodb</a>、influxdb等，如需安装可直接点击文字去部署。", true);
                    for (var key in dataObj) {
                        dataArr.push(dataObj[key]);
                    }

                    var longstr = "";
                    for (var i = 0; i < dataArr.length; i++) {
                        //console.log(longstr + "///" + i);
                        longstr += '<label><input type="radio" name="app" id="' + dataArr[i].service_id + '"data-type="' + dataArr[i].service_type + '"data-alias="' + dataArr[i].service_alias + '"value="' + dataArr[i].service_cname + '" />' + '<span class="radiobg"></span>' + dataArr[i].service_cname + '</label>';
                    }
                    $("#fm-divbox").append(longstr).find("input").eq(0).attr("checked", "true");

                },
                error: function () {
                    //swal("系统异常");
                }
            });
        });
        $(document).on("click", "#sure-btn", function () {
            var appname = $("#fm-divbox").find("input[type='radio']:checked").val();
            var appid = $("#fm-divbox").find("input[type='radio']:checked").attr("id");
            var apptype = $("#fm-divbox").find("input[type='radio']:checked").attr("data-type");
            var appalias = $("#fm-divbox").find("input[type='radio']:checked").attr("data-alias");
            var ontext = '以设置"' + appname + '"接收当前应用的数据。请访问日志应用参看当前应用的日志数据。';

            $.ajax({
                type: "POST",
                url: "/ajax/" + tenantName + "/" + serviceAlias + "/match-log",
                data: {
                    "dep_service_id": appid,
                    "dep_service_type": apptype
                },
                cache: false,
                beforeSend: function (xhr, settings) {
                    var csrftoken = $.cookie('csrftoken');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    var data = eval(data);
                    if (data.status == "success") {
                        $(".layerbg").remove();
                        layerlog("日志输出设置", "设置成功！", ontext, false);
                        $("#logbtn_out").html("取消日志对接").attr("id","logbtn_delete")
                    } else {
                        $(".layerbg").remove();
                        layerlog("日志输出设置", "设置失败！", data.message, false);
                    }
                },
                error: function (data) {
                    if (data.message == undefined) {
                        data.message = "系统错误。"
                    }
                    $(".layerbg").remove();
                    layerlog("日志输出设置", "设置失败！", data.message, false);
                }
            });
        });
        $.ajax({
            type: "GET",
            url: "/ajax/" + tenantName + "/" + serviceAlias + "/match-log/check",
            cache: false,
            beforeSend: function (xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                var data = eval(data);
                if (data.status == "success") {
                    $("#logbtn_out").html("取消日志对接").attr("id","logbtn_delete")
                }
            }
        })
        $(document).on("click","#logbtn_delete",function(){
            $.ajax({
            type: "POST",
            url: "/ajax/" + tenantName + "/" + serviceAlias + "/match-log/delete",
            cache: false,
            beforeSend: function (xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                var data = eval(data);
                if (data.status == "success") {
                    $("#logbtn_delete").html("日志对接").attr("id","logbtn_out")
                    swal("取消成功,重启后生效");
                }else{
                    swal("取消失败");
                }
            }
        })
        })
    });

</script>