<!-- settings start -->
<div role="tabpanel" class="tab-pane active" id="settings">
  <section class="panel">
      <header class="panel-heading">基础信息</header>
      <div class="panel-body">
        <div class="row">
            <label class="col-xs-2 control-label">应用名称</label><label class="col-xs-10 control-label">{{tenantServiceInfo.service_alias}}</label>
        </div>
        {% if tenantServiceInfo.category == "application" %}
            <div class="row">
                <label class="col-xs-2 control-label">Git仓库</label>
                <label class="col-xs-4 control-label">
                    <a href="{{httpGitUrl}}">{{httpGitUrl}}</a>
                </label>
                {% if 'manage_service' in user.actions %}
                <div class="col-xs-6">
                  <div class="col-xs-4 control-label">
                    <select name="branch" id="git_branch" class="git-branch-change">
                    </select>
                  </div>
                  <div class="col-xs-4 control-label">
                    <button type="button"  onclick="service_branch_change('{{tenantName}}','{{tenantServiceInfo.service_alias}}');" class="btn btn-success btn-xs">切换分支</button>
                  </div>
                </div>
                {% endif %}
            </div>
        {% endif %}
      </div>
  </section>
  
<section class="panel">
    <header class="panel-heading">端口开放<br/>(对外服务后需重启)</header>
    <div class="panel-body">
        <table class="table table-striped table-advance table-hover" style="margin-bottom: 0px;" id="port_open">
            <thead>
                <tr>
                    <th> {% if user.is_sys_admin %} <button type="button" class="btn btn-success btn-xs" id="add_service_port">新增服务端口</button>{% endif %}</th>
                    <th> 端口号([0-9])</th>
                    <th> 协议类型</th>
                    <th> 别名(^[A-Z][A-Z0-9_])</th>
                    <th> 对内服务</th>
                    <th> 对外服务</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
              {% for port in ports %}
                <tr port="{{port.container_port}}">
                    <td class="port-arrow"><a fold="yes" port="port_show_{{port.container_port}}"><i class="fa fa-chevron-circle-right fa-lg"></i></a></td>
                    <td>
                       <a href="#" class="edit-port" data-title="更改监听端口" data-url="/ajax/{{tenantName}}/{{serviceAlias}}/ports/{{port.container_port}}" data-value="{{port.container_port}}"></a>
                    </td>
                    <td>
                      {% if tenant.pay_type != "free" or user.is_sys_admin %}
                        <a href="#" class="edit-protocol" data-title="更改协议类型" data-url="/ajax/{{tenantName}}/{{serviceAlias}}/ports/{{port.container_port}}" data-value="{{port.protocol}}"></a>
                      {% else %}
                        {{port.protocol}}
                      {% endif %}
                    </td>
                    <td>
                      {% if tenant.pay_type != "free" or user.is_sys_admin %}
                        <a href="#" class="edit-port-alias" data-title="更改别名" data-url="/ajax/{{tenantName}}/{{serviceAlias}}/ports/{{port.container_port}}" data-value="{{port.port_alias}}"></a>
                      {% else %}
                        {{port.port_alias}}
                      {% endif %}
                    </td>
                    <td>
                        <input class="switch-box" name="inner" type="checkbox" {% if port.is_inner_service %}checked{% endif %} data-size="mini" data-on-color="info" {% if tenant.pay_type == "free" and not user.is_sys_admin %}disabled{% endif %} data-on-text="开启" data-off-text="关闭">
                    </td>
                    <td>
                        <input class="switch-box" name="outer" type="checkbox" {% if port.is_outer_service %}checked{% endif %} data-size="mini" data-on-color="success" {% if tenant.pay_type == "free" and tenantServiceInfo.service_key != 'mysql' %}disabled{% endif %} data-on-text="开启" data-off-text="关闭">
                    </td>
                    <td>
                        {% if user.is_sys_admin %}<button type="button" class="port-delete btn btn-danger btn-xs" "><i class="fa fa-times"></i></button>{% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan=7 id="port_show_{{port.container_port}}">
                        
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<section class="panel">
    <header class="panel-heading">自定义环境变量</header>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover" id="envVartable">
                    <thead>
                        <tr>
                            <th>变量名(^[A-Z][A-Z0-9_])</th>
                            <th>变量值</th>
                            <th>说明</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for env in envs %}
                        <tr>
                            <input name="attr_id" type="hidden" placeholder="选填" value="{{env.pk}}">
                            <td class="attr_name_field">{{env.attr_name}}</td>
                            <td>{{env.attr_value}}</td>
                            <td>{{env.name}}</td>
                            <td>
                                <button type="button" class="attr-delete btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-success btn-xs" id="add_service_attr">新增环境变量</button>
            </div>
        </div>
    </div>
</section>

  
<section class="panel">
      <header class="panel-heading">域名绑定</header>
      <div class="panel-body">
       {% if hasHttpServices %}
        {% if tenant.pay_type != "free" or tenantServiceInfo.service_region == 'aws-jp-1' %}
           <div class="row">
              <div class="col-xs-12">
                <table class="table">
                  <thead>
                  <tr>
                    <th>域名</th>
                    <th>CNAME域名</th>
                    <th>验证</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><input type="text" class="form-control" id="service_app_name" value="{{serviceDomain.domain_name}}" placeholder="请输入新域名，如：www.example.com"></td>
                    <td><a href="http://{{tenantServiceInfo.service_alias}}.{{tenantName}}{{wild_domain}}{{http_port_str}}" target="_blank">{{tenantServiceInfo.service_alias}}.{{tenantName}}{{wild_domain}}{{http_port_str}}</a></td>
                    <td>未验证</td>
                    {% if 'manage_service' in user.actions %}
                    <td class="text-center">
                        {% if serviceDomain %}
                        <button type="button" class="btn btn-danger btn-xs" onclick="domainSubmit('close','{{tenantServiceInfo.service_id}}','{{tenantName}}','{{tenantServiceInfo.service_alias}}')">解绑</button>
                        {% else %}
                        <button type="button" class="btn btn-success btn-xs" onclick="domainSubmit('start','{{tenantServiceInfo.service_id}}','{{tenantName}}','{{tenantServiceInfo.service_alias}}')">绑定</button>
                        {% endif %}
                      </td>
                    {% endif %}
                    </tr>
                  </tbody>
                </table>
              </div>
           </div>
        {% endif %}
       {% endif %}
      </div>
</section>
  
  

  <section class="panel">
    <header class="panel-heading">扩容方式</header>
    <div class="panel-body">
        <div class="row">
            {% ifequal tenantServiceInfo.category "application" %}
            <div class="col-xs-1 control-label">扩容方式</div>
            <div class="col-xs-2 control-label">
                <select name="extend_method" id="extend_method" class="form-control m-bot15">
                    {% for key,extend in extends_choices.iteritems %}
                        {% if key == tenantServiceInfo.extend_method %}
                            <option value="{{key}}"  selected="selected">{{extend}}</option>
                        {% else %}
                            <option value="{{key}}">{{extend}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% if 'manage_service' in user.actions %}
            <div class="col-xs-1 control-label">
              <button type="button" onclick="extends_upgrade('{{tenantName}}','{{tenantServiceInfo.service_alias}}');" class="btn btn-success">设置</button>
            </div>
            {% endif %}
            {% endifequal %}
            <div class="col-xs-1 control-label">实例数</div>
            <div class="col-xs-1 control-label">
              <select name="serviceNods" id="serviceNods" class="form-control m-bot15">
                {% for curNum in nodeList %}
                  {% if curNum == tenantServiceInfo.min_node %}
                  <option value="{{forloop.counter}}"  selected="selected">{{curNum}}</option>
                  {% else %}
                  <option value="{{forloop.counter}}">{{curNum}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            {% if 'manage_service' in user.actions %}
            <div class="col-xs-1 control-label">
              <button type="button" onclick="app_upgrade('{{tenantName}}','{{tenantServiceInfo.service_alias}}');" class="btn btn-success">设置</button>
            </div>
            {% endif %}
                
            <div class="col-xs-1 control-label">内存调整</div>
            <div class="col-xs-2 control-label">
              <select name="serviceMemorys" id="serviceMemorys" class="form-control m-bot15">
                {% for cuMemory in memoryList %}
                  {% if cuMemory == tenantServiceInfo.min_memory %}
                  <option value="{{cuMemory}}"  selected="selected">{{memorydict|mkey:cuMemory}}</option>
                  {% else %}
                  <option value="{{cuMemory}}">{{memorydict|mkey:cuMemory}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            {% if 'manage_service' in user.actions %}
            <div class="col-xs-1 control-label">
              <button type="button"  onclick="service_upgrade('{{tenantName}}','{{tenantServiceInfo.service_alias}}');" class="btn btn-success">设置</button>
            </div>
            {% endif %}
       </div>
   </div>
  </section>
  
  <!--start permission-->
  {% if MODULES.Team_Invite %}
  {% if 'perm_setting' in user.actions %}
  <section class="panel" id="permission">
    <header class="panel-heading">权限管理 </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
              <input type="text" class="email-invite form-control" id="invite_email" name="invite_email" placeholder="邮件地址">
            </div>
            <div class="col-xs-2">
              <select class="form-control" id="ivite_perm" name="ivite_perm">
                  <option value="viewer">观察者</option>
                  <option value="developer">开发者</option>
                  <option value="admin">管理员</option>
              </select>
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-success invite-service" id="invite_user_btn">邀请</button>
            </div>
        </div>
        <br>
    <div id="action_report" class="width-3"></div>
    <table class="table" perm-type="service">
      <tbody>
      <tr>
        <th>成员名称</th>
        <th>邮件地址</th>
        <th class="text-center">管理员</th>
        <th class="text-center">开发者</th>
        <th class="text-center">观察者</th>
        <th class="text-center">移除权限</th>
      </tr>
      {% for user in perm_users %}
      <tr entry-user="{{user.name}}">
        <th><a href="/apps/goodrain/perms?user={{user.name}}">{{user.name}}</a></th>
        <th>{{user.email}}</th>
        <th class="perm-modify-enable text-center"><input type="checkbox" identity="admin" {% if user.adminCheck %}checked="" {% endif %}></th>
        <th class="perm-modify-enable text-center"><input type="checkbox" identity="developer" {% if user.developerCheck %}checked="" {% if user.developerDisable %}disabled="" {% endif %}{% endif %}></th>
        <th class="perm-modify-enable text-center"><input type="checkbox" identity="viewer" {% if user.viewerCheck %}checked="" {% if user.viewerDisable %}disabled="" {% endif %}{% endif %}></th>
        <th class="text-center"><a class="member-remove"><i class="fa fa-times fa-danger"></i></a></th>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
  </section>
  {% endif %}
  {% endif %}
  <!--end permission-->
  
  {% if 'delete_service' in user.actions %}
  <section class="panel" id="delete">
    <header class="panel-heading">删除 </header>
    <div class="panel-body">
      <form class="form-horizontal" role="form">

        <div class="form-group">
          <label class="col-sm-2 col-lg-2  control-label">{{tenantServiceInfo.service_alias}}</label>
          <div class="col-sm-2 col-lg-2 text-center">
            <button type="button" class="btn btn-danger" id="cur_delete_service" onclick="delete_service('{{tenantName}}','{{tenantServiceInfo.service_alias}}');">删除</button>
          </div>
          <div class="col-sm-8 col-lg-8 control-label text-left text-danger">注意：该操作会将所有相关数据永久删除，请慎重操作！</div>
        </div>
      </form>
    </div>
  </section>
  {% endif %}
</div>
<!-- settings end-->
<script>
	String.prototype.trim = function() {
	    return this.replace(/(^\s*)|(\s*$)/g, "");
	}
	var setIntertimmer
    
    $(document).ready(function () {    	
        var mapping = $("#create_port_mapping").val()
        if(mapping != undefined){
        	getMappingPort()
        	setIntertimmer = setInterval("getMappingPort()", 3000);
        }
    });
	
	function getMappingPort(){
    	$.ajax({
       	  type: "GET",
    		  url: "/ajax/{{tenantName}}/{{serviceAlias}}/mapping-port",
    		  cache: false,
    		  beforeSend: function(xhr, settings){
    		      var csrftoken = $.cookie('csrftoken');
    		      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    		  },
    	  	  success: function(msg) {
    	  		var dataObj = msg;
    	  		port = dataObj["port"]
    	  		ip = dataObj["ip"]
    	  		if(port > 0){
    	  			if(port >= 2000){
    	  				$('#mapping-port').html(port)
    	  			}
    	  			clearInterval(setIntertimmer);
    	  		}
    		  },
    		  error: function(){
    			//swal("系统异常");
      	  	}
       })
	}
</script>
