<!-- deployed start -->
{% load staticfiles %}
<div role="tabpanel" id="deployed">
    <input type="hidden" value="{{ can_pay }}" id="can_pay_btn">
    <input type="hidden" value="{{ tenantName }}" id="tenantName">
    <input type="hidden" value="{{ serviceAlias }}" id="serviceAlias">
    <input type="hidden" value="{{ tenantServiceInfo.service_id }}" id="service_id">
    <input type="hidden" value="{{ tenantServiceInfo.tenant_id }}" id="tenant_id">

    <div class="appOutline">
        <ul class="outlineTop clearfix" id="status_areas">
            <li>
                <div>
                    <p>状态</p>
                    <p class="pImg">
                        <img id="service_status-img" src="{% static "www/img/appOutline/appOutline1.png" %}"/>
                    </p>
                    <p id="service_status" name="service_status">未知</p>
                </div>
            </li>
            <li>
                <div>
                    <p>当前使用内存</p>
                    <p class="pImg">
                        <img src="{% static "www/img/appOutline/appOutline2.png" %}"/>
                    </p>
                    <p id="service_memory" name="service_memory">{{ totalMemory }}M</p>
                </div>
            </li>
            <li>
                <div>
                    <p>当前使用磁盘</p>
                    <p class="pImg">
                        <img src="{% static "www/img/appOutline/appOutline3.png" %}"/>
                    </p>
                    <p id="service_disk" name="service_disk">
                        {% if last_hour_cost.disk %}{{ last_hour_cost.disk }}{% else %}0{% endif %}M</p>
                    <!--<p>未知</p>-->
                </div>
            </li>
            <li>
                <div>
                    <p>上一小时流量</p>
                    <p class="pImg">
                        <img src="{% static "www/img/appOutline/appOutline4.png" %}"/>
                    </p>
                    <p id="service_net" name="service_disk">
                        {% if last_hour_cost.net %}{{ last_hour_cost.net }}{% else %}0{% endif %}M</p>
                    <!--<p>未知</p>-->
                </div>
            </li>
            {% if not community %}
            <li class="fn-tips layer_pay" data-tips="应用状态未知">
                <div>
                    <p style="text-align: left">上一小时费用</p>
                    <p class="pImg">
                        <img src="{% static "www/img/appOutline/appOutline5.png" %}"/>
                    </p>
                    <p id="last_hour_fee" name="last_hour_fee">0元</p>
                    <!--<p>未知</p>-->
                </div>
            </li>
            {% endif %}
        </ul>
        <div class="alternative clearfix">
		<div class="alternative clearfix">
			<div class="alterLeft">
				<ul class="clearfix">
					<input type="hidden" id="port_length" value="{{http_outer_service_ports|length}}">
					{% if hasHttpServices %}
						<li class="button">
							<div class="btn-group">
								<!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
								<!--访问 <span class="caret"></span>-->
								<!--</button>-->
								<!--<ul class="dropdown-menu" role="menu">-->
								<!--<li><a href="#">链接1</a></li>-->
								<!--<li><a href="#">链接2</a></li>-->
								<!--<li><a href="#">链接3</a></li>-->
								<!--<li><a href="#">链接4</a></li>-->
								<!--</ul>-->
								{% if visit_port_type == "multi_outer" %}
									{% if http_outer_service_ports|length == 1 %}
										{% for port in http_outer_service_ports %}
										<button type="button" class="bgColor dropdown-toggle" data-toggle="dropdown" id="service_visitor" onclick='visit("{{ port.container_port }}")'>访问</button>
										{% endfor %}
									{% else %}
										<button type="button" class="bgColor dropdown-toggle" data-toggle="dropdown">访问<span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu">
										{% for port in http_outer_service_ports %}
											<li><a href="javascript:void(0)" onclick='visit("{{ port.container_port }}")'>{{ port.container_port }}端口</a></li>
										{% endfor %}
									{% endif %}
								{% else %}
								<button type="button" class="bgColor dropdown-toggle" data-toggle="dropdown" id="service_visitor" onclick="visit()">访问</button>
								{% endif %}
							</div>
						</li>
						<!--{% if visit_port_type == "multi_outer" %}-->
							<!--{% if http_outer_service_ports|length == 1 %}-->
								<!--<li class="button">-->
								<!--<select class="form-control-inline" id="multi_ports" data="ttt" name="multi_port_bind"  style="width:100px; height: 30px; line-height: 30px; font-size: 20px; display: none ;">-->
							<!--{% else %}-->
								<!--<select class="form-control-inline" id="multi_ports" name="multi_port_bind"  style="width:100px; height: 30px; line-height: 30px; font-size: 20px;">-->
							<!--{% endif %}-->
							<!--{% for port in http_outer_service_ports %}-->
								<!--{% if port.container_port == serviceDomain.container_port %}-->
								<!--<option value="{{ port.container_port }}"-->
									<!--selected="selected">{{ port.container_port }}</option>-->
								<!--{% else %}-->
								<!--<option value="{{ port.container_port }}">{{ port.container_port }}</option>-->
								<!--{% endif %}-->
							<!--{% endfor %}-->

                            <!--</select>-->
                            <!--{%endif%}-->

                    {% endif %}

                    {% ifequal tenantServiceInfo.service_type "mysql" %}
                        {% if service_manager.deployed %}
                            {% if 'manage_service' in user.actions %}
                                <button type="button" class="bgColor" id="service_visitor"
                                        onclick="window.open('{{ service_manager.url }}');">管理
                                </button>
                            {% endif %}
                        {% else %}
                            {% if 'manage_service' in user.actions %}
                                <button type="button" class="bgColor" id="service_visitor"
                                        onclick="window.open('{{ service_manager.url }}');">添加管理服务
                                </button>
                            {% endif %}
                        {% endif %}
                    {% endifequal %}
                    {% if updateService %}
                        <button type="button" class="bgColor" id="service_image_operate"
                                onclick="service_image_reboot('{{ tenantServiceInfo.service_id }}','{{ tenantServiceInfo.service_alias }}','{{ tenantName }}');">
                            服务更新
                        </button>
                    {% endif %}
                    </li>
                    {% if not community and tenantServiceInfo.category = "application" %}
                        <li class="button">
                            <a href="/apps/{{ tenantName }}/{{ serviceAlias }}/share/step1?fr=share" class="bgColor"
                               target="_blank">分享</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
                    <div class="alterRight">
                        <ul class="clearfix">
                            {% ifequal tenantServiceInfo.category "application" %}
                            {% if user.is_sys_admin %}
                            <!--
                            <li class="button" style="display:none;">
                                    <button type="button" class="bgColor" id="service_publish" onclick="window.open('/apps/{{tenantName}}/{{serviceAlias}}/publish');">发布</button>
                            </li>
                            -->
                            {% endif %}
                            {% endifequal %}
                            {% if user.is_sys_admin or docker_console or tenantName == 'gooood' or tenantName == 'gooood0' or tenantName == 'baoxianjie' or tenantName == 'showmac' or tenantName == 'jamesocy' %}
                            <li class="button">
                                <div class="btn-group">
                                    <button type="button" name="join_container" class="bgColor dropdown-toggle" data-toggle="dropdown"  id="join_container" onclick="join_container();"/> 管理容器 <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu" style="left: -30px;" id="cur_container_content">
                                        <!--<li><a href="#">节点1</a></li>-->
                                    </ul>
                                </div>

                            </li>
                            {% endif %}

                            {% if 'manage_service' in user.actions %}
                            <li class="button">
                                <input type="hidden" id="service_status_value" name="service_status_value" value="" />
                                <button type="button" class="bgColor" style="background-color: #f63a47" id="service_status_operate" onclick="service_onOperation('{{tenantServiceInfo.service_id}}','{{tenantServiceInfo.service_alias}}','{{tenantName}}');" ><font id="font{{tenantServiceInfo.service_id}}">关闭</font></button>
                            </li>
                            {% endif %}

                            <!--<li class="button">-->
                            <!--<button class="bgColor">重启</button>-->
                            <!--</li>-->

                            {% ifequal tenantServiceInfo.category "application" %}
                            <!--{% if user.is_sys_admin %}-->
                            <!--<li class="button">-->
                            <!--<button type="button" class="bgColor" id="service_publish" onclick="window.open('/apps/{{tenantName}}/{{serviceAlias}}/publish');"><i class="fa fa-eye"></i>发布</button>-->
                            <!--</li>-->
                            <!--{% endif %}-->

                            {% if 'code_deploy' in user.actions %}
                            <li class="button">
                                <button type="button" class="bgColor" id="onekey_deploy" onclick="service_oneKeyDeploy('{{tenantServiceInfo.category}}','{{tenantServiceInfo.service_alias}}','{{tenantName}}','no');">重新部署</button>
                            </li>
                            {% endif %}

                            {% endifequal %}

                        </ul>
                    </div>
		</div>
	</div>
	<section class="panel">
            <input type="hidden" name="service_name" id="service_name" value="{{tenantServiceInfo.service_alias}}"/>
            <div id="keylog">
                <ul class="timeline list-unstyled">
                    <li>
                        <time class="tl-time">
                            <h4>23:15</h4>
                            <p>05th September 2013</p>
                        </time>
                        <i class="fa bg-success tl-icon"></i>
                        <div class="tl-content">
                            <div class="panel panel-primary">
                                <!--<div class="panel-heading">Events</div>-->
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. Nam fermentum, massa sit amet pulvinar laoreet, sem mi viverra turpis, ac porta felis nisl eu odio.</p>
                                    <div>
                                        <p>grtest</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--<li>-->
                        <!--<time class="tl-time">-->
                            <!--<h4>23:15</h4>-->
                            <!--<p>05th September 2013</p>-->
                        <!--</time>-->
                        <!--<i class="fa bg-danger tl-icon"></i>-->
                        <!--<div class="tl-content">-->
                            <!--<div class="panel panel-primary">-->
                                <!--&lt;!&ndash;<div class="panel-heading">Events</div>&ndash;&gt;-->
                                <!--<div class="panel-body">-->
                                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. Nam fermentum, massa sit amet pulvinar laoreet, sem mi viverra turpis, ac porta felis nisl eu odio.-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
	</section>

</div>
<!-- deployed end-->
<div class="layer-body-bg">
    <div class="layer-body">
        <!-- 01 start -->
        <div class="payMoney">
            <div class="del" title="关闭"><i class="fa fa-times"></i></div>
            <p class="layer-tit">付费确认</p>
            <div class="layer-height-overflow">
                <p>将从您的账户中扣除<span id="need_to_pay"></span>元，用于购买当前应用的包月项目，其余费用仍按小时结算。</p>
                <p>当前应用将于<span id="start_time"></span>开始计费，逾期未成功支付，应用所有项目将会按需支付。</p>
            </div>
            <p class="bottom">
                <button class="sure btn-success sure_pay">确认支付</button>
                <button class="cancel">取消</button>
            </p>
        </div>
        <!-- 01 end -->
    </div>
</div>
<script>
    var service_id = '{{tenantServiceInfo.service_id}}'
    String.prototype.trim = function () {
        return this.replace(/(^\s*)|(\s*$)/g, "");
    }
    function checkStatus() {
        var port_length = $("#port_length").val()
        $.ajax({
            type: "GET",
            url: "/ajax/{{tenantName}}/{{serviceAlias}}/detail/",
            cache: false,
            beforeSend: function (xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (msg) {
                var obj = msg;
                if (obj["status"] != "failure") {
                    if (obj["status"] == "running") {
                        $("#service_status_value").val("stop")
                        $("#font" + service_id).html("关闭")
                        $("#service_status_operate").show()
                        $("#onekey_deploy").show()
                        $("#onekey_deploy").removeAttr("disabled")
                        $("#service_status").html("运行中")
                        $("#service_status-img").attr("src", "/static/www/img/appOutline/appOutline0.png")
                        $("#service_status_operate").show()
                        $("#service_visitor").show()
                        if (port_length != "1") {
                            $("#multi_ports").show();
                        }
                        $("#service_status").attr("class", "text-center")
                    } else if (obj["status"] == "starting") {
                        $("#service_status_value").val("stop")
                        $("#font" + service_id).html("关闭")
                        $("#service_status_operate").show()
                        $("#onekey_deploy").show()
                        $("#onekey_deploy").removeAttr("disabled")
                        $("#service_status").html("启动中")
                        $("#service_status_operate").show()
                        $("#service_status").attr("class", "text-center")
                        $("#service_visitor").hide()
                        $("#multi_ports").hide()
                    } else if (obj["status"] == "unusual") {
                        $("#service_status_value").val("")
                        $("#font" + service_id).html("启动")
                        $("#service_status_operate").show()
                        $("#onekey_deploy").show();
                        $("#service_status").html("运行异常")
                        $("#service_status_operate").show()
                        $("#service_visitor").hide();
                        $("#multi_ports").hide()
                        $("#service_status").attr("class", "text-center")
                    } else if (obj["status"] == "closed" || obj["status"] == "Owed" || obj["status"] == "expired") {
                        $("#service_status_value").val("restart")
                        $("#font" + service_id).html("启动")
                        $("#service_status_operate").show()
                        $("#onekey_deploy").show()
                        $("#onekey_deploy").removeAttr("disabled")
                        $("#multi_ports").hide()
                        if (obj["status"] == "closed") {
                            $("#service_status").html("已关闭")
                            $("#service_status-img").attr("src", "/static/www/img/appOutline/appOutline1.png")
                            $("#service_status").attr("class", "text-center")
                            $("#multi_ports").hide()
                        } else {
                            $("#service_status").html("余额不足已关闭")
                            $("#service_status").attr("class", "text-center")
                            $("#multi_ports").hide()
                        }
                        $("#service_status_operate").show()
                        $("#service_visitor").hide();
                        $("#multi_ports").hide()
                    } else if (obj["status"] == "undeploy") {
                        $("#service_status_value").val("")
                        $("#font" + service_id).html("未部署")
                        $("#service_status_operate").hide();
                        $("#onekey_deploy").show()
                        $("#onekey_deploy").removeAttr("disabled")
                        $("#service_status").html("未部署")
                        $("#service_status_operate").hide();
                        $("#service_visitor").hide();
                        $("#service_status").attr("class", "text-center")
                        $("#multi_ports").hide()
                    } else {
                        $("#service_status_value").val("")
                        $("#font" + service_id).html("未知")
                        $("#service_status_operate").hide()
                        $("#onekey_deploy").hide();
                        $("#service_status").html("未知")
                        $("#service_status_operate").hide()
                        $("#service_visitor").hide();
                        $("#service_status").attr("class", "text-center")
                        $("#multi_ports").hide()
                    }
                }
                processServicePayStatus(obj)
            },
            error: function () {
                //swal("系统异常");
            }
        })
    }
    /**
     * 处理应用上一小时费用状态
     * @param msg
     */
    function processServicePayStatus(msg) {
        var pay_status = msg["service_pay_status"];
        var tips = msg["tips"];
        if (pay_status == "no_money") {
            $("#last_hour_fee").html("欠费 关闭")
            $(".layer_pay").attr("data-tips", tips);
        } else if (pay_status == "debugging") {
            $("#last_hour_fee").html("调试中");
            $(".layer_pay").attr("data-tips", tips);
        } else if (pay_status == "unknown") {
            $("#last_hour_fee").html("0元");
            $(".layer_pay").attr("data-tips", tips);
        } else if (pay_status == "wait_for_pay") {
            $("#last_hour_fee").html("等待支付");
            $(".layer_pay").attr("data-tips", tips);
            $("#can_pay_btn").val("True");
            $("#need_to_pay").html(msg["need_pay_money"]);
            $("#start_time").html(msg["start_time_str"]);
            $("#need_to_pay").css("color", "#28cb75");
            $("#start_time").css("color", "#28cb75");

        } else if (pay_status == "soon") {
            $("#last_hour_fee").html("即将计费");
            $(".layer_pay").attr("data-tips", tips);
        } else if (pay_status == "show_money") {
            $("#last_hour_fee").html(msg["cost_money"] + "元");
            $(".layer_pay").attr("data-tips", tips);
        } else {
            $("#last_hour_fee").html("-");
            $(".layer_pay").attr("data-tips", tips);
        }

    }

    function getLog() {
        $.ajax({
            type: "GET",
            url: "/ajax/{{tenantName}}/{{serviceAlias}}/events",
            data: "action=operate",
            cache: false,
            beforeSend: function (xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (msg) {
                var dataObj = msg;
                var showlog = ""
                var logList = dataObj["log"]
                if (typeof(logList) != "undefined") {
                    var type_json = {
                        "deploy" : "部署",
                        "restart" : "重启",
                        "delete" : "停止创建",
                        "HorizontalUpgrade" : "水平升级",
                        "VerticalUpgrade" : "垂直升级"
                    }
                    var status_json = {
                        "success" : "成功",
                        "failuer" : "失败",
                        "timeout" : "超时"
                    }
                    for (var i = 0; i < logList.length; i++) {
                        var log = logList[i]
                        if (i == 0 && (log["final_status"] == "")) {
                            connectSocket(log["event_id"])
                        }
                        var arr = log["start_time"].split("T");
                        var date = arr[0];
                        var time = arr[1];
//                        var tmpLog = log["start_time"] + " @" + log["user_name"] + log["type"] + " " + log["message"] + " " + log["status"]
//                        tmpLog = "<label style='line-height: 21px;'>" + tmpLog + "</label><p id='compile_" + log["event_id"] + "' style='line-height: 21px;' onclick=\"do_logshow('" + log["event_id"] + "')\">显示日志</p>"
//                        tmpLog = "<div id='event_" + log["event_id"] + "'>" + tmpLog + "</div>"
//                        showlog = showlog + tmpLog
                        var str_log = '<li><time class="tl-time"><h4>'+time+'</h4><p>'+date+'</p></time><i class="fa bg-success tl-icon"></i>';
                        str_log += '<div class="tl-content"><div class="panel panel-primary"><div class="panel-body">'+type_json[log["type"]]+status_json[log["status"]]+'</div></div></div></li>'
                        console.log(type_json[log["type"]]+';'+status_json[log["status"]]);
                        $(str_log).appendTo($("#keylog ul"));
                    }
//                    $("#keylog").html(showlog)

                }
            },
            error: function () {
                //swal("系统异常");
            }
        })
    }

    function liAutoAdapt() {
        var li_length = $("#status_areas li").length;
        if (li_length == 4) {
            $("#status_areas li").width("25%");
        }
    }
    $(document).ready(function () {
        liAutoAdapt();
        checkStatus();
        getLog();
        setInterval("checkStatus()", 6000)
    });

	function liAutoAdapt(){
		var li_length = $("#status_areas li").length;
		if(li_length ==4){
			$("#status_areas li").width("25%");
		}
	}

function do_logshow(event_id) {
        $.ajax({
            type: "GET",
            url: "/ajax/{{tenantName}}/{{serviceAlias}}/event/" + event_id + "/log?level=debug",
            cache: false,
            beforeSend: function (xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (msg) {
                var dataObj = msg;
                var newLog = dataObj["data"]
                for (i = 0; i < newLog.length; i++) {
                    log = newLog[i]["time"] + ":" + newLog[i]["message"]
                    $("#compile_" + event_id + "").append(log + "</br>");
                }
                var address = location.href.split("?");
                var more = '</br><a href="' + address[0] + '?fr=log' + '" style="text-decoration: underline">更多日志</a>';
                $("#compile_" + event_id + "").append(more);
                //
            },
            error: function () {
                //swal("系统异常");
            }
        })
    }

    function do_rollback(event_id, deploy_version) {
        swal({
            title: "确定恢复当前版本吗？",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: "POST",
                    url: "/ajax/{{tenantName}}/{{tenantServiceInfo.service_alias}}/manage",
                    data: "event_id=" + event_id + "&action=rollback&deploy_version=" + deploy_version,
                    cache: false,
                    beforeSend: function (xhr, settings) {
                        var csrftoken = $.cookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (msg) {
                        var dataObj = msg
                        if (dataObj["status"] == "success") {
                            swal("操作成功")
                        } else if (dataObj["status"] == "often") {
                            swal("操作正在进行中，请稍后")
                        } else if (dataObj["status"] == "owed") {
                            swal("余额不足请及时充值")
                        } else if (dataObj["status"] == "expired") {
                            swal("试用已到期")
                        } else if (dataObj["status"] == "over_memory") {
                            swal("资源已达上限，不能升级")
                        } else if (dataObj["status"] == "over_money") {
                            swal("余额不足，不能升级")
                        } else {
                            swal("操作失败")
                        }
                    },
                    error: function () {
                        swal("系统异常");
                        $("#operate_" + service_id).removeAttr("disabled")
                    }
                });
            } else {
                swal.close();
            }
        });
    }

    function join_container() {
        $.ajax({
            type: "GET",
            url: "/ajax/{{tenantName}}/{{tenantServiceInfo.service_alias}}/docker",
            cache: false,
            beforeSend: function (xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (dataObj) {
                var msg = ""
                var tindex = 1
                for (var key in dataObj) {
                    if (key != "split") {
                        msg += "<li>";
                        msg += "<a href='javascript:void(0);'  onclick='join_in(\"" + key + "\",\"" + dataObj[key] + "\")'> 节点" + tindex + "</a></li>"
                        tindex += 1;
                    }
                }
                if (msg != "") {
                    $("#cur_container_content").html(msg)
                }
            },
            error: function () {
                swal("系统异常");
            }
        });
    }

    function join_in(ctn_id, host_ip) {
        if (ctn_id != "" && host_ip != "") {
            $.ajax({
                type: "POST",
                url: "/ajax/{{tenantName}}/{{tenantServiceInfo.service_alias}}/docker",
                data: "c_id=" + ctn_id + "&h_id=" + host_ip,
                cache: false,
                beforeSend: function (xhr, settings) {
                    var csrftoken = $.cookie('csrftoken');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (dataObj) {
                    if (dataObj["success"]) {
                        window.location.href = "/apps/{{tenantName}}/{{tenantServiceInfo.service_alias}}/docker/"
                    } else {
                        swal("操作失败")
                    }
                },
                error: function () {
                    swal("系统异常");
                }
            });
        }
    }

    function visit(port) {
//		var port = $("#multi_ports").val();

        var url;
        if (port == "" || port == null) {
            url = "http://{{serviceAlias}}" + ".{{tenantName}}{{wild_domain}}{{http_port_str}}"
        }
        else {
            url = "http://" + port + ".{{serviceAlias}}.{{tenantName}}{{wild_domain}}{{http_port_str}}"
        }
        window.open(url)
    }

    function showStatus() {
        $.ajax({
            type: "GET",
            url: "/ajax/{{tenantName}}/{{tenantServiceInfo.service_alias}}/container-stats",
            cache: false,
            dataType: 'json',
            beforeSend: function (xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (dataObj) {
                var list = dataObj.tenant_service_stats;
                var content = "";
                $("#container_stats").html(content);
                for (var i = 0; i < list.length; i++) {
                    var index = i + 1;
                    content += "<tr><td> 容器" + index + "</td>>" + "<td>" + list[i].used_memory + " M</td>" + "<td>" + list[i].memory_limit + " M</td>" + "<td>" + list[i].memory_percent + " %</td>" + "<td>" + list[i].cpu_percent + " %</td></tr>";
                }
                $("#container_stats").append(content);
            },
            error: function () {
                swal("容器信息获取异常");
            }
        });
    }
    tip();
    function tip() {
        $(".fn-tips").mouseover(function () {
            var tips = $(this).attr("data-tips");
            var pos = $(this).attr("data-position");
            var x = $(this).offset().left;
            var y = $(this).offset().top;
            var oDiv = '<div class="tips-box"><p><span>' + tips + '</span><cite></cite></p></div>';
            $("body").append(oDiv);
            var oDivheight = $(".tips-box").height();
            var oDivwidth = $(".tips-box").width();
            var othiswid = $(this).width();
            var othisheight = $(this).height();
            if (pos) {
                if (pos == "top") {
                    //
                    $(".tips-box").css({"top": y - oDivheight - 25});
                    if (oDivwidth > othiswid) {
                        $(".tips-box").css({"left": x - (oDivwidth - othiswid) / 2});
                    } else if (oDivwidth < othiswid) {
                        $(".tips-box").css({"left": x + (othiswid - oDivwidth) / 2});
                    } else {
                        $(".tips-box").css({"left": x});
                    }
                    $(".tips-box").find("cite").addClass("top");
                    //
                } else if (pos == "bottom") {
                    //
                    $(".tips-box").css({"top": y + othisheight + 25});
                    if (oDivwidth > othiswid) {
                        $(".tips-box").css({"left": x - (oDivwidth - othiswid) / 2});
                    } else if (oDivwidth < othiswid) {
                        $(".tips-box").css({"left": x + (othiswid - oDivwidth) / 2});
                    } else {
                        $(".tips-box").css({"left": x});
                    }
                    $(".tips-box").find("cite").addClass("bottom");
                    //
                } else if (pos == "left") {
                    $(".tips-box").css({"top": y + 5, "left": x - othiswid - 5});
                    $(".tips-box").find("cite").addClass("left");
                } else if (pos == "right") {
                    $(".tips-box").css({"top": y + 5, "left": x + othiswid + 5});
                    $(".tips-box").find("cite").addClass("right");
                } else {
                    //
                    $(".tips-box").css({"top": y - oDivheight - 25});
                    if (oDivwidth > othiswid) {
                        $(".tips-box").css({"left": x - (oDivwidth - othiswid) / 2});
                    } else if (oDivwidth < othiswid) {
                        $(".tips-box").css({"left": x + (othiswid - oDivwidth) / 2});
                    } else {
                        $(".tips-box").css({"left": x});
                    }
                    $(".tips-box").find("cite").addClass("top");
                    //
                }
            } else {
                //
                $(".tips-box").css({"top": y - oDivheight - 25});
                if (oDivwidth > othiswid) {
                    $(".tips-box").css({"left": x - (oDivwidth - othiswid) / 2});
                } else if (oDivwidth < othiswid) {
                    $(".tips-box").css({"left": x + (othiswid - oDivwidth) / 2});
                } else {
                    $(".tips-box").css({"left": x});
                }
                $(".tips-box").find("cite").addClass("top");
                //
            }

        });
        $(".fn-tips").mouseout(function () {
            $(".tips-box").remove();
        });
        ////tips end
    }

    $(".layer_pay").on("click", function () {
        var can_pay = $("#can_pay_btn").val()
        if (can_pay == "True") {
            $(".layer-body-bg").css({"display": "block"});
        }
    })
    $("button.cancel").on("click", function () {
        $(".layer-body-bg").css({"display": "none"});
    });
    $(".del").on("click", function () {
        $(".layer-body-bg").css({"display": "none"});
    });
    $(".sure_pay").on("click", function () {
        var notify_text = "确认付款吗？"
        swal({
            title: notify_text,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                var tenantName = $("#tenantName").val();
//				var tenant_id = $("#tenant_id").val();
//				var service_id = $("#service_id").val();
                var serviceAlias = $("#serviceAlias").val();

                $.ajax({
                    type: "post",
                    url: "/ajax/" + tenantName + "/" + serviceAlias + "/pay-money",
                    data: {},
                    cache: false,
                    beforeSend: function (xhr, settings) {
                        var csrftoken = $.cookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (msg) {
                        if (msg["status"] == "success") {
                            swal("支付成功");
                            $(".layer-body-bg").css({"display": "none"});
                            window.location.href = window.location.href
                        }
                        else if (msg["status"] == "not_enough") {
                            swal("余额不足");
                        }
                        else {
                            swal(msg["info"]);
                        }
                    },
                    error: function () {
                        swal("系统异常,请重试");
                    }
                });
            } else {
                swal.close();
            }
        });
    })
</script>
