<!-- settings start -->
<div role="tabpanel" class="tab-pane active" id="settings">
  <section class="tabbox">
      <p class="tittext">基础信息</p>
      <div class="panel-body">
        <div class="row">
            <label class="col-xs-2 control-label text-right">应用名称</label><label class="col-xs-10 control-label">{{tenantServiceInfo.service_cname}}</label>
        </div>

        {% if tenantServiceInfo.category == "application" and show_git %}
            <div class="row">
                <label class="col-xs-2 control-label text-right">Git仓库</label>
                <label class="col-xs-6 control-label">
                    {% if tenantServiceInfo.code_from == "gitlab_manual" %}
                    <a href="{{href_url|default:httpGitUrl}}">{{httpGitUrl}}</a>
                    {% else %}
                    <a href="{{httpGitUrl}}">{{httpGitUrl}}</a>
                    {% endif %} 
                </label>
                {% if 'manage_service' in user.actions  and git_tag and tenantServiceInfo.code_from != "gitlab_manual" %}
                <div class="col-xs-4">
                  <div class="col-xs-4 control-label">
                    <select name="branch" id="git_branch" class="git-branch-change" style="width:100%;">
                    </select>
                  </div>
                  <div class="col-xs-4 control-label">
                    <button type="button"  onclick="service_branch_change('{{tenantName}}','{{tenantServiceInfo.service_alias}}');" class="btn btn-success btn-xs">切换分支</button>
                  </div>
                </div>
                {% else %}
                <div class="col-xs-4">{{tenantServiceInfo.code_version}}</div>
                {% endif %}
            </div>
        {% endif %}
          
          <div class="row">
              <label class="col-xs-2 control-label text-right">持久化配置</label>
              <div class="col-xs-2"> 共享
                  <!--<select class="form-control" id="mnt_share_type" name="mnt_share_type">
                      {% for key,extend in mnt_share_choices.iteritems %}
                      {% if key == tenantServiceInfo.volume_type %}
                      <option value="{{ key }}" selected="selected">{{ extend }}</option>
                      {% else %}
                      <option value="{{ key }}">{{ extend }}</option>
                      {% endif %}
                      {% endfor %}
                  </select>-->
              </div>
              <!--
              <div class="col-xs-2">
                  <button type="button" class="btn btn-success volume-type-service" id="volume_type_btn"
                          onclick="mnt_share_set('{{ tenantName }}','{{ serviceAlias }}')">设置
                  </button>
              </div>
              -->
          </div>
          
          <div class="row" style="display: none;">
              <label class="col-xs-2 control-label text-right">对外端口配置</label>
              <div class="col-xs-2">
                  <select class="form-control" id="outer_port_setting" name="outer_port_setting">

                      {% for key,extend in multi_port_choices.iteritems %}
                      {% if key == tenantServiceInfo.port_type %}
                      <option value="{{ key }}" selected="selected">{{ extend }}</option>
                      {% else %}
                      <option value="{{ key }}">{{ extend }}</option>
                      {% endif %}
                      {% endfor %}
                  </select>
              </div>
              
              <div class="col-xs-2">
                  <button type="button"
                          class="btn btn-success port-type-service"
                          id="port_type_btn"
                          onclick="muti_outer_port('{{ tenantName }}','{{ serviceAlias }}')">设置
                  </button>
              </div>
              <div style="display: none">
                <p id="tenant-name">{{ tenantName }}</p>
                <p id="service-alias">{{ serviceAlias }}</p>
              </div>
          </div>
         
          <!-- 单端口 多端口-->
          
          
      </div>
  </section>
    <input type="hidden" id="service_port_type" value="{{tenantServiceInfo.port_type}}">

  <!-- 多端口修改开始 -->
  <section class="tabbox">
      <!-- title line start -->
      <div class="tittext clearfix">
          <p style="float: left;">端口开放<span>(配置变化后需重启)</span></p>
          <p style="float: left;"><button type="button" class="btn btn-success btn-xs" id="add_service_port">新增服务端口</button>
          </p>
      </div>
      <!-- title line end -->
      <div id="port_open"></div>
      <!-- table start -->
      {% for port in ports %}
      <table class="table table-striped table-advance table-hover newtab">
          <!--  表格 头  开始 -->
          <thead>
              <tr port="{{port.container_port}}">
                <th>端口号:
                    <a href="#" class="edit-port" data-title="更改监听端口" data-url="/ajax/{{tenantName}}/{{serviceAlias}}/ports/{{port.container_port}}" data-value="{{port.container_port}}"></a>
                </th>
                <th>协议类型:
                    <a href="#" class="edit-protocol" data-title="更改协议类型" data-url="/ajax/{{tenantName}}/ /ports/{{port.container_port}}" data-value="{{port.protocol}}"></a>
                </th>
                <th>
                    <button type="button" class="port-delete btn btn-danger btn-xs" ><i class="fa fa-times"></i></button>
                </th>
              </tr>
          </thead>
          <!--  表格 头  结束 -->
          <!-- 表格 内容  开始 -->
          <tbody>
              <tr port="{{port.container_port}}">
                  <td>
                    <span>对内服务:</span>
                    <input class="switch-box" name="inner" type="checkbox" {% if port.is_inner_service %}checked{% endif %} data-size="mini" data-on-color="info" data-on-text="开启" data-off-text="关闭">
                  </td>
                  <td>
                      <span>服务地址:</span>
                      <p class="fn-sever-link" id="sever_show_{{port.container_port}}" port="{{port.container_port}}">
                          <span></span>
                      </p>
                  </td>
                  <td>
                      <span>使用别名:</span>

                      <a href="#" class="edit-port-alias" data-title="更改别名" data-url="/ajax/{{tenantName}}/{{serviceAlias}}/ports/{{port.container_port}}" data-value="{{port.port_alias}}">{{port.port_alias}}_HOST:{{port.port_alias}}_PORT</a>

                  </td>
              </tr>
              <tr port="{{port.container_port}}">
                  <td class="fn-out-servce">
                     <span>外部访问:</span>
                     <input class="switch-box" name="outer" type="checkbox" {% if port.is_outer_service %}checked{% endif %} data-size="mini" data-on-color="success" data-on-text="开启" data-off-text="关闭">
                  </td>
                  <td>
                     <span>访问地址:</span>
                     <p class="fn-sever-link" id="port_show_{{port.container_port}}" port="{{port.container_port}}">
                          <a href="" target="_blank"></a>
                     </p>
                  </td>
                  <td>
                    <div id="showLink{{port.container_port}}" class="showlink-box">
                      <!--
                     {% if port.is_outer_service and port.protocol == 'http' %}
                     <span>绑定域名:</span>
                     <input type="text" class="form-control" id="service_app_name_{{port.container_port}}" {% if port.container_port in serviceDomainDict.keys %}value="{{serviceDomainDict|mkey:port.container_port}}"{% endif %} placeholder="请输入新域名，如：www.example.com">
                       {% if 'manage_service' in user.actions %}
                        <p style="padding-top: 10px;">
                          {% if port.container_port in serviceDomainDict.keys %}
                          <button type="button" class="btn btn-danger btn-xs" onclick="domainSubmit('close','{{tenantServiceInfo.service_id}}','{{tenantName}}','{{tenantServiceInfo.service_alias}}','{{port.container_port}}')">解绑</button>
                          {% else %}
                          <button type="button" class="btn btn-success btn-xs" onclick="domainSubmit('start','{{tenantServiceInfo.service_id}}','{{tenantName}}','{{tenantServiceInfo.service_alias}}','{{port.container_port}}')">绑定</button>
                          {% endif %}
                        </p>
                      {% endif %}
                    {% endif %}
                    -->
                    {% if port.is_outer_service and port.protocol == 'http' %}
                        <span>绑定域名:</span>
                        <div class="domain-box" id="domain-box">
                          <!-- 多个域名 展示-->
                            {% for domain_name in serviceDomainDict|mkey:port.container_port %}
                                <p>
                                <span>{{domain_name}}</span>
                                <button type="button" class="port-cancel btn btn-danger btn-xs" onclick="domainSubmit('close','{{tenantServiceInfo.service_id}}','{{tenantName}}','{{tenantServiceInfo.service_alias}}','{{port.container_port}}','{{domain_name}}')">解绑</button>
                                </p>
                            {% endfor %}

                          <!-- 多个域名 展示--> 
                        </div>
                        <button type="button" class="btn btn-success btn-xs" id="bind-domain">绑定</button>
                        <div class="fn-domain-layer  domain-layer">
                            <input type="text" placeholder="请输入绑定域名" id="service_app_name_{{port.container_port}}"  />
                            <button type="button" class="port-save btn btn-success btn-xs" onclick="domainSubmit('start','{{tenantServiceInfo.service_id}}','{{tenantName}}','{{tenantServiceInfo.service_alias}}','{{port.container_port}}','')"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-danger btn-xs fn-delete-domain"><i class="fa fa-times"></i></button>
                        </div>
                     {% endif %}
                    </div>
                  </td>
              </tr>
          </tbody>
          <!-- 表格 内容  结束 -->
      </table>
      {% endfor %}
      <!-- table end -->
  </section>
  <!-- 多端口修改结束 -->


<section class="tabbox">
    <p class="tittext">自定义环境变量</p>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover" id="envVartable">
                    <thead>
                        <tr>
                            <th>变量名(^[A-Z][A-Z0-9_])</th>
                            <th>变量值</th>
                            <th>说明</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for env in envs %}
                        <tr>
                            <input name="attr_id" type="hidden" placeholder="选填" value="{{env.pk}}">
                            <td class="attr_name_field">{{env.attr_name}}</td>
                            <td>{{env.attr_value}}</td>
                            <td>{{env.name}}</td>
                            <td>
                               {% if env.is_change %}
                                <button type="button" class="attr-delete btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button>
                               {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-success" id="add_service_attr">新增环境变量</button>
            </div>
        </div>
    </div>
</section>
<section class="tabbox">
    <p class="tittext">持久化数据设置<span>(设置后需要重启服务)</span></p>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover" id="volume_table">
                    <thead>
                        <tr>
                            <th>挂载路径</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for volume in volume_list %}
                        <tr>
                            <td>{{volume.volume_path}}</td>
                            <td>
                                {% if tenantServiceInfo.category == "application" %}
                                <button type="button" class="btn btn-danger btn-xs"
                                        data-id="{{volume.ID}}" onclick="cancel_volume(this);">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if tenantServiceInfo.category == "application" %}
                <div id="edit_volume_div"></div>
                <div class="clearfix" style="padding: 8px;"></div>
                <button type="button" class="btn btn-success" id="add_volume_attr" data-language="{{tenantServiceInfo.language}}">新增持久化设置</button>
                {% endif %}
            </div>
        </div>
    </div>
</section>


   
  <section class="tabbox">
    <p class="tittext">扩容方式</p>
    <div class="panel-body">
        <div class="row">
            {% ifequal tenantServiceInfo.category "application" %}
            <div class="col-xs-1">扩容方式</div>
            <div class="col-xs-2">
                <select name="extend_method" id="extend_method" class="form-control m-bot15">
                    {% for key,extend in extends_choices.iteritems %}
                        {% if key == tenantServiceInfo.extend_method %}
                            <option value="{{key}}"  selected="selected">{{extend}}</option>
                        {% else %}
                            <option value="{{key}}">{{extend}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% if 'manage_service' in user.actions %}
            <div class="col-xs-1 control-label">
              <button type="button" onclick="extends_upgrade('{{tenantName}}','{{tenantServiceInfo.service_alias}}');" class="btn btn-success">设置</button>
            </div>
            {% endif %}
            {% endifequal %}
            <div class="col-xs-1 control-label">实例数</div>
            <div class="col-xs-1 control-label">
              <select name="serviceNods" id="serviceNods" class="form-control m-bot15">
                {% for curNum in nodeList %}
                  {% if curNum == tenantServiceInfo.min_node %}
                  <option value="{{curNum}}"  selected="selected">{{curNum}}</option>
                  {% else %}
                  <option value="{{curNum}}">{{curNum}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            {% if 'manage_service' in user.actions %}
            <div class="col-xs-1 control-label">
              <button type="button" onclick="app_upgrade('{{tenantName}}','{{tenantServiceInfo.service_alias}}');" class="btn btn-success">设置</button>
            </div>
            {% endif %}
                
            <div class="col-xs-1 control-label">内存调整</div>
            <div class="col-xs-2 control-label">
              <select name="serviceMemorys" id="serviceMemorys" class="form-control m-bot15">
                {% for cuMemory in memoryList %} 
                  {% with curMemory=cuMemory|strToInt %}
                  {% if curMemory == tenantServiceInfo.min_memory %}
                  <option value="{{cuMemory}}"  selected="selected">{{memorydict|mkey:cuMemory}}</option>
                  {% else %}
                  <option value="{{cuMemory}}">{{memorydict|mkey:cuMemory}}</option>
                  {% endif %}
                  {% endwith %}
                {% endfor %}
              </select>
            </div>
            {% if 'manage_service' in user.actions %}
            <div class="col-xs-1 control-label">
              <button type="button"  onclick="service_upgrade('{{tenantName}}','{{tenantServiceInfo.service_alias}}');" class="btn btn-success">设置</button>
            </div>
            {% endif %}
       </div>
   </div>
  </section>
  
  <!--start permission-->
  {% if MODULES.Team_Invite %}
  {% if 'perm_setting' in user.actions %}
  <section class="tabbox" id="permission">
    <p class="tittext">权限管理 </p>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
              <input type="text" class="email-invite form-control" id="invite_email" name="invite_email" placeholder="邮件地址">
            </div>
            <div class="col-xs-2">
              <select class="form-control" id="ivite_perm" name="ivite_perm">
                  <option value="viewer">观察者</option>
                  <option value="developer">开发者</option>
                  <option value="admin">管理员</option>
              </select>
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-success invite-service" id="invite_user_btn">邀请</button>
            </div>
        </div>
        <br>
    <div id="action_report" class="width-3"></div>
    <table class="table" perm-type="service">
      <tbody>
      <tr>
        <th>成员名称</th>
        <th>邮件地址</th>
        <th class="text-center">管理员</th>
        <th class="text-center">开发者</th>
        <th class="text-center">观察者</th>
        <th class="text-center">移除权限</th>
      </tr>
      {% for user in perm_users %}
      <tr entry-user="{{user.name}}">
        <th><a href="/apps/goodrain/perms?user={{user.name}}">{{user.name}}</a></th>
        <th>{{user.email}}{% if user.selfuser %}(本人){% endif %}</th>
        <th class="perm-modify-enable text-center"><input type="checkbox" identity="admin" {% if user.adminCheck %}checked="" {% endif %}{% if user.selfuser %}disabled{% endif %}></th>
        <th class="perm-modify-enable text-center"><input type="checkbox" identity="developer" {% if user.developerCheck %}checked="" {% if user.developerDisable %}disabled="" {% endif %}{% endif %}{% if user.selfuser %}disabled{% endif %}></th>
        <th class="perm-modify-enable text-center"><input type="checkbox" identity="viewer" {% if user.viewerCheck %}checked="" {% if user.viewerDisable %}disabled="" {% endif %}{% endif %}{% if user.selfuser %}disabled{% endif %}></th>
        <th class="text-center"><a class="member-remove" {% if user.selfuser %}style="display:none;"{% endif %}><i class="fa fa-times fa-danger"></i></a></th>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
  </section>
  {% endif %}
  {% endif %}
  <!--end permission-->
  
  {% if 'delete_service' in user.actions %}
  <section class="tabbox" id="delete">
    <p class="tittext">删除 </p>
    <div class="panel-body">
      <form class="form-horizontal" role="form">
         
        <div class="form-group">
          <label class="col-sm-2 col-lg-2  control-label">{{tenantServiceInfo.service_cname}}</label>
          <div class="col-sm-2 col-lg-2 text-center">
            <button type="button" class="btn btn-danger"  data-code="{{tenantServiceInfo.code_from}}" id="cur_delete_service" onclick="delete_service('{{tenantName}}','{{tenantServiceInfo.service_alias}}');">删除</button>
          </div>
          <div class="col-sm-8 col-lg-8 control-label text-left text-danger">注意：该操作会将所有相关数据永久删除，请慎重操作！</div>
        </div>
      </form>
    </div>
  </section>
  {% endif %}
</div>
<!-- settings end-->
<script>
    String.prototype.trim = function() {
        return this.replace(/(^\s*)|(\s*$)/g, "");
    }
    var setIntertimmerc
    
    $(document).ready(function () {     
        var mapping = $("#create_port_mapping").val()
        if(mapping != undefined){
            getMappingPort()
            setIntertimmer = setInterval("getMappingPort()", 3000);
        }
        // 持久化目录
        $("#add_volume_attr").bind("click", function(){
            clear_volume();
            var tmp_language = $(this).attr("data-language");
            var input = $("<input />").addClass("col-xs-10")
                    .attr("id", "edit_volume_div_input")
                    .attr("placeholder", "请输入持久化目录");
            var input_span = $("<span />").addClass("col-xs-2").html("/app");
            if (tmp_language == "docker") {
                $("<div />").addClass("col-xs-6")
                        .append(input).appendTo($("#edit_volume_div"));
            } else {
                $("<div />").addClass("col-xs-6")
                        .append(input_span)
                        .append(input).appendTo($("#edit_volume_div"));
            }

            var add_button = $("<button/>").attr("type", "button")
                    .attr("onclick", "post_volume();")
                    .addClass("btn btn-success btn-xs")
                    .append($("<i/>").addClass("fa fa-check"));
            $("<div/>").addClass("btn-group").attr("role", "group").append(add_button).appendTo($("#edit_volume_div"));

            var cancel_button = $("<button/>").attr("type", "button")
                    .attr("onclick", "clear_volume();")
                    .addClass("btn btn-danger btn-xs")
                    .append($("<i/>").addClass("fa fa-times"));
            $("<div/>").addClass("btn-group").attr("role", "group").append(cancel_button).appendTo($("#edit_volume_div"));
        });
        // 多端口select响应
        $("#multi_port_bind").bind("change", function () {
            // 获取当前端口
            var cur_port = $(this).val();
            // 修改a的属性，html
            if ($("a[name='custom_domain_select']")) {
                var data_href = $("a[name='custom_domain_select']").attr("data-href");
                var target_str = cur_port + data_href;
                $("a[name='custom_domain_select']").attr("href", target_str);
                $("a[name='custom_domain_select']").html(target_str);
            }
        });
    });

    function clear_volume() {
        $("#edit_volume_div").empty();
    }

    // 添加持久化记录
    function post_volume() {
        var volume_path = $("#edit_volume_div_input").val();
        if (volume_path == "") {
            swal("路径不能为空!");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/ajax/{{tenantName}}/{{serviceAlias}}/volume",
            cache: false,
            data: {
                "action": "add",
                "volume_path": volume_path
            },
            beforeSend: function(xhr, settings){
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function(data) {
                var json_data = eval(data)
                if (json_data.code == 200) {
                    var volume = json_data.volume;
                    var tr = $("<tr/>");
                    $("<td/>").html(volume.volume_path).appendTo(tr);
                    var button = $("<button/>").attr("type", "button")
                            .attr("data-id", volume.ID)
                            .attr("onclick", "cancel_volume(this);")
                            .addClass("btn btn-danger btn-xs")
                            .append($("<i/>").addClass("fa fa-trash-o"));
                    $("<td/>").append(button).appendTo(tr);
                    $("#volume_table").append(tr);

                    clear_volume();
                    swal("添加成功");
                } else if (json_data.code == 303) {
                    swal("挂载路径必须为绝对路径");
                } else if (json_data.code == 304) {
                    swal("挂载路径不能为系统目录!");
                } else if (json_data.code == 305) {
                    swal("挂载路径已存在!");
                } else if (json_data.code == 306) {
                    swal("挂载路径的根路径已挂载!");
                } else if (json_data.code == 307) {
                    swal("挂载路径的子路径已挂载, 请先删除自路径后挂载!")
                } else {
                    swal("添加失败!");
                }
            },
            error: function(){
                swal("添加失败");
            }
        });
    }

    // 删除持久化记录
    function cancel_volume(event) {
        var volume_id = $(event).attr("data-id");
        $.ajax({
            type: "POST",
            url: "/ajax/{{tenantName}}/{{serviceAlias}}/volume",
            cache: false,
            data: {
                "action": "cancel",
                "volume_id": volume_id
            },
            beforeSend: function(xhr, settings){
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function(data) {
                var json_data = eval(data)
                if (json_data.code == 200) {
                    $(event).closest("tr").remove();
                    swal("删除成功");
                } else {
                    swal("删除失败!")
                }
            },
            error: function(){
                swal("删除失败");
            }
        });
    }

    function getMappingPort(){
        $.ajax({
          type: "GET",
              url: "/ajax/{{tenantName}}/{{serviceAlias}}/mapping-port",
              cache: false,
              beforeSend: function(xhr, settings){
                  var csrftoken = $.cookie('csrftoken');
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              },
              success: function(msg) {
                var dataObj = msg;
                port = dataObj["port"]
                ip = dataObj["ip"]
                if(port > 0){
                    if(port >= 2000){
                        $('#mapping-port').html(port)
                    }
                    clearInterval(setIntertimmer);
                }
              },
              error: function(){
                //swal("系统异常");
            }
       })
    }
    
    //服务挂载卷类型 设置
    function mnt_share_set(tenantName, service_alias) {
        var volume_type = $("#mnt_share_type").val();
        $.ajax({
            type: "post",
            url: "/ajax/" + tenantName + "/" + service_alias + "/service-mnt-share-type",
            data: "action=change_mnt_share_type&volume_type=" + volume_type,
            catch: false,
            beforeSend: function (xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (msg) {
                var result = msg;
                if (result["status"] == "ok") {
                    swal("设置成功")
                } else {
                    swal("设置失败")
                }
            },
            error: function () {
                swal("共享目录设置异常,请重试");
            }
        })
    }
</script>
