<div class="cost">
    <div class="cost-fun">
        <table>
            <caption>计费方式:</caption>
            <thead>

            </thead>
            <tbody>
            <tr>
                <td></td>
                <td>内存计费方式：<span>预付费</span><a href="javascript:void(0)" class="change">更改</a></td>
                <td>当前使用：<span>128MB×2</span><a href="javascript:void(0)">扩容</a></td>
                <td>上1小时费用：<span>12元</span></td>
                <td>累计费用：<span>1212元</span></td>
            </tr>
            <tr>
                <td></td>
                <td>磁盘计费方式：<span>后付费</span><a href="javascript:void(0)" class="change">更改</a></td>
                <td>当前使用：<span>128MB</span></td>
                <td>上1小时费用：<span>12元</span></td>
                <td>累计费用：<span>1212元</span></td>
            </tr>
            <tr>
                <td></td>
                <td>流量计费方式：<span>后付费</span></td>
                <td>当前使用：<span>128MB×️2</span></td>
                <td>上1小时费用：<span>12元</span></td>
                <td>累计费用：<span>1212元</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td colspan="4">预付费项目有效期：<span>2016-12-12 12：12：12</span><a href="javascript:void(0)">延期</a></td>
            </tr>
            </tfoot>
        </table>
    </div>
    <p class="cost-title">计费明细：</p>
    <div class="cost-detail">
        <table>
            <thead>
                <tr>
                    <th>计费时段</th>
                    <th>内存</th>
                    <th>费用</th>
                    <th>实际扣费</th>
                    <th>磁盘</th>
                    <th>费用</th>
                    <th>实际扣费</th>
                    <th>流量</th>
                    <th>费用</th>
                    <th>实际扣费</th>
                    <th>总扣费</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12：00-13：00</td>
                    <td>256MB</td>
                    <td>12元</td>
                    <td>0元(预付费)</td>
                    <td>0.12GB</td>
                    <td>0元</td>
                    <td>0元(预付费)</td>
                    <td>0.12GB</td>
                    <td>0元</td>
                    <td>0元(预付费)</td>
                    <td>12元</td>
                </tr>
                <tr>
                    <td>12：00-13：00</td>
                    <td>256MB</td>
                    <td>12元</td>
                    <td>0元(预付费)</td>
                    <td>0.12GB</td>
                    <td>0元</td>
                    <td>0元(预付费)</td>
                    <td>0.12GB</td>
                    <td>0元</td>
                    <td>0元(预付费)</td>
                    <td>12元</td>
                </tr>
                <tr>
                    <td>12：00-13：00</td>
                    <td>256MB</td>
                    <td>12元</td>
                    <td>0元(预付费)</td>
                    <td>0.12GB</td>
                    <td>0元</td>
                    <td>0元(预付费)</td>
                    <td>0.12GB</td>
                    <td>0元</td>
                    <td>0元(预付费)</td>
                    <td>12元</td>
                </tr>
                <tr>
                    <td>12：00-13：00</td>
                    <td>256MB</td>
                    <td>12元</td>
                    <td>0元(预付费)</td>
                    <td>0.12GB</td>
                    <td>0元</td>
                    <td>0元(预付费)</td>
                    <td>0.12GB</td>
                    <td>0元</td>
                    <td>0元(预付费)</td>
                    <td>12元</td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
    <div class="layer-body-bg">
        <!--弹层1-->
        <div class="endDate layer-body">
            <div class="del" title="关闭"><i class="fa fa-times"></i></div>
            <div class="layer-height-overflow">
                修改后付费成功，在当前使用期限(2016-12-12 12：12：12)到期以后生效
            </div>
            <p class="bottom">
                <button class="cancel">关闭</button>
            </p>
        </div>
        <!--弹层2-->
        <div class="chooseFun layer-body">
            <div class="del" title="关闭"><i class="fa fa-times"></i></div>
            <h3 class="layer-tit">修改预付费成功，请选择购买时长</h3>
            <div class="layer-height-overflow">

            </div>
            <p class="bottom">
                <button class="sure">付款</button>
                <button class="cancel">取消</button>
            </p>
        </div>
        <!--弹层3-->
        <div class="chooseData layer-body">
            <div class="del" title="关闭"><i class="fa fa-times"></i></div>
            <h3 class="layer-tit">请选择延期时间</h3>
            <div class="layer-height-overflow">

            </div>
            <p class="bottom">
                <button class="sure">付款</button>
                <button class="cancel">取消</button>
            </p>
        </div>
        <!--弹层4-->
        <div class="chooseLarge layer-body">
            <div class="del" title="关闭"><i class="fa fa-times"></i></div>
            <h3 class="layer-tit">请选择要实用的内存与节点数</h3>
            <div class="layer-height-overflow">

            </div>
            <p class="bottom">
                <button class="sure">付款</button>
                <button class="cancel">取消</button>
            </p>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('.change').on('click',function(){
            if($(this).parent().find('span').html() == "预付费")
            {
                $(this).parent().find('span').html("后付费");
//				弹出层，告知修改成功
                $(".endDate").css({"display":"block"});
                $(".chooseFun").css({"display":"none"});
                $(".chooseData").css({"display":"none"});
                $(".chooseLarge").css({"display":"none"});
                $(".layer-body-bg").css({"display":"block"});
            }
            else{
                $(this).parent().find('span').html("预付费");
//				弹出层，选择购买配置，付费
                $(".chooseFun").css({"display":"block"});
                $(".chooseData").css({"display":"none"});
                $(".chooseLarge").css({"display":"none"});
                $(".layer-body-bg").css({"display":"block"});
            }
        });
        //关闭弹出层
        $(".del").on("click",function(){
            $(".layer-body-bg").css({"display":"none"});
        });
        //扩容
        $(".larger").on("click",function(){
            $(".endDate").css({"display":"none"});
            $(".chooseFun").css({"display":"none"});
            $(".chooseData").css({"display":"none"});
            $(".chooseLarge").css({"display":"block"});
            $(".layer-body-bg").css({"display":"block"});
        });
        //延期
        $(".expand").on("click",function(){
            $(".endDate").css({"display":"none"});
            $(".chooseFun").css({"display":"none"});
            $(".chooseData").css({"display":"block"});
            $(".chooseLarge").css({"display":"none"});
            $(".layer-body-bg").css({"display":"block"});
        });
        //跳转支付
        $("button.sure").on("click",function(){

        });
        //取消，关闭弹出层
        $("button.cancel").on("click",function(){
            $(".endDate").css({"display":"none"});
            $(".layer-body-bg").css({"display":"none"});
            $(".chooseFun").css({"display":"none"});
            $(".chooseData").css({"display":"none"});
            $(".chooseLarge").css({"display":"none"});
        })
    });
</script>