{% extends 'www/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static "www/css/style.css" %}">
    <link rel="stylesheet" href="{% static "www/css/style-responsive.css" %}">
{% endblock %}

{% block bodyclass %}login-body{% endblock %}

{% block body %}
<header class="header white-bg">
    <!--logo start-->
    <a href="/" class="logo hidden-xs"><img src="/static/www/images/yunbanglogo.png" alt="好雨云帮"></a>
    <!--logo end-->
</header>
<div class="container" style="padding:200px 0 0">
    <form action="/account/changepwd" method="post">
        {% csrf_token %}
        老密码:<input type="text" name="oldpwd"/>
        新密码:<input type="text" name="newpwd" />
        确认新密码:<input type="text" name="confirmpwd" />
        <input type="submit" value="修改" />
    </form>
    <div>
        {{ message }}
    </div>
</div>


{% endblock %}