{% extends 'www/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static "www/css/style.css" %}">
    <link rel="stylesheet" href="{% static "www/css/style-responsive.css" %}">
{% endblock %}

{% block bodyclass %}login-body{% endblock %}

{% block body %}
<header class="header white-bg">
    <!--logo start-->
    <a href="/" class="logo hidden-xs"><img src="{{CUSTOM_CONFIG.LOGO|default:'/static/www/images/yunbanglogo.png'}}" alt="{{CUSTOM_CONFIG.TITLE}}"></a>
    <!--logo end-->
</header>
<div class="container">
    <form action="/account/changepwd" method="post" class="form-signin form-signin-reg">
        {% csrf_token %}
        <h2 class="form-signin-heading">修改密码</h2>
        <div class="login-wrap">
            <div class="form-group">
                <label class="control-label  requiredField">原登录密码:</label>
                <input type="password" name="oldpwd" class="form-control textinput" maxlength="32"/>
            </div>
            <div class="form-group">
                <label class="control-label  requiredField">新密码:</label>
                <input type="password" name="newpwd" class="form-control textinput" maxlength="32"/>
            </div>
            <div class="form-group">
                <label class="control-label  requiredField">确认新密码:</label>
                <input type="password" name="confirmpwd" class="form-control textinput" maxlength="32"/>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="修改" class="btn btn-lg btn-success btn-block"/>
        </div>
    </form>
    <div>
        {{ message }}
    </div>
</div>


{% endblock %}