{% extends 'www/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}好雨云平台 用户登录{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href='{% static "www/css/style.css" %}'>
    <link rel="stylesheet" href='{% static "www/css/style-responsive.css" %}'>
    <link rel="stylesheet" href='{% static "www/css/login.css" %}'>
{% endblock %}

{% block bodyclass %}login-body{% endblock %}

{% block body %}

<div class="mainbox">
    <!-- logo start -->
    <h1 class="yblogo"><img src='{% static "www/images/yunbanglogo.png" %}'></h1>
    <!-- logo end -->

    <form class="form-signin-w form-signin-reg-w" enctype="multipart/form-data" action="" method="post">
        <!--<h2 class="form-signin-heading">用户登录</h2>-->
        {% crispy form %}
    </form>
</div>

<p class="tipstit">私有部署云帮用户</p>
<p class="tipstext">私有部署云帮用户请在企业内的云帮中登录，点击<span>“应用市场”</span>中的更多应用跳转到云市即可。</p>
{% endblock %}