{% extends 'www/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}好雨云平台 套餐选择{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static "www/css/style.css" %}">
    <link rel="stylesheet" href="{% static "www/css/style-responsive.css" %}">
{% endblock %}

{% block bodyclass %}login-body{% endblock %}

{% block body %}
<header class="header white-bg">
    <!--logo start-->
    <a href="/" class="logo">好雨<span>云平台</span></a>
    <!--logo end-->
</header>

<div class="container">
	<form class="form-signin form-plans-reg" enctype="multipart/form-data" action="" method="post">
    <h2 class="form-signin-heading">升级套餐</h2>
    <div class="rom">
      <table class="boxed-group-table setup-plans">
    	<tbody>
    	 <tr>
	        <th>
	            <span class="big">免费</span>
	        </th>
	        <th>
	            <span class="big">个人</span>

	        </th>
	        <th>
	            <span class="big">企业</span>
	        </th>
	    </tr>
	    <tr>
	        <th>
	            <span class="small">试用、技术学习、个人blog、产品开发、产品演示</span>
	        </th>
	        <th>
	            <span class="small">对服务质量有要求的个人用户，具有一定访问量的应用</span>
	        </th>
	        <th>
	            <span class="small">有大量用户访问，对性能、稳定性、安全有要求的企业级应用</span>
	        </th>

   		</tr>
   		<tr>
	        <td>
	            内存最高1G
	        </td>
	        <td>
	            支持所有免费用户特性
	        </td>
	        <td>
	           支持所有个人用户特性
	        </td>
	    </tr>
	    <tr>
	        <td>
	            最高1M带宽
	        </td>
	        <td>
	            无任何资源限制
	        </td>
	        <td>
	            专享高性能服务器
	        </td>
    	</tr>
        <tr>
	        <td>
	            最大5G磁盘存储
	        </td>
	        <td>
	            多份数据备份
	        </td>
	        <td>
	            支持多种扩容方式
	        </td>
    	</tr>
        <tr>
	        <td>
	            最大100访问并发
	        </td>
	        <td>
	            不休眠
	        </td>
	        <td>
	            高级监控
	        </td>
    	</tr>
        <tr>
	        <td>
	            共享服务器
	        </td>
	        <td>
	            数据库可直连管理
	        </td>
	        <td>
	            SLA 99.95%
	        </td>
    	</tr>
        <tr>
	        <td>
	            48小时无访问自动休眠
	        </td>
	        <td>
	            可以绑定域名
	        </td>
	        <td>
	            支持SSL
	        </td>
    	</tr>
        <tr>
	        <td>
            通过web管理数据库
	        </td>
	        <td>
	        </td>
	        <td>
	            7x24服务支持
	        </td>
    	</tr>
        <tr>
	        <td>
            通过在线客服支持
	        </td>
	        <td>
	        </td>
	        <td>
	        </td>
    	</tr>
        <tr>
	        <td style="text-align: center;font-size: 25px;">免费</td>
	        <td style="text-align: center;font-size: 25px;">{{personal_money}}元/1G/月</td>
	        <td style="text-align: center;font-size: 25px;">{{company_money}}元/1G/月</td>
    	</tr>
        <tr>
	        {% if tenant.pay_level == "personal" %}
	        	<td>
	            	<button type="button"><i class="fa fa-arrow-circle-up" style="font-size: 20px;"> 免费套餐</i></button>
	       	 	</td>
	       	 	 <td>
		            <button type="button" class="active" ><i class="fa fa-check" style="font-size: 20px;"> 当前套餐</i></button>
		        </td>
		        <td>
		            <button type="button" onclick="_upgrade('company')"><i class="fa  fa-arrow-circle-up" style="font-size: 20px;"> 升级</i></button>
		        </td>
		    {% elif tenant.pay_level == "company" %}
		    	<td>
	            	<button type="button"><i class="fa fa-arrow-circle-up" style="font-size: 20px;"> 免费套餐</i></button>
	       	 	</td>
	       	 	 <td>
		            <button type="button"><i class="fa fa-arrow-circle-up" style="font-size: 20px;"> 个人套餐</i></button>
		        </td>
		        <td>
		            <button type="button" class="active"><i class="fa fa-check" style="font-size: 20px;"> 当前套餐</i></button>
		        </td>
		    {% elif tenant.pay_level == "free" %}
		    	<td>
	            	<button type="button" class="active"><i class="fa fa-check" style="font-size: 20px;"> 免费套餐</i></button>
	       	 	</td>
	       	 	 <td>
		            <button type="button" onclick="_upgrade('personal')"><i class="fa fa-arrow-circle-up" style="font-size: 20px;"> 升级</i></button>
		        </td>
		        <td>
		            <button type="button" onclick="_upgrade('company')"><i class="fa fa-arrow-circle-up" style="font-size: 20px;"> 升级</i></button>
		        </td>
	        {% endif %}

    	</tr>
    	<tr>
    		<td></td><td></td><td></td>
    	</tr>
	</tbody>
	</table>  
    <div class="form-actions">
	<!--input type="submit" name="register" value="注册" class="btn btn-primary btn btn-lg btn-success btn-block" id="submit-id-register"--> </div></div>
	</div>
 	</form>
<script>

function _upgrade(select_type){
	var current_select = $("#current_select").val()
	swal({
		title : "套餐升级后，将不能回到原有套餐，您确定要变更当前套餐吗?",
	    context:"",
		type : "warning",
		showCancelButton : true,
		confirmButtonColor : "#DD6B55",
		confirmButtonText : "确定",
		cancelButtonText : "取消",
		closeOnConfirm : false,
		closeOnCancel : false
	}, function(isConfirm) {
		if (isConfirm) {
			$.ajax({
				type : "POST",
				url : "/payed/{{tenantName}}/upgrade",
				data : "current_select="+select_type,
				cache : false,
				beforeSend : function(xhr, settings) {
					var csrftoken = $.cookie('csrftoken');
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				},
				success : function(msg) {
					var dataObj = msg
					if (dataObj["status"] == "success") {
						swal("操作成功")
						window.location.href = "/apps/{{tenantName}}"
					} else {
						swal("操作失败")
					}
				},
				error : function() {
					// swal("系统异常");
				}
			});
		} else {
			swal.close();
		}
	});
}
</script>
</div>
{% endblock %}
