{% extends 'www/base2.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{CUSTOM_CONFIG.TITLE}} | 团队选择{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href='{% static "www/css/sweetalert.css" %}' />
    <link rel="stylesheet" href='{% static "www/css2/newapp.css" %}' />
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block body %}
    <header class="header white-bg">
        {% block header %}
        {% include 'www/header_no_region.html' %}
        {% endblock %}
    </header>
    <div class="container wrapper">
        <section class="panel panel-default">
        <div class="panel-body site-min-height">
        <!-- -->
       
            <form class="form-horizontal" enctype="multipart/form-data" action="" method="post">
                {% csrf_token %}
                <h3 class="text-center">请选择所在团队和数据中心</h3>
                <div id="div_id_tenant_name" class="form-group">
                    <label for="tenant_name" class="control-label col-sm-3 requiredField" style="text-align: right;">所在团队</label>
                    <div class="controls col-sm-6">
                      <select class="select form-control" id="tenant_name" name="tenant" onchange="select_change(this.value);">
                        {% for name in tenant_names %}
                        <option value="{{name}}">{{name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                </div>
                <div id="div_id_region" class="form-group clearfix">
                    <label for="region" class="control-label col-sm-3 requiredField" style="text-align: right;">数据中心</label>
                    <div class="controls col-sm-6">
                      <select class="select form-control" id="region" name="region">

                      </select>
                    </div>
                </div>
                
                    <div class="text-center clearfix">
                        <button type="submit" class="btn btn-success">下一步</button>
                    </div>
                
            </form>
       
        <!-- -->
        </div>
        </section>
    </div>

<script type="text/javascript">
    var json_values =JSON.parse('{{ tenant_region_map|safe }}');
    $(document).ready(function () {
        var cur_tenant = $("#tenant_name").val()
        select_change(cur_tenant);
    });
    function select_change(value) {
        $("#region").empty();
        var option_value = json_values[value];
        for(var i = 0; i< option_value.length;i++ ){
            console.log(option_value[i][1]+","+option_value[i][0])
            var option = new Option(option_value[i][1],option_value[i][0]);
            document.getElementById('region').options[i] = option;
        }
    }
</script>
{% endblock %}