.main-box{
    background-color: #f0f5f8;
}
#tab a{
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    color: #838383;
}
section.appShare{
    display: none;
}
.tit,.titlink{
    text-align: center;
}
.app-step{margin:50px auto 20px; width: 60%;}
.app-step p{width: 25%; float: left; height: 80px; text-align: center;}
.app-step p span,.app-step p cite{display: inline-block;}
.app-step p span{background: #c7c7c7; width: 36px; height: 36px;  font-size: 24px; line-height: 36px; text-align: center; -moz-border-radius:36px; -webkit-border-radius:36px; border-radius:36px; color: #fff;}
.app-step p cite{width: 100%; text-align: center; color: #838383; font-size: 16px; line-height: 1; padding-top: 10px;}
.app-step p.sed span{background: #00d777;}
.app-step p.sed cite{color: #00d777;}
.step-tit{color: #838383; font-size:18px; text-align: center;}
.app-step.two p{width: 50%;}

.main-tit{
    color: #28cb75;
    font-size: 24px;
    margin: 0;
    text-align: center;
    font-weight: 100;
    line-height: 1;
    margin: 20px 0;
}
.content-tab{
    background: #fff;
    margin: 0 0 30px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 30px;
}
a.titlink{
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #333;
    text-align: center;
    padding: 20px 0 10px;
    display: block;
    cursor: pointer;
}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
.form-group {
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.appimg{
    width: 140px;
    height: 140px;
    display: block;
    float: left;
    border: 1px #ddd solid;
    margin-right: 10px;
}
.appimg img {
    width: 140px;
    height: 140px;
    display: block;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}
.content-tab .control-label {
    line-height: 30px;
}
.form-horizontal .control-label {
    font-weight: 300;
    font-size: 14px;
    text-align: left;
}

.has-switch {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    line-height: 1.231;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 80px;
    -webkit-mask: url(../img/mask.png) 0 0 no-repeat;
    mask: url(../img/mask.png) 0 0 no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.has-switch > div {
    width: 162%;
    position: relative;
    top: 0;
}
.has-switch span.switch-left {
    border-radius: 30px 0 0 30px;
    background-color: #2A3542;
    color: #41cac0;
    border-left: 1px solid transparent;
}
.has-switch > div.switch-on {
    left: 0%;
}
.has-switch > div.switch-off {
    left: -63%;
}
.has-switch span {
    cursor: pointer;
    font-size: 14.994px;
    font-weight: 700;
    float: left;
    height: 29px;
    line-height: 19px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    width: 50%;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    -webkit-backface-visibility: hidden;
}
.has-switch > div.switch-on label {
    background-color: #41cac0;
}
.has-switch > div.switch-off label {
    background-color: #7f8c9a;
    border-color: #bdc3c7;
    -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
}
.has-switch label {
    border: 4px solid #2A3542;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    float: left;
    height: 29px;
    margin: 0 -21px 0 -14px;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 29px;
    z-index: 100;
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    -webkit-backface-visibility: hidden;
}
.has-switch span.switch-right {
    border-radius: 0 30px 30px 0;
    background-color: #bdc3c7;
    color: #ffffff;
    text-indent: 7px;
}
.has-switch span {
    cursor: pointer;
    font-size: 14.994px;
    font-weight: 700;
    float: left;
    height: 29px;
    line-height: 19px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    width: 50%;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    -webkit-backface-visibility: hidden;
}
.linkbox{text-align: center;}
.share-status-wait {background-color: #dcdcdc;}
.share-status-ing {background: #ecf6fd; border: 1px #d3eafa solid;}
.share-status-success {background: #ebf8f2; border: 1px #d0efdf solid;}
.share-status-fail {background: #fef0ef; border: 1px #fbdbda solid;}

.shareul .ing{color: #1f90e6;}
.shareul .success{color: #18a757;}
.shareul .fail{color: #ed433b;}





